[2022-03-07 07:57] EdXian commented on #1646
Hi @RoustamManookian @thisisabhash ,
Thank you for your help!
I have replaced the function attachPolicy() with attachPrinciplePolicy(). However, the issue still exists.
I try another  way to workaround. The following code shows the snippets.

1. check the default user whether he has certificateId , if not , then the mobile automatically creates a new certificate for him.
2. if the default user has

[2022-03-07 16:53] lawmicha commented on #1632
Hi @kddejong, observing changes to the local store due to `DataStore.save` operations sent from the same app will result in two events, one due to the change to the local store from the SQL insert/update operation, and a second due to the mutation sent to the remote store which is reconciled against the local store from the corresponding subscription event. Emitting two snapshots for the same item

[2022-03-08 17:28] lawmicha opened #1668 "DataStore testLastMutationSentWhenNoNetwork unit test failure"
### Describe the bug

[code]

### Steps To Reproduce

[code]

### Expected behavior

Consistent test pass

### Amplify Framework Version

`main`

### Amplify Categories

DataStore

### Dependency manager

Cocoapods

### Swift version

N/A

### CLI version

N/A

### Xcode version

N/A

### Relevant log output

_No response_

### Is this a regression?

No

### Regression additional context

_No resp

[2022-03-08 19:53] carl0sLOL opened #1669 "Broken New Release"
### Describe the bug

Updated from 1.21.0 to 1.22.0-dev-preview. When building app I get error:

AWSCognitoAuthPlugin/AWSCognitoAuthPlugin+UserBehavior.swift:74: Fatal error: Not implemented

### Steps To Reproduce

[code]

### Expected behavior

For it to work

### Amplify Framework Version

1.22.0

### Amplify Categories

Auth

### Dependency manager

Swift PM

### Swift version

5.0

### CLI ve

[2022-03-08 20:31] ameter commented on #1669
Hi @carl0sLOL, the `-dev-preview` tag is a preview of a future release that contains breaking changes and currently only provides a limited subset of functionality. See [Amplify iOS Developer Preview](https://docs.amplify.aws/lib/devpreview/getting-started/q/platform/ios/) for details.  As [noted here](https://docs.amplify.aws/lib/devpreview/getting-started/q/platform/ios/#next-steps), the `Authen

[2022-03-09 01:09] YuantongL opened #1672 "Query and Subscription Error after app goes to background then back"
### Describe the bug

Press home button and let app goes to background, then bring it back after a few seconds, I see failure on both Subscription and Query

### Steps To Reproduce

Subscription:
(I see the issue only on real device, simulator always works)
1. Have a ViewModel and call API's subscribe to a modal creation event.
2. Verify subscription works well.
3. Press "home" button and put the

[2022-03-09 03:08] ameter commented on #1672
Thanks for reporting this.  We will investigate and provide an update here when we have additional information.

[2022-03-09 03:37] carl0sLOL opened #1673 "DataStore persistence not working"
### Describe the bug

While trying to maintain persistence in AWS DataStore by pushing to the cloud, Data is not persisted to AWS AppSync.

**AMPLIFYCONFIGURATION.JSON**
[code]

**APP DELEGATE SET UP**
[code]

**SCHEMA.GRAPHQL**

[code]

When writing to CalendarEvent, I implemented a publisher to notify when changes were made as per documentation as shown below
[code]

I then receive:
[code]

But

[2022-03-09 07:27] reolch opened #1674 "If PreferPrivateSession is specified in the signinwebUI options, the modal can be closed."
### Describe the bug

We apologize for the inconvenience. We are using machine translations, so the content may not be conveyed correctly.

I am reproducing this issue only with iPhoneSE 2nd Gen.
As noted in the title, if PreferPrivateSession is specified in the signinwebUI method options, it is possible to close the authentication modal displayed by the method.

### Steps To Reproduce

[code]

##

[2022-03-09 08:19] flodaniel commented on #693
Is there documentation and examples on how to do this for all kind of providers (FB, Google, Apple)? That would really help me getting started.

I agree that the hosted web ui is an incredible bad UX that really removes a big advantage of federated identities.

[2022-03-09 14:50] ameter commented on #1674
Thanks for reporting this.  We will investigate this issue and provide an update here when we have additional information.

[2022-03-09 16:52] ameter commented on #1673
Thanks for opening this issue.  We will investigate and provide an update here when we have more information.

[2022-03-09 17:09] lawmicha commented on #1673
Hi @carl0sLOL, I updated your description and redacted the AWS resource information. Do you have any relevant logs you can show? In `application(didFinishLaunchingWithOptions)`, you can enable verbose logging with
[code]

From the configuration, it appears the `ApiKey` is missing. Did you redact this? if not, this looks like a problem.

From the schema and configuration, it also appears you are al

[2022-03-09 17:14] carl0sLOL commented on #1673
Hi @lawmicha thank you for your prompt response. I purposely redacted API keys. The user goes through an Authentication flow using Amplify.Auth.signIn(username:userName, password: pw). I turned on logging and received this:

Amplify configured with auth plugin
Amplify configured with dataStore plugin
Amplify configured with API plugin
2022-03-09 12:10:59.452503-0500 Equestly Ride[2393:805836] [Ret

[2022-03-09 17:22] carl0sLOL commented on #1673
It is stating that the user does not have authorization, yet, the user is signed in using. I attempted to signOut and signIn again and recieved:

Log In Attempted
2022-03-09 12:19:00.393348-0500 Equestly Ride[2393:811663] [Amplify] AWSMobileClient Event listener - signedIn
Sign in succeeded
Got user cart
2022-03-09 12:19:13.913023-0500 Equestly Ride[2393:805531] [SwiftUI] No symbol named '' found

[2022-03-09 17:48] lawmicha commented on #1673
Thanks for the logs, `Not Authorized to access updateCalendarEvent on type Mutation` isn't expected if the user is signed in. We'll give the schema a try and provide an update

[2022-03-09 18:35] carl0sLOL commented on #1673
@lawmicha  I appreciate your prompt response and look forward to hearing from you

[2022-03-09 23:54] lawmicha commented on #1673
Hi @carl0sLOL, please let us know if you have any questions regarding the details below

### 1. Signed in User unauthorized issue

Please make sure that the user is confirmed as well. You can verify this from the reuslt of the `Amplify.Auth.signIn`, the user in the Cognito User Pool is in a confirmed state, or when you log the user in through the AppSync console, you can also perform GraphQL opera

[2022-03-10 00:33] lawmicha commented on #1672
Hi @YuantongL, a short-ish update here. I've been experimenting with a sample app launched on a device, while connected to Xcode for debugging. With a normal bootstrapped App project, I suspect there isn't any background permissions set up for the library to successfully finish the query using the URLSession. The subscription is also receiving a websocket disconnect event from our underlying depen

[2022-03-10 01:07] carl0sLOL commented on #1673
@lawmicha Thank you for your response. My confusion comes with the first point. If the Auth Session still exists, the user should be authenticated. How could I verify that the user is "confirmed"? Also what does "confirmation" mean? This is not highlighted in the documentation.

In verifying that the user session is active, you can see below (I will delete this user Auth so no worries on redaction

[2022-03-10 01:24] carl0sLOL commented on #1673
@lawmicha could this all be an error due to lack of Cognito User Pool being not enabled?

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/42389884/157568512-9684ee19-8d16-40e8-bfed-f734e50635e9.png">

[2022-03-10 01:37] carl0sLOL commented on #1673
@lawmicha after turning on Cognito User Pool, the data persists to the backend - but only for the User schema. The CalendarEvent schema fails with:

2022-03-09 20:35:16.423989-0500 Equestly Ride[3181:1068288] [AWSDataStorePlugin] Saving: CalendarEvent(id: "316E4421-4B06-4E35-A68B-9679CD5FFFF6", title: "Test Today", timestamp: 1646876107, createdAt: nil, updatedAt: nil, userCalendarItemsId: nil) wi

[2022-03-10 14:43] atierian commented on #1619
Can you share the code that you're using to record sign in and signup events?

[2022-03-10 16:27] lawmicha commented on #1673
Hi @carl0sLOL, what I meant by a user that needs to be confirmed is if your `signIn` API call returns a `AuthSignInStep` other than `done`. In your case, you have done the correct flow to confirm the user that has signed up. I can also see the tokens in your logs, DataStore uses either `accessToken` or `idToken` when constructing the request for AppSync that has UserPool auth enabled, when syncing

[2022-03-10 17:26] afern247 commented on #1619
Right now as far as analytics I'm not specifically using any because I think it's only for custom stuff correct? So only by configuring Amplify the analytics is showing active on the consele, this is how I'm configuring it:

[code]

After that, for example user sign up this it the code I'm using (using email/pw to signup):

[code]

[code]

After the user confirms email they can sign in wit the fun

[2022-03-10 18:03] HuiSF opened #1675 "When saving data with integer out of range -(2^31) and 2^32-1, data cannot be correctly preserved"
### Describe the bug

According to [AppSync documentation](https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html), the scalar type Int range is between -(2^31) and 2^32-1.

As a developer I can save a value out of above described using DataStore, however, after data to be synced via AppSync, and query saved data, the value became incorrect.

Original issue: https://github.com/aws-amplif

[2022-03-10 18:13] ameter commented on #1675
Thanks for reporting this.  We likely need to add input validation to constrain Int values to the range supported by AppSync.

[2022-03-10 22:48] bbrodjes commented on #1662
Thank you for the quick reply.  I integrated this into our app and we are receiving an unexpected error when fetching the session after a successful "Amplify.Auth.signIn".  The only difference that I see is that I use the dynamic configuration to configure Amplify when I receive the error.  The static configuration works without an issue.

Our Static Configuration:

`{
    "auth": {
        "plugi

[2022-03-11 00:51] YuantongL commented on #1672
Hi @lawmicha, thanks for looking in to this.
I actually took a different route, I will cancel the subscription on `didEnterBackgroundNotification` and re-set up subscription again on `didBecomeActiveNotification`, so far it works fine for me.

[2022-03-11 12:58] atierian commented on #1662
Thanks for these details @bbrodjes.
What you described is unexpected behavior and most likely a bug. I'll work on reproducing it and update you here with any new information.

[2022-03-11 13:27] zpg6 commented on #1626
@atierian Would it be worthwhile to submit design proposals in the issue here, or would this feature be handled by your team internally?

[2022-03-11 16:12] lawmicha commented on #1672
Thanks for the update @YuantongL, i believe what you did is needed since the app may not have network connection in the background and is up to the system to determine when that happens. This is the same case for an in-progress query. In my sample app, I also saw the in-flight queries fail when the app is in the middle of a query and is sent to the background. I was able to successfully perform a

[2022-03-11 17:31] ameter opened #1677 "CI/CD release workflow fails due to dev-preview tags"
### Describe the bug

The [calculate_next_release_version](https://github.com/aws-amplify/amplify-ci-support/blob/main/src/fastlane/release_actions/lib/fastlane/plugin/release_actions/actions/calculate_next_release_version.rb) function fails with the message `Invalid version: 1.22.0-dev-preview.0` due to the presence of dev-preview tags.

### Steps To Reproduce

[code]

### Expected behavior

work

[2022-03-11 18:04] ameter commented on #1639
Closing due to inactivity.

[2022-03-11 18:04] #1639 closed

[2022-03-11 18:52] YuantongL commented on #1672
It is working fine for me with use of `didBecomeActiveNotification` as indication of starting the query and subscription so far.

[2022-03-11 18:54] YuantongL commented on #1672
However, that means we should disconnect every subscription, cancel every query on receiving `didEnterBackgroundNotification` to make sure no error was caught. Is this how we suppose to use it?

[2022-03-11 19:28] lawmicha commented on #1672
Hi @YuantongL, I would just let the query fail and perform the query when you need the data. This may be when the app is just entering foreground as you have, or due to a user action or transition to another view appearing. You can also replace the existing subscription with a new subscription when the app goes into foreground, without calling unsubscribe on the `didEnterBackgroundNotification`

[2022-03-11 21:53] zpg6 commented on #1626
@atierian Thanks for your reply, crossing my fingers!

[2022-03-12 00:09] thisisabhash commented on #1560
Hello,

Currently, getting items sorted by `createdAt` field is not supported.
As a workaround for an example schema below, you can have a `constant` field in your schema which is initialized
with the same value for each item and add a secondary index to it with `createdAt` as an input to `sortKeyFields`. This will create a new API in your backend which you can use to query the items by secondary

[2022-03-12 08:56] iThink32 commented on #1621
hey @atierian sorry for the long delay in replying , will test this and let you know in a while.

[2022-03-12 16:05] iThink32 commented on #1621
hey @atierian tried the above but this is even worse its taking more than a min to complete the above task.And the same happens, after this log it takes a long time to get the completion handler back

[code]

[2022-03-13 21:04] rereiusch commented on #1614
Hi @lawmicha, I've tried it both ways (conflict solution enabled and disabled) the last few days using `Amplify.DataStore.save` and none of these worked, unfortunately. When the conflict solution is disabled, I get the console output from my last comment above.

When it's enabled, the following is happening:
When clicking on save, the function returns that the item gets saved. At the same moment,

[2022-03-14 19:32] lawmicha commented on #1607
Hi @valzevul,

What do you mean the data is synced properly before clearing the DataStore? When you clear DataStore via `DataStore.clear`, this will delete the local store and all its contents, so there's no need to wait for the sync process to complete.

For
[code]
The `.ready` event is fired at least after all the models have been synced (after `.modelSynced`'s). Can you confirm, this is from th

[2022-03-14 19:52] lawmicha commented on #1650
Hi @DanielZanchi, could you share the schema and number of items for each model in the schema you are syncing on a fresh app launch? If your listening to the hub events, you can see how many items are synced for one particular model from the `.modelSynced` event. The data in the payload is `ModelSyncedEvent`. With more information about your use case, we prioirtize on the bottlenecks that are dire

[2022-03-14 20:22] DanielZanchi commented on #1650
I ended up not using DataStore but using GraphQL API calls to get data from dynamoDB. I found out that the database was getting big and waiting for it to ready was too long.

[2022-03-14 20:35] lawmicha commented on #1650
Thanks for the follow up! Feel free to open another issue if you have any questions using the API.

[2022-03-14 20:35] #1650 closed

[2022-03-15 04:50] kewur commented on #1121
any updates?

[2022-03-15 07:43] RoustamManookian commented on #1646
Hi,
Why do I need to use "createKeysAndCertificate" if I authenticate with Amplify ??

and by the way, I granted iotFullAccess to authenticated users in Cognito Identity Pool.

`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "iot:*"
            ],
            "Resource": "*"
        }
    ]
}`

[2022-03-15 12:46] EdXian commented on #1646
hi @RoustamManookian
I find that the function `iotDataManager.connect` always need an argument called `certificateId`.

As you can see the following snippets.
[code]
So I think I should give a temporary certificate for the function berfore connect to iot core.

I have tried another example. Maybe you can take a look at this [example](https://github.com/aws-samples/aws-amplify-cdk-iot-ble-swift-app

[2022-03-15 13:45] RoustamManookian commented on #1646
But I don't have any problem with iotDataManager connection.
I use  "guard let userName = Amplify.Auth.getCurrentUser()?.username"
and try to connect with current User userName which is the userId.

`
func connectToMQTT(connectionCallBack: @escaping (MQTT_Status)->Void){

        Amplify.Auth.fetchAuthSession { [weak self] result in
            switch result {
            case .success:

[2022-03-16 06:41] EdXian commented on #1646
Hi @RoustamManookian ,

I think the argument `withClientId` should be given as a user's `identity` from credentialProvider rather than a user's name.
An identity  is something like
`ap-southeast-1:d4512355-814d-4349-aa83-xxxxxxxxxxxx`.

[2022-03-16 18:45] kevin-agrology opened #1686 "AWS Amplify Auth Custom Flow Never Completes"
### Describe the bug

My iOS app is using Amplify Auth to sign in to an existing User Pool. I followed the Amplify doc for [Sign in with custom flow][1].

    func signIn(username: String) {
        Amplify.Auth.signIn(username: username, password: "dummyPassword") { result in
            switch result {
            case .success(let authResult):
                if case .confirmSignInWithCustomCha

[2022-03-16 19:09] royjit commented on #1686
@kevin-agrology Does the `authResult.nextStep` has some value?

Also, can you share the lambda trigger logic here? Please note that Define Auth lambda trigger should bypass the SRP challenge - https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/ios/#lambda-trigger-setup

[2022-03-16 19:52] kevin-agrology commented on #1686
authResult.nextStep = `confirmSignInWithCustomChallenge(Optional(["email": "<my registered email>"]))`

Our Define Auth trigger should be the same, but in Go:

[code]

[2022-03-16 20:54] HuiSF commented on #1555
Hi @diegocstn any progress update on this issue?

[2022-03-16 21:12] royjit commented on #1686
Not an expert in GO, but looks like your lambda trigger always return `CUSTOM_CHALLENGE` as the response because of this line: `response := events.CognitoEventUserPoolsDefineAuthChallengeResponse{ChallengeName: "CUSTOM_CHALLENGE"}`

May if you change the last if statement it might work?:

[code]

[2022-03-16 22:30] joninsky opened #1688 "SQLight package dependency upgrade."
### Is your feature request related to a problem? Please describe.

Can you update the SQLight dependency to rely on the latest release? 0.13.2?

https://github.com/stephencelis/SQLite.swift/releases

I'm running into an irresolvable package graph as the latest version of the Apollo library requires version 14.

[code]

### Describe the solution you'd like

Update SQLight dependency to the latest.

[2022-03-16 22:48] royjit commented on #1688
Thanks for reporting this. We will investigate and update here if we could update the sqlite dependency. We are currently using 0.12.2 - https://github.com/aws-amplify/amplify-ios/blob/75953e68487a1752bc2e3b458d8f7879bc011610/Package.swift#L39
And the latest version is - 0.13.2.

[2022-03-17 11:19] EA-YOUHOU commented on #507
same error after add a many to many link.

[2022-03-17 16:53] jranson commented on #1686
@royjit thanks for your guidance on this, it is much appreciated. I've made this adjustment to their DefineAuthChallenge lambda clear the ChallengeName. The login flow was already fully working in a ReactJS web app, so fingers crossed this will get them going on the iOS side as well. @kevin-agrology will be testing shortly and we'll let you know!

[2022-03-17 20:53] kevin-agrology commented on #1686
Thanks @royjit but unfortunately we have the same result after the lambda trigger change. Can you think of any other potential source for errors on our end? Do you have a similar flow that you can test on your end?

[2022-03-17 22:02] kevin-agrology commented on #1686
@royjit We have it working now. Most likely there was a error in my amplify/aws config json files in the iOS client, which prompted @jranson to make some changes to make it work with the lambdas, but resulting in the confusing state of successful challenge but no authentication. Thanks so much for your help here!

[2022-03-17 22:02] #1686 closed

[2022-03-17 22:45] royjit commented on #1495
I think you have passed the user pool id in place of identityPool from the error from above. Can you please check the configuration file is correct?

[2022-03-17 22:45] #1660 closed

[2022-03-17 22:48] jranson commented on #1686
@royjit Just to follow-up to Kevin's response. We have been following this blog entry to implement the custom auth lambdas: https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/

The root cause for Agrology's issue was that the iOS Amplify library always sends an initial ChallengeName of SRP_A to the cognito signIn call.  However, the example "Defi

[2022-03-18 14:02] lawmicha commented on #1627
Hi @heyltsjay this has been released in this has been released in https://github.com/aws-amplify/amplify-ios/releases/tag/v1.22.0 please let us know if you have any issues

[2022-03-18 14:02] #1627 closed

[2022-03-18 14:02] lawmicha commented on #1459
Hi @anatomybook this has been released in this has been released in https://github.com/aws-amplify/amplify-ios/releases/tag/v1.22.0 please let us know if you have any issues

[2022-03-18 14:02] #1459 closed

[2022-03-18 14:04] lawmicha commented on #1388
Feel free to re-open with more recent experience if this is still an issue!

[2022-03-18 14:04] #1388 closed

[2022-03-18 15:35] trishcode opened #1690 "On Amplify.Auth.signInWithWebUI, include if a user was added to Cognito in the callback"
### Is your feature request related to a problem? Please describe.

The same function, Amplify.Auth.signInWithWebUI, is used whether the user is creating an account or signing in.  This function will create a user in the Cognito user pool and sign the user in if the user doesn't exist in the Cognito user pool, or sign in the user if the user does exist in the Cognito pool.  It would be helpful to

[2022-03-18 16:50] royjit commented on #1674
`preferPrivateSession` refers to whether to use a private session or not and it is not related to the UI presentation of the modal. Swipe down feature is provided as default by Apple to cancel the signIn flow if user doesnot want to signIn.

What is the use case to not allow swipe down cancel in signinwebUI?

[2022-03-18 17:02] royjit commented on #1647
Released - https://github.com/aws-amplify/amplify-ios/releases/tag/v1.22.0

[2022-03-18 17:02] #1647 closed

[2022-03-18 17:51] royjit commented on #1648
You might need to update the APIGateway to use UserPool as the authorizer. Navigate to API Gateway console, select your API:

1. Add Cognito User Pool as an authorization mechanism. Select Authorizers, click on "+ Create New Authorizer",
type in a Name like <UserPoolAuthorizer>
1. Select Cognito as the type
1. Select the Cognito UserPool, the name corresponds to the name of the user pool at the to

[2022-03-18 17:57] royjit commented on #1651
Which version of the Amplify CLI are you using? You can check the version by running:

[code]

Also can you give us the following details as well:
- Amplify iOS version
- Are you using DataStore or API?
- Example of their schema

[2022-03-18 17:58] #1669 closed

[2022-03-19 00:44] thisisabhash commented on #1541
Hello, thank you for your message.
Yes, this solution doesn't enforce bidirectional relationship between `Colonia` and `Place`.
We're currently investigating this and will post here with updates.

[2022-03-19 03:28] YuantongL opened #1694 "AWSLocationXCF.build/all-product-headers.yaml not found"
### Describe the bug

got error when `po` anything in debugger
[code]
I suspect its Amplify only because this is the only aws package my project uses. Now `po` is unusable.

### Steps To Reproduce

[code]

### Expected behavior

`po` shoud print out value

### Amplify Framework Version

1.21.0

### Amplify Categories

API, Auth

### Dependency manager

Swift PM

### Swift version

5.5.1

### CLI v

[2022-03-19 21:35] ryancrunchi opened #1697 "Xcode 13.3 - Swift 5.6"
### Is your feature request related to a problem? Please describe.

Xcode 13.3 ships with Swift 5.6. It seems Xcode 13.3 does not have toolchains option to change swift version to compile the project. So we are stuck with Swift 5.6 and can't downgrade to 5.5.

With Swift 5.6 project is not compiling due to dependency with ClientRuntime package :
[code]

### Describe the solution you'd like

Allow

[2022-03-20 05:27] iThink32 commented on #1621
@atierian two things firstly:
1. Irrespective of the size of the item being uploaded we must show the progress from 0-100 and not default to 100 in case of smaller files , reason being different network conditions portray different times of completion and an accurate visualisation is the right way forward.
2. Due to the above it is hard to say whether the upload is the problem being faced or the c

[2022-03-22 18:45] atierian commented on #1697
Thanks for opening this issue @ryancrunchi.
A new dev preview version that fixes this was just released as `1.23.0-dev-preview.0`.
You can use this version or continue using the `dev-preview` branch.

I'm going to close this issue now, but feel free to re-open it if you have any issues.

[2022-03-22 18:45] #1697 closed

[2022-03-23 00:43] harsh62 commented on #1674
The [Amplify code](https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter%2BSignIn.swift#L289)  has been setup correctly to not accept model events outside of the view bounds according to the
[Apple Documentation](https://developer.apple.com/documentation/uikit/uiviewcontroller/3229894-ismodalinpresentation). Further t

[2022-03-23 00:43] #1674 closed

[2022-03-23 02:10] harsh62 commented on #1690
@trishcode At the moment Cognito does not support distinguishing between `signUp` and `signIn` using the web UI. I have marked this issue as a feature request for the Amplify team.

Anyone interested in getting this feature implemented, please use this comment to thumbs up 👍

[2022-03-23 16:40] wleithrive commented on #1662
Hi @atierian,  any update on the dynamic config issue above?

[2022-03-23 17:38] harsh62 commented on #1694
@YuantongL [This blog](https://andresalla.com/en/fixing-virtual-filesystem-overlay-file-all-product-headers-yaml-not-found-error/) very nicely explains how this issue could be fixed. Can you please run through the steps and see if this gets resolved. If the issue still persists, let us know and we will further investigate it.

[2022-03-23 18:22] YuantongL commented on #1694
Thanks for looking into this issue, the issue went away after I updated Amplify to 1.22.0, the issue persist all the time with me during 1.21.0.

[2022-03-23 20:16] #1694 closed

[2022-03-24 20:19] louiss98 opened #1707 ".paginatedList() query fails with Model that has name ending in y"
### Describe the bug

On generated Model+Schema files, model.listPluralName is never set causing an undefined field error with paginatedList queries.

### Steps To Reproduce

[code]

### Expected behavior

Generated Model+Schema to contain a generated listPluralName.

### Amplify Framework Version

1.22.0

### Amplify Categories

API

### Dependency manager

Swift PM

### Swift version

4.2

### C

[2022-03-25 14:04] carl0sLOL commented on #1673
@lawmicha Thank you for explaining. This has been instrumental in getting a huge portion of the app to properly persist data. One final error that I am running into is: AWS Cognito determining that a User Session is active... yet the user is not signed in. How could the session be active without the user being signed in?

[2022-03-25 14:09] carl0sLOL commented on #1673
@lawmicha  As an example
We run the following function
`if let user = Amplify.Auth.getCurrentUser(){

            Amplify.Auth.fetchAuthSession { result in
                switch result {
                case .success(let session):
                    DispatchQueue.main.async {
                        self.authState = .session(user: user)
                    }
                case .failure(let err

[2022-03-25 14:47] ameter commented on #1677
This has been fixed in this commit: https://github.com/aws-amplify/amplify-ci-support/commit/512a6f2f1c92c19f752fb238ad04d077cf3151a5

[2022-03-25 14:47] #1677 closed

[2022-03-25 15:36] ameter opened #1709 "Fix code scanning"
### Is your feature request related to a problem? Please describe.

GitHub provides support to scan for coding errors and security issues through a CodeQL workflow.

### Describe the solution you'd like

CodeQL via GitHub Actions

### Describe alternatives you've considered

evaluated alternative code scanning options.

### Is the feature request related to any of the existing Amplify categories?

[2022-03-25 16:54] harsh62 commented on #1641
Can you try the comments that worked in the following issue. .. https://github.com/aws-amplify/amplify-ios/issues/1694

[2022-03-25 17:51] harsh62 commented on #1632
Closing the issue due to inactivity.

[2022-03-25 17:51] #1632 closed

[2022-03-25 17:52] #1672 closed

[2022-03-25 17:54] harsh62 commented on #1607
Closing the issue due to inactivity. If this issue still persists, please reopen the issue.

[2022-03-25 17:54] #1607 closed

[2022-03-25 20:33] lawmicha commented on #1707
Hi @louiss98, thank you for bringing this to our attention. I provisioned a backend with a `Story` model and can reproduce the issue you are seeing. There's actually a reason why the `.list` case does not use the `pluralName` in the if statement but does for `.sync`, the code change added here https://github.com/aws-amplify/amplify-ios/pull/1451/files#diff-421c7d70a341ab77f247ffb14cd2e2b87fdf781bf

[2022-03-25 21:16] diegocstn commented on #1649
@alionthego due to internal CLI naming conventions, `@manyToMany` relationships between the same model are not supported. I've created an issue in the CLI repository https://github.com/aws-amplify/amplify-cli/issues/10074.

[2022-03-25 21:18] diegocstn commented on #1649
I'll close this in favour of https://github.com/aws-amplify/amplify-cli/issues/10074, but feel free to reopen if you need more help.

[2022-03-25 21:18] #1649 closed

[2022-03-25 22:00] harsh62 commented on #1673
To further investigate the issue you are facing with Auth, I would need to ask some clarifying questions.
* I would like to understand your application flow.. specifically in more details about the calls to `getCurrentUser`, `fetchAuthSession`, `signIn` and `signOut`?
* Can you elaborate what you mean by "Once the app initializes"?
* Since the `logout` fails, is it blocking you from doing all othe

[2022-03-25 23:11] harsh62 commented on #1566
@hellopandaxx sorry for responding late to the question..

If you tried signing up a user and did not confirm, the `signUp` will keep failing with a `usernameExists` error.
Instead of `signUp` you should try to use the `signIn` api which would provide you with more context and provide the next step too. In this particular scenario the `signIn` API will respond with a next step in the response whic

[2022-03-26 22:21] DanielZanchi commented on #918
Same problem here.
While fetching list of data, it returns even if **_delete = true**

Why is this happening?

Fetching data via DataStore and via GraphQL (same result).
Tried deleting via API and via DataStore is not deleting but only setting it with **_deleted = true**

[2022-03-26 22:22] DanielZanchi commented on #918
@palpatim  please re-open issue

[2022-03-27 00:19] SimonDziak commented on #918
This is done on purpose with Conflict Detection.

You can disable the "_deleted" field by updating this in the CLI using 'amplify update api' and disabling "Conflict Detection".

[2022-03-27 00:22] SimonDziak commented on #918
From their documentation:

AWS AppSync currently supports versioning on DynamoDB data sources. Conflict Detection, Conflict Resolution, and Sync operations require a Versioned data source. When you enable versioning on a data source, AWS AppSync will automatically:

Enhance items with object versioning metadata.

Record changes made to items with AWS AppSync mutations to a Delta table.

Maintain d

[2022-03-27 05:17] reolch commented on #1674
Thank you for your response.
We do not believe that the behavior should change when the preferPrivateSession option is specified or not specified.

[2022-03-27 09:08] DanielZanchi commented on #918
Thank you for the reply.
Ok I will try to disable Conflict Detection but I don't see why getting a list of a table entries should give me as output a deleted item. Or better, there's not way to filter the list to ignore deleted items.

[2022-03-27 17:41] SimonDziak commented on #918
Yes I agree with you. I’ve tried the same process as you and couldn’t
figure it out either. If you do, please reply in this thread for everyone
to know. Disabling conflict will work.

On Sun, Mar 27, 2022 at 5:08 AM Daniel Zanchi ***@***.***>
wrote:

[2022-03-28 19:39] atierian commented on #1662
I haven't been able to reproduce the issue your experiencing. Would it be possible for you to provide a minimal reproducible example?

If not, some insights or code examples showing when / how you're calling `fetchAuthSession` could be helpful, as well as setting logging to verbose on launch.

`Amplify.Logging.logLevel = .verbose`

[2022-03-28 21:56] #443 closed

[2022-03-28 21:58] #1116 closed

[2022-03-28 22:00] #1354 closed

[2022-03-28 23:27] royjit commented on #1376
PR is merged closing

[2022-03-28 23:27] #1376 closed

[2022-03-28 23:34] royjit commented on #1524
As per the internal investigation, this looks like an issue from the Apple side. Please raise a bug report with Apple. Reopen the issue or open a new one if you see an issue from the Amplify iOS side.

[2022-03-28 23:34] #1524 closed

[2022-03-29 07:33] maziarzamani commented on #1590
Any update on this one? Our project is still stuck.

[2022-03-29 15:06] nyeu commented on #1631
Yea, S3 sends an event to the lambda function that modifies the DynamoDB table using `boto3`, which is the Python SDK for AWS.

Everything seems aligned and working well, the "only" issue is that we have to wait 3-4 hours to see the changes made by the lambda into the app. This has cause us a lot of issues with our current users and while we had some workarounds, we really need to have this workin

[2022-03-29 18:24] wleithrive commented on #1662
I solved the issue. I put a print statement inside the config function  while still using the `ampifyconfiguration.json` in the project. Then I took that output to create an exact match `AmplifyConfiguration` object to use with `try Amplify.configure(configuration)`. It then works.

https://github.com/aws-amplify/amplify-ios/blob/main/Amplify/Core/Configuration/AmplifyConfiguration.swift#L114

[co

[2022-03-29 19:55] atierian commented on #1662
That's great! Thanks for the update.
I'm going to close this issue now, but please don't hesitate to open a new one if you run into any further problems.

[2022-03-29 19:55] #1662 closed

[2022-03-29 22:03] carl0sLOL commented on #1673
getCurrentUserAuthState lives inside of a SessionManager. This session manager is instantiated, and is then sessionManager.getCurrentUserAuthState() is called to verify a user's auth state. We have an Enum for the users state:

getCurrentUserAuthState():
`if let user = Amplify.Auth.getCurrentUser(){

      Amplify.Auth.fetchAuthSession { result in
          switch result {
          case .success(

[2022-03-31 07:44] applyinnovations commented on #1555
Hey @diegocstn @ameter I have also logged the same issue on the `amplify-js` repository which is still open https://github.com/aws-amplify/amplify-js/issues/8891

[2022-04-01 05:00] Etep15 commented on #1590
I too am looking for this feature. After finally figuring out the right way to handle this I got hit by this error with subscriptions. I filed an issue #10110 that talks about what use case I'm seeking BUT the relevant info related to this issue is in my first comment which speaks to exactly this.

[2022-04-01 15:57] #1495 closed

[2022-04-01 17:02] #1648 closed

[2022-04-01 17:20] royjit commented on #1503
Closing due to inactivity.

[2022-04-01 17:20] #1503 closed

[2022-04-01 17:27] HuiSF opened #1717 "The first model saved when device becomes offline never gets synced to cloud"
### Describe the bug

Original issue: https://github.com/aws-amplify/amplify-flutter/issues/1440

* Condition
  - Run App with DataStore when the device was online
  - Then turn off network (turning off cellular and WIFI, not switching to Airplane mode)
  - Save 3 models say Todo1, Todo2 and Todo3
* Observation
  - DataStore saved all 3 models into local DB
  - DataStore pushed all 3 models into m

[2022-04-01 17:31] HuiSF opened #1718 "DataStore never starts sync if the App started when device was offline even when invoking DataStore.start"
### Describe the bug

Original issue: https://github.com/aws-amplify/amplify-flutter/issues/1440

* Condition
  - Turn off network
  - Run App with network turned off
  - Save 3 models say Todo1, Todo2 and Todo3
* Observation
  - DataStore saved all 3 models into local DB
  - DataStore pushed all 3 models into mutationOutBox
  - There was no sign that sync engine was invoked to process mutationOut

[2022-04-01 21:58] ruisebas commented on #1619
Hi @afern247, based on your last comment and your code it seems you are not manually recording Authentication events, but rather you'd like them to be automatically recorded after calling the Auth methods.

If that is the case, while that is indeed [supported by the underlying **AWSPinpoint** client](https://docs.amplify.aws/sdk/analytics/events/q/platform/ios/#authentication-events) that Amplify

[2022-04-06 00:33] carl0sLOL commented on #1673
@harsh62 please see response above

[2022-04-06 05:29] Etep15 opened #1728 "federatedSignIn Works for REST But Not GraphQL API"
### Describe the bug

Using `AWSMobileClient.federatedSignIn` works when using a REST API (API Gateway / Lambdas) but not when using a GraphQL API (AppSync / Datastore). For some reason when using GraphQL it doesn't send the authorization properly or is that AppSync does not recognize federated identities?

I've tried the "web sign in" but not only does it visually not look proper for a native iOS

[2022-04-06 14:25] afern247 opened #1729 "Best way to make changes on GraphQL API"
I have a dev/prod env. and I need to make some changes such as creating new Models.

Once I create the new model on the cloud the iOS client seems to start giving errors (without crashing) about the schema not being right.

So I wonder, what's the standard process to make GraphQL API changes so it syncs with already published in the App Store clients

[2022-04-06 16:19] lawmicha commented on #1631
Hi @nyeu, by making direct modifications to the DynamoDB table within your lambda, there isnt any events sent back to the clients. For the changes to show up in the app, you'll have to directly send the mutations in your lambda. The client apps with DataStore internally set up subscribers to the corresponding subscriptions. When the mutation is triggered from another client then the subscription e

[2022-04-06 17:30] lawmicha commented on #1717
Hi @HuiSF, thanks for the details. I recently looked into the retryability of failed sync mutations (https://github.com/aws-amplify/amplify-ios/pull/1722)

In that PR, I tried a slightly different scenario- network on, `DataStore.save`, breakpoint in code before making the API call, turn off wifi, let the API request fail. In your details, it looks like you have network turned off already, before

[2022-04-06 17:31] lawmicha commented on #1718
Hi @HuiSF , thanks for the details, i'll give it a try to reproduce the unexpected behavior with `Amplify.DataStore.start` and provide an update when i can here

[2022-04-06 19:43] harsh62 commented on #1673
@carl0sLOL Can you also post an example of the DataStore request that you are making?

[2022-04-07 18:52] lawmicha commented on #1728
Hi @Etep15 , how did you provision the AppSync endpoint with IAM auth? Can you provide us some steps such as the selections you took after `amplify add api`? What's the resulting schema before `amplify push` (simplified/redacted if possible)? What version of the CLI are you using? We'll have to reproduce to see why the authenticated user is not able to perform that operation

[2022-04-07 22:33] kopecn commented on #1124
checking in.  still need this.  Datamodels generated for iOS apps need common import into macOS apps.

[2022-04-07 23:11] Etep15 commented on #1728
Thanks for the reply @lawmicha ... Hopefully this helps below...

### **1. AppSync provisioning with amplify CLI**

I've tried both methods, Cognito User Pools and IAM. But both result in the same. I've also set it up so both are working... The last time I updated the API I had Cognito User Pools as the default. So I've gone through and setup IAM as the default and tried again and had the same res

[2022-04-08 02:52] #1602 closed

[2022-04-08 02:55] royjit commented on #1564
Since it is a private session, the UI will not show any existing google accounts. If you need to bring up the existing logged in user in the Safari session you have to disable privateSession.

[2022-04-08 03:01] royjit commented on #1492
@parthmodi605 Could you please check the solution posted here - https://github.com/aws-amplify/amplify-js/issues/9264#issuecomment-977060126

@RoustamManookian Looks like the signUp lambda failed, can you check if the lambda is working properly?

[2022-04-08 03:02] royjit commented on #1497
This is not currently possible with Amplify iOS, will take this as a feature request.

[2022-04-08 03:06] royjit commented on #1629
Amplify uses ASWebAuthenticationSession internally to show the signIn UI. the signInRedirectURI is used as the callback URL scheme here:

https://github.com/aws-amplify/aws-sdk-ios/blob/67973f8e011e4307fe61966fe1d86539dedf3673/AWSCognitoAuth/AWSCognitoAuth.m#L619

[2022-04-08 14:25] #1709 closed

[2022-04-08 17:52] brennanMKE commented on #1651
@alionthego Please reach out to us on Discord as well and we could set up a time to work with you.

https://discord.com/invite/amplify

[2022-04-08 18:18] brennanMKE opened #1734 "Improve performance in DataStore where DataFormatter is costly to initialize"
### Describe the bug

Optimize the use of DateFormatter which is initializing instances repeatedly.

https://github.com/aws-amplify/amplify-ios/blob/02ac2ba5c417883ea90f3d59b3cd28e63d2a1d39/Amplify/Categories/DataStore/Model/Temporal/Temporal.swift#L88

### Steps To Reproduce

[code]

### Expected behavior

It should cache DateFormatter instances.

### Amplify Framework Version

1.22.4

### Amplif

[2022-04-08 18:19] brennanMKE commented on #1428
@anatomybook We have identified a potential cause for the added cost of this sync process. See the issue linked below.

https://github.com/aws-amplify/amplify-ios/issues/1734

[2022-04-08 18:31] brennanMKE commented on #1579
@anatomybook We will be making an update which could improve performance for syncing. See below.

https://github.com/aws-amplify/amplify-ios/issues/1428
https://github.com/aws-amplify/amplify-ios/issues/1734

[2022-04-08 18:33] brennanMKE commented on #1601
@Nfgyou Thanks for reporting this issue. We have a related issue linked below and will be working on it.

https://github.com/aws-amplify/amplify-ios/issues/1614

[2022-04-08 20:10] diegocstn commented on #1402
@skryshi we've released a fix for this in [Amplify v1.22.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.22.0)

[2022-04-08 20:10] #1402 closed

[2022-04-09 06:57] iThink32 opened #1735 "Amplify API Gateway Error Message iOS"
### Describe the bug

On iOS when the lambda function to which the API Gateway is linked to returns a custom error message with an error code of 404 I am unable to get the message sent by the lambda function , I always get
the following error object
[code]

Is there any way I can get the error message that is sent from lambda

### Steps To Reproduce

[code]

### Expected behavior

The error messag

[2022-04-09 19:55] anatomybook commented on #1428
Thank you very much. I can't wait for the patch to arrive!

[2022-04-09 19:55] anatomybook commented on #1579
Thanks for the update. I look forward!

[2022-04-10 01:21] sagarjoshi commented on #1542
same issue, upload is slow

[2022-04-11 19:13] fjnoyp opened #1738 "Missing CognitoUserPools AuthProvider in API"
### Is your feature request related to a problem? Please describe.

In Amplify Android API I can provide Cognito User Pool information via a `CognitoUserPoolsAuthProvider`.  While Amplify iOS supports `AuthProviders` it does not have one for `CognitoUserPools`.

### Describe the solution you'd like

Amplify iOS should have a `CognitoUserPoolsAuthProvider` that I can provide as an `AuthProvider` in

[2022-04-13 04:03] brennanMKE commented on #1559
See Discussion :

* [Storage: Long Running Multipart Uploads](https://github.com/aws-amplify/amplify-ios/discussions/1740)

[2022-04-13 08:39] hellensoloviy commented on #349
Not working for me too. The same issue.

[2022-04-13 15:28] wambambizzle opened #1741 "Amplify Auth signInWithWebUI with SwiftUI"
### Describe the bug

`Amplify.Auth.signInWithWebUI` in a SwiftUI project crashes after clicking on the sign in button with `Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)`.

Mac: Monterey 12.2.1

### Steps To Reproduce

[code]

2. Run project, click `Sign In With Web UI` button
3. Crashes with `Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)`

### Expected behav

[2022-04-13 22:58] louiss98 opened #1742 "Unable to mutate graphql relationship created using @hasmany directive."
### Describe the bug

Unable to mutate graphql one-to-many relationship field created with @hasmany directive.

### Steps To Reproduce

[code]

### Expected behavior

The story post to be added to an array in the story object

### Amplify Framework Version

1.22.0

### Amplify Categories

API

### Dependency manager

Swift PM

### Swift version

4.2

### CLI version

7.6.25

### Xcode version

13.

[2022-04-14 08:22] iThink32 commented on #1735
@lawmicha after multiple attempts was able to get the error message by using the following

[code]

Please let me know if wrong

[2022-04-14 08:23] iThink32 commented on #1735
@lawmicha this was hard for me to find , pls add this to the documentation if it is the right approach

[2022-04-14 19:33] lawmicha opened #1746 "Use of `S3Object` in Amplify DataStore/API"
S3Object is a feature mentioned in https://docs.amplify.aws/sdk/storage/graphql-api/q/platform/ios/#client-code that uses the SDK to upload files to S3 for you, and contains the following code snippet ` appSyncClient.perform(mutation: CreatePictureMutation(input: pictureMutationInput))`.

So what happens when developers use S3Object with Amplify.DataStore or Amplify.API?

Is S3Object a special key

[2022-04-14 19:58] lawmicha commented on #1742
Thanks @louiss98, we'll work on reproducing this through the Studio and provide updates on our findings.

Capturing the Discord message regarding "Post" vs "StoryPost":

[2022-04-15 12:42] lawmicha commented on #1742
From Discord, latest schema looks like this
[code]

[2022-04-15 12:51] lawmicha commented on #1742
Ran through Amplify Studio's Data modeling experience and trying to understand how the S3Object properties were created on the schema

[2022-04-15 13:22] lawmicha commented on #1728
Latest Schema (From Discord)
[code]

[2022-04-15 14:49] lawmicha commented on #1742
Turns out S3Object is
[code]

[2022-04-15 14:58] lawmicha commented on #1742
Asking on Discord for entire schema, including UserRelationType and User

[2022-04-15 15:04] lawmicha commented on #1742
[code]

[2022-04-15 16:34] lawmicha commented on #1742
Sync problem with with `owner: User @hasOne` on the Story, when I call `DataStore.start()`, the subscription for Story fails with the following:
[code]

[2022-04-15 17:20] #1629 closed

[2022-04-15 17:49] #1564 closed

[2022-04-15 17:49] #1566 closed

[2022-04-15 17:50] #1575 closed

[2022-04-15 17:50] #1643 closed

[2022-04-15 18:06] royjit commented on #1063
amplify-ios does not support Kinesis right now, you can use our low level SDK provided here - https://github.com/aws-amplify/aws-sdk-ios/tree/main/AWSKinesis

Also, if you are looking for a swift implementation of Kinesis SDK, AWS SDK for Swift is currently in alpha which you can find here - https://github.com/awslabs/aws-sdk-swift/tree/6b2c6336bf55ed352a7291fc42c85fb0c8ebba6a/release/AWSKinesis

[2022-04-15 18:06] #1063 closed

[2022-04-15 19:48] Etep15 opened #1749 "Using @auth on graphQL Field leads to DataStore AppSync Failure"
### Describe the bug

In my graphQL schema I have a field with an auth tag on it that only allows the owner of that model entry to access it..

[code]

If DynamoDB contains data for this model it should normally sync down to the client. But if I delete the app on my device and then reinstall it (effectively clearing out the Datastore local storage) the datastore/appsync will fail. So none of the d

[2022-04-15 20:21] Etep15 commented on #1749
The more I dig into this the more it seems that Datastore / Appsync doesn't support field @auth tags.

I've tested a scenario where I've logged in but don't do anything else (no queries etc). I can see in the log output that DataStore/Appsync (sorry, I'm not sure which service is doing what here) is constantly retrying to sync with the cloud and pull down the data but keeps getting an error becaus

[2022-04-16 02:04] brennanMKE commented on #1621
I've prepared a sample project with 2 versions to observe uploads. The first uses the Amplify library and the other uses Transfer Utility directly from the SDK. I am using the Network Link Conditioner from Apple the simulate network behavior for Edge, 3G and LTE networks. There are delays as expected but I am not able to observe any reason why the apps would be blocking. Please try these apps for

[2022-04-18 07:07] AdiPomelo opened #1750 "iOS - Private session option on AWS Amplify Social Login"
Hi

We are logging in using the social sign-in options on AWS Amplify on iOS.

We require the user to login to our app using a different social login from the same provider.

Is it possible to achieve this on iOS?

[code]

### Steps To Reproduce

[code]

### Expected behavior

Every time user trying to signin with google, It should open a web view for users to choose the Gmail account they want to

[2022-04-18 20:03] HuiSF opened #1753 "DataStore cannot receive mutation updates made from Android, Amplify Studio"
### Describe the bug

In an App created using amplify-ios, or amplify-flutter (iOS platform), DataStore cannot receive mutation updates made from Android, Amplify Studio content management interface that are running with the same backend.

Related issues:

https://github.com/aws-amplify/amplify-flutter/issues/663
https://github.com/aws-amplify/amplify-android/issues/995

**Condition:** when model

[2022-04-18 20:56] harsh62 commented on #1750
@AdiPomelo
Could you try using the `preferPrivateSession` in the options when signing in? An example would be as follows:
[code]

[2022-04-18 23:43] #1673 closed

[2022-04-18 23:44] harsh62 commented on #1501
@HovhannesPoghosyan there has been some recent refactors to the underlying AWS SDK, can you verify if this is still an issue?

[2022-04-19 09:08] AdiPomelo commented on #1750
Thank you for quick reply
If I try with private session option accounts which are logged in using Gmail App on iPhone not showing and every-time customer needs to enter details manually (username & password)

[2022-04-19 16:49] zpg6 commented on #1626
Seeing [Swift SDK Developer Preview Docs](https://docs.amplify.aws/lib/devpreview/getting-started/q/platform/ios/), this feature is mentioned briefly as prioritized on the roadmap.

@maintainers should this issue be closed in favor of development on it in new sdk?

[2022-04-20 14:40] maziarzamani commented on #1590
You mentioned "subscriptions", what if we do not use subscriptions? As far as I can see the iOS SDK fails with the presence of arrays without initiating any subscriptions.

[2022-04-20 16:33] iThink32 commented on #1621
@brennanMKE thanks for this will check and keep you updated in a day or two

[2022-04-20 17:44] diegocstn commented on #1749
hi @Etep15,
unfortunately per-field @auth rules are not currently supported in DataStore. I'll mark this as a feature request and we'll update this ticket.

[2022-04-22 15:47] lawmicha opened #1759 "DataStore ObserveQuery snapshot on .ready"
### Describe the bug

ObserveQuery does not emit a snapshot when the state goes from `isSynced` false to true. Internally, the operation will listen to `.ready` event from the Hub. When this is received, it will mark internally the `isSynced` state to true, but does not emit a new snapshot.

Customer DX issue: If the loading indicator is displayed to the end user, and .ready is received, it should

[2022-04-22 16:36] diegocstn commented on #1759
An edge case to consider is when the dataset is empty. `observeQuery` should emit a snapshot with `isSynced` true in that scenario as well

[2022-04-22 17:24] lawmicha commented on #1631
Feel free to let us know if you have other issues

[2022-04-22 17:24] #1631 closed

[2022-04-22 17:28] lawmicha commented on #1560
Hi @alionthego, the above schema that @thisisabhash provided along with the code snippet should satisfy your use case. If not, you can also consider using DataStore as the query will be efficently done against the DB that is local on the app. Feel free to open another issue if you have more questions.

[2022-04-22 17:28] #1560 closed

[2022-04-22 17:30] diegocstn commented on #1619
Closing this due to inactivity.

[2022-04-22 18:05] ragingsquirrel3 opened #1761 "datastore multiauth not syncing correctly with IAM provider"
### Describe the bug

I found this issue while testing multiauth feature in amplify-flutter on ios, so I apologize if repro instructions are a little opaque for that reason. I can provider more info if helpful.

When using this schema, I observed that only the signed in owner who created a blog could query it, while I was expecting everyone to be able to query it using IAM provider. I am sure that

[2022-04-22 20:16] ragingsquirrel3 commented on #1761
I spent more time here and improved my debugging process, I think I can close this issue and want to correct some things.

* sync works as expected only for signed out user, so issue is only for signed in user
* same is reproducible on android

This schema makes it work as expected, which is more verbose than docs site, but not sure if this is docs bug or other error. Will look into it and close t

[2022-04-22 20:16] #1761 closed

[2022-04-23 04:59] chintan1891 opened #1762 "Amplify.Storage does not invoke "resultListener" block while Application is in Background"
### Describe the bug

I have implemented "Amplify.Storage.uploadFile" for File upload. But if my app goes in background, then my "resultListener" block is not getting called.

### Steps To Reproduce

[code]

### Expected behavior

File should get uploaded in background

### Amplify Framework Version

1.23.0

### Amplify Categories

Storage

### Dependency manager

Cocoapods

### Swift version

5

[2022-04-23 23:32] atierian opened #1763 "Can’t use with Swift Playgrounds"
### Describe the bug

Consuming Amplify iOS via SPM in the Swift Playgrounds iPad app. Attempting to do so results in it getting stuck in the “fetching versions” step.

### Steps To Reproduce

[code]

### Expected behavior

Amplify iOS works in the Swift Playgrounds iPad app.

### Amplify Framework Version

Current

### Amplify Categories

Analytics, API, Auth, DataStore, Predictions, Storage

###

[2022-04-25 11:57] dsaliberti opened #1764 "Real time cross-device `syncReceived` event not called after re-authentication"
### Describe the bug

when I run my app in 2 simulators both `receiveSync` from each other ✓

but if I `signOut`, then `signIn` back in 1 of those Simulators, after the full sync process, it doesn't call `syncReceive` from the other Simulator. (but receive the `syncReceive` from the full-sync process) ✕

I made the `Amplify.Logging.logLevel = .verbose` and I noticed that these following logs are m

[2022-04-25 12:20] dsaliberti commented on #1764
Just-in-time: the event `subscriptionsEstablished` is emitted on both cases: just opened and re-authenticated

[2022-04-25 12:37] dsaliberti commented on #1607
it really helped me to address one issue on our side
However [it seems there's more happening after signOut+signIn](https://github.com/aws-amplify/amplify-ios/issues/1764) in the same run @lawmicha
Thanks

[2022-04-26 14:02] harsh62 commented on #1741
@wambambizzle Sorry for the late reply. I can't seem to recreate the issue. Can you show the part on how you are configuring the plugin. Something like following should be happening before you try to sign in..
[code]

If you are doing this configuration correctly. Can you please show your config file redacted all the sensitive information.

[2022-04-26 14:07] atierian opened #1765 "schema.graphql isn't automatically added to the Xcode project"
### Describe the bug

When a schema.graphql file is generated by the CLI, it is not automatically added to the Xcode project. This results in `amplify codegen` / `amplify push` + `generate code` failing.

This docs PR adds a callout explaining how to manually add the file.
https://github.com/aws-amplify/docs/pull/4251
This is temporary and must be removed from the docs after the underlying issue i

[2022-04-26 14:47] wambambizzle commented on #1741
No worries, thanks for getting back!

[code]

[2022-04-26 14:52] harsh62 commented on #1741
@wambambizzle Do you see the print statement getting fired?
[code]

Also just FYI, you can do it without the AppDelegate too..
[code]

[2022-04-26 16:51] harsh62 commented on #1741
Could you share the exact steps you are going through for helping me reproduce this? Also if its possible to share the stack trace of the crash?

[2022-04-26 17:15] wambambizzle commented on #1741
Run the project in the Simulator (iPhone 12 running 15.0 in this case). Click on button with `signInWithWebUI()`.

[code]

`Thread 1: Swift runtime failure: Unexpectedly found nil while unwrapping an Optional value`

[code]

[2022-04-26 17:34] harsh62 commented on #1750
@AdiPomelo That is something which is controlled by google. Amplify doesn't control sessions created by social providers like Google, FB, Apple..

There have been similar issues that have been created such as https://github.com/aws-amplify/amplify-ios/issues/958.

[2022-04-26 20:14] harsh62 commented on #1741
@wambambizzle can you also share `amplifyconfiguration.json` file contents redacted any sensitive information. Seems like something is missing there.

[2022-04-26 23:28] ImranRazak1 commented on #349
I am having the same issue. Can AWS fix this?

[2022-04-27 02:24] ImranRazak1 opened #1767 "Download URL for existing objects in AWS S3 in iOS app using Amplify isn't working."
I am trying to get the objects inside my S3 bucket URLs so my iOS app can download them. I do not have a login so I didn't use Cognito, my api URLs right now for the objects are individually coded and are publicly accessible. So I can just download the JSON data to be decoded from the URL but I am trying to use Amplify to do that in code rather than having to input the URL itself.

Here is an exam

[2022-04-27 10:58] ImranRazak1 opened #1768 "Download URL from existing S3 object won't work and keep crashing with fatal error. Library is still in developer preview."
### Describe the bug

I am trying to get the objects inside my S3 bucket URLs so my iOS app can download them. I do not have a login so I didn't use Cognito, my api URLs right now for the objects are individually coded and are publicly accessible. So I can just download the JSON data to be decoded from the URL but I am trying to use Amplify to do that in code rather than having to input the URL it

[2022-04-27 12:32] wambambizzle commented on #1741
`amplifyconfiguration.json`

[code]

[2022-04-27 13:33] harsh62 commented on #1741
The file is missing important configurations related to `signInWithWebUI`. Please go through the CLI steps mentioned in the below mentioned docs to setup Cognito Web UI. https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/ios/#configure-auth-category

Also if you want to setup any other social providers, go through the steps in this doc.. https://docs.amplify.aws/lib/auth/social_signin_web_

[2022-04-27 18:28] alharris-at commented on #1353
@alionthego I agree w/ the recommendation above by anatomybook. Because DataStore is continuously syncing with AppSync once the app is initialized (unless the user is offline), and will re-establish connection once network connectivity is restored.

The recommendation around listening to `hub` events is sound as well, if you want to provide users w/ some visual indication of sync status, or last s

[2022-04-27 18:48] alharris-at commented on #1635
@nfarrell36 Subscriptions should be filtering out data that a user does not have access to.

Could you provide your GraphQL Schema and SyncExpression so we can verify? Documentation on how authorization rules work can be found here https://docs.amplify.aws/cli/graphql/authorization-rules/#per-user--owner-based-data-access

There are some known limitations, if you're attempting to provide a list of

[2022-04-27 20:31] lawmicha commented on #1735
Hi @iThink32, that looks correct, this is the corresponding documentation  https://docs.amplify.aws/lib/restapi/fetch/q/platform/ios/#handling-non-2xx-http-responses we'll improve the documentation to include the decoding logic as you have there. Let us know if you have any more questions

[2022-04-27 20:39] lawmicha commented on #1630
Thanks for opening this and the discussion @alionthego @robsaffi we'll keep this issue open and work on providing a better example when using DataStore and API with many-to-many schemas. There's a test here that showcases the call pattern in DataStore if that helps: https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TransformerV

[2022-04-28 06:52] iThink32 commented on #1735
@lawmicha cool but a suggestion pls add it to amplify iOS documentation as well or at least provide a link to the above.
https://docs.amplify.aws/lib/restapi/fetch/q/platform/ios/

[2022-04-28 20:21] wambambizzle commented on #1741
Great, thank you! Is there a guide that I missed that shows you how to do it without having to rely on the CLI?

[2022-04-29 10:13] Rafiki81 commented on #1635
@alharris-at Hi, once Enhanced Subscription filters are available, it would be great to be able to use it with Amplify-Datastore (DataStoreSyncExpression) so the filtering on the subscriptions can be done at the server-side:

https://docs.aws.amazon.com/appsync/latest/devguide/aws-appsync-real-time-enhanced-filtering.html

Is there a way to pass the filtering parameter when defining the datastore

[2022-04-29 13:35] harsh62 commented on #1741
Nope. You would have to use CLI to setup amplify.

[2022-04-29 20:55] thisisabhash commented on #1768
Closing this as duplicate of https://github.com/aws-amplify/amplify-ios/issues/1767

[2022-04-29 20:55] #1768 closed

[2022-04-29 20:58] thisisabhash commented on #1767
Hello,
You'd need to add auth to your project in order to add storage for user files.
Please provision your backend by following the steps here : https://docs.amplify.aws/lib/storage/getting-started/q/platform/ios/
where you can add different access to Guest users without logging in.
When you've done that, make sure to add `AWSCognitoAuthPlugin` before calling `Amplify.configure()`.
[code]

Let us

[2022-04-29 21:01] thisisabhash commented on #1767
I have also redacted your `amplifyconfiguration.json` file. Please make sure you redact sensitive configuration information before posting questions.

[2022-04-29 23:29] ImranRazak1 commented on #1767
Is the authentication necessary? Because it's public anyways the json files. And with regards to the API call that I intend to make would that work as I have proposed above.

[2022-04-30 04:59] yushdotkapoor commented on #1124
Oof, it's been over a year and no update on a major issue like this... This is a pretty substantial problem!

[2022-05-02 16:57] #1750 closed

[2022-05-02 16:57] #1741 closed

[2022-05-02 16:58] harsh62 commented on #1741
Closing the issue. If you have more questions about Auth, please create another issue.

[2022-05-02 16:58] #1501 closed

[2022-05-02 18:53] thisisabhash commented on #1767
Yes, it is needed as when you configure Amplify to add storage, the CLI configures appropriate IAM policies on the bucket using a Cognito Identity Pool Role. https://docs.amplify.aws/lib/storage/overview/q/platform/ios/#accessing-aws-services
For `getURL()`, you'd need to pass a closure to receive results: https://docs.amplify.aws/lib/storage/download/q/platform/ios/#generate-a-download-url

[2022-05-03 15:37] sagarjoshi opened #1775 "Amplify.Storage.uploadFile causes app to crash when trying to upload a large file"
To reproduce , try uploading a 2.4 GB file . Memory usage keeps on increasing and the app crashes when it reaches around 2 GB. I was trying this on an iPhone 11. From what I was able to gather it has 4 gb of memory and iOS will only let it grow till around 2GB.

![image](https://user-images.githubusercontent.com/1082515/166486228-f5351e49-2859-4cb6-9a6a-5e7d400901cb.png)

[2022-05-03 15:47] alharris-at commented on #1635
@Rafiki81 since that functionality launched at the beginning of April, we've been looking to integrate into Datastore sync expressions. Today the functionality for filtering is very limited in DataStore, but we are planning to add support for enhanced filtering in DataStore and via the `API` category of Amplify. If you are encountering issues in the immediate term however, you will likely need to

[2022-05-03 15:58] sagarjoshi commented on #1775
@brennanMKE  as you requested. Please let me know if you need anymore information

[2022-05-03 16:10] ameter commented on #1775
Per discord discussion, @brennanMKE is investigating this issue.

[2022-05-03 18:04] sagarjoshi commented on #1775
Other folks alluding to the same issue on Apple developer forums

https://developer.apple.com/forums/thread/118912

Don't know how accurate this is, but max memory budget per device

https://stackoverflow.com/questions/5887248/ios-app-maximum-memory-budget

[2022-05-04 15:54] julien-tamade commented on #505
Any update on this?

[2022-05-04 23:57] sagarjoshi commented on #1775
Any update ? Trying to figure out my options if this isn't going to be fixed soon.

[2022-05-05 16:12] ameter opened #1778 "Jazzy API doc generation failing in CI"
### Describe the bug

The jazzy doc generation job on CircleCI is failing due to permissions issues.  See log output below.

### Steps To Reproduce

[code]

### Expected behavior

workflow succeeds

### Amplify Framework Version

N/A

### Amplify Categories

Analytics

### Dependency manager

Cocoapods

### Swift version

N/A

### CLI version

N/A

### Xcode version

N/A

### Relevant log output

[2022-05-06 02:16] ImranRazak1 commented on #1767
This is the issue I keep facing whenever I use CLI to provision the backend. I used SPM to setup amplify.
`
imranrazak@Imrans-MacBook-Pro avocadotoast % sudo curl -sL https://aws-amplify.github.io/amplify-cli/install | bash && $SHELL
Password:

 Installing the AWS Amplify CLI...

 Downloading binary...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2022-05-06 17:14] brennanMKE commented on #1775
I've created a repro build and was able to observe this memory spike just as the multipart upload process is starting. This will be investigated to eliminate the spike so it won't cause a runtime exception when the app runs out of memory.

<img width="985" alt="Memory Spike" src="https://user-images.githubusercontent.com/277419/167180308-5a1209cb-422d-4f08-b942-b14ab4a5d9b1.png">

[2022-05-06 18:13] sagarjoshi commented on #1775
Thanks a lot @brennanMKE  . I really appreciate this. Please keep me in the loop, I am actively trying to figure out how I can mitigate this from a product perspective and the choices aren't that great.

[2022-05-06 18:51] thisisabhash commented on #1767
Hello,
Please follow steps here to configure Amplify CLI : https://docs.amplify.aws/cli/start/install/
Make sure you have the pre-requisites installed.
Here is a step by step video guide from the above link: https://youtu.be/fWbM5DLh25U

[2022-05-06 20:16] dnys1 opened #1780 "[DataStore] Detected multiple owner type auth rules with a READ operation"
### Describe the bug

The schema below describes the authorization scheme: _Every todo can be accessed by its owner and read by precisely one other user if it chooses._ This is being used in a customer app to mirror a parent/child relationship where the child is the owner. Using Cognito Groups is not possible due to the fact that you can only have a limited number of groups registered, so these wo

[2022-05-06 20:30] diegocstn commented on #1780
@dnys1 thanks for reporting this to us. Unfortunately it's a known issue, I'll close this in favour of https://github.com/aws-amplify/amplify-ios/issues/1590

[2022-05-06 20:30] #1780 closed

[2022-05-06 22:06] thisisabhash commented on #1456
Hello,
As first steps, please make sure:

- You've updated your API to use Cognito User Pools as authorization mode. If not, run `amplify update api` and choose Cognito User Pool for the question `? Choose the default authorization type for the API`
- If your schema contains this line : `input AMPLIFY { globalAuthRule: AuthRule = { allow: public } }`, please either remove it or comment it. Referen

[2022-05-06 22:29] ameter commented on #1762
Hi @chintan1891, can you share a snippet of the code you're using to perform the upload?  Also, does the upload work correctly when the app remains in the foreground?

[2022-05-06 23:18] ameter opened #1781 "Integration Tests Failing in CI"
### Describe the bug

A number of integration tests are currently failing in GitHub Actions.

### Steps To Reproduce

[code]

### Expected behavior

tests should pass

### Amplify Framework Version

n/a

### Amplify Categories

Analytics

### Dependency manager

Cocoapods

### Swift version

n/a

### CLI version

n/a

### Xcode version

n/a

### Relevant log output

_No response_

### Is this a re

[2022-05-07 08:37] alionthego commented on #1560
This is not working for me.  Firstly let order = QuerySortOrder.ascending yields error because QuerySortOrder not in scope.  Has that been deprecated?
I tried replacing it with QuerySortBy.ascending(DailyTaskTransaction4.CodingKeys.createdAt)
but I am getting:
Got failed event with error APIError: The HTTP response status code is [400].
Has this code been tested?  Using latest version of Amplify C

[2022-05-07 10:05] iThink32 commented on #1621
hey Brennan, sorry for the very late reply, was badly held up in something.

Ok so tried Amplify results are as follows:

Progress: 0.33 [23B081E7-F8CB-4134-AE0B-DA8C13161902]
Progress: 0.50 [23B081E7-F8CB-4134-AE0B-DA8C13161902]
Progress: 0.67 [23B081E7-F8CB-4134-AE0B-DA8C13161902]
Progress: 1.00 [23B081E7-F8CB-4134-AE0B-DA8C13161902]

There above is for uploading small files

Even though I got a

[2022-05-07 11:52] daveharig opened #1782 "Typo in AuthError"
### Describe the bug

Typo in the AuthError recovery suggestion.

[code]

### Steps To Reproduce

[code]

### Expected behavior

[code]

### Amplify Framework Version

1.23.1

### Amplify Categories

Auth

### Dependency manager

Swift PM

### Swift version

5.0

### CLI version

N/A

### Xcode version

13

### Relevant log output

_No response_

### Is this a regression?

No

### Regression addit

[2022-05-07 15:57] orlaqp commented on #1542
I am seeing the same issue :-|

[2022-05-07 23:11] christopheclc opened #1783 "Passwordless Auth.signIn doesn't seem to work"
### Describe the bug

I have a user pool that is shared between a react web app and an iOS swift app. Both are using amplify. The react version supports Auth.signIn(phoneNumber) which results in a custom auth flow with a OTP being sent to the user's phone number.
However, the iOS version returns an error on Amplify.Auth.signIn(username: phoneNumber):
AuthError: Incorrect username or password.

###

[2022-05-08 22:30] alionthego commented on #1560
So I've fixed the QuerySortOrder issue by just replacing with ASC or DESC, however now I have the error:
"Validation error of type FieldUndefined: Field \'startedAt\' in type'...
Where did startedAt come from?

[2022-05-09 13:54] morisobaa opened #1784 "Adding non-optional fields to the schema definition breaks sync to the cloud."
### Describe the bug

Hello, I have a question.
I am using DataStore with Amplify.

After adding a required field to the schema definition, I am unable to sync with the cloud.
I have updated PostTags in
[code]
to
[code]
.
I dare not use @manyToMany.

The following error was displayed when the log level was set to debug.
[code]

There is no problem to sync schema that has not been updated.

### Ste

[2022-05-09 14:21] morisobaa opened #1785 "createdAt and updatedAt of DataStoreResult are nil?"
### Describe the bug

When I create an object, the createdAt and updatedAt of the DataStoreResult object defined in DataStoreCallback.swift are nil.
And they are not nil when queried.

This can happen in any model.
I understand that createdAt and updatedAt are assigned in the resolver Mutation.createModel.init.1.req.vtl.

Is the content of the DataStoreResult not an object synced to DynamoDB?

###

[2022-05-09 18:47] brennanMKE commented on #1775
See PR below.

https://github.com/aws-amplify/aws-sdk-ios/pull/4129

[2022-05-09 19:03] thisisabhash commented on #1560
Hello,
 I have tested this today with Amplify CLI 8.1.0.

- Apologies for not mentioning this.`QuerySortOrder` is part of `AWSDataStorePlugin`. You can add it to your podfile
 `pod 'AmplifyPlugins/AWSDataStorePlugin'` or include it while adding the `amplify-ios` package via SPM.
 Otherwise, you can add an enum like below in your code. I have also removed the `startedAt` from the request string and

[2022-05-09 19:25] sagarjoshi commented on #1775
Thanks a lot @brennanMKE ! Hopefully it will be part of a build soon. Also, will be useful if you paste a screenshot in that PR that doesn't show a spike for the same test :)

[2022-05-09 20:25] djorgji commented on #1590
With this finally released for AppSync, https://aws.amazon.com/blogs/mobile/appsync-enhanced-filtering/
and with the CLI adding support soon: https://github.com/aws-amplify/amplify-cli/issues/2189#issuecomment-1090745560 what is the timeline for dynamic group support for subscriptions for android? Would making SyncExpressions server sided also make sense?

[2022-05-09 23:49] christopheclc commented on #1783
Just an update on this. I actually noticed there is no call to the define auth challenge lambda at all from iOS now. I'm not sure why. The react app still works as expected with the same user pool.

[2022-05-10 05:44] AkiValiaho commented on #1573
We are currently experiencing this bug as well and it's a major blocker for using Amplify.

[2022-05-10 15:20] lawmicha commented on #1718
@royjit was able to reproduce this on a real device, the issue is the URLError case that is received by DataStore is not handled by the retry handler. When the retry advice is false, the attempt is treated as a non-retryable error and deleted from the outgoing mutation queue

[2022-05-10 15:33] ChadyG opened #1786 "Auth confirmSignIn error "Invalid attributes given, name is missing""
### Describe the bug

According to the docs, we should be able to call Amplify.Auth.confirmSignIn with just the new password given by the user when .confirmSignInWithNewPassword auth challenge is returned.  However, calling this method with just the password returns the following error:
"Invalid attributes given, name is missing"

### Steps To Reproduce

[code]

### Expected behavior

Auth should

[2022-05-10 15:52] ansonallard commented on #1437
@harsh62 Unfortunately, I'm no longer working on that project, so I'm unable to access the source code to test. As of December 2021, this was still an active and unresolved issue that we had to work around.

[2022-05-10 21:31] brennanMKE opened #1787 "Replace precondition handling in tests so it works with Swift Concurrency"
### Describe the bug

[CwlPreconditionTesting](https://github.com/mattgallagher/CwlPreconditionTesting) is used to intercept exits when  `preconditionFailure` is used during testing. It does not work with Swift Concurrency and an issue has been created for this dependency.

https://github.com/mattgallagher/CwlPreconditionTesting/issues/27

### Steps To Reproduce

[code]

### Expected behavior

The

[2022-05-11 07:29] ImranRazak1 commented on #1767
I've setup CLI. Configured the app using SPM. Do I have to run Amplify add storage in order to access the download URL, or can I just get the download URL using the docs provided?

[2022-05-11 11:06] jiangqinglianSNQU opened #1788 "Unable to decode configuration Recovery suggestion: Make sure the plugin configuration is JSONValue"
### Describe the bug

The question is "Unable to decode configuration
Recovery suggestion: Make sure the plugin configuration is JSONValue" and "Storage category is not configured. Call Amplify.configure() before using any methods on the category."

The code as follow:
[code]

How do i set the config?

### Steps To Reproduce

[code]

### Expected behavior

Am I misconfigured?
 How do I set it up?

[2022-05-11 11:58] atierian commented on #1788
Hi @jiangqinglianSNQU, thanks for opening this issue.
You'll need to use Amplify CLI to create the backend resources that Auth and Storage need. This creates `amplifyconfiguration.json` and `awsconfiguration.json` files that Amplify needs to be configured properly.
Here are a few links to relevant documentation that will guide you through the process.
[General Getting Started Guide](https://docs.a

[2022-05-11 12:48] atierian opened #1789 "API QueryPredicate `Foo.keys.bar == nil` unexpected behavior"
### Describe the bug

Given a schema:
[code]

[code]
will return `Post`s where content is `nil`.

[code]
returns no results, despite `Post`s existing where content is `nil`.

This inconsistent behavior is confusing.

### Steps To Reproduce

[code]

### Expected behavior

Querying with the predicate`Post.keys.rating == nil` with `API` should return `Post`s where the rating is `nil` / doesn't exist.

[2022-05-11 14:39] albemala commented on #1688
I'm having a problem with the updated SQLite dependency.

My project depends on
`pod 'Amplify', '1.19.1'`
`pod 'AWSAppSync', '3.6.1'`

If I try to upgrade Amplify to a version higher than `1.22.2`, I get the following error

[code]

Basically,
`AWSAppSync` depends on `SQLite.swift` = 0.**12**.2
`AmplifyPlugins` depends on `SQLite.swift` = 0.**13**.2
So Pods dependency resolution fails.

Should I o

[2022-05-11 19:31] shri-onecup opened #1792 "[DataStore] Optional fields related to another table using @belongsTo directive are throwing errors"
### Describe the bug

This is the schema that I am using:
### GraphQL Schema

<details>

[code]
</details>

I already have this schema running and working perfectly on a test app for Android and JS. Now, I am trying to test DataStore on iOS (Swift + SwiftUI). With the above schema, I am successfully able to query all entries from the `Blog` table. I am also able to query from the `Post` table **ON

[2022-05-12 01:44] jiangqinglianSNQU commented on #1788
I am in accordance with the operations on the document, but always failed operation, is unable to correctly generate amplifyconfiguration.json and awsconfiguration.json file, or you don't these two files, or the file content is empty
Do you know the API for setting accessid, accessSecret, and Token?

[2022-05-12 10:48] atierian commented on #1788
Can you please specify what this means.
What is failing?
What error message are you seeing?

[2022-05-12 12:13] jiangqinglianSNQU commented on #1788
`AccessDeniedException: User: arn:aws:iam::426315288917:user/s3user is not authorized to perform: amplify:CreateApp on resource: arn:aws:amplify:ap-northeast-1:426315288917:apps/*
    at Object.extractError (/snapshot/repo/build/node_modules/aws-sdk/lib/protocol/json.js:52:27)
    at Request.extractError (/snapshot/repo/build/node_modules/aws-sdk/lib/protocol/rest_json.js:49:8)
    at Request.call

[2022-05-12 12:41] #1767 closed

[2022-05-12 16:53] ImranRazak1 opened #1795 "Issue with pausing NSErrorFailingURLKey=Combine.AnyCancellable"
Hi,

I am trying to pause the operation after the I get the download URL from my S3 Storage. Based on my research I need to Pause the operation after the URL has been received and then resume it again so the error goes away. I don't know if it's true but this is the error that keeps coming back to me.

My API call using Amplify.
[code]

I tried running the operation as you cans ee to pause it but

[2022-05-12 17:05] shri-onecup commented on #1792
More info, in case it helps:
I tried using GraphQL Mutations (with the same code-generated models). GQL mutations work perfectly even when "blog" is null. I am able to both query and create a post without specifying a blog and it works as expected.

So, there's probably nothing wrong with the models, but a bug on the DataStore end is causing this issue.

[2022-05-12 17:34] SefyDev opened #1796 "Auth socialSignInWithWebUI error"
### Describe the bug

After I use "socialSignInWithWebUI" I am faced with google log in flow, after I complete it I get a grey screen with the text "An error was encountered with the requested page" (when I inspect through the developer window I can see a 403 error)

At that point the user is added successfully to the user pool however the signed in status does not update and the login sheet is no

[2022-05-12 17:40] atierian commented on #1796
The part of the documentation that's confusing, is it this?
https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/ios/#update-infoplist

What value are you using there?
It should be the app scheme entered into Amplify Studio in the Sign-in and Sign-out redirect URLs minus the `://`.

[2022-05-12 17:41] HuiSF commented on #1390
The underlying issue has been fixed on Amplify CLI side.

Please ensure upgrade to Amplify CLI version >=8.0.2, and re-deploy schema (regenerate resolvers).

[2022-05-12 17:41] #1390 closed

[2022-05-12 17:50] SefyDev commented on #1796
Yes it is.

I am using:

  <key>CFBundleURLTypes</key>
  <array>
      <dict>
          <key>CFBundleURLSchemes</key>
          <array>
              <string>com.googleusercontent.apps.XXXXXXXXXXXX-*******************************</string>
          </array>
      </dict>
  </array>

I also used just the url that was given by amplify studio:
  https://XXXXXXXXXXXX-staging.auth.eu-west-2.amazoncogni

[2022-05-12 18:10] Pedrosolisg commented on #1508
Hi @brennanMKE Thanks for actioning this change! I've seen that it has been merged already a while ago, and yet I am experiencing the crashes on my previews.

Is there anything I need to configure additionally so the flag you implemented has effect when rendering previews?

Thanks a lot!!

[2022-05-12 19:34] harsh62 commented on #1508
@Pedrosolisg can you share any logs for the crash that you are seeing?

[2022-05-12 22:30] ImranRazak1 commented on #1795
I forgot to add I am using swiftUI so want help in SwiftUI code not UIKit.

[2022-05-13 09:57] #1795 closed

[2022-05-13 10:31] Pedrosolisg commented on #1508
Thanks for replying to quick! @harsh62 :)

Below the crash report by Xcode when trying to render the Preview on the canvas:

`-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Incident Identifier: 4DED7D1A-83C1-409F-9F7A-9467283D906B
CrashReporter Key:   B17AFC89-7248-A1EE-5B40-4A5F667C3E76
Hardware Model:      MacBookPro16,1
Process

[2022-05-13 13:13] harsh62 commented on #1508
@Pedrosolisg From the logs, I see that you are using `getCurrentUser` in `App.main()`. This change that was done only applies to `Amplify.configure()`. We don't yet support other API's on SwiftUI Previews. If you would like to have this feature implemented in other API's, kindly create another ticket and our team will triage and prioritize it.

[2022-05-13 14:57] #1782 closed

[2022-05-13 22:02] atierian commented on #1626
Hey @zpg6. We opened an [RFC related to async / await support](https://github.com/aws-amplify/amplify-ios/discussions/1801) and would love your, and everyone else's, vote in the poll and/or any thoughts.

[2022-05-14 05:45] morisobaa commented on #1784
I just edited and added Parent model to schema v2.
This is the correct information.

[2022-05-14 05:56] morisobaa commented on #1784
I solved the problem myself, but the auto-generated code seems inappropriate.

The @hasMany causes PostTags to auto-generate an optional field named parentChildrenId.
If I create PostTags with nil parentChildrenId, it is not possible to sync.

Shouldn't parentChildrenId be auto-generated as a required field?

[2022-05-14 12:38] morisobaa opened #1802 "Errors occurred only in the model named Order"
### Describe the bug

Hi
The following error occurs only when the model name is "Order".
[code]

[code]

However, if you change only the model name, it will update successfully.
For example, from "Order" to "Ordering", "Request" or "UserProduct".

- Why did this happen?
- Are there any other words we can't use?

### Steps To Reproduce

[code]

### Expected behavior

Docs will explain in advance wh

[2022-05-15 11:13] SefyDev commented on #1796
Update on this, I remove auth and re-added it using the CLI and now it works fine. The issue was the "Sign-in & sign-out redirect URLs" box

<img width="555" alt="image" src="https://user-images.githubusercontent.com/98397079/168469596-5de1a58c-91cd-489e-9d90-734ff0b3dba6.png">

I was providing the .amazoncognito.com URL given above instead of just that. I think it should be more clear, (note: it

[2022-05-15 11:13] #1796 closed

[2022-05-15 23:06] alionthego opened #1803 "How can I create @manyToMany relation with the same model"
I have read the documentation on creating a manyToMany relation on two unique models using GraphQLAPI which suggests the following schema:

[code]

However, I want to create a manyToMany between users in an app.  So when a user adds another user as a friend or blocks a user etc, there will be a userToUsers entry.  So I would like manyToMany relation on the same model but have not been able to do t

[2022-05-16 16:43] harsh62 commented on #1784
@morisobaa Thanks for providing an update. Our team is currently investigating the issue and will provide an update soon.

[2022-05-16 17:13] lawmicha commented on #1785
Hi @morisobaa, they will be generated if nothing is passed in for them on the server side as you mentioned regarding resolver. When interacting with DatasStore, the model is persisted locally in the SQLite database first and returned to you on the callback of the API, so the `createdAt` and `updatedAt` will not have any values if you did not pass it into the model. You can pass in `.now()` when cr

[2022-05-16 17:29] lawmicha commented on #1784
Hi @morisobaa, glad to hear you were able to solve the problem with the schema upgrade scenario. If you could let us know how did you solve the `DynamoDB:DynamoDbException` issue? If you cleared the DynamoDB tables of all the entries, then I would expect the service to be in a clean state to perform mutations for the updated schema. For a DataStore conflict resolution enabled API, there are some e

[2022-05-16 17:32] HuiSF commented on #1675
Hi team, any update on this issue?

[2022-05-16 17:33] lawmicha commented on #1789
Discussed with @atierian, DataStore APIs interact with SQLite database directly so the predicate is translated to the SQL expression, while the predicate for APIPlugin APIs interact with the Transformer provisioned AppSync service. We can do two things next in the investigation on AppSync use cases:

- Construct a request that adds a filter on `null` using AppSync console's Queries tab, is it poss

[2022-05-17 16:35] atierian commented on #1789
It appears as though AppSync supports this through `attributeExists`.
[code]

[2022-05-17 18:39] kopecn commented on #1124
And to add!  I would venture to say that most developers now uses a Mac for their day to day dev work.  Perhaps aws team should run some analytics and see what does their community use for their dev work machines.

[2022-05-18 10:40] RoustamManookian opened #1805 "Amplify Auth login/logOut session"
### Describe the bug

I use Amplify Auth in my IOS app.

When the user logs in with social signIn flow and leaves the app without signOut and comes back the Amplify.Auth.fetchAuthSession result is AWSAuthCognitoSession(isSignedIn: true,...) but the session is in Auth.fetchSessionAPI state.
So when I try to reassign the user it gives me an error that the user is already signed in try to sign out, b

[2022-05-18 13:45] joe-netcenter opened #1806 "Get cached device key"
### Is your feature request related to a problem? Please describe.

I'm looking for a feature similar to the javascript getCachedDeviceKeyAndPassword() in iOS so that I can access the device key before the user is authenticated; we send this information during sign in to determine if the user's device is remembered. Is it possible to gather this information on mobile? Using Amplify or AWSMobileCli

[2022-05-18 15:24] atierian commented on #1805
Thanks for opening this issue @RoustamManookian. You wrote that you're using **Amplify Framework Version** 7.6.12. This is most likely the CLI version. Can you let us know which version of Amplify iOS you're using? Since you're using SPM, you can find it in the bottom of the Project Navigator in the **Package Dependencies** section. Thanks!

[2022-05-18 15:29] atierian commented on #1802
Thanks for opening this issue @morisobaa. I'll work on reproducing it and follow up with you here.

[2022-05-18 16:00] atierian commented on #1806
You can use the `fetchDevices` [API](https://aws-amplify.github.io/amplify-ios/docs/Protocols/AuthCategoryDeviceBehavior.html#/s:7Amplify26AuthCategoryDeviceBehaviorP12fetchDevices7options8listenerAA0b5FetchG9Operation_pAA0bjG7RequestV7OptionsVSg_ys6ResultOySayAA0bD0_pGAA0B5ErrorOGcSgtF) to retrieve an [AuthDevice](https://aws-amplify.github.io/amplify-ios/docs/Protocols/AuthDevice.html). Here's a

[2022-05-18 16:06] joe-netcenter commented on #1806
Thanks! I'll go and test that asap.

My main concern is that, as with the other platform SDKs, Auth.fetchDevices requires an authenticated user.

[2022-05-18 16:07] atierian commented on #1806
Re-reading your issue I see that you're asking about a cached device ID that's accessible without being logged in. This API doesn't support that. I don't believe we currently cache / persist the ID anywhere accessible without being logged in, but I'll double check and circle back to you on this.

[2022-05-18 18:37] brennanMKE opened #1809 "Revise build for dev-preview to use canImport statements and other improvements"
### Is your feature request related to a problem? Please describe.

This is an update to the build process.

### Describe the solution you'd like

N/A

### Describe alternatives you've considered

N/A

### Is the feature request related to any of the existing Amplify categories?

_No response_

### Additional context

_No response_

[2022-05-19 03:14] morisobaa commented on #1785
I am convinced. Thank you very much for your careful solution.

[2022-05-19 03:14] #1785 closed

[2022-05-19 03:25] morisobaa commented on #1784
The cause of this error is most likely not a schema update and the title of the issue needs to be changed.

It is caused by creating a PostTags model with parentChildrenId of nil.

[2022-05-19 03:36] morisobaa commented on #1784
@manyToMany does not allow adding custom fields. For example, "option" in the above schema v2.

I think the schema shown by @lawmicha works.

[2022-05-19 07:13] RoustamManookian commented on #1805
And one very weird thing !!!!!
Even when I go to Cognito Console and delete the user the user still signs in 😳🤯

[2022-05-19 14:09] lawmicha commented on #1792
Hi @shri-onecup , i can confirm with the following steps that I am able to reproduce errors related to your schema.

1. On AppSync console, send a create mutation for a Post without a Blog. The post is created successfully.
2. In the sample app, pull the data down via `Amplify.DataStore.start`, no errors and the single post should be in the local store now.
3. Perform Amplify.DataStore.query(Post.

[2022-05-19 15:19] joe-netcenter commented on #1806
We decided we'll use iOS `UserDefaults` (and sharedPrefs on Android) to store the device key locally after the user chooses to remember the device. `AWSMobileClient.DeviceOperations.get()` will get us the current device when the user is logged in, and we can retrieve this from `UserDefaults` during `CUSTOM_AUTH` sign in flow to check device remember status in the defineChallenge lambda. Should be

[2022-05-19 15:19] #1806 closed

[2022-05-19 15:27] atierian commented on #1805
Yes, that helps thanks. The version rules you have in your project point at the `main` branch of Amplify. We recommend using an actual version because the `main` branch can change at anytime. e.g. up to next major from 1.24.1
I don't believe that is responsible for what you're seeing, but you should update it anyway.

To confirm, you are using [Social Sign in with Web UI](https://docs.amplify.aws/

[2022-05-19 16:28] shri-onecup commented on #1792
@lawmicha Thanks for the update! Since, this is actually a bug with DataStore, can you please give me an estimate on when I can expect a fix. This bug is causing serious setbacks on our iOS app's production pipeline because all our other platforms (JS and Android) rely solely on DataStore.

[2022-05-19 20:22] atierian commented on #1803
Hi @alionthego, thanks for opening this.

Can you confirm that this is the issue you're experiencing?
For a schema like this:
[code]
`amplify codegen models` generates the following error: `InvalidDirectiveError: @manyToMany relation '' must be used in exactly two locations.`

The `@manyToMany(...)` directive creates a [many-to-many relationship](https://docs.amplify.aws/cli/graphql/data-modeling/

[2022-05-19 20:27] atierian commented on #1786
Thanks for opening this issue @ChadyG. We'll take a closer look at this and come back to you.

[2022-05-19 22:34] alionthego commented on #1803
Hi.  Yes, that's exactly what I'm trying to achieve.  Thanks.

[2022-05-20 02:10] RoustamManookian commented on #1805
Hi
This is my sign-in function

`func webSignIn() {
        Amplify.Auth.signInWithWebUI(for: .google, presentationAnchor: window, options: .preferPrivateSession()){result in
            switch result {
            case .success:
                print("Signed in")

                Amplify.Auth.fetchAuthSession {[weak self] result in
                    do {
                        let session = tr

[2022-05-20 14:30] #1778 closed

[2022-05-20 14:30] ameter commented on #1778
This has been fixed.

[2022-05-20 14:36] ameter opened #1812 "Create GitHub Action workflow to only allow PRs targeting release from release-kickoff job."
### Is your feature request related to a problem? Please describe.

This will improve our release process.

### Describe the solution you'd like

n/a

### Describe alternatives you've considered

n/a

### Is the feature request related to any of the existing Amplify categories?

_No response_

### Additional context

_No response_

[2022-05-20 14:38] ameter opened #1813 "Modify release-kickoff GitHub Action workflow to open a PR to push main to release."
### Is your feature request related to a problem? Please describe.

n/a

### Describe the solution you'd like

n/a

### Describe alternatives you've considered

n/a

### Is the feature request related to any of the existing Amplify categories?

_No response_

### Additional context

_No response_

[2022-05-20 17:07] atierian commented on #1775
This fix was including in [Amplify v1.25.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.25.0).
Let us know if this works for you or if you're still experiencing any issues.

[2022-05-20 17:11] atierian commented on #1802
@morisobaa you mention that you're using Amplify version 8.2.0. That's the CLI version, can you please let us know which version of Amplify iOS you're using?

[2022-05-20 17:21] royjit commented on #1805
Can you make sure that you have proper redirectURIs in your amplifyconfiguration.json:

[code]

[2022-05-20 18:33] royjit commented on #1786
Probably your userpool configuration might have the attribute `name` as required parameter. You can pass this value by:

[code]

[2022-05-20 19:59] atierian commented on #1788
You'll need to follow the steps on this [guide](https://docs.amplify.aws/start/getting-started/installation/q/integration/ios/#install-and-configure-the-amplify-cli) exactly.
Have you done that, and if so, what was the result of `amplify configure`?

[2022-05-20 20:23] brennanMKE opened #1817 "Support older versions of Swift by versioning Package.swift"
### Is your feature request related to a problem? Please describe.

Using the latest version of the Swift tools will require bumping the version which is 5.6 currently. It will cause older versions of Xcode to no longer be compatible. SPM supports versioning which is documented at the link below.

* [Version-specific Manifest Selection](https://github.com/apple/swift-package-manager/blob/main/Docu

[2022-05-20 23:36] morisobaa commented on #1802
How to see the version?

[2022-05-20 23:59] thisisabhash commented on #1802
Hello,
If you're consuming Amplify through Cocoapods, you can check the version under the General tab on the pod.
<img width="1150" alt="Screen Shot 2022-05-20 at 4 44 56 PM" src="https://user-images.githubusercontent.com/23294582/169625250-510cd4d7-8177-4ef5-a89a-e867fbe1b5a5.png">

If you're using SPM, you view the package version on the left pane in Xcode.
<img width="577" alt="Screen Shot 2022

[2022-05-21 00:20] morisobaa commented on #1802
Now it is 1.22.3.

[2022-05-21 03:13] RoustamManookian commented on #1805
this is the whole Auth object

` "Auth": {
                    "Default": {
                        "OAuth": {
                            "WebDomain": "scs-dev.auth.us-east-2.amazoncognito.com",
                            "AppClientId": "3rforb930ik0f6ttdr4n8d0b2h",
                            "SignInRedirectURI": "scs://callback/",
                            "SignOutRedirectURI": "scs://signou

[2022-05-21 05:33] RoustamManookian commented on #1805
Hi

After a long videochat with AWS support center, we found what was the problem !!!

Because I pulled the amplify configurations from the amplify pull command I didn't pass all the steps.
I didn't make the changes that had to do in plist file

I added this in plist file and everything is working now !!!
`
 <key>CFBundleURLTypes</key>
         <array>
             <dict>
                 <key>CFB

[2022-05-21 12:09] RoustamManookian commented on #1646
I just created an API that triggers a lambda function which makes the attachPolicy() in JavaScript

[2022-05-21 12:13] RoustamManookian commented on #1646
`
exports.handler = async(event,context)=>{

    var json_body = JSON.stringify(event);
    console.log("JSON.event : ", json_body);

    var response = {};

    var identity_id = "";
    var userName = "";

    if(event.queryStringParameters != null){
        if (event.queryStringParameters.hasOwnProperty("identity_id")){
            identity_id = event.queryStringParameters.identity_id;

[2022-05-22 19:24] joninsky opened #1822 "Unable to query JWT right after user login using async / await and SwiftUI"
### Describe the bug

When I try and obtain JWT credentials immediately after login I get an error. Here is some code that can reproduce the issue.

[code]

Here is some toned down SwiftUI code that Calls this.

[code]

### Steps To Reproduce

When this code is run in a project the
[code]
Line always fails with the error output described in the "Relevant log output" section below.

### Expected be

[2022-05-22 19:32] joninsky commented on #1822
Note that if I sleep the thread like this:

[code]

I don't get the error. This is a hack though and I don't want to rely on it.

[2022-05-23 15:00] #1786 closed

[2022-05-23 18:05] #1805 closed

[2022-05-23 21:21] atierian commented on #1822
Thanks for opening this issue @joninsky.
In the code snippet sample, the binding for the password `TextField` should be `$password`, correct?
[code]
I presume that was just a typo in the issue, because it wouldn't cause the behavior you saw. I just want to make sure.

I was unfortunately not able to reproduce this issue with the example and information you provided. You mentioned that `authCoordin

[2022-05-24 05:54] joninsky commented on #1822
Moving the `@MainActor` attribute resulted in more compile time errors about mutating that value from other threads. Yeah, the password was a typo. The error happens every time. I found a [related issue.](https://github.com/aws-amplify/amplify-ios/issues/1254)

[2022-05-24 10:50] atierian commented on #1822
Thanks for the follow up. Were you able to run with Thread Sanitizer turned on and was there any output? I'll spend some more time trying to reproduce it, but the TSan output from your case could be helpful.

[2022-05-24 21:04] thisisabhash commented on #1802
Hey @morisobaa, I have merged in a fix for this issue and will update here when we make a release. Thanks.

[2022-05-25 02:20] brennanMKE opened #1829 "Implement get current user in Auth"
### Is your feature request related to a problem? Please describe.

dev-preview

### Describe the solution you'd like

dev-preview

### Describe alternatives you've considered

dev-preview

### Is the feature request related to any of the existing Amplify categories?

Auth

### Additional context

_No response_

[2022-05-26 17:54] m98 commented on #1353
I also can't understand why there is no way in the `DataStore` to force the sync or even disable the local storage (I mean something like `offlineSync:false`!

In my experience, when I use the `DataStore`, sometimes it syncs, and sometimes it does not! It's not predictable! Typically, it should sync the data if you are online. But in my experience,  I was online, and it usually does not sync and I

[2022-05-26 17:56] shri-onecup commented on #1792
@lawmicha can you please provide an update? We are really stalled on our timeline to launch the app into production. It is especially troublesome because I am forced to use GraphQL for now while both our other platforms are using DataStore, because of which we are facing issues with offline use, and updates to existing entries.

[2022-05-26 19:33] lawmicha opened #1831 "Flaky MutationEventExtensionsTest test"
Summarizing some findings on this, so `MutationEventExtensionsTest` test code tries to set up the state of test using `setUpPendingMutationQueue` by using a for-loop and saving to storage adapter. A for-loop without waiting for each save result is used to mimic "consecutive saves" scenario. The ordering of saves are performed in order of Save 1, 2, and 3, without waiting for the result of each sav

[2022-05-26 19:35] lawmicha commented on #1831
so odd, the data retrieve during set up has `inProcess: false` but nothing is modifying that flag (created with `inProcess: true`)
[code]
unless there's another process that's picking it up

[2022-05-27 10:51] atierian commented on #1802
Thanks again for bringing this to our attention @morisobaa!
This fix was including in [Amplify 1.26.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.26.0).

[2022-05-27 10:51] #1802 closed

[2022-05-27 13:15] atierian commented on #1781
### Failures per test in the last 11 runs
| Test | Failures |
|---|---|
| analytics-integration-test | 8 |
| api-integration-test | 1 |
| auth-integration-test | 2 |
| datastore-integration-test | 4 |
| geo-integration-test | 0 |
| predictions-integration-test | 1 |
| storage-integration-test | 4 |
| api-graphqliam-integration-test | 2 |
| api-graphqluserpool-integration-test | 5 |
| api-restiam-i

[2022-05-27 13:17] #1775 closed

[2022-05-27 13:18] sagarjoshi commented on #1775
It works ! Thanks a lot 🙏🏽

[2022-05-27 13:26] atierian commented on #1738
Thanks for opening this feature request @fjnoyp. We'll update here with any developments.

[2022-05-27 13:29] #1735 closed

[2022-05-27 13:31] #1734 closed

[2022-05-27 14:13] atierian commented on #1657
Thanks for opening this issue @carl0sLOL.
We've updated the documentation here https://github.com/aws-amplify/docs/pull/4339.
We're also tracking the underlying issue here https://github.com/aws-amplify/amplify-ios/issues/1541.

[2022-05-27 14:26] atierian commented on #1657
Closing this issue in favor of #1541 to track the underlying issue.
Documentation issue addressed as noted above.

[2022-05-27 14:26] #1657 closed

[2022-05-27 15:14] atierian commented on #1428
Hey @anatomybook  we've including [significant performance improvements](https://github.com/aws-amplify/amplify-ios/pull/1760) for date decoding / formatting in [Amplify 1.26.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.26.0) released yesterday.

We are still exploring other areas in which we can improve sync performance.

[2022-05-27 15:57] royjit commented on #1783
Can you please verify a few things:
- The appclientID and PoolID are the same and configured for Custom Auth
- amplifyconfiguration.json has `CUSTOM_AUTH` as authenticationFlowType

Example of configuration:

[code]

[2022-05-27 16:02] #1492 closed

[2022-05-27 17:28] #1788 closed

[2022-05-27 18:32] phantumcode commented on #1781
Analytics integration tests updated and passing.

[2022-05-27 18:37] atierian commented on #1383
To follow up, you can find example code in the sample project.
https://github.com/aws-amplify/amplify-ios-samples

[2022-05-27 18:37] #1383 closed

[2022-05-27 18:54] lawmicha commented on #1784
I believe there is some limitations working with optional fields as you've seen. In iOS code, it should work by treating optional fields as required fields, or better yet to update the schema to make the optional fields required so that the code generated types have required fields for you to write app code against.

In regards to adding custom fields to the many-to-many model, i think you'll get

[2022-05-27 18:59] lawmicha commented on #1113
Should this be converted to discussion?

[2022-05-27 18:59] royjit commented on #1193
Does this [PR](https://github.com/aws-amplify/amplify-ios/pull/1689) fixes the issue? You can try the latest amplify-ios version.

[2022-05-27 19:05] brennanMKE commented on #527
Please see #1584 and upvote the feature request there. We will use it to prioritize feature development.

[2022-05-27 19:05] #527 closed

[2022-05-27 19:07] lawmicha commented on #176
please track https://github.com/aws-amplify/amplify-ios/issues/1707#issuecomment-1079413894 - closing as duplicate now

[2022-05-27 19:07] #176 closed

[2022-05-27 19:10] lawmicha commented on #1718
change has been merged and released

[2022-05-27 19:10] #1718 closed

[2022-05-27 19:21] lawmicha commented on #1458
Recently we released a change in how the cascade behavior works, by deleting the children to parent models (previously we would delete the parent to children models), see https://github.com/aws-amplify/amplify-ios/pull/1731 for more details. I believe doing so will avoid orphaning children models, thus sync to an empty local should always have the required items. There is an edge case where there

[2022-05-27 19:21] #1458 closed

[2022-05-27 19:22] lawmicha commented on #1419
please track this issue for the same resolution https://github.com/aws-amplify/amplify-ios/issues/1443

[2022-05-27 19:22] #1419 closed

[2022-05-27 19:36] #1809 closed

[2022-05-27 20:09] brennanMKE commented on #1584
There are multiple scenarios to cover. These are listed below.

1. Loading a Amplify configuration so it is specific to a region
2. Changing the configuration at build time
3. Changing the configuration after the app has been launched and configured

## Scenario 1

By default when Amplify is configured it will load `amplifyconfiguration.json` from the main bundle of the app. It is possible to use

[2022-05-27 21:39] #1113 closed

[2022-05-28 21:13] zstickel opened #1837 "recommend data models implement the Identifiable protocol by default. They already conform to the protocol through the id parameter - I find myself adding Identifiable protocol and then I have to re-add it if I pull from AWS after updating a deployment. Feedback Request: How would you improve Amplify Library for iOS?"
### Discussed in https://github.com/aws-amplify/amplify-ios/discussions/1097

<div type='discussions-op-text'>

<sup>Originally posted by **hdworld11** March  2, 2021</sup>
Please comment on this issue to let us know how you would improve Amplify Library for iOS.

We are looking forward to hearing from you so we can better address your needs!</div>

[2022-05-28 21:18] #1837 closed

[2022-05-28 21:48] sagarjoshi opened #1838 "In a multipart upload using Amplify.Storage.uploadFile, pre-signed URLs for each part should have 50 minute expiration from the time that each part is created instead of the time from which the first part is created"
### Is your feature request related to a problem? Please describe.

I am hoping that this is a smaller fix than re-thinking the entire approach ( https://github.com/aws-amplify/amplify-ios/discussions/1740 )  which includes this idea + background uploads. Some of my users with poor upload bandwidth are running into timeout issues for large files.

### Describe the solution you'd like

in the title

[2022-05-28 21:51] sagarjoshi commented on #1838
@brennanMKE  FYI

[2022-05-29 04:34] sagarjoshi commented on #1838
Also , I am assuming that all the parts are not created at once. If they are then feel free to redo the bug.

[2022-05-30 08:48] nyeu commented on #339
I am facing the same issue where it only happens randomly to certain users. I haven't had it myself so hard to debug it but do we have a workaround? If it works for most users, doesn't seem to be a configuration issue I think.

[2022-05-30 10:34] agnieszkazimmer opened #1839 "DataStore does not recover after extended background time"
### Describe the bug

We have a working Amplify application that uses DataStore. DataStore is working as expected under normal conditions.

If the app is placed into the background for some period of time (5 minutes is enough), DataStore reconnection is not successful and the app must be restarted to reconnect again.

### Steps To Reproduce

[code]

### Expected behavior

We expect the connection

[2022-05-31 04:11] JJANGSOON commented on #1027
Hello. We have same issue. How did you resolve this problem?

[2022-05-31 04:37] JJANGSOON commented on #1121
Any updates?

[2022-05-31 15:01] ruisebas commented on #1839
Thanks for opening this, @agnieszkazimmer. We will take a look and get back to you.

[2022-06-01 02:09] bjg2327 opened #1841 "automatically generated code is diffrent from API, AppSync and DataStore"
### Describe the bug

I have generated a model named EventNews.
But I'm getting an error in getList.
There is no problem with AWS AppSync Console and DataStore.

an error

This problem seems to be due to the naming process

listEventNews**s**

[code]

[code]

[code]

### Steps To Reproduce

[code]

### Expected behavior

Getting the list successfully

### Amplify Framework Version

1.26.0

### Amp

[2022-06-01 08:34] staticVoidMan commented on #1542
Same issue. Upload is slow. !

Actual Example (~1mb file took ~39seconds):

[code]

[2022-06-02 05:05] lawmicha commented on #1792
Hi @shri-onecup, sorry for the delays, the branch for this fix is located at `fix/optional-associations` please give it a try and let us know if you are seeing any issues. The PR is currently in draft as I work through more testing: https://github.com/aws-amplify/amplify-ios/pull/1849

The following use cases i've tested:
- save a post and query for it
- save a blog and query for it
- save a post,

[2022-06-02 10:59] bhaveshlsamcom opened #1851 "I want to amplify to recognize the user as logged in authentically and give us STS credentials. Then want to access the resources using Amplify SDK"
### Discussed in https://github.com/aws-amplify/amplify-ios/discussions/1850

<div type='discussions-op-text'>

<sup>Originally posted by **bhaveshlsamcom** June  2, 2022</sup>

Hello Folks,

In iOS, We are trying to get the user logged in and give us STS credentials using the authentication way.

So, for that
-> First do the login with Facebook it gives the token.
-> And we created the login API

[2022-06-02 15:39] royjit commented on #1851
@bhaveshlsamcom thanks for reaching out. You are trying to use aws-sdk-ios Cognito SDK along with amplify-ios library and expect to get a signed in session. This is not a supported flow, you could simply do this in your code:

[code]

[2022-06-02 16:00] staticVoidMan commented on #1542
@atierian Hey! thanks for reverting.
We are using Amplify via SPM, and the version we are at is `1.25.0`.

As for the `amplifyconfiguration.json`, the `region` is `us-west-2` but we would be located `us-east`.
I first did doubt the region but our Android counterpart team is using the same `us-west-2` but not facing any upload speed issues.

[2022-06-02 21:27] maxfalc commented on #1851
hi @royjit

Thanks for your reply.  I am in touch with @bhaveshlsamcom and I want to help to better describe the problem.
In order to use the native login (apple and facebook sdk) without using the hosted UI we have implemented some lambdas which, when the apple or facebook token is received, creates a cognito user, login the user with a custom AUTH flow and send back the id cognito token to the a

[2022-06-03 17:11] lawmicha commented on #1784
For associations which are optional, we've got a change here to address the issue https://github.com/aws-amplify/amplify-ios/pull/1849 please track that for the release or if you have a schema with optional associations you can try the fix out from `fix/optional-associations` . Let us know if you have more questions and feel free to open a new issue with your latest schema and any issues you are s

[2022-06-03 17:11] #1784 closed

[2022-06-03 17:20] lawmicha commented on #1841
Hi @bjg2327, could you provide us with the contents of your `amplify/cli.json` file from the amplify cli project? specifically `improvepluralization`, `useexperimentalpipelinedtransformer`, and `transformerversion`.
[code]

There seems to be some regression happening, which i was able to reproduce here https://github.com/aws-amplify/amplify-ios/issues/1707#issuecomment-1079413894

[2022-06-03 17:31] ruisebas commented on #1444
Thanks for opening this feature request. We'll evaluate it and respond to this issue with any updates.

[2022-06-03 17:39] brennanMKE commented on #1838
The way the SDK works has been this way for many years. The new Swift SDK will create the pre-signed URL just as the upload for a part is about to start, so it has the behavior that would handle the timeout better. If you'd like this update in the SDK please create a feature request. We are working on the Dev Preview for the new Amplify GA release which you may find will include many improvements

[2022-06-03 17:41] brennanMKE commented on #1838
@sagarjoshi Also check out the discussion below. WWDC starts Monday and I will try to get a lab session to discuss this issue.

https://github.com/aws-amplify/amplify-ios/discussions/1740

[2022-06-03 18:14] royjit commented on #1717
Are these issue related - https://github.com/aws-amplify/amplify-ios/issues/1718 ? I see that 1718 is fixed, can we retest and see if we are seeing the issue here?

[2022-06-03 18:19] royjit commented on #760
Closing this issue since we are changing this in Android - https://github.com/aws-amplify/amplify-android/issues/686

[2022-06-03 18:19] #760 closed

[2022-06-03 18:31] atierian commented on #1493
Closing this as a duplicate in favor of https://github.com/aws-amplify/amplify-ios/issues/1822.
Please follow along and post any updates you have there. Could you please run this with the thread sanitizer enabled and post any relevant logs. Thanks.

[2022-06-03 18:31] #1493 closed

[2022-06-03 18:36] lawmicha commented on #1717
I believe so, the SyncToCloudOperation uses the same retry policy, which was updated in https://github.com/aws-amplify/amplify-ios/pull/1791 so the first failed mutation should now be classified as a retryable network error. we shoud retest the scenario on a physical device to verify

[2022-06-03 20:25] royjit commented on #1851
iOS Amplify implementation rely on the underlying AWSMobileClient, so making changes in the AWSCredentialsProvider will not affect the AWSMobileClient internal state. I do not think you can do the same in amplify-iOS, but I could see a workaround like this:

1. Do your flow of FB/Apple SDK signIn and use lambda to create Cognito User.
2. Use Amplify.Auth.SignIn with custom auth to signIn the user

[2022-06-03 23:18] bjg2327 commented on #1841
Hi @lawmicha
Code Here
[code]

Thank you for answering

[2022-06-04 00:11] shri-onecup commented on #1792
Hi @lawmicha, I just got a chance to do some quick tests and it seems like the fix is working perfectly on my end. Thanks for it. Any ideas on when it might be released officially?

[2022-06-04 21:42] maxfalc commented on #1851
Thanks @royjit

But if iOS Amplify implementation relies on the underlying AWSMobileClient.
Can't we use  AWSMobileClient.sharedInstance().federatedSignIn to login the user with the token obtained from step 1?
Our lambda after a user is created send back a cognito pool id token, which we have verified to be correct.

Because of this we tried to use the below to sign the user:

AWSMobileClient.shar

[2022-06-04 23:27] anatomybook commented on #1448
Hi @lawmicha , thanks for your response. Sorry for not looking into this earlier, but my little side-project here was on hold. I'll be sure to check within the next couple of days. Thanks!

[2022-06-04 23:30] anatomybook commented on #1428
Thank you very much!!

[2022-06-04 23:30] #1428 closed

[2022-06-05 07:01] anatomybook opened #1864 "DataStore doesn't emit `ready` event."
### Describe the bug

Essentially, I'd like to reopen https://github.com/aws-amplify/amplify-ios/issues/1302. Everything is described there.

I can reproduce that the `ready` event doesn't get emitted unless I re-introduce my old hack, that I published [here](https://github.com/aws-amplify/amplify-ios/issues/1302#issuecomment-906404001).

### Steps To Reproduce

[code]

### Expected behavior

I ex

[2022-06-05 07:40] anatomybook opened #1865 "Initial sync may deadlock"
### Describe the bug

When running the initial sync, the app can deadlock. Interestingly enough, I'm currently only seeing this, when putting breakpoints in certain positions. I believe, however, that if it can be triggered with the debugger, it can also happen without.

### Steps To Reproduce

[code]

### Expected behavior

I expect the App to never freeze.

### Amplify Framework Version

1.26.1

[2022-06-06 08:05] agnieszkazimmer commented on #1839
Hi @ruisebas. Thank you for taking care of this case. Do you have any updates on how to solve it?

[2022-06-06 11:57] atierian commented on #1865
Thanks for opening this @anatomybook.
Could you please post the stack trace in text form? You can copy and paste it from the Debug Navigator where you took those screenshots. Thanks!

[2022-06-06 12:05] atierian opened #1866 "Test issue"
### Describe the bug

Testing `cleanup_labels_issue_close` action

### Steps To Reproduce

[code]

### Expected behavior

N/A

### Amplify Framework Version

N/A

### Amplify Categories

Analytics

### Dependency manager

Swift PM

### Swift version

N/A

### CLI version

N/A

### Xcode version

N/A

### Relevant log output

_No response_

### Is this a regression?

No

### Regression additional c

[2022-06-06 13:06] #1866 closed

[2022-06-06 18:20] chrisbonifacio commented on #1717
@HuiSF could you try this again on with the latest code and let us know if the issue persists?

[2022-06-06 18:32] undefobj commented on #1675
Adding to the backlog as a P2. Please connect with PMs for priority.

[2022-06-06 18:40] svidgen commented on #1789
Looks related: https://github.com/aws-amplify/amplify-js/issues/5179

[2022-06-06 18:43] undefobj commented on #1467
@lawmicha Not sure I understand this issue on a couple fronts. First, why are we using Cognito with OIDC settings? The standard Cognito User Pools auth does this behind the scenes anyway. Secondly, what is the purpose of the code which @dnys1 is referencing? We should be sending JWT tokens through to AppSync in the Authorization header unmodified so that AuthZ at the API level can take place follo

[2022-06-06 18:57] undefobj commented on #1555
This is being tracked internally across platforms for standardized error handling and not swallowing service errors that conflict with the clients. @HuiSF please connect with PMs and SDMs on this to align with the spec.

[2022-06-06 21:50] anatomybook commented on #1839
I'm seeing the same problem. After about 5 minutes, DataStore appears dead.

[2022-06-06 22:50] anatomybook commented on #1839
The only in-app fix, i.e. without outside restart, that I found, is to call DataStore.clear and trigger sync from scratch. That seems to do the trick but is hardly a solution.
I believe that earlier DataStore versions didn't exhibit this behaviour.

[2022-06-07 00:34] achager opened #1870 "Deprecated SFAuthenticationError usage preventing uploads to App Store Connect"
### Describe the bug

The `AuthErrorHelper` struct and `AWSMobileClient` within Amplify appear to be using `SFAuthenticationError` that was [deprecated](https://developer.apple.com/documentation/safariservices/sfauthenticationerrordomain) in iOS 12. When uploading an application that uses the `AWSCognitoAuthPlugin` and `Amplify` dependencies to App Store Connect, the upload now fails with an error

[2022-06-07 01:21] ameter commented on #1870
Thanks for reporting this.  We will investigate and provide updates here.

[2022-06-07 01:31] ethan021021 commented on #1839
+1 on this issue

[2022-06-07 02:54] atierian commented on #1870
I was able to reproduce the issue you're experiencing.

For some context:
`SFAuthenticationError` was deprecated in iOS 12. Its replacement `ASWebAuthenticationSessionError` was introduced in iOS 12. We cannot just remove `SFAuthenticationError` because Amplify supports back to iOS 11. I've tried uploading with the usage of `SFAuthenticationError` gated behind runtime `if #available` checks, but e

[2022-06-07 04:05] atierian commented on #1870
Adding some more findings here.
- Removing this [usage](https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Support/Utils/AuthErrorHelper.swift#L182-L185) of `SFAuthenticationError` allows builds to upload successfully.
- [`AWSCognitoAuth`](https://github.com/aws-amplify/aws-sdk-ios/blob/main/AWSCognitoAuth/AWSCognitoAuth.m#L331-L339) in the AWS SDK iOS wi

[2022-06-07 07:48] aspearman commented on #1124
To clarify: do SwiftUI macOS apps work and AppKit or Catalyst apps not work? Or is it anything targeting macOS that fails to build regardless of the framework/tool?

[2022-06-07 08:06] KyleXie commented on #1822
Hello, I got the same error here, not only after login, it also happens after sign up. The `fetchAuthSession ` after login/signup just fails, unless I sleep the thread a little while.

[2022-06-07 09:56] albemala opened #1873 "SQLite dependency resolution fails"
### Describe the bug

I'm having a problem with the updated SQLite dependency.

My project depends on
pod 'Amplify', '1.19.1'
pod 'AWSAppSync', '3.6.1'

If I try to upgrade Amplify to a version higher than 1.22.2, I get the following error

[!] CocoaPods could not find compatible versions for pod "SQLite.swift":
  In snapshot (Podfile.lock):
    SQLite.swift (= 0.12.2, ~> 0.12.2)

  In Podfile:

[2022-06-07 12:29] achager commented on #1870
@atierian I confirmed this morning I was able to successfully upload without error or invalid binary rejection.

[2022-06-07 13:18] atierian commented on #1873
Thanks for opening this issue @albemala.
Adding some findings:

### Repro Steps
1. Add these pods to Podfile.
[code]
2. run `pod install`

#### Results in:
[code]
(The same error occurs when installing pods without an explicit version)

### Additional Information

The issue exists with Cocoapods because of the discrepancy in the respective `Podfile.lock`
[[AWS AppSync SDK for iOS](https://github.c

[2022-06-07 17:46] ethan021021 opened #1874 "Xcode 14 fails to compile using SwiftUI Previews"
### Describe the bug

Using the newest Xcode 14 beta my app that uses Amplify (via SPM) will not compile using SwiftUI Preview's. Understandably it's in beta but I wanted to make sure I report this issue early on.

### Steps To Reproduce

[code]

### Expected behavior

SwiftUI Preview should compile/run

### Amplify Framework Version

1.26.1

### Amplify Categories

Analytics, API, Auth, DataStore

[2022-06-07 19:14] ameter commented on #1874
Thanks for reporting this.  Per our discussion on Discord, the betas are not supported, but we want to make sure we're aware of any issues to ensure they're resolved before release.

[2022-06-08 01:27] SwiftNativeDeveloper opened #1925 "Feature Request: Expose URLResponse in success case of REST APIs"
**Which AWS Services is the feature request for?**

API

**Is your feature request related to a problem? Please describe.**
I cannot inspect response headers or status code if the response code is [200..300)--the API signature only returns Result<Data, Error>.

**Describe the solution you'd like**
I would like to be able to inspect the URLResponse object returned by the system so I can grab data c

[2022-06-08 03:58] royjit commented on #1851
That should work, you will get authenticated credentials. Can you try adding with providername as: `cognito-idp.<region>.amazonaws.com/<YOUR_USER_POOL_ID>`, for example, `cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789`  reference - https://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_GetId.html#API_GetId_RequestSyntax .

You can get the underlying AWSMobileClient as shown h

[2022-06-08 06:41] gongzhang commented on #1874
@ethan021021 I'm having the same problem here. However, I'm not quite sure if this error message is accurate. Have you tried to perform Generate Report command in the diagnostics window?

[2022-06-08 12:10] KyleXie commented on #1822
Not sure if this helps, but in our case, this issue happens when we use the wrong `user pool id` and `app client id` on the identity pool. After we correct those configurations from the `Federated Identities`, everything works fine.
<img width="972" alt="image" src="https://user-images.githubusercontent.com/2870241/172612569-b94f049e-22d4-48df-8551-bbab79548ed7.png">

[2022-06-08 15:28] lawmicha commented on #1651
Hi @alionthego, please see above questions and let us know in a new issue with more info if you are still looking to achieve your query use case

[2022-06-08 15:28] #1651 closed

[2022-06-08 15:31] lawmicha commented on #1467
Hi @undefobj, I recall this was testing different use cases that developers could be using, and one of them being using Cognito as the OIDC provider, i'll have to defer to @dnys1 to follow up on this

[2022-06-08 15:37] lawmicha commented on #1456
Hi @Masami96 please see @thisisabhash's recommendations such as clearing DataStore's local store after user has logged out. Let us know if you have other questions

[2022-06-08 15:37] #1456 closed

[2022-06-08 15:38] #1353 closed, assigned to nobody

[2022-06-08 15:59] lawmicha commented on #1789
I believe the implementation lives in the translation from the prediate to GraphQL input, we need to map the equal operation to `attributeExists : false` when the value is `null`

[2022-06-08 17:25] albemala commented on #1873
Thank you @atierian for looking into this

[2022-06-08 17:54] anatomybook commented on #1523
@lawmicha , any hint is appreciated. Thank you!

[2022-06-08 22:24] ethan021021 opened #1881 "Datastore produces old/duplicate records when running app on multiple devices"
### Describe the bug

When running my app on 3 different devices mutations to a record on device 1 and 2 don't seem to sync correctly to device 3.

Scenario:

App is open on device 1 and 2 while the app is force closed on device 3. I then create a record on device 2 and then delete it shortly after. When opening the force closed app on device 3 the deleted record from device 2 is appearing in devi

[2022-06-08 22:42] ethan021021 commented on #1881
I should also note after reproducing this issue and checking my DynamoDB tables all records are correctly deleted on my model table.

[2022-06-08 22:57] ethan021021 commented on #1881
I've also realized that if I run `dataStore.clear()` and then `dataStore.start()` device 3 is back "in sync"

[2022-06-08 23:21] diegocstn opened #1882 "DataStore observeQuery flaky test"
### Describe the bug

AWSDataStorePluginSubscribeBehaviorTests::testObserveQueryResetAfterDataStoreStop intermittently fails with
`uncaught exception 'NSInternalInconsistencyException', reason: 'Must be called on the main thread'
terminating with uncaught exception of type NSException`.
The exception seems to be generating in [`ObserveQuerySubscription` at line 57 ](https://github.com/aws-amplify/

[2022-06-08 23:39] diegocstn commented on #1882
[code]

[code]

[2022-06-10 03:44] bhaveshlsamcom commented on #1851
Thank you @royjit and @maxfalc
Issue is resolved now.

[2022-06-10 03:45] #1851 closed

[2022-06-10 10:12] chintan1891 commented on #1762
@harsh62  any update on this?

[2022-06-10 17:20] #1813 closed

[2022-06-10 17:21] #1812 closed

[2022-06-10 20:26] shri-onecup opened #1890 "List all available options from codegenerated Enum of type EnumPersistable"
### Describe the bug

I am not able to list or iterate through all available options inside of a codegenerated enum. On Android, I am able to do enumName.values() but I couldn't find anything similar on iOS.

If there's a way to get all values inside an enum as a list without hardcoding each value, please let me know. Our schema has quite a few enums so I want to avoid hardcoding everything.

I am

[2022-06-10 21:16] thisisabhash commented on #1717
I tested this scenario in [v1.26.1](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.26.1) and all 3 models were syncing well. I was not able to reproduce it.

[2022-06-10 22:34] sagarjoshi commented on #1838
sorry, somehow I missed this. I thought https://github.com/aws-amplify/amplify-ios/issues/1838 was the feature request.

Also please let us know the result of the discussion for https://github.com/aws-amplify/amplify-ios/discussions/1740

[2022-06-10 23:49] diegocstn commented on #1803
Hi @alionthego,
that's unfortunately a limitation in the current version of the CLI/Codegen. You can track the feature request we've opened here https://github.com/aws-amplify/amplify-cli/issues/10074

[2022-06-11 22:17] anatomybook commented on #1839
I just took some time to compare the verbose traces of one live-version of DataStore with one that has been sitting for > 5 minutes.
Some observations:
1. Live-version contains calls to `OutgoingMutationQueue`, dead-version doesn't
2. Live-version contains calls to `StateMachine<State, Action>`, dead-version doesn't
3. The last message, both versions have in common is `save(mutationEvent:storageAd

[2022-06-11 22:53] anatomybook commented on #1839
Another quick info: I just scanned through some older versions and checked which one still works for me.
1.21.0 still works
1.24.1 doesn't

[2022-06-12 16:14] afern247 commented on #1619
@ruisebas sorry for the delayed respose, lots of things happening. First, thank you very much for the detailed response. I followed everything and looks good, I have two questions:

1. If I add to the `amplifyconfiguration.json` that pinpointappid, and I do `amplify push` it says there are no changes to push, however, if I do after that `amplify pull`, the change regarding the pinpointappid gets o

[2022-06-13 14:19] lawmicha commented on #1729
Hi @afern247 @nyeu, thanks for opening this issue. Can you clarify the schema upgrade scenarios and the dependencies you are using on the iOS client? If through DataStore and the codegen process, existing clients won't be aware of the new model until `amplify codegen models` is ran against the updated backend. Updated clients (after running `amplify codegen models`, and released, will start syncin

[2022-06-13 15:18] lawmicha opened #1894 "Update DataStore Auth Integration Tests to use V2 Transformer"
### Describe the bug

Upgrade the schema to use V2 Transform for the tests located in the DataStoreAuthIntegration tests.

These tests were written for V1 Transformer and will not work with V2 Transformer. In V2 Transform, the operations defined on the auth rule indicate which operations are allowed and omitted operations are denied by default. The behavior difference causes the subscription opera

[2022-06-13 15:32] agnieszkazimmer commented on #1839
Thanks @anatomybook for your input.
Current version does not keep basic promise of syncing to the cloud.
The only solution for now is to change to the older version..
@chrisbonifacio, @ruisebas is there any update when it can be fixed?

[2022-06-13 18:20] anatomybook commented on #1839
Hello @lawmicha ,

regarding the engine coming to life when queried was also my understanding. However, for me it remained dead. The only thing that did revive it for me was to clear and start from scratch.

[2022-06-14 15:11] jdulb17 opened #1900 ""Unable to find suitable Auth plugin for syncEngine. Models require auth""
### Describe the bug

Hi all,

I followed the "_Getting Started_" guide for integrating Amplify with iOS; however, I've encountered an issue with the section around connecting to the cloud. Specifically, on the "_Connect to the cloud_" page and under the "_Enable cloud syncing_" section, it mentions that configuring the app to use Amplify API should allow your application data to be synced to the

[2022-06-14 18:21] dnys1 commented on #1467
Hi guys - yeah, sorry for the lack of context to this ticket. I had to rack my brain to remember why this was needed, but it came up again today with another user who wanted to use a custom Cognito claim for the identity claim. User Pool authorization will send the Cognito access token, which does not include these claims. By switching to OIDC, you can send the ID token, but because of the logic n

[2022-06-14 18:40] lawmicha opened #1903 "DataStore ReconcileAndLocalSaveOperationTests fails on Xcode 13.4.1"
### Describe the bug

The following unit tests are failing in the test class ReconcileAndLocalSaveOperationTests
- testApplyRemoteModels_saveFail
- testApplyRemoteModels_deleteFail
- testApplyRemoteModels_saveMetadataFail

### Steps To Reproduce

[code]
The relevant code in ReconcileAndLocalSaveOperation
[code]

It appears the Publisher.MergeMany(publishers).collect() is returning a completion eve

[2022-06-14 19:57] lawmicha commented on #1467
@undefobj  the reason why the library has this code is for DataStore when establishing subscriptions, it will do two things- add the token to the request header and extract the identityClaim value from the token and add it as the owner input to the subscription operation.

@dnys1 I think you might have mentioned it back then when we originally discussed this, i thinnk the fix should be something l

[2022-06-14 23:48] jdulb17 commented on #1900
Hi all,

My apologies - it looks like my issue stemmed from clicking into the "API (GraphQL)I" section on the "Next steps" page and running `amplify add api`.  I created a net-new project and was able to get things to sync correctly. Thanks & sorry again!

I will close this now

[2022-06-14 23:48] #1900 closed

[2022-06-15 15:55] lawmicha commented on #1839
I have PR https://github.com/aws-amplify/amplify-ios/pull/1901 out for this under the branch `fix/datastore-defer-restart`, please give it a try if you can. The proposed fix is to stop the storage engine and sync engine whenever it receives a terminal completion event from the storage engine, the completion event from the storage engine is often sent for non-retryable errors which is most of them

[2022-06-15 16:40] atierian commented on #1865
Thanks for this thorough report @anatomybook, it's very helpful. We'll update here with any news.

[2022-06-15 17:47] hellensoloviy opened #1907 ""An unknown error occurred" when trying to get tokens"
### Describe the bug

I can't get tokens at all using Amplify.Auth.
It is all working good and returns tokens with the AWSMobileClient, but not with the Amplify.Auth.

Here is what I'm getting:

[code]

### Steps To Reproduce

[code]

### Expected behavior

It is expected to receive tokens that can be used. As in the documentation.

### Amplify Framework Version

1.26.1

### Amplify Categories

Au

[2022-06-15 18:24] #1787 closed

[2022-06-15 20:59] atierian commented on #1890
You're absolutely right, sorry about that mixup.
Here's a quick and dirty script that you can run from the project root directory after running `amplify codegen models`. It will look for any enum models in your `amplify/generated/models/` directory and add `CaseIterable` conformance in that file.

[code]

I hope that helps.

[2022-06-16 14:29] JyotsnaPiOSDEV opened #1917 "Refresh/Access token ios"
We have reviewed the doc. Mobile sdk for ios have auto refresh supported. But I am  facing issue on auto refresh

SDK Version.
AWSMobileClient 2.26.6'

1. Before Api call
I have done manually
[code]

if token expired  I am getting delay in this manual process
2. calling get token on 401 and retrying request and its working .This is again manual way
[code]
Is any way to get new access token from au

[2022-06-16 21:25] sagarjoshi commented on #1838
@brennanMKE

[2022-06-16 21:45] thisisabhash commented on #1907
Hello, Thank you for posting this issue.
Could you please add detailed reproduction steps, `amplifyconfiguration.json` (sensitive information redacted) and  relevant logs (sensitive information redacted) that can help reproduce the issue?

[2022-06-17 15:25] ameter opened #1921 "Fix release merge action"
It is currently failing due to a permissions issue.

[2022-06-17 15:33] ameter commented on #1921
https://github.com/aws-amplify/amplify-ios/runs/6838754738?check_suite_focus=true

[2022-06-17 16:23] shri-onecup commented on #1792
@lawmicha I think `ObserveQuery` is still facing this problem. The initial sync runs fine. But when fetching a real-time change from cloud, I get this error and the subscriptions just stop and don't start again even when cancelled and subscribed to again via another observeQuery.
`[IncomingAsyncSubscriptionEventToAnyModelMapper] The operation couldn’t be completed. (Amplify.GraphQLResponseError<AW

[2022-06-17 18:01] lawmicha opened #1924 "Explore using Xcode Test Plans"
suggestion: Maybe we can have a section like < SelectedTests > for upcoming PRs which will only include the tests corresponding to one scheme, which can help making number of files less in a PR
https://stackoverflow.com/a/63879084

_Originally posted by @thisisabhash in https://github.com/aws-amplify/amplify-ios/pull/1868#discussion_r899532287_

[2022-06-17 18:03] lawmicha commented on #1924
Currently it's a hassle when adding a new test, we have to disable it from all other schemas except for the schema we want it in (be that a new or existing schema). Explore using Xcode Test Plans extend it to all plugins if it makes testing easier during development.

[2022-06-17 18:18] thisisabhash commented on #1925
Hello,
You can inspect response headers or status codes like mentioned here in our docs:
https://docs.amplify.aws/lib/restapi/fetch/q/platform/ios/#handling-non-2xx-http-responses

[2022-06-17 20:08] harsh62 commented on #1762
Hey @chintan1891 sorry for the late reply. From what I can observe is that you are using a semaphore, can you share the entire context of the usage and also try without using semaphore.

[2022-06-17 20:39] harsh62 commented on #1762
@chintan1891 Amplify Storage doesn't currently support background transfers. You might need to take a look at [Transfer Utility documentation](https://docs.amplify.aws/sdk/storage/transfer-utility/q/platform/ios/). Also linking [background transfers documentation](https://docs.amplify.aws/sdk/storage/transfer-utility/q/platform/ios/#background-transfers) if you want to look at managing background

[2022-06-17 21:23] royjit commented on #1822
I am working on this draft PR that would potentially fix the issue.

[2022-06-17 21:26] royjit commented on #1917
Closing as duplicate - https://github.com/aws-amplify/aws-sdk-ios/issues/4181

[2022-06-17 21:26] #1917 closed

[2022-06-17 22:30] lawmicha commented on #1831
root cause is remote sync engine is deqeuing the mutation events and processing them in parallel with the unit test. most probable solution: don't use the same test base as the others and create a simplified one for testing this, since it's only using storage adapter, we only need an in memory storage adapter to perform these unit tests.

[2022-06-17 22:59] #1921 closed

[2022-06-19 04:50] afern247 opened #1931 "Reopen issue"
Can someone reopen #1619 please...

[2022-06-20 08:47] iluvdadong opened #1932 "Auth sign-out after Google sign-in does not clear the browser session."
### Describe the bug

Auth sign-out after google sign-in does not clear the browser session.

After using the below sign-in method,
[code]

I use both listener and combine methods to sign out.

[code]
[code]
But even after signing out, users still can sign in automatically with the previous user's google account without choosing a google account or typing ID and password.

### Steps To Reproduce

[2022-06-20 12:21] shami4622 commented on #349
i am facing the same issue. not working "Storage category is not configured." ?????

[2022-06-20 17:12] diegocstn commented on #1783
Closing due to inactivity

[2022-06-20 17:12] #1783 closed

[2022-06-21 21:11] ruisebas commented on #1619
Hi @afern247!

1. The behaviour you described is expected right now, since you are manually modifying the  `amplifyconfiguration.json` file, so Amplify CLI doesn't know about it. This unfortunately does mean that your local file will be overwritten every time you do `amplify pull` as well, so you will need to manually re-add the `PinpointAppId ` key.
  Keep in mind that this functionality is not o

[2022-06-22 17:13] ameter opened #1944 "Sporadic crash running AWSAPICategoryPlugin tests"
### Describe the bug

AWSAPICategoryPlugin tests sporadically crash with the following exception:
[code]

<img width="1966" alt="Screen Shot 2022-06-20 at 4 21 17 PM" src="https://user-images.githubusercontent.com/29186822/175096805-86938b8d-26a5-40c3-a9cb-d88d18776ef8.png">

### Steps To Reproduce

[code]

### Expected behavior

tests should reliably pass

### Amplify Framework Version

main and

[2022-06-23 15:15] #1762 closed

[2022-06-23 19:30] #1717 closed

[2022-06-24 17:46] anatomybook commented on #1839
Sorry for my late reply @lawmicha . For me it works now, thanks!

[2022-06-25 00:25] royjit commented on #1907
From the error code it `AWSCognitoCredentialsProviderHelper, code-0" it looks like the error is `AWSCognitoCredentialsProviderHelperErrorTypeIdentityIsNil`. This is similar to the issue reported here - https://github.com/aws-amplify/amplify-ios/issues/1822

Are you seeing this error when you call fetchAuthSession immediately after signIn?

[2022-06-25 00:29] royjit commented on #1932
Amplify cannot control the signIn happened inside Google, so signing out from Amplify.Auth does not signOut the use from third part services like Google. You could try signIn via private session so that the signIn happens in a private Safari session:

Login via [private session](https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/ios/#launch-web-ui-sign-in)
[code]

[2022-06-27 04:30] iluvdadong commented on #1932
Hi, thank you for the reply. Using `options: .preferPrivateSession()` resolved the issue. Signing In via a private browser doesn't save the authentication data, so the user needs to type ID and password again after signing out.

[2022-06-27 20:01] #1944 closed

[2022-06-29 15:21] pierceglennie opened #1974 "EXC_BAD_ACCESS Crash in AWSMobileClient.getTokens()"
**Describe the bug**

Our iPad app is used by staff, each of whom will have it open for ~8 hours per day. We're facing intermittent crashes with the stack traces like the below, which point to an issue with the AWSMobileClient.getTokens() method.

We haven't been able to find any way to reproduce the crash, except leaving an iPad open on the app for a long time. We've been running a test fleet of

[2022-06-30 07:10] #1839 closed

[2022-07-01 16:57] #1932 closed

[2022-07-01 17:33] atierian commented on #1881
Thanks for opening this issue @ethan021021. We'll look into it and respond here with any updates.

[2022-07-01 18:32] alharris-at commented on #1764
@dsaliberti are you still encountering this issue? If so, to help us understand could you provide your schema and some sample application code to help us reproduce and determine priority of this?

[2022-07-01 18:38] undefobj commented on #1873
@albemala it looks like you are trying to use the [AWS AppSync SDK](https://cocoapods.org/pods/AWSAppSync) along with the Amplify categories of API or DataStore in your application. This isn't a supported configuration, we recommend customers use API or DataStore category if they are able and not the AppSync SDK unless they have a specific requirement to use that. Could you see if that fits your n

[2022-07-01 18:39] alharris-at commented on #1729
@afern247 What Michael is saying above is accurate. There are types of GraphQL Schema modifications that would be considered 'breaking' and those which should be compatible. In general the following actions are backwards incompatible:
* Adding a new `required field`
* Removing a field
* Marking an optional field required
* Adding an enum value
* Changing a field type

While the following are compa

[2022-07-01 18:39] #1729 closed

[2022-07-01 18:41] alharris-at commented on #1873
@albemala +1 to what Richard has said above, if you have additional questions or concerns that either Amplify API https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/ios/ or Datastore https://docs.amplify.aws/lib/datastore/getting-started/q/platform/ios/ doesn't address, feel free to reopen this issue and we can continue discussing.

[2022-07-01 18:41] #1873 closed

[2022-07-01 18:54] undefobj commented on #1401
Closing as we are tracking platform alignment internally

[2022-07-01 18:54] #1401 closed

[2022-07-01 19:01] alharris-at commented on #1541
@horaciosolorio as mentioned above, circular references are not supported in datastore today. We'll use this issue to track two changes. First, we'll look at ways to fail faster when you're building your API and indicate that this is an invalid setup, and second to find a way to unblock circular refs across DataStore as a whole.

[2022-07-02 23:39] rhamnett commented on #1783
Same issue for me, I have documented it at https://github.com/aws-amplify/amplify-flutter/issues/1845

[2022-07-03 05:26] reveelapp opened #1982 "Tagging Uploads w/ Key-Value (i.e., S3 Object Tagging)"
### Is your feature request related to a problem? Please describe.

Need to tag data to match other categorized data structure.

### Describe the solution you'd like

I notice that react-js has an API with '`.put()`' that offers '`tagging`'. Here is the [S3 object tagging](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-tagging.html) I am referring to.

### Describe alternatives you'v

[2022-07-05 17:40] lawmicha commented on #1601
Hi @Nfgyou, can you provide us with the schema that you modeled in the Studio UI? the raw graphql file should be viewable in the tab next to deploy.

[2022-07-06 00:14] royjit commented on #1982
Thank you for reporting this feature request. Currently we do not have a way to pass in tagging information in the Storage category apis, we will update here when we have more information about the feature.

[2022-07-06 03:04] royjit commented on #1974
Thank you for contacting us,  I could not reproduce this issue at my side. But looking at the crash log the error might have happened while it tried to access a deallocated object? I made this PR that might potentially fix this issue: https://github.com/aws-amplify/aws-sdk-ios/pull/4205

[2022-07-06 03:05] royjit commented on #1907
Closing as duplicate

[2022-07-06 03:05] #1907 closed

[2022-07-06 15:37] lawmicha commented on #1792
Hi @shri-onecup, thanks for taking the time to test and confirm that it works for you. I see the PR with the fix merged but not released yet. The current latest is 1.26.2 so it should go out in 1.26.3 (or 1.27.0). Will update here once there is a release. If you like, i believe there's an unstable release you can use if you want to move off the branch and additional changes from `main`. The unstab

[2022-07-06 15:46] lawmicha commented on #1792
For the issue, @shri-onecup  could you please provide the schema (redacted if needed) containing the Note, Animal, and related models? ObserveQuery is an aggregation API that leverages the real-time APIs underneath the covers. The sync process in DataStore establishes the AppSync subscriptions, and events that reconcile to the local store are emitted as real time events for the ObserveQuery to gen

[2022-07-06 16:10] lawmicha commented on #1792
Also, are you able to confirm that the subscription error on iOS occurs during a local iOS DataStore.save or is it from a different app, say Android? I've seen issues where other platforms produce a mutation (from DataStore.save) with a selection set that does not match the expected selection set on iOS DataStore's subscription operation. This misalignment in selection set is what causes the event

[2022-07-06 18:06] lawmicha commented on #1759
Thinking about this some more, i think it's as simple as the DataStoreObserveQueryOperation to emit a snapshot on .ready event. the problem is addressing emitting two snapshots, one for the .ready event and one for the `dispatchedModelSyncedEvent`. empty data set scenario can be tested and should have no impact on this change

[2022-07-06 18:46] alharris-at commented on #1881
@chrisbonifacio will work on reproducing. For context, we have multiple SQLite DBs, a Model table, and data tables per type. This could be expected as temporary metadata in the model table, but Chris will work to confirm. If a model is deleted in DataStore we perform a soft delete, so the `syncQuery` will receive a `delete` mutation (assuming the delete is within the record TTL, which it sounds li

[2022-07-07 15:44] dpilch commented on #1789
I'm not certain we should add a mapping. In JS a predicate builder is not used and the filter is written out manually. Since the filter on JS is the exact same that is sent over the GraphQL query I don't think it makes sense to add the mapping for JS. So it may be confusing when seemingly the same filter will have different functionality across different platforms.

[code]

[code]

[2022-07-07 16:27] #1764 closed

[2022-07-07 20:14] neilDistill opened #1985 "In certain cases, change password api does not return and blocks other api calls from returning."
### Describe the bug

If refresh token expires, or if user is disabled, call Amplify.Auth.update(oldPassword:, to:) does not return and subsequent api calls seem to be blocked._See steps to reproduce for more detail.

### Steps To Reproduce

[code]

### Expected behavior

Amplify.Auth.update(oldPassword:, to:) should return a result in all cases.

### Amplify Framework Version

1.26.2

### Amplify

[2022-07-08 17:56] #1619 closed

[2022-07-08 21:03] lawmicha commented on #1864
Hi @anatomybook, for the code snippet from https://github.com/aws-amplify/amplify-ios/issues/1302#issuecomment-906404001
[code]
within `onReceiveSyncOperationEvent`. Both `onReceiveSyncOperationEvent` and `onReceiveReconciliationEvent` will be called in parallel multiple times as the sync operation retrieves more pages of items while the reconciliation applies the mutations. I think your code snip

[2022-07-08 21:09] lawmicha commented on #1864
Thanks for bringing this to our attention @anatomybook , I added the PR https://github.com/aws-amplify/amplify-ios/pull/1989 with your code change here.

[2022-07-08 21:32] lawmicha commented on #1865
Hi @anatomybook, really appreciate the level of details you've provided and your patience. Regarding the change in https://github.com/aws-amplify/amplify-ios/issues/1864 to make sure ModelSyncedEvent is emitted, it look like the correct change. I cut the PR for that issue in https://github.com/aws-amplify/amplify-ios/pull/1989 under the branch `fix/modelsynced-sync-finished`. Since that PR fix has

[2022-07-10 15:05] iThink32 commented on #1621
hey guys pls consider this request, it would help me a lot and a lot of users who have a similar use case.
I really hope this is being developed.

[2022-07-10 18:36] atierian commented on #1621
Hey @iThink32, the progress reporting is currently limited by what the underlying `URLSession` reports. But we are looking into this from two different angles, providing accurate progress updates with smaller uploads and improving transfer speed. We'll update you here with any new developments. Thanks again for opening the issue and your patience.

[2022-07-11 10:30] cmason9 opened #1991 "Get AuthUser in the authsignup result"
### Is your feature request related to a problem? Please describe.

I have noticed that in Android there is an AuthUser object in the AuthSignupResult object so when a new user signs up with their email and password the userId cognito generates gets set when that signup result is returned. On iOS this is not the case and I need to get the userId back when the user successfully completes a signup

[2022-07-11 13:47] ruisebas commented on #1985
Hi @neilDistill! Thanks for opening this issue. I will take a look and post updates here.

[2022-07-11 16:11] royjit commented on #1991
Thank you for reaching out to us, we will look into this and will update here with the next steps.

[2022-07-11 16:43] royjit commented on #1822
We have released a fix for the issue with this PR - https://github.com/aws-amplify/aws-sdk-ios/pull/4202
Could you please try the new version of AWS iOS SDK to see if the issue still exists?

[2022-07-11 19:17] #98 closed, assigned to ameter

[2022-07-11 23:54] eduardo-rta commented on #938
It's July 2022 and this feature is still not available. As mater of fact, MFA doesn't event work properly with the current version, Software token will be returned as SMS by the SDK... I just don't understand how a big company such Amazon would have a project incomplete like this one for so long

[2022-07-12 19:18] shri-onecup commented on #1792
Hi @lawmicha I am still using the #1849 branch to make my app work at the moment. Let me know if you discourage that.

I see this when making an update on our web (JavaScript) Client only.
[code]
If I restart the app after this, I can see the change there. This would mean that the update is indeed pulled in but it is never pushed within a query for some reason.

I also tried doing an update on App

[2022-07-13 12:16] stephanemouawad opened #2001 "Amplify 1.26.2 - Compilation issue"
**Describe the bug**
It's impossible to archive my iOS framework in command line when I use Amplify

**To Reproduce**
- install Amplify, AmplifyPlugins/AWSAPIPlugin and AmplifyPlugins/AWSCognitoAuthPlugin with cocoapod
- Run the following cli: xcodebuild archive -workspace xxx.xcworkspace -scheme xxx -sdk iphoneos -archivePath 'ios_devices.xcarchive' -configuration release BUILD_LIBRARY_FOR_DISTRI

[2022-07-13 17:47] dpalme3160 opened #1999 "Errors when amplify is installed along with OneSignal on Archive"
### Describe the bug

When adding amplify to an existing ios app that has OneSignal and Purchases installed, the archive process fails every time.

It will build successfully at times but it will never archive.

### Steps To Reproduce

[code]

### Expected behavior

I would expect it to archive successfully

### Amplify Framework Version

9.1.0

### Amplify Categories

Analytics, API, Auth, DataSt

[2022-07-14 19:56] harsh62 commented on #1974
@pierceglennie  A new version of Amplify was released today. Can you validate if this fixed your issue.

[2022-07-14 20:31] atierian commented on #2001
Thanks for opening this issue @stephanemouawad. Can I ask why you're building with `BUILD_LIBRARY_FOR_DISTRIBUTION` set to `YES`? Doing so enables library evolution mode for your framework. This, in turn, requires all dependencies of that framework to support library evolution mode as well. Library evolution mode comes with a lot of constraints and is not supported by Amplify iOS.

[2022-07-15 10:02] AdiPomelo opened #2002 "authenticationFlowType: "USER_PASSWORD_AUTH not working with Amplify iOS SDK 1.26.2"
### Describe the bug

In my current iOS project using Amplify iOS SDK(1.26.2). Our main aim to migrate users from database to Cognito and  create new account.
We are using two authentication flow `CUSTOM_AUTH` and `USER_PASSWORD_AUTH`.
First I do CUSTOM_AUTH, but if the user is not found, I do USER_PASSWORD_AUTH that triggers a user migration from our db to Cognito.

**ISSUE:**
- If I use `CUSTOM_

[2022-07-15 18:29] harsh62 commented on #2002
@AdiPomelo There are a couple of things that needs to be mentioned here
1. `options: .init(pluginOptions: ["authenticationFlowType": "USER_PASSWORD_AUTH"])` is not the correct way to provide flow type to Amplify. `authFlowType: .custom` in the sign in parameter is the correct way to do it. This way the Amplify will default to the flow type in the configuration file.
2. Amplify iOS only supports `u

[2022-07-15 18:29] shri-onecup commented on #1792
@lawmicha I switched to 1.27.0 yesterday. It seemed to work fine but today I tried to clear the local database and do DataStore.Start() and I see the following errors for every single model that has optionals (almost all our models):
<details>

[code]

</details>

[2022-07-15 19:07] lawmicha commented on #1792
For this error,

[code]

can you try running the `syncQuery` operation in the AppSync console and see if you can get the response in a clearer format, with the focus on `Encountered \"#end\\n\" at velocity[line 18, column 1]\nWas expecting one of:` ?

Looks like there are some changes on the server side or data in the remote DB that is causing some problems when it is being queried

[2022-07-15 21:50] brennanMKE opened #2010 "Fix warnings in Package.swift"
### Describe the bug

There are several warnings due to files in the Sources directories which are not allowed.

### Steps To Reproduce

[code]

### Expected behavior

no warnings

### Amplify Framework Version

na

### Amplify Categories

Analytics, Geo, Storage

### Dependency manager

Swift PM

### Swift version

na

### CLI version

na

### Xcode version

na

### Relevant log output

[code]

#

[2022-07-15 22:05] rezab777 opened #2012 "AWS Lambda authorization in DataStore"
### Is your feature request related to a problem? Please describe.

Hello
It's been almost almost a year now that  Lambda authorization for AWS AppSync has been released.
We have implemented Lambda auth for our web app but would like to be able to use Lambda authorization for our mobile apps as well.
Could you please provide an ETA of when AWS Lambda authorizer configuration will be added to ampli

[2022-07-15 22:35] lawmicha commented on #1792
if the JS Client is using JS DataStore, then internally the sync process is what's generating the selection set when performing the mutation to AppSync. This isn't something you can control and is pending a JS fix to populate the remaining fields required for iOS's DataStore's sync process to properly receive subscription events. The team is aware of this and investigating what changes we need to

[2022-07-16 00:14] shri-onecup commented on #1792
@lawmicha I am pretty sure this is an error on iOS only and it is a bug on iOS (or the underlying connection between AppSync and Amplify-iOS’ rather than JavaScript or Android. I just tested this on Android as well. I see the exact same error when I make changes on Android and the subscription that is running on iOS attempts to pull them.

I think it is happening on iOS now because AppSync does no

[2022-07-16 04:57] brennanMKE opened #2014 "Data race in Storage with managing tasks"
### Describe the bug

A data race causes a runtime exception sporadically. It is in AWSS3StorageService where the stored  property `tasks` is not protected.

### Steps To Reproduce

[code]

### Expected behavior

There should be no runtime exception.

### Amplify Framework Version

dev-preview

### Amplify Categories

Storage

### Dependency manager

Swift PM

### Swift version

5.6

### CLI versi

[2022-07-16 05:01] brennanMKE opened #2016 "Change Storage to use actors instead of dispatch queues"
### Is your feature request related to a problem? Please describe.

Using actors will eliminate locking mechanisms for the Storage category and improve performance.

Related: #2014

### Describe the solution you'd like

Fully adopt Swift Concurrency

### Describe alternatives you've considered

none

### Is the feature request related to any of the existing Amplify categories?

Storage

### Additi

[2022-07-16 10:54] tolik505 commented on #739
Have you figured it out?

[2022-07-17 16:14] Nfgyou commented on #1601
Hello sorry for the late reply,

I don't have access to that schema, but it was simply creating any two tables in Amplify studio and setting a M-2-M relationship between them.

I have since moved to using GraphQL instead of DataStore so I have no idea if this issue is still happening. I can test it again if you cannot reproduce it and see.

[2022-07-18 01:51] AdiPomelo commented on #2002
@harsh62 Thank you for quick reply.

**NOTE:** If I add MigrationEnabled": true to awsconfiguration.json and amplifyconfiguration.json at that time USER_PASSWORD_AUTH authentication working fine and user is able to migrate successfully but not working CUSTOM_AUTH flow.

Like you said `USER_PASSWORD_AUTH ` not supporting in IOS, why it is working when I add `MigrationEnabled": true`  to json config

[2022-07-18 13:51] harsh62 commented on #2002
@AdiPomelo : It could work because the low level AWS-SDK supports it. So you are running into a scenario which is an undocumented feature and I personally would not rely on it.

Our team is working on fixing all these scenarios on Amplify and hopefully we would be able to tackle them soon.

[2022-07-18 16:24] brennanMKE commented on #2010
merged to dev-preview

[2022-07-18 16:24] #2010 closed

[2022-07-19 02:14] AdiPomelo commented on #2002
@harsh62  Thank you for reply.

Can I expect this feature in the coming release or It would be great if you provide a date based on that will plan further.

[2022-07-19 19:10] lawmicha commented on #1601
Hi @Nfgyou, using this schema:
[code]

We were able to successfully sync the join models when saving them to AppSync. The code basically saved a book and author, then used the two models when constructing the join model. Please let us know if you have any additional context as to the code you used to save the join model as well. We'll continue our investigation from the Studio data modeling experi

[2022-07-19 19:40] neilDistill commented on #1985
@ruisebas I am still seeing this behaviour in v1.27.0.

My Refresh Token expiration is set to 60 min, Access Token is set to 10 min, ID Token is set to 5 min.
1. call Amplify.Auth.signIn(username:password:)
2. In web console, disable user
3. Wait for for ID token to expire (5 min)
4. call Amplify.Auth.update(oldPassword:, to:)

Expected result: Amplify.Auth.update returns some error
Actual result:

[2022-07-19 21:01] ruisebas commented on #1985
Hi @neilDistill ! I followed the steps you provided using **Amplify** `1.27.0` and got this result:
[code]
Calling other functions after also works correctly.

Since you are still seeing the original issue, could you please confirm that your version of **AWSiOSSDKV2** is at least [`2.17.12`](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.27.12)?
The fix also requires the changes include

[2022-07-19 21:30] neilDistill commented on #1985
Here is a screenshot of my test project using AWSiOSSDKV2 2.27.9
<img width="280" alt="Screen Shot 2022-07-19 at 5 08 56 PM" src="https://user-images.githubusercontent.com/17883688/179851525-819417e6-6e4e-4f4c-a138-e1036a5158e5.png">

I have also attached a copy of the program I am using to do my test. (I have removed my user's username, password and the userpool information)

[AmplifyDemo_2022071

[2022-07-19 22:14] neilDistill commented on #1985
@ruisebas

I am now getting the same error you reported. There must have been something stale in my environment.
I reset my simulator and reset the xcode package caches and how everything seems to be working as expected.

(Simulator, Device, Erase All Content and Settings
Xcode, File, Packages, Reset Package Caches)

Thanks,
Neil.

[2022-07-20 04:20] ksp17788 commented on #537
Any update on this or a work around that you suggest ?

[2022-07-20 09:33] pierceglennie commented on #1974
Hi @harsh62. Looks like that has fixed it, we've gone about a week with no crashes whereas we were getting one every couple of days before. Thanks

[2022-07-20 09:33] #1974 closed

[2022-07-20 13:45] ruisebas commented on #1985
Glad to hear that!

I made a typo on my last comment, the **AWSiOSSDKV2** version needed is 2.**_27_**.12 😅 , which is the latest release.  Sorry about that.
Your project was using an older version, so when you reset your project's package caches, it updated it.

Let us know if you face other issues.
Thanks!

[2022-07-20 16:28] harsh62 commented on #2002
@AdiPomelo

We are unable to provide any concrete dates at the moment, we will send out communication and update the ticket once we have more information on this. Thank you!

[2022-07-21 15:04] SwapnilDhotre opened #2028 "Amplify password less authentication. Error received as AuthError: Incorrect username or password"
### Describe the bug

I have configured the iOS app using [amplify documentation](https://docs.amplify.aws/lib/auth/existing-resources/q/platform/ios/). Not used Amplify CLI, but used Cognito User Pool and Identity Pool in **amplifyconfiguration.json** file.
Installed latest library using pod as(version 1.27.0)
`pod 'Amplify'`
`pod 'AmplifyPlugins/AWSCognitoAuthPlugin'`
Pod lock file:
![Screen Sho

[2022-07-21 17:41] lawmicha commented on #1601
We were able to reproduce this error when saving data directly through Amplify Studio's Content tab. After creating the Book, and Author, then selecting the Author item, and Linking to an existing Book, will save the join model AuthorBook successfully in the Studio UI

<img width="897" alt="image" src="https://user-images.githubusercontent.com/1365977/180277579-a2ed7630-3cbd-4bc9-8ae8-d300f89955d3

[2022-07-22 17:06] atierian commented on #1999
Thanks for opening this issue @dpalme3160. The error message displayed (`No such module OneSignal`) indicates that there is an issue with the OneSignal module. According to your notes, you're only experiencing this after adding Amplify via SPM. I'll try to reproduce it on my end and let you know what I find.

[2022-07-22 17:13] dpalme3160 commented on #1999
Ian,
Thanks for the response and I’m looking forward to your findings.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ian Saultz ***@***.***>
Sent: Friday, July 22, 2022 12:06:48 PM
To: aws-amplify/amplify-ios ***@***.***>
Cc: Douglas Palme ***@***.***>; Mention ***@***.***>
Subject: Re: [aws-amplify/amplify-ios] Errors when amplify is installed along with OneSi

[2022-07-22 17:33] royjit commented on #2028
Not that the Amplify-iOS library starts the custom auth flow with SRP. Please check here if you need to skip the SRP step as shown. - https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/ios/#lambda-trigger-setup

[2022-07-22 18:10] atierian commented on #1999
I'm missing a few details that will help me debug this. Can you please answer the questions below:
- What version of Amplify iOS are you using? You can find this in the project navigator under the Package Dependencies section, next to `Amplify`.
- Please link the GitHub repo for `Purchases` package you're using.
- What targets are you adding from the `Purchases` and `OneSignalXCFramework` packages

[2022-07-22 21:27] royjit commented on #2012
We have support for AWS Lambda authorization in amplify-ios. Please find the related documentation here - https://docs.amplify.aws/lib/graphqlapi/authz/q/platform/ios/#aws-lambda-1

[2022-07-22 21:28] #1829 closed

[2022-07-22 21:29] #1822 closed

[2022-07-23 02:06] rezab777 commented on #2012
@royjit Thank you for your reply. I was specifically referring to support in DataStore.
I should've been more clear when describing the issue.

[2022-07-23 17:33] dpalme3160 commented on #1999
- 1.0.0 is what is installed via the SPM.

- https://github.com/RevenueCat/purchases-ios.git
- Purchases has no actual target.
- Onesignal target, we have also tried adding it via a cocoapod and both still throw the same errors.  The target created as
a part of OneSignal: OneSignalNotificationServiceExtension
- The error is generated during the archive process not during the upload.

We have used

[2022-07-23 22:26] Sancho66 commented on #1492
I get the same error when I try to signin with amplify and google on flutter :
[code]
`The operation couldn’t be completed. (com.amazon.cognito.AWSCognitoAuthErrorDomain error -3000.)`
 Is the issue resolved ?

[2022-07-24 14:09] Sunsiha commented on #1255
Any solution for this?

Since am using flutter version. Sometimes after uninstall and install the app again am getting some userId which is not present in cognito user pool. username is not returning also.

[2022-07-24 22:08] Nfgyou commented on #1601
Thank you for the update

[2022-07-25 14:38] ruisebas commented on #1492
Hi @Sancho66,

I see you also created https://github.com/aws-amplify/amplify-flutter/issues/1920.  Given that you are using Flutter, that sounds like the right place to follow up on your issue.

Thanks

[2022-07-25 14:38] atierian commented on #2001
Hey @stephanemouawad, a quick update since it's been over a week. I'm still looking into this. I haven't been able to reproduce exactly what you're experiencing, but I am running into failures when `BUILD_LIBRARY_FOR_DISTRIBUTION` is set to true. I'll follow back up here once I have an update. Thanks for your patience.

Can you please clarify if this is a regression; were you able to archive with

[2022-07-25 15:23] stephanemouawad commented on #2001
Hi @atierian I don't think this is a regression to be honest.
We just used both AWSMobileClient, AWSCognitoIdentityProvider and everything was working fine. Recently, we decided to capitalized the AWS SDK as much as possible. I noticed this problem when adding Amplify + required dependencies.

In short, we were not using Amplify until now.

Maybe the sdk is not ready to support this **flag**  yet

[2022-07-25 15:49] atierian commented on #2001
I was just able to reproduce what you're experiencing, and can finally make some sense of it. I needed to add a `post_install` instruction in the Podfile to set the pods' `config.build_settings['BUILD_LIBRARY_FOR_DISTRIBUTION']` to `'YES'`. I presume you also had this setting enabled?

Your assumption is correct. We only provide Amplify as source, not as a binary, and we don't provide library evol

[2022-07-25 16:04] stephanemouawad commented on #2001
Thank you for your response and your time, we will try to make a trade-off between option #1 and #2.
Stéphane

[2022-07-25 16:04] #2001 closed

[2022-07-25 18:46] atierian commented on #1255
@Sunsiha, please open a [new issue](https://github.com/aws-amplify/amplify-flutter/issues/new?assignees=&labels=&template=BUG-REPORT.yaml) on the Amplify Flutter repo with the details of the issue you're experiencing. Please also link this issue in there so both teams can investigate. Thanks!

[2022-07-25 20:29] lawmicha commented on #2012
Hi @rezab777, DataStore uses Amplify.API and determines the auth mode by checking the model schema generated by `amplify codegen models`. To hook it together, you'll have to configure the APIPlugin with `APIAuthProviderFactory` so that DataStore can use it to retrieve the token when syncing data to AppSync. Additionally, the requirement to use DataStore is that the API you provision needs to have

[2022-07-26 12:58] AdiPomelo opened #2037 "[iOS] Config Amplify for Multi Environments"
### Describe the bug

Currently we are using amplify iOS SDK(1.26.1) working fine with staging environment. But we have requirement to setup preprod and prod environment.

So I am trying fetch the json `amplifyconfiguration.json` file based on the environment and passing amplify configuration and no error throwing during the first-time initialization.

similarly we have `awsconfiguration.json` fil

[2022-07-26 13:12] atierian commented on #2037
Hi @AdiPomelo, thanks for opening this issue.
Dynamic configuration like you're doing here is supported and should work. Let's try to figure out what's going on here. Can you please post the contents of the four configuration files you're using? Please make sure to strip out any confidential information. Once we know what those look like, we can try to reproduce what you're experiencing.
Thanks!

[2022-07-26 13:30] AdiPomelo commented on #2037
@atierian Thank you for quick reply.

Here is amplify json file looks like.

**amplifyconfiguration.json**
[code]

**awsconfiguration.json**

[code]
**Below mentioned key values will be changed based on environment.**
[code]

[2022-07-26 13:34] atierian commented on #593
Linking related issue for reference https://github.com/aws-amplify/amplify-ios/issues/1890
This issue also briefly discusses a few options and includes a simple script that can be run after codegen'ing models to add `CaseIterable` conformance to all enums. Note that this works with how models are generated today, but may not necessarily always work if that changes down the road. While still not id

[2022-07-27 02:39] brennanMKE commented on #2037
@AdiPomelo I created an example of how to support multiple build variants previously which I have now shared here on GitHub.

* [BetaProd](https://github.com/brennanMKE/BetaProd)

Normally Amplify and the AWS SDK just have a single .json file for each one. You also would not want to include the staging and preprod configuration files in the prod build. It would reveal those endpoints in your app b

[2022-07-27 07:20] AdiPomelo commented on #2037
@brennanMKE Thank you for quick replay with sample project. I will try the solution suggested by you and let you know.

[2022-07-27 10:47] AdiPomelo commented on #2037
@atierian Any update ?

[2022-07-28 04:34] brennanMKE opened #2047 "Race condition in StorageMultipartUploadSession for multipartUploadSessions stored property"
### Describe the bug

While running with the Thread Sanitizer this property experiencing race conditions.

### Steps To Reproduce

[code]

### Expected behavior

Stored property should be protected for thread safety

### Amplify Framework Version

dev-preview

### Amplify Categories

Storage

### Dependency manager

Swift PM

### Swift version

5.6

### CLI version

NA

### Xcode version

NA

###

[2022-07-28 08:05] marvukusic commented on #2001
Hi,
We were struggling a bit for a while and came up with #2 solution for our framework.

Next issue we encountered is that amplify sub dependencies would be missing from final product resulting in runtime errors.
Workaround was to install those dependencies (basically, old AWS libs) manually in host project that consumes our framework.

[2022-07-28 08:13] anuragsingla123 commented on #1542
@atierian I am facing the same issue as well. I am using the latest Amplify version 1.27.1 for iOS but it still takes 2-3 minutes in uploading a small file. The S3 bucket is currently in us-east-1 region.

[2022-07-28 08:19] atierian commented on #2001
That's great to hear. Thanks for sharing!

[2022-07-28 08:46] atierian commented on #1542
Thanks for letting us know.
Slow uploads / transfers is actively being investigated. We'll follow up on this issue with any updates.

[2022-07-28 10:42] AdiPomelo commented on #2002
@harsh62 I have plan to look into amplify iOS SDK to add new authFlowType `USER_PASSWORD_AUTH`.
Anything you can help on this OR suggestions ?

[2022-07-28 21:58] brennanMKE opened #2056 "Implement async API for Storage on dev-preview"
### Is your feature request related to a problem? Please describe.

Provide a Swift Concurrency API for Storage.

### Describe the solution you'd like

async/await API

### Describe alternatives you've considered

N/A

### Is the feature request related to any of the existing Amplify categories?

Storage

### Additional context

_No response_

[2022-07-29 19:00] depthzadmin opened #2059 "Deleting a parent in datastore doesn't delete the children"
### Describe the bug

In iOS, when you delete a parent object with a one to many relationship, the children are not removed from the DataStore.

Note that the expected behavior of deleting the children does work outside the iOS context. As an example, when I perform the same delete action in the Amplify Studio Content tab, the children are removed.

### Steps To Reproduce

[code]

### Expected beh

[2022-07-30 21:27] atierian commented on #2037
You don't need to use `awsconfiguration.json` when configuring Amplify.

[2022-08-01 11:16] SwapnilDhotre commented on #2028
Thank you for your response. I debugged this issue with web team and they found that even if I am sending "authenticationFlowType": "CUSTOM_AUTH", they are receiving SRP_A from iOS device only. So aws is expecting for password and I am passing it as nil, so aws is giving response as **Incorrect username or password**.

[2022-08-01 16:25] lawmicha commented on #1742
This issue has been open for awhile now without any responses, which means our schema for replicating the issue could be outdated. Reviewing what we have for auth rules for User, I believe the user needs to be signed in to establish the User subscriptions successfully: `@auth(rules: [{allow: private, operations: [read]}, {allow: owner}])`. I'm closing this issue now that we understand what's happe

[2022-08-01 16:25] #1742 closed

[2022-08-02 02:37] horaciosolorio commented on #1541
The issue was resolved ?

[2022-08-02 13:21] lawmicha commented on #1541
Hi @horaciosolorio, this issue is still open, bi-directional has-one belongs-to relationships do not work on iOS as mentioned above. We have some ideas for moving foward such as excapuslating the association within another type or using a property wrapper and will provide updates here when we can.

[2022-08-03 17:38] shri-onecup commented on #1792
Hi @lawmicha , can you link the appropriate ticket that targets the problem with subscriptions or give me an update on the progress if you're aware of it? This issue of subscriptions (on both GraphQL & DataStore)  not working cross-platform between iOS and JS/Android is really holding us back from deploying a synchronized system to our clients.

I would also appreciate it if you could also push th

[2022-08-03 22:19] anatomybook commented on #1865
Hello @lawmicha ,

sorry for my delayed reply. Here's my schema - slightly edited:
[code]

The number of items is quite low in this user-account:
1 x ActorZ
6 x StatusChangeTimeZ
5 x GroupZ
8 x ContentsFieldVsGroupZ
102 x ContentsFieldZ
2 x ContentsZ
2 x ImageZ
5 x SearchZ
4 x ListVsGroupZ
1 x ListZ
0 x PrognosisZ

I hope this helps. I'll check out the deadlock tomorrow.

Thanks for your support!

[2022-08-04 17:45] atierian commented on #2037
Hey @AdiPomelo, just checking in. Did the snippet above resolve your issue?

[2022-08-05 04:23] AdiPomelo commented on #2037
@atierian  No.

[2022-08-05 11:25] atierian commented on #2037
Sorry to hear that. Is the error you're experiencing the same that you outlined in the original issue?

[2022-08-05 19:38] anatomybook commented on #2059
Sadly enough, I'm also still seeing it.

At this point, I don't have a way to reproduce it, but users have complained about the syncing going bad. I've determined the cause to be exactly that. This starts to be a nightmare to be honest as this has been going on forever.

[2022-08-05 19:50] anatomybook commented on #1865
I just tried. Everything works - no more deadlock! It'd be awesome if that made it into main.

Thank you every much.

[2022-08-06 06:43] jazzyxeon commented on #995
@buffpojken I'm also having the same issue. From a UX point of view, sending links would be best. However, if a user forgets if they've verify their email or not, they'll try logging in. If they forgot the password and entered something gibberish, Cognito seems to "accept", which is not the best security but that's up for debate.

Not sure if you've solved this but most auth flows of apps will res

[2022-08-07 13:30] AdiPomelo commented on #2037
@atierian  Yes

[2022-08-07 14:14] anatomybook commented on #1864
Thanks for considering my proposal.

[2022-08-08 20:49] lawmicha commented on #1865
Hi @anatomybook thanks for your patience, `fix/modelsynced-sync-finished` changes were merged in another PR that made it to main and just released in 1.28.0 https://github.com/aws-amplify/amplify-ios/releases/tag/v1.28.0

Keeping this issue open to look into the schema you've provided

[2022-08-08 21:09] anatomybook commented on #1865
@lawmicha - thanks for the inclusion of my suggestion.

Please let me know if you have any questions or need more details regarding the schema. Talking about - the schema is old. I haven't touched it in ages. Given that I started early during the development of DataStore, I'm sometimes wondering whether the issues I'm seeing are related to it being old and never updated. In case you have any hints

[2022-08-10 06:16] lawmicha opened #2120 "AwsCommonRuntimeKit.cleanUp() hangs after calling Auth APIs (signUp)"
GraphQL IAM requests need to be SigV4 signed, so APIPlugin will call `AwsCommonRuntimeKit.initialize()`  on `configure()` and then `AwsCommonRuntimeKit.cleanUp()` on `reset()`. The code hangs on `aws_auth_library_clean_up` -> `aws_http_library_clean_up` -> `aws_thread_join_all_managed` -> line 113
[code]
https://github.com/awslabs/aws-c-common/blob/main/source/thread_shared.c#L67

This only happen

[2022-08-10 15:19] lawmicha commented on #2120
App launch
[code]

`Amplify.Auth.signUp()`
[code]
[code]

Call `AwsCommonRuntimeKit.cleanUp()`, app hangs

[2022-08-11 14:10] fudr commented on #1614
I wonder in the subscription is retrieving you the _version as null or the real one from dynamodb?

[2022-08-12 10:52] springlo opened #2138 "Unregistered or expired token"
### Describe the bug

[code]
I launched a push test in the background management interface and reported this error

I configured it strictly according to this document：
https://docs.amplify.aws/sdk/push-notifications/messaging-campaign/q/platform/ios/

And I tested it with other push tools, and I can receive the message：
![IMG_0130](https://user-images.githubusercontent.com/373580/184338969-5d78bc

[2022-08-12 19:23] ethan021021 commented on #1881
Hey all,

Just wondering if you were able to reproduce this issue? We had a big launch this morning and this issue hit us pretty hard. If you need anything else from me to try and reproduce this I'm more than happy to provide additional materials! I'm also free to hop on a call and chat about it anytime. Thanks a lot for your hard work!

[2022-08-13 00:06] brennanMKE opened #2145 "Operations should unsubscribe from Hub events on cancel"
### Is your feature request related to a problem? Please describe.

An operation can be canceled. The tokens for subscribing to events using the Hub only unsubscribe when a result is received. The cancel function does not unsubscribe currently in `AmplifyOperation` or `AmplifyInProcessReportingOperation`. When an operation is cancelled it should not be receiving any new values.

### Describe the s

[2022-08-16 15:30] tjcarrel opened #2151 "buildUserPoolConfiguration causes app to crash on launch despite having the required configuration"
### Describe the bug

We are using the Analytics and Auth libraries to record various events within our app.

However, we are experiencing an issue with a very small number of devices where our app immediately crashes on launch due to Amplify throwing the following exception in `buildUserPoolConfiguration` on launch:

[code]

The issue persists even after we prompt users to delete the app, restart

[2022-08-16 17:44] ameter commented on #2151
Thanks for bringing this to our attention.  It appears user pools are somehow being invoked even though they are not in use and therefore not configured, leading to the crash.  Are you able to provide a stack trace or any additional logs to help us diagnose this issue?

[2022-08-16 17:57] dpilch opened #2152 "DataStore does not restart after toggle airplane mode off and on"
### Describe the bug

The issue was originally reported in [Discord](https://discord.com/channels/705853757799399426/707328996995760179/1009011237348184105). Customer states that this issue started appearing on iOS 15.6.

When using DataStore and airplane mode is switched to off and then back on DataStore will stop but not restart.

Appears to be related to https://github.com/aws-amplify/amplify-i

[2022-08-16 20:29] tjcarrel commented on #2151
Hey Chris, thanks for the quick reply. I've attached a screenshot of the backtrace - was really that only thing I saw that might be useful. Let me know if there is anything else I can provide
<img width="611" alt="Screen Shot 2022-08-16 at 4 28 22 PM" src="https://user-images.githubusercontent.com/10950089/184979091-923b8080-fe1a-4259-a90f-d0f78f283aca.png">

[2022-08-16 21:15] dpilch commented on #2152
From https://github.com/aws-amplify/amplify-ios/pull/1901

So it appears that stopping DataStore is intentional to fix the issue in https://github.com/aws-amplify/amplify-ios/pull/1901. However, it is creating a different issue with subscriptions because it is waiting for an explicit DataStore operation (save/query/delete) to be called before restarting.

I don't think there is a workaround for th

[2022-08-16 21:44] lawmicha opened #2154 "should this be public given that we don't own this type?"
should this be public given that we don't own this type?

_Originally posted by @ameter in https://github.com/aws-amplify/amplify-ios/pull/2128#discussion_r947263958_

[2022-08-16 21:44] lawmicha opened #2155 "> unit tests failing in the github actions workflow"
https://github.com/actions/runner-images/blob/main/images/macos/macos-11-Readme.md#xcode Xcode 13.2.1

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/issues/2128#issuecomment-1217126127_

[2022-08-17 18:15] chrisbonifacio commented on #1792
@shri-onecup Apologies for the delay, we've decided on the direction we want to take on addressing this issue and similar ones with selection sets and making them compatible across platforms. Please know that we are working on this internally and will reply back with updates as they come.

We are using this issue to track our progress: https://github.com/aws-amplify/amplify-ios/issues/1753

[2022-08-17 18:17] chrisbonifacio commented on #1601
Hi @Nfgyou we are using this issue to track the progress we are making on resolving selection set related issues. Please follow for future updates: https://github.com/aws-amplify/amplify-ios/issues/1753

[2022-08-17 18:29] medhatIbsais-Harri opened #2167 "Error happened when I return back from offline mode and turn on the wifi, Also a crash happened if I restarted the data store again"
### Describe the bug

When using DataStore, after configuring the Amplify and start syncing, try to turn off the wifi, then turn it on again, an error will be displayed in XCode logs, if you then forced syncing your DataStore by stopping the DataStore and started it again a crash will happen.

### Steps To Reproduce

[code]

### Expected behavior

To sync data normally.

### Amplify Framework Vers

[2022-08-17 19:28] ameter commented on #2167
Thanks for reporting this.  We're tracking a [related issue here](https://github.com/aws-amplify/amplify-ios/issues/2152#issuecomment-1217173993).

[2022-08-17 19:31] medhatIbsais-Harri commented on #2167
Ok thank you, but also there is another part for this issue that it causing a crash if you stopped and started the DataStore again.

[2022-08-17 20:01] medhatIbsais-Harri commented on #2167
Hello @ameter, I need to ask a question, are there any way to know that the DataStore is stopped?
like a boolean flag or something?

or a way to know that the above failure happened?

[2022-08-17 20:46] dpilch commented on #2167
Unfortunately there is not a good event to know that DataStore has stopped in this case. However, calling DataStore stop before start here is unnecessary. Calling start alone should recover from this situation. In addition, any DataStore operation (save, query, delete, etc.) will also start DataStore if it is not already started. The crash is still unexpected behavior so thank you for reporting th

[2022-08-17 21:10] medhatIbsais-Harri commented on #2167
@dpilch Thank you for your answer, Yes I know that starting the DataStore will avoid the crash, but we have a use case that we are providing the user a force sync button, he can click on it to force sync everything from AppSync, so if the user turn on the wifi and clicked this button the app will crash, because this button implementation is to stop the DataStore and start it again.

force sync but

[2022-08-18 15:47] dpilch commented on #2167
Ah, I understand. I would say for the time being the solution would be to wrap the stop with another start. This isn't the prettiest solution, but will be fine because DataStore start is a no-op when already started.

[code]

We will continue to look into the fix for crash as well as the incorrect stopping outlined in https://github.com/aws-amplify/amplify-ios/issues/2152

[2022-08-18 15:49] medhatIbsais-Harri commented on #2167
@dpilch Yes I did that recently to avoid the crash and to maintain the app to work normally for now.
Thank you for your collaboration 🙏🏻

[2022-08-19 06:58] Eric1015 commented on #964
One thing I would like to know is that why does this ```Amplify.Auth.signOut()``` function opens the web UI with
```"..." wants to use "..." to sign in```. My expectation is that this webUI is only needed when the user is trying to sign in, but not at the time that the user wants to sign out.

I am currently facing this issue, and want to know if there is an issue already about that, otherwise wan

[2022-08-19 07:19] Eric1015 opened #2177 "Amplify.Auth.signOut() function is showing the sign in web UI"
### Describe the bug

When the user clicks on sign out button in my app, with call to ```Amplify.Auth.signOut()``` function, it will open the web UI with the message of ```"..." wants to use "..." to sign in``` like the video in this [issue report](https://github.com/aws-amplify/amplify-ios/issues/964)

Is this something expected?

My expectation was that this thing should only show up at the time

[2022-08-19 12:30] stephanemouawad commented on #2001
I tried all the solutions

Here is my personal feedback.

- The first option is by far the easiest way to solve this issue (what I did).
- The second one does not work at all **@_implementationOnly import Amplify**.
- The last one "Removes all occurrences of the following in Amplify. @inlinable, @useableFromInline, @inline(never)" works fine but is inconvenient and not recommended if you want to b

[2022-08-19 23:04] Eric1015 commented on #2177
Sorry, I was trying to open this issue in amplify-flutter, but mistakenly opened it here.

Close this issue and make the same issue in amplify-flutter here: https://github.com/aws-amplify/amplify-flutter/issues/2054

[2022-08-19 23:04] #2177 closed

[2022-08-22 10:56] SvyatHoly opened #2185 "Amplify.Storage.getURL options ignoring"
### Describe the bug

I can't get url with specified options because this func is setting options to nil.

<img width="738" alt="Screen Shot 2022-08-22 at 1 50 11 PM" src="https://user-images.githubusercontent.com/43349266/185904655-ef7f5248-3e4c-481b-8843-f4e303e3a8f5.png">

### Steps To Reproduce

[code]

### Expected behavior

url with specified options

### Amplify Framework Version

1.26.1

#

[2022-08-23 10:19] marvukusic commented on #2001
@arkeri @stephanemouawad

To build a binary framework which contains Amplify as a sub dependancy do the following:

1. Add Amplify package with needed products using SPM to a framework project
2. Use `@_implementationOnly import Amplify` where needed inside a framework project
3. Create a binary of a framework
4. Check Amplify sub dependancies (`AWSiOSSDKV2` package) for needed products within Amp

[2022-08-24 11:50] gurpreet-ganger commented on #1437
@harsh62 i am also the facing same issue

[2022-08-24 16:55] royjit commented on #2028
iOS SDK currently starts the custom auth flow with SRP and the link I mentioned in my previous comment addresses that. We would need to bypass the SRP challenge something on the lines:

[code]

[2022-08-25 10:00] geertbleyen commented on #1874
This likely isn't an amplify issue. See https://developer.apple.com/forums/thread/707569. Others are having the same issues with other packages.

[2022-08-25 15:07] patagoniacode commented on #1626
Dear @atierian and Amplify team, any news about the async / await support?
Thanks for all the work.

[2022-08-25 17:29] mateusforgi commented on #1060
Any updates on that? I am currently having this issue on the sign in, it takes too long to give a user callback when the user has poor internet connection. I tried to do a work around by canceling AuthSignInOperation but it only cancels the callback of the sign request, the network activity keeps happening.

[2022-08-26 04:05] AsitDixit commented on #1617
@ameter

When in Android??

[2022-08-26 20:35] ruisebas commented on #1617
@AsitDixit I see you already created an issue in Android's repo: https://github.com/aws-amplify/amplify-android/issues/1907
Please follow up there.

[2022-08-28 17:21] medhatIbsais-Harri commented on #2167
Hello @dpilch @ameter ,
is there a way to let Amplify use the full sync instead of delta sync?

        let lastSyncTime = getLastSyncTime()
        let syncType: SyncType = lastSyncTime == nil ? .fullSync : .deltaSync
        initialSyncOperationTopic.send(.started(modelName: modelSchema.name, syncType: syncType))

I can see here from the library implementation is depending on the last sync time

[2022-08-29 14:34] ruisebas commented on #2138
Hi @springlo!

I'm pasting here the suggestion the team provided when this issue was originally brought up in Discord:

Please let us know if this fixes your issue.

Thanks!

[2022-08-29 17:30] lawmicha opened #2216 "Wrap async calls in a Task and wait for expectation to prevent hanging tests"
For unit tests you will want to wrap these in a Task and use the support for async testing so that if an async function never returns it does not cause all unit tests to stall.

[code]

_Originally posted by @brennanMKE in https://github.com/aws-amplify/amplify-ios/pull/2214#discussion_r957556620_

See https://github.com/brennanMKE/AsyncTesting/blob/main/README.md for more details

[2022-08-29 18:04] lawmicha commented on #2216
This issue is a tracking issue to go over all tests in all packages (Amplify/ AWSPluginsCore / AmplifyPlugins DataStore/API/Storage/Analytics/Auth/etc) and add expectations and wait for them, and fulfill them after the async call.

This prevents the tests from hanging and is especially important for integration tests that have an underlying network call before returning. I think unit tests one pri

[2022-08-29 21:18] lawmicha commented on #2216
Following this pattern for DataStore' integration test feels very heavy, as we have to perform multiple async calls to set up the system to test. We need to identify a pattern for multiple async calls, like
[code]

In this case, we should create a new expectation for each async call, and then have one line wait at the bottom for the array of expectations

[code]

So that if the test hangs on one o

[2022-08-29 23:50] lawmicha opened #2223 "Default parameters for Storage operations in `list` and `getURL` APIs"
a reminder for default parameters for `list` and `getURL`

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/pull/2222#discussion_r957880621_

[2022-08-30 00:23] lawmicha commented on #2223
`downloadData` as well

[2022-08-30 00:28] lawmicha commented on #2155
this issue is now outdated

[2022-08-30 00:28] #2155 closed

[2022-08-30 03:36] AdiPomelo opened #2226 "[iOS] When trying to Merge Accounts causes "Already found an entry for username" exception"
### Describe the bug

Description
When using the following signInWithWebUI function to merge two accounts (OAuth and native cognito accounts), and allow users to use either options to signup, an exception is raised in the login flow, when the user initially creates their account. After the first sign up, the flow works as expected.

`        Amplify.Auth.signInWithWebUI(for: authProvider, presenta