[2021-05-19 16:57] pierceglennie commented on #1187
For anyone else that comes across this, I had this issue when upgrading to 1.9.2 (from 1.8.0).

Deleting derived data and trying again worked. Note that I tried to reset package caches before that (File > Swift Packages > Reset Package Caches) and it didn't help.

[2021-05-21 12:47] valzevul commented on #1175
Hey @palpatim, sorry, is there any update on the issue or at least a confirmation that it is not on the roadmap (in which case my team would commit to supporting a private fork for the time being)?

[2021-05-21 13:06] kjones commented on #1175
I need this also. Backend is already defined as AWSDateTime. Current workout around is to modify the schema.graphql after and `amplify pull` and change the field to `String`. Then do the conversion myself with the correct format that preserves the user's timezone.

[2021-05-21 15:34] bumbleparrot opened #1242 "How do I add elements to the List<T> data type?"
**Is your feature request related to a problem? Please describe.**
This is not really a feature request but more of a question on using the models generated by amplify codegen.

**Describe the solution you'd like**
When you have a nested model that links to many, the data type generated is List < Model >. I have no idea now to add a new record to that List.

I want to do this locally, AFTER adding

[2021-05-21 16:07] royjit commented on #1232
This should be fixed by the PR https://github.com/aws-amplify/amplify-ios/pull/1233 and will be available in the next release.

[2021-05-21 17:53] royjit commented on #1238
Hi @alionthego ,

Are you using Datastore to update the data? `@versioned` directive is not compatible with datastore as mentioned here - https://docs.amplify.aws/cli/graphql-transformer/versioned.

[2021-05-21 18:00] royjit commented on #1193
Amplify.Analytics currently does not support push notification, we will take this as a feature request and post updates here when we have more info.

[2021-05-21 22:06] diegocstn commented on #1242
hi @bumbleparrot , one of the main reason behind the usage of a `List<Model>` over a plain array of models is to support lazy loading of large collections of objects.
You can access the underlying collection of `Comment` via the `elements` property of a `List<Model>`
[code]
and then create a new `Incident` object with a new set of comments, save it and optimistically update the UI.
[code]
DataStor

[2021-05-21 22:35] alionthego commented on #1238
I am not using Datastore as mentioned in the question. Thx.

[2021-05-22 15:34] tobitech opened #1243 "Generic parameter 'R' could not be inferred"
I'm trying to use the AWSAPIPlugin with this function
`Amplify.API.mutate(request: .create(transaction)) { event in }`
But I keep getting these errors
`Generic parameter 'R' could not be inferred`
`Type 'GraphQLRequest<_>' has no member 'create'`
How do I resolve this?

[2021-05-24 00:37] bumbleparrot commented on #1242
Hi @diegocstn ,

I tried this approach, but the elements attribute of the List is marked "internal" thus, it is not accessible outside of the class file.

Is there another way or am I just doing it wrong?

[https://imgur.com/a/egS3U4V](url)

[2021-05-24 04:00] zmkokeshi commented on #1222
I'm able to access the API.
However, sometimes there are users who cannot access the API due to 401.

It may be related to this issue.
https://github.com/aws-amplify/aws-sdk-ios/issues/2854

Ideally, the access token should be updated on API request.
For now, we would like to avoid throwing a request with an expired access token.

Is there any way to force the access token to be refreshed?

By del

[2021-05-25 12:48] psredzinski commented on #550
Same issue here, Amplify crashes

[2021-05-25 20:50] bumbleparrot commented on #1242
A work around is to:
1. Iterate the list and create an array copy of the list.
2. Add the new record to the array.
3. Create a brand new list by setting the Elements attribute to the array.
4. Replace the reference to the original list to your brand new list!

this feels dirty but it works. @diegocstn , @palpatim , is this the only way?

[2021-05-26 08:27] ciyaer opened #1245 "I did not get a confirmation code when I register a user with email"
**Describe the bug**
when I register a user with email 3561789858@qq.com, I did not receive a confirmation code in my email box.

**To Reproduce**
Steps to reproduce the behavior:
1. I call the api:
[code]
2. Console print: SignUp Complete

**Expected behavior**
I should receive a confirmation code after I call the SignUp API success.
https://docs.amplify.aws/lib/auth/signin/q/platform/ios#prerequ

[2021-05-26 16:00] palpatim commented on #1121
We don't have any updates to report at this time.

I'm aware of one reported app rejection because of a blank page, but not specifically because of using a web view. Can you add some links to the GitHub posts you're referring to?

[2021-05-26 16:19] palpatim commented on #1242
/cc @lawmicha

We intentionally did not expose the ability to mutate the underlying elements of a List because of the internal state management Lists do to handle lazy loading across various data sources (DataStore, API). Mutating should be done through the List interface methods (such as happens by iterating on an "un loaded" List), not by directly accessing the underlying storage.

List conforms

[2021-05-26 16:26] lawmicha commented on #1242
Hi @bumbleparrot, which version of Amplify are you using? Could you try upgrading to the latest? Currently 1.9.2 is released and `elements` has been made public: https://github.com/aws-amplify/amplify-ios/blob/main/Amplify/Categories/DataStore/Model/Collection/List+Model.swift#L39

[2021-05-26 16:36] palpatim commented on #1242
public read only. :)

[2021-05-27 06:19] pwinterh opened #1255 "getCurrentUser.username returns userID instead of username"
**Describe the bug**
The amplify sdk returns the userID instead of the username when using Amplify.Auth.getCurrentUser()?.username.
In our setup the username is the email of the user, so i would expect that the email is than also returned

**To Reproduce**
Steps to reproduce the behavior:
1. Register a new user account
2. Sign In with with the user account
3. Access the current user with Amplify.A

[2021-05-27 15:19] lawmicha opened #1248 "Auth User attributes does not support all of the standard user attributes that Android does"
**Describe the bug**
Amplify.Auth add user attributes has different cases from Android

See question here: https://github.com/aws-amplify/amplify-android/issues/787

Android response: https://github.com/aws-amplify/amplify-android/issues/787#issuecomment-685992257

iOS action item: https://github.com/aws-amplify/amplify-android/issues/787#issuecomment-849710290

Flutter issue: https://github.com/a

[2021-05-27 21:10] huluyige opened #1249 "pause/resume/cancel upload"
**Describe the bug**
I can't find docs about pause/resume/cancel uploads

Hello I'am studying the storage plugin to test if i can pause/resume uploads like the old sdk, unfortunately I didn't find it. I just find a simple method:

[code]

Could you please make it clear if the amplify sdk allows to do these? if yes, Could you provide some samples "?
Thank you !

[2021-05-28 09:19] Shayila opened #1250 "I missed entering the verification code for signup flow, now not able to continue SignUp/Sign in again with that email."
**Describe the bug**
I'm using AWS amplify hosted UI in my iOS application. Here I found an issue while signing up as a new user.

**Details:**
1. I try to signup as a new user by providing my emailID and details, Next step will send a verification code to my provided email.
2. I cancelled the signup process without entering the verification code.
3.  Next time if I repeat the signup with the same

[2021-05-28 17:43] lawmicha commented on #1131
Hi @jacobsapps, any updates on this? please see questions here https://github.com/aws-amplify/amplify-ios/issues/1131#issuecomment-819805695

[2021-05-29 00:20] #1183 closed

[2021-05-29 02:10] diegocstn commented on #1238
hi @alionthego,
it'd be helpful to know how you have generated your Swift models. Unfortunately `@versioned` isn't fully supported on models generated via `amplify codegen models`.

[2021-05-29 02:36] alionthego commented on #1238
I have used amplify codegen models to generate my swift models.

[2021-05-31 09:02] saravr opened #1253 "Signin failing for MacCatalyst target"
**Describe the bug**

Built my app on MacCatalyst target but AWS sign in fails with error message

[code]

Same code, if I build for iOS target, it works.

**To Reproduce**

**Expected behavior**
Sign In should succeed

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment(please complete the following information):**
 - Amplify Framework Version: 1.5.0
 - Amp

[2021-06-01 15:12] harshchitrla opened #1254 "Unable to fetch AuthCognitoTokensProvider after login"
I'm unable to fetch AuthCognitoTokensProvider right after login, it throws me an error "Obtaining an identity id in another thread failed or didn't complete within 5 seconds."

I'm using Amplify version 1.9.0.

Here is the method I'm using to fetch Cognito tokens

[code]

It goes to catch block all the time.

It only works if I add some delay of 2 seconds. Please find the code below after adding a

[2021-06-01 17:19] dsaliberti commented on #1186
@lawmicha Hey Hi 👋

Do we have any good news here?
Is that something familiar to the team somehow?
I'm doing loads of workarounds and I'd love the remove those 😃

Thank you!

[2021-06-02 06:56] alionthego opened #1257 "How can I delete an item by id using GraphQL API WITHOUT local datastore? No examples in documentation."
I have an iOS amplify project that does not use Datastore.  I wish to delete an item and cannot see any examples in the documentation on how to do that.  What I have done is:
[code]
The error that is returned from `Amplify.API.mutate(request: .delete(someObject)) { event in` is:
"DynamoDB:ConditionalCheckFailedException"

Aside from not being able to delete the object, I also find it cumbersome to

[2021-06-02 22:35] lawmicha commented on #1257
Hi @alionthego,

What Amplify CLI steps did you take to provision your API? Did you happen to enable it with conflict resolution?

if you have conflict resolution enabled, or "Enabled for DataStore", then you'll need to use DataStore APIs to save the models to the local store, and DataStore will handle synchronizing those items to your remote store (AppSync). One reason why you may be getting Cond

[2021-06-02 22:40] lawmicha commented on #1257
adding `documentation` label to improve the docs over at https://docs.amplify.aws/lib/graphqlapi/mutate-data/q/platform/ios we should have an example to delete the model

[2021-06-02 22:47] lawmicha commented on #1254
Hi @harshchitrla, could you provide us more details as to the steps you took to configure Auth and what your amplify configuration looks like (with values redacted). Also, if you don't use the Combine's Future and just do something like this: https://docs.amplify.aws/lib/auth/access_credentials/q/platform/ios does it work?
[code]

[2021-06-02 22:58] lawmicha commented on #1254
Also if you had to add a delay, do you know what other calls you are making when you call `getCognitoTokens`? that may be the reason why another thread has obtained a lock

[2021-06-03 06:15] DNCoding opened #1259 "iOS Amplify S3 UploadFile Error when App is in background"
My app upload files to S3 for every 15 min.  When application is in foreground, the files get uploaded properly. But when app went to background, the upload is too slow and keep throwing error.  after so many retry, one file get uploaded successfully.

I keep getting any one of this 3 error

Error 1:
StorageError: Unexpected error occurred with message: Domain: [NSURLErrorDomain
Code: [-1001
Local

[2021-06-03 13:28] juhari commented on #1193
For me the workaround did not work, as I was also using Amplify AWSCognitoAuthPlugin and initialized Pinpoint with a AmplifyAWSCredentialsProvider according to instructions here: https://github.com/aws-amplify/amplify-ios/issues/662

I tried all sorts of stuff and what did it was to replace AmplifyAWSCredentialsProvider with AWSCognitoCredentialsProvider.

So this line:
`let credentialsProvider =

[2021-06-03 16:01] lawmicha commented on #1253
i think this is duplicate of macOS support feature request: https://github.com/aws-amplify/amplify-ios/issues/1124 closing to consolidate feedback over in that issue, please use that one to +1

[2021-06-03 16:13] lawmicha commented on #1250
HostedUI endpoint is not controlled by Amplify libraries and is hosted by Cognito service team so will try to clarify a few things before possibly extending this over to Cognito

This failure makes sense since someone else could use another person's email to sign up. Can you try signing in with the correct password? Does this trigger a verification code sent and UI to enter the code?

If the user

[2021-06-03 17:00] lawmicha commented on #1249
Hi @huluyige, thanks for bring this to our attention. Please take a look at https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/ResumabilityTests/AWSS3StoragePluginGetDataResumabilityTests.swift and let us know if this works for you.

Hold onto the operation
[code]

pause
[code]

[2021-06-03 17:11] lawmicha commented on #1243
Hi @tobitech, have you tried following the API docs and gotten a create mutation for the Todo model working? https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/ios#create-a-todo

What schema are you using? for example:
[code]

Could you expand on the rest code snippet such as how are you instantiating the `transaction` object?  It should be an instance of the Transaction swift clas

[2021-06-03 17:40] tobitech commented on #1243
Hello @lawmicha I couldn't get any create mutation to work. I tried to pass the `.create()` in the `mutate` method but Xcode not even showing any suggestion for that and I think that's where the problem is. Notice the second line of the Xcode error says `Type 'GraphQLRequest<_>' has no member 'create'`
The Transaction model is a generated one
[code]
This is how I'm instantiating the model `let tra

[2021-06-03 18:35] lawmicha commented on #1243
Hi @tobitech, `.create()` comes from AWSPluginsCore: https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLRequest/GraphQLRequest%2BModel.swift#L131

so perhaps you need `import AWSPluginsCore` at the top of your file where you are trying to make the `Amplify.API` call. If you're having troubles with autocompletetion, you can try splitting it out:
[co

[2021-06-03 18:38] tobitech commented on #1243
@lawmicha I just imported `AWSPluginsCore` and the error is gone. I thought importing `Amplify` would be sufficient 🤦‍♂️
Thanks for the support.

[2021-06-03 18:39] lawmicha commented on #1243
sorry for the inconvenience caused! i'll run through the docs to see if using SPM requires an explicit mention of `AWSPluginsCore` but doesn't

[2021-06-04 16:12] lawmicha commented on #1243
related docs improvement PR: https://github.com/aws-amplify/docs/pull/3288

[2021-06-04 16:15] lawmicha commented on #1257
related docs improvement PR: https://github.com/aws-amplify/docs/pull/3288 includes mention of using `.delete`

[2021-06-04 16:50] lawmicha commented on #1249
related doc improvements https://github.com/aws-amplify/docs/pull/3290

[2021-06-04 17:10] lawmicha commented on #1232
i believe this was released in https://github.com/aws-amplify/amplify-ios/releases/tag/v1.9.3 please let us know if you are still seeing issues

[2021-06-04 17:10] #1232 closed

[2021-06-04 20:29] Mauvel98 opened #1262 "Modeling friends in Amplify (or any recursive relationship)"
Looking around online, I have been unable to find any well documented examples of how to do this, other than here, https://github.com/aws-amplify/amplify-cli/issues/1637#issue-454362348 but even this does not seem to have any substantial traction.

The AWS team has said that this is in their backlog, however, it seems as though this ability to make connections between the same types of objects is

[2021-06-04 20:55] lawmicha opened #1263 "DataStore publisher sends two create mutation events for a single DataStore.save operation"
**Describe the bug**
Performing `DataStore.save(model)` triggers two create mutationEvents on the DataStore.publisher

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the DataStore docs to create a conflict resolution enabled backend with Todo model https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js
2. observe DataStore mutation events for the Todo model
3. perform `D

[2021-06-04 23:43] thisisabhash commented on #1165
Amplify Library PR : https://github.com/aws-amplify/amplify-ios/pull/1261

[2021-06-06 02:16] testflyjets opened #1264 "Receiving 403 error when downloading file"
Using Amplify Storage in an iOS Swift app, we are able to upload files from the mobile app to S3 with the access level set to `private`. However, trying to download a file from the same bucket fails with a 403 error. Attempting to download the same file that was uploaded from the app also fails with a 403.

We have tried downloading to in-memory data and to a file with the same results.

Here's th

[2021-06-07 11:00] huluyige commented on #1249
Hello @lawmicha  thank you for reply. Is there a doc talking about resuming after app restart ?  like something amplify.getTasks

[2021-06-07 16:14] testflyjets commented on #1264
Additional information:

I switched the app over to use the CocoaPods libraries instead of Swift Package Manager to see if that made a difference -- it did not, still getting the 403 error.

Also, I attempted to look at the IAM policies associated with Amplify Storage to see if something looked awry there. However, I cannot find the policy in IAM. Should I be able to find it? The policy name in th

[2021-06-07 16:51] lawmicha commented on #799
related issue on the SDK / AppSync SDK https://github.com/aws-amplify/aws-sdk-ios/issues/1740

[2021-06-07 17:15] DNCoding commented on #1259
Any help.. I am stuck with problem.

[2021-06-07 19:15] testflyjets commented on #1264
Digging into this further I discovered the root issue. The inline IAM policy that should give read access (`s3:GetObject`) does not exist and is not associated with the `authRole` used by Cognito.

The readPolicy is listed as a parameter in the CloudFormation template but is not referenced anywhere else. Also, note that the first letter of the read policy is not capitalized like the others -- this

[2021-06-07 19:26] lawmicha commented on #1264
hi @testflyjets, could you let us know which answers did you provide to the questions related to the kind of access for the users when you provisioned S3 through `amplify add storage`?

[code]

I suspect if you only allowed "create/update" for Authenciated users then they won't be able to read the data.

[2021-06-07 19:30] testflyjets commented on #1264
@lawmicha  Great question, and I wondered that myself, but I didn't see any way to go back and check that since I did it weeks ago. I vaguely recall thinking to myself, "Shouldn't `create/update` include `read`?" but that may just be hindsight.

Is there a way to update this now without trashing the existing auth + storage configuration if that was the case?

[2021-06-07 21:18] lawmicha commented on #1264
Hi @testflyjets, could you try `amplify update storage` to update the options and then `amplify push` to apply the changes. Let us know if this works!

[2021-06-07 21:36] testflyjets commented on #1264
Thanks @lawmicha that's exactly what I did. I turned on `read` as well as `delete` since we'll need both of those. All is well now, so thanks for pointing the issue out to me. I appreciate you speedy response.

[2021-06-08 04:56] alionthego commented on #1257
Hi.  I have disabled conflict resolution and I am not using Datastore.  I am managing my own local storage.
As for the Version, I am not using @versioned as it does not work with iOS API at the moment.  I have included my own version field however I am including the correct version and it makes no difference.
This is effectively a join table item I want to delete which is shown below:

type UserCo

[2021-06-08 10:52] sacrampton commented on #547
Hi @shivaping @djou-13 @drochetti @amuresia @Nicolaidam - this issue was closed, but I can't see anywhere where the issues were addressed.

I have a model called "asset" and on that model I have a connection to multiple "photo" records.

[code]

Amplify codegen generates the following entry on the asset model in schema.js

[code]

In my GraphQL back end I can execute the query
[code]
Which generat

[2021-06-08 15:37] gabimo opened #1266 "Unexpected Error shouldNotHappenReportBugToAWS() for Cognito/Amplify using Azure OIDC Auth on iOS"
**Describe the bug**
Trying to set up OIDC Auth with Azure/Cognito/Amplify for iOS and the sign in returns me an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup OIDC Cognito/Azure Auth for amplify and consume via iOS
2. Perform Login `Amplify.Auth.signInWithWebUI(for: .oidc, presentationAnchor: self.view.window!)`
3. Log in with valid credentials
4. receive error message

[2021-06-08 17:18] gabimo commented on #672
@janejjshen

How did you get to this? Did you find some documentation for the json config?

[2021-06-08 17:42] #1204 closed

[2021-06-08 19:47] Jordan-Nelson commented on #1255
FYI - This is causing the same issue in amplify-flutter (on iOS): https://github.com/aws-amplify/amplify-flutter/issues/600

I was able to reproduce this. You can see in the screenshot below that sub and username are identical.

![Screen Shot 2021-06-08 at 3 26 34 PM](https://user-images.githubusercontent.com/20613561/121245858-821f9e00-c86e-11eb-9f55-dce2ee9c046c.png)

[2021-06-08 21:24] Jordan-Nelson commented on #1255
This seems to be where it is getting set to the sub
https://github.com/aws-amplify/aws-sdk-ios/blob/143fafd64b7c6b9c7c159709f9c6c618f7e7fd28/AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m#L1043

You can see in the screenshot below that `self.username` is equal to the email address, but is getting set to the sub.

![Screen Shot 2021-06-08 at 5 17 40 PM](https://user-images.githubusercontent.co

[2021-06-09 00:11] #1202 closed

[2021-06-09 08:44] sridhanya-ambaadi commented on #1005
@diegocstn

Could you please share some updates on this feature request and also the timeline by which we can expect this to be available.

[2021-06-09 10:45] rpostulart commented on #1005
@undefobj do you have an update?

[2021-06-09 19:44] royjit commented on #1245
Do you have any lambda triggers setup for your Cognito User pool? Since you got "SignUp Complete" as the console output, it looks like there is no next step for confirming the user. I suspect that the Cognito User pool is configured to skip the confirmation during signup?

[2021-06-09 19:49] royjit commented on #1255
Amplify library uses the same username that is assigned to the signed in user by Cognito User pool. If you login to AWS console for Cognito User Pool and navigate to the user session, you can see the details of the user.

Amplify.Auth uses the same username that is displayed in the console.

[2021-06-09 20:08] Jordan-Nelson commented on #1255
I do see that the username in the AWS console matches what is returned from getCurrentUser().username

[2021-06-09 22:06] royjit commented on #1248
iOS auth plugin should have the standard attributes - https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims . This will be a breaking change for the customer since we are moving the new attributes from `unknown` type to the specific type.

I am marking this as a feature for the 2.0.0 milestone for now.

[2021-06-10 06:01] undefobj commented on #1005
No update on this. It is something we're looking into, but local encryption that is still query-able with key management to devices for syncing to the cloud is a complex problem space that will take time to address.

[2021-06-10 12:16] pwinterh commented on #1255
Yes I also see in the console the same username as in Amplify.Auth.getCurrentUser - but that is actually the userID and not the userName?

[2021-06-10 18:09] bumbleparrot commented on #1242
We can close this as the work-around is good enough for now.

[2021-06-10 18:09] #1242 closed

[2021-06-10 18:23] bumbleparrot opened #1272 "Amplify.API.mutate specific attributes of a model."
**Is your feature request related to a problem? Please describe.**
When using Amplify.API.mutate(.update, model) do I always have to supply the full model? I attempted to create an empty model and only fill in the ID and the attributes I wanted to update... say "lastLoginTime". When I updated the model, it wiped out all fields that were left nil.

**Describe the solution you'd like**
I would like

[2021-06-10 19:51] bumbleparrot commented on #1272
Actually, i think the solution to this is to create an extension to the GraphQLRequest.

I don't think there is an "Easy" generic solution.

This approach is specific to the data update use cases you need.

[code]

Thoughts on if this approach is going to be okay for the future?

It will break if the GraphQLRequest implementation changes drastically.

[2021-06-10 20:06] bumbleparrot commented on #1272
Bonus, doing it this way above automatically updates the "updatedAt" timestamp.

[2021-06-11 17:00] kervonryan commented on #1227
For anyone who still may not get it, you probably forgot to call amplify push as I did.

[2021-06-13 19:10] royjit commented on #1266
Hi,

Can you check whether the associated type in the unknown error field has any value in it? It might have more details regarding the error.

[code]

[2021-06-13 20:07] meavydev commented on #550
Amplify.Auth.signInWithWebUI is crashing with the same EXC_BAD_INSTRUCTION on the iPhone 14.4 simulator, but Amplify.Auth.signIn with a username and password works.
This suggests that it's not a problem with the amplifyconfiguration.json, but possibly something to do with the presentationAnchor parameter to signInWithWebUI.
I haven't tried on a real iPhone yet, just the sim.

[2021-06-13 20:18] meavydev opened #1276 "iOS signInWithWebUI Hosted UI crashing"
**Describe the bug**
Amplify.Auth.signInWithWebUI is crashing with the same EXC_BAD_INSTRUCTION first reported in https://github.com/aws-amplify/amplify-ios/issues/550
I am opening this issue, as 550 has been closed.

This is on the iPhone 14.4 simulator, but Amplify.Auth.signIn with a username and password works.
This suggests that it's not a problem with the amplifyconfiguration.json, but possib

[2021-06-13 20:34] jacobsapps commented on #550
Why is this issue closed? It's preventing me from implementing SIWA or any social auth provider at all

[2021-06-14 02:18] saravr commented on #1124
Hello!, is there at least a workaround we can use until the feature is released? It can help moving forward with development. When I try to use Amplify.Auth where it is failing for me is (after signIn itself succeeding) SDK fails to get user attributes (which returns error saying user is not signed in). And seeing ```OSStatus error code -34018``` means some keychain calls are failing? Is it an iss

[2021-06-14 17:08] diegocstn commented on #1238
We can't take this as a feature request at the moment, but we'll monitor possible use-cases and re-evaluate it in the future if needed. I've also updated the documentation https://github.com/aws-amplify/docs/pull/3316

[2021-06-14 18:31] royjit commented on #946
Closing this issue to avoid duplicate communication, please follow the ticket https://github.com/aws-amplify/amplify-js/issues/7251 for updates.

[2021-06-14 18:31] #946 closed

[2021-06-14 18:42] lawmicha commented on #1264
glad it is working for you! Closing this for now, with doc update issue over here https://github.com/aws-amplify/docs/issues/3317

[2021-06-14 18:42] #1264 closed

[2021-06-14 23:00] palpatim commented on #1131
Closing due to inactivity. Please feel free to reopen and provide additional info as requested in https://github.com/aws-amplify/amplify-ios/issues/1131#issuecomment-819805695

[2021-06-14 23:00] #1131 closed

[2021-06-15 13:28] meavydev commented on #1276
Just to confirm signInWithWebUI is also crashing on an iPhone 7 running iOS 14.5.
![Screenshot 2021-06-15 at 14 27 07](https://user-images.githubusercontent.com/9558404/122060915-ecdc5680-cde5-11eb-8b11-dff42723d4ef.png)

[2021-06-15 18:22] lawmicha commented on #1103
I'm going to close this for now, since we've locked in a lot of the discussions and findings we've had here over in the documentation updates. Free feel to follow-up/review over in those PRs

[2021-06-15 18:22] #1103 closed

[2021-06-15 19:43] radianttap commented on #1276
I am seeing the same crash on iOS 14.5 Simulator, using latest Amplify 1.10

I attempted to use social sign-in with `AuthProvider.google`, passing correct `UIWindow` instance. It crashes with `EXC_BAD_INSTRUCTION`, here's the call stack:

[code]

<img width="1897" alt="Screenshot 2021-06-15 at 21 37 12" src="https://user-images.githubusercontent.com/80697/122113025-da800e00-ce21-11eb-8fe0-a5b1d4e5

[2021-06-16 07:15] radianttap commented on #1276
Further note - user/pass login on same AWS environment works. FetchAuthSession, signup, login etc - all work.

[2021-06-16 16:12] TerremceK opened #1278 "How can I delete a specific S3 folder and all of its contents with Amplify/iOS/Swift5?"
This example function in the documentation

[code]

Shows me everything like below....

s3://mybucket/public/folder1/
s3://mybucket/public/folder2/
s3://mybucket/public/folder3/
s3://mybucket/public/**folderIwantToDelete**/
s3://mybucket/public/folderIwantToDelete/pic1@3x.png
s3://mybucket/public/folderIwantToDelete/pic2@3x.png
s3://mybucket/public/folderIwantToDelete/pic3@3x.png

How can I list *

[2021-06-16 17:53] palpatim commented on #1262
Ideally, you'd be able to just do a [self-reference](https://github.com/aws-amplify/amplify-cli/issues/4052#issuecomment-619205379). (That example shows a Tree relationship, while modeling friends would a Graph, but the idea is similar.)

Unfortunately, that doesn't work in Swift because we render models as structs, which don't directly support recursive/indirect members. The current workaround is

[2021-06-16 18:29] lawmicha commented on #1243
Let us know if you run into any other issues!

[2021-06-16 18:29] #1243 closed

[2021-06-16 18:42] thisisabhash commented on #1165
Codegen changes are now merged.
Pending CLI release of these changes : https://github.com/aws-amplify/amplify-cli/pull/7446

[2021-06-16 18:59] tobitech commented on #1232
@lawmicha I just upgraded to `v1.10.0` and I'm still experiencing this issue. My model is name Transaction and I keep getting this error `[logging] near "Transaction": syntax error in "select
  "root"."id" as "id", "root"."amount" as "amount", "root"."description" as "description"
from Transaction as "root""
 DataStoreError: The operation couldn’t be completed. (SQLite.Result error 0.)
Recovery su

[2021-06-16 19:39] palpatim commented on #1249
Hi @huluyige,

Amplify doesn't currently support resuming background tasks after app restart. You can see a [discussion here](https://github.com/aws-amplify/amplify-ios/issues/1096) and the associated [feature request](https://github.com/aws-amplify/amplify-ios/issues/1102).

[2021-06-16 20:33] jro55 commented on #739
Thanks for sharing this, I am currently using this as my work around until I figure out a better solution. I synced my app with the cloud for testing purposes to make sure everything worked as intended but now want to continue development work which includes adding/updating schemas. I cannot find an easy way to just turn it off.

Additionally I'm trying to find a way to conditionally sync users' d

[2021-06-16 21:18] palpatim commented on #1255
@pwinterh, @Jordan-Nelson:This is working as designed, although perhaps not as expected.

The confusion comes because "username" could be interpreted to mean "the thing I type into the **username** field when I login. Cognito takes a [stricter approach to usernames](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-usernames). It requir

[2021-06-16 21:32] palpatim commented on #1272
@bumbleparrot As you discovered, there is a difference between "not specifying" a value and "specifying null", and we don't have a great way to distinguish between those two cases. If you use a model-based approach, every field of that model is included in the GraphQL document, which means that fields you don't specify are set to `nil`, which means that AppSync interprets the request to mean "set

[2021-06-16 21:33] palpatim commented on #1272
For future clarification: We are leaving this open as a feature request for local mutations to distinguish between "null values" and "don't change the value". Currently, `null` in the Swift model means "set the value to `null`" and there is no way to say "don't change the value".

[2021-06-16 23:02] palpatim commented on #1276
Where are you retrieving the `UIWindow` that you pass as the presentation anchor? What does your call site look like? The nature of the crash seems like you might be force-unwrapping an optional.

[2021-06-16 23:30] lawmicha commented on #1186
hey @dsaliberti,

After you start DataStore,  (DataStore.start or through another operation (query, save, delete) will also start DataStore), do you see any logs that indicate something is not working? Beisdes the ready event, there are a few other events to consider https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/ios

for example, do you see `modelSynced` event? event ready is

[2021-06-16 23:36] lawmicha commented on #1157
Hi @anatomybook,

I believe the cascade delete feature that DataStore is currently implemented is best-effort and does not do this atomically, and so that's why this is an issue that you described, data is simply not being deleted while the local SQLLite enforces the parent to exist when syncing a child object.

I believe the bug here that needs to be fixed is even in this state: there are orphane

[2021-06-16 23:56] bumbleparrot commented on #1272
Thanks @palpatim for explaining those considerations.

I think we are good for now and can get by via the extension approach.

Thanks for keeping it open as a future request! I'm sure others do not always want to retrieve a full record just to update 1 field when you may already know a primary key for the full session of the app (like userId).

[2021-06-17 00:27] palpatim commented on #1278
Currently, the Amplify interface doesn't support "bulk" deletes, so the pattern you listed would be the right way to do this. The example you listed looks like Kotlin, which of course doesn't work for iOS

In Swift (using callbacks), it'd look something like:

[code]

[2021-06-17 03:25] TerremceK commented on #1278
Hey Tim thanks for your response! You rock, this works perfect.  It looks like you filtered the results of the list to get the name of the folder desired and then took action from there.  Nice! 👍🏻 I would have been stuck trying to figure that one out for a wile. 😅 many thanks!

[2021-06-17 08:12] jamescrowley opened #1279 "Upload to S3 slows to halt after queueing multiple files"
**Describe the bug**

I need to queue several thousand images for background upload into S3. However, the more files I add by calling `Amplify.Storage.uploadFile` the slower everything seems to get - after about 20 it essentially seem to be doing little at all (ie hardly get any file progress notifications, and zero completions).

It looks as if there's no queueing mechanism and Amplify is just tr

[2021-06-17 08:50] radianttap commented on #1276
I take `self.view.window` from the currently shown view controller. You can see in my screenshot that it's valid UIWindow instance and I made sure to check that, placing a breakpoint in your code at `awsMobileClient.showSignIn` line and checking the instance.

[2021-06-17 08:53] radianttap commented on #1276
Call site:

[code]

[2021-06-17 09:28] meavydev commented on #1276
I'm an Android dev, not iOS, but the code I am using was from a sample that must have worked at some point, as it showed a video of it logging in.
`    private var window: UIWindow {
        guard
            let scene = UIApplication.shared.connectedScenes.first,
            let windowSceneDelegate = scene.delegate as? UIWindowSceneDelegate,
            let window = windowSceneDelegate.window as?

[2021-06-17 14:18] palpatim commented on #1279
Thanks for reporting this, we'll need to investigate. I haven't reviewed the code in a while, but my recollection is that we submit each upload task to an NSURLSession configured for background operation as soon as Amplify receives the request. The OS should manage parallel tasks transparently, so it's unexpected that we'd see a problem handling multiple tasks.

[2021-06-17 21:05] palpatim commented on #1278
Glad it helped!

[2021-06-17 21:05] #1278 closed

[2021-06-17 21:14] palpatim commented on #1276
Thanks for clarifying. I do see the UIWindow in the debug inspector--I missed that before!

We'll dig into this again to see if we're able to repro the issue.

[2021-06-18 00:02] jamescrowley commented on #1279
@palpatim thanks, let me know if I can do anything to assist

[2021-06-18 00:34] brennanMKE opened #1280 "Storage: Add missing doc comments"
**Describe the bug**

Doc comments are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. View docs website for API reference.

**Expected behavior**

All public interfaces should be documented.

**Environment(please complete the following information):**
 - Amplify Framework Version: [e.g. 1.5.3]
 - Amplify Categories:
   - [ ] Analytics
   - [ ] API
   - [ ] Auth
   - [ ] DataStore

[2021-06-18 05:08] jamescrowley commented on #1279
It looks like these could be getting stuck on getIdentityId. Currently these are being uploaded to using the .public permission with no sign in. I'm due to add auth shortly so I'll see if that has any impact.

<img width="321" alt="Captura de pantalla 2021-06-18 a las 15 07 12" src="https://user-images.githubusercontent.com/509533/122509304-e6004e80-d046-11eb-82a2-5770dff16bea.png">

[2021-06-18 09:14] pwinterh commented on #1255
@palpatim: Thank you for your detailed replay.

Yes I also think that the current behaviour is actually somehow misleading. In addition, the functionality of the iOS SDK differs here from the Android SDK. There it is possible to get the email of the user with `Amplify.Auth.getCurrentUser()?.username`.

Also thanks to @Jordan-Nelson the workaround with fetch user attributes call works as alternativ

[2021-06-18 11:19] adamsadiq7 commented on #349
Any more news on this?

[2021-06-18 15:55] maxhumber opened #1282 "amplify pull doesn't remove models deleted in the Amplify Admin Panel"
**Describe the bug**

I've been making changes to my data models in the Amplify Admin Panel. Recently, I removed an enum type...

**To Reproduce**

I ran `amplify pull` to update the schemas on my machine...

**Expected behavior**

And the models were correctly updated, however, the enum (that was deleted) was left over... Should be deleted?

**Environment(please complete the following information

[2021-06-18 16:05] diegocstn commented on #504
@anthonymoretti @alexmay48 thanks for taking the time to comment. We’re working on ways to make DataStore relationships simpler. We’ll update this issue when we have more information.

[2021-06-18 16:13] diegocstn commented on #505
Thanks for taking the time to comment. We’re working on ways to make DataStore relationships simpler. We’ll update this issue as soon as we have more information.

[2021-06-18 16:25] palpatim commented on #1107
Thanks for taking the time to comment. We’re working on ways to make DataStore relationships simpler. Once we get that done, we may need to adjust code in the DataStore plugin to properly handle the situation above. We’ll update this issue when we have more information.

[2021-06-18 23:25] palpatim commented on #1279
Thanks for the additional context. I think you're getting caught by "Issue 1" as described in https://github.com/aws-amplify/aws-sdk-ios/issues/1691#issuecomment-528079946

The workaround for that behavior is to ensure the system has current credentials cached in memory **before** starting large batch operations. In the legacy SDK, that would mean issuing a call to `[credentialsProvider credential

[2021-06-18 23:31] palpatim commented on #1255
Tagging this as a feature request:

---

**Is your feature request related to a problem? Please describe.**
Customers are confused that `getCurrentUser()?.username` returns unexpected values in different scenarios, such as when the User Pool configuration allows aliases for sign in.

**Describe the solution you'd like**
A normalized, predictable behavior for `getCurrentUser()?.username` that acts

[2021-06-18 23:35] palpatim commented on #1282
Can you confirm that if you remove the files manually in Xcode (that is, remove both the file and the project reference), that `amplify pull` doesn't re-populate them? I agree that it would make sense to remove files that are under codegen control, as long as we can verify that the file to be removed actually *should* be. It would obviously be bad if we removed user-generated files from the `ampli

[2021-06-19 01:53] maxhumber commented on #1282
Confirmed: once manually deleted, they don't get re-populated

[2021-06-19 03:12] #977 closed

[2021-06-19 22:39] jamescrowley commented on #1279
@palpatim thanks. This is strange. I've included the getAWSCredentials/getIdentityId call before I send the batch uploads (ensuring I wait for the result). This has helped, in that I can bump the 'max' uploads up to around 100 now, but bump it up to 150 and everything grinds to a halt.

It's feeling very much like there's a deadlock.

In an 'unhealthy' scenario, I get zero progress updates. I can

[2021-06-21 04:29] alionthego opened #1284 "Timeout for GraphQL mutations"
I am trying to create an object using:

Amplify.API.mutate(request: .create(someObject)) { event in
...
}

In the case where you are connected to a wifi router but no the internet, this operation does not return anything.  This is not an outlying scenario and I encounter it often in hotels or airplanes when the device automatically connects to a wifi source but has not confirmed or paid for the co

[2021-06-21 04:43] alionthego commented on #1257
Any follow up on this?  I am still not able to delete this record by any means.

[2021-06-21 12:22] anatomybook commented on #1157
Hallo @lawmicha ,

thanks for looking into this!

Yes, it would help very much if the sync engine could handle this gracefully. I suggest that it should attempt to delete the item in the backend, if the parent is missing as it is lost for "regular" usage. This would also keep the database clean.

If the ready event was 100% reliable, I could remove some workarounds in my code. That would tremendou

[2021-06-21 13:25] gabimo commented on #1266
Update: Removed Client Secret by making a new instance or environment or whatever and the problem is gone

[2021-06-21 14:57] #1266 closed

[2021-06-21 18:11] kristjan97 opened #1285 "Not being able to filter out _deleted items on api query"
**Describe the bug**

I want to be able to filter out items that are marked at _deleted in my api query without having to make a new property that I have to manage myself.

**Environment(please complete the following information):**
 - Amplify Framework Version: [e.g. 1.5.3]
 - Amplify Categories:
   - [ ] Analytics
   - [x] API
   - [ ] Auth
   - [x] DataStore
   - [ ] Predictions
   - [ ] Storag

[2021-06-21 18:29] palpatim commented on #1095
We have reached out to Apple for any information they can provide on this. We'll reopen if we get any updates.

[2021-06-21 18:29] #1095 closed

[2021-06-21 18:38] palpatim commented on #1051
Closing this in favor of tracking the two amplify-adminui issues @lawmicha filed. Please follow those issues for updates.

[2021-06-21 18:38] #1051 closed

[2021-06-21 18:40] palpatim commented on #1134
Amplify iOS does not currently support the ability to change auth methods at runtime. We'll take this as a feature request and update this issue when we have more info.

[2021-06-21 18:50] palpatim commented on #1206
We are investigating a few different edge cases around consecutive updates, and this is one of them. :) We'll update this issue when we have more info.

[2021-06-21 18:53] palpatim commented on #1032
Closing as we're not able to reproduce this issue. If you're able to provide some additional information or repro steps, please feel free to re-open and we'll continue to investigate.

[2021-06-21 18:53] #1032 closed

[2021-06-21 18:54] palpatim commented on #993
We are working on a fix for this and will update when we have more info

[2021-06-21 22:20] jamescrowley opened #1286 "Storage supporting more than 1000 keys (ie pagination)"
**Describe the solution you'd like**
I expected Amplify.Storage to enable me to paginate beyond the 1000 key limit using NextContinuationToken or similar.

**Describe alternatives you've considered**
The only alternative right now seems to be to drop down to the S3 client, but this seems like a pretty basic requirement to support pagination?

Have I missed something?

[2021-06-22 02:06] alionthego opened #1288 "Updating appends to array in database rather than replacing it."
I'm not sure why updating appends items to existing array instead of replacing the array.  I am not using local datastore so conflict resolution is not the issue for me.

How can I replace the array with the update?

let someObject = SomeObject(id: "ABCD", arrayItems: [.... array of items ...])

Amplify.API.mutate(request: .update(someObject)) { event in
     // appends the array items to existing

[2021-06-22 02:19] alionthego commented on #1257
I have figured out what the problem was.  It had to do with the delete being performed by somebody other than the owner.  So I modified the permissions and removed delete and now it works.  thanks.

[2021-06-22 02:19] #1257 closed

[2021-06-22 02:46] daniel-g-pomelo commented on #1134
@palpatim  Please let us know if you need any additional information from us, currently we have a work around to ensure we can use both login methods at runtime, however would be great if we could have that in the SDK thanks.

[2021-06-22 04:12] thisisabhash commented on #1143
When `.all` is passed to identify(), AWSTextract is used to analyze the image and the result is returned as `IdentifyDocumentTextResult`.
When `.plain` is passed to identify(), both AWSRekognition and AWSTextract are used to analyze the image. AWSRekognition has a word detection limit of 50 for an image and if an image contains more than 50 words, results from both AWSRekognition and AWSTextract a

[2021-06-22 12:09] MaxGiesbers opened #1289 "AWS-Amplify deprecations warning"
Hi everyone,
I’ve installed the following packages from aws-amplify with CocoaPods:
•	Pod ‘Amplify’
•	Pod ‘AmplifyPlugins/AWSCognitoAuthPlugin’
•	Pod ‘AmplifyPlugins/AWSS3StoragePlugin’
But for some reason I have a lot of deprecated functions when I build the code. See screenshot below:

![image](https://user-images.githubusercontent.com/26543706/122921551-e9574b00-d362-11eb-860d-e214eff721e8.png)

[2021-06-22 15:29] callumboddy opened #1290 "Starscream dependency is outdated (conflicts with Apollo)"
**Describe the bug**
Starscream dependency is outdated

**To Reproduce**
Steps to reproduce the behavior:
1. Install Apollo via SPM @ latest 0.44.0 (>= 0.41.0)
2. Install Amplify via SPM @ latest 1.10.0

**Expected behavior**
Resolves packages successfully

**Environment(please complete the following information):**
 - Amplify Framework Version: 1.10.0
 - Amplify Categories: All
 - Dependency Mana

[2021-06-22 15:34] callumboddy commented on #1290
This can be resolved by downgrading to Apollo client 0.40.0 but it looks like they are using later version, however having looked at the latest releases of Starscream, they are not marked as `verified`.

[2021-06-22 23:51] diegocstn opened #1291 "Support for failable/throwing GraphQL document decorators"
We should expand our GraphQL document decorators system so structs/classes conforming to `ModelBasedGraphQLDocumentDecorator` can provide a validation step and throw an error if a request is obviously malformed so that DataStore/API can fail early without sending the request over the wire.

An example of where this would be handy is when we send a subscription request for a model with an @auth rul

[2021-06-23 00:49] brennanMKE opened #1293 "Update Swift code to replace deprecated class with AnyObject"
**Is your feature request related to a problem? Please describe.**

`class` is deprecated in favor of `AnyObject` in modern Swift and changing it will eliminate many build warnings.

**Describe the solution you'd like**

Simply replace `class` with `AnyObject`.

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2021-06-23 12:12] edwinwong90 commented on #1254
@harshchitrla adding delay is correct way. even in Apple Doc also mention https://developer.apple.com/documentation/combine/using-combine-for-your-app-s-asynchronous-code

[2021-06-23 16:38] TerremceK opened #1295 "Need to be able to rename S3 Folder using Amplify & Swift"
Hello, I'm developing App where a user will be creating a folder name on S3 that matches their username.  I need the ability in Swift5 & Amplify to create a function that will rename that folder should my users need to change their username. This ability is critical for my App and I don't currently see any documentation in the Amplify iOS Library for copying files.

The solution I would like is fo

[2021-06-23 20:52] #1293 closed

[2021-06-23 20:56] diegocstn commented on #1289
hey @MaxGiesbers,
most of these warnings are coming from 3rd party dependencies that we imported long ago.
We are currently evaluating what's the best way to handle this.
I'm gonna close this issue in favour of https://github.com/aws-amplify/aws-sdk-ios/issues/3025 but feel free to reopen if you have any other questions.

[2021-06-23 20:56] #1289 closed

[2021-06-23 21:35] diegocstn commented on #1250
Closing due to inactivity.

[2021-06-23 21:35] #1250 closed

[2021-06-23 21:36] thisisabhash commented on #1165
CLI changes are now merged.

[2021-06-23 21:36] #1165 closed

[2021-06-24 00:07] #1249 closed

[2021-06-24 07:27] shubhk97 opened #1297 "Passwordless login support not available"
We want to enable passwordless login using aws cognito as an authentication provider. And at the same time we want to enable social login as well. We were able to configure social login using the federated identities but for passwordless phone number login we didn't find any inbuilt support in cognito.

Came across an AWS blog for configuring passwordless login using cognito triggers. Below is the

[2021-06-24 09:08] donpaul120 opened #1298 "Pose and Attributes values are null"
Please what am i possibly doing wrong, i'm writing a method channel on flutter however the values i receive are not helpful.

metadata.pose -> mostly returns only one value out of roll, pitch and yaw, and it's mostly -10
attributes -> is always null

Here's my implementation

[code]

I've done this on Android and it works very fine, is there anything that differs on iOS.

PS: I'm not very conversa

[2021-06-24 12:18] donpaul120 commented on #1298
I initialized  a fresh amplify project, although the `attributes` isn't nil anymore but the content are always
true with the zero confidence, while the pose values seems to be accurate.

[2021-06-24 16:11] donpaul120 commented on #1298
My guess is that , Attributes: ["ALL"] is not specified if so, how do i specify this on the amplify predictions plugin?

[2021-06-25 01:28] diegocstn commented on #1285
Hey @kristjan97, are you using `Amplify.DataStore.query` to query your backend?

[2021-06-25 02:15] diegocstn commented on #1298
hi @donpaul120, I'm not familiar about how Flutter integrates with native iOS but one thing that looks a bit off in your code is how you're returning a `FlutterResult` from different places.
Is `reply` some sort of callback that accepts a result as argument that will be sent back to the caller on the Flutter side? if so, you probably just need to invoke it and don't need to return its result.

Als

[2021-06-25 02:31] diegocstn commented on #1297
Hi @shubhk97,
in [`Amplify.Auth.signIn`](https://aws-amplify.github.io/amplify-ios/docs/Protocols/AuthCategoryBehavior.html#/s:7Amplify20AuthCategoryBehaviorP6signIn8username8password7options8listenerAA0b4SignF9Operation_pSSSg_AjA0bkF7RequestV7OptionsVSgys6ResultOyAA0bkfO0VAA0B5ErrorOGcSgtF) the password argument is Optional, so you should be able to send `nil` in case of a passwordless flow.

[2021-06-25 05:34] diegocstn commented on #1282
@maxhumber what you're experiencing seems related to https://github.com/aws-amplify/amplify-codegen/issues/50
Which version of the CLI are you on? Looks like the issue has been addressed and the new behaviour is behind a feature flag with a default value to `false` for old projects.
You can check the value of the feature flag `cleanGeneratedModelsDirectory` in your project by verifying the content

[2021-06-25 05:49] diegocstn commented on #1176
Closing due to inactivity.

[2021-06-25 05:49] #1176 closed

[2021-06-25 08:30] donpaul120 commented on #1298
@diegocstn Okay, yes the `reply` is like a callback, thanks for that, i'm guessing a return statement will stop the execution from getting to the next code block but will read more on swift as i have no choice.

The method call handler blocks, atleast from the flutter point of view, it awaits the result from invoking the method handler.
The method handler just receives method calls from flutter an

[2021-06-25 13:22] dilankaapt commented on #1078
Upon calling globalSignOut will the id & access token be invalidated? Can this atleast be done in cognito itself or is this a bug in cognito?

[2021-06-25 14:25] Jordan-Nelson commented on #1107
@palpatim @diegocstn - I think it is worth noting that the second schema creates a `.hasOne` `ModelAssociation`, whereas the first schema actually creates a `.belongsTo` `ModelAssociation` (see screenshot below that shows this). It is not always transparent to the consumer what type of `ModelAssociation` is being used. But the fact that one schema works and the other does not is consistent with th

[2021-06-25 16:20] diegocstn commented on #1290
hey @callumboddy,
we've considered updating Starscream dependency to v4.0.4 but it's a non-trivial task as the new version has a few breaking changes and the APIs are drastically different.

[2021-06-25 21:17] brennanMKE commented on #1284
@alionthego What you can use is Apple's Network framework which will allow you to monitor the network path so that if it is no longer able to connect it will report the change in status. The legacy system Apple created years ago is Reachability which has been replaced with the modern framework. See reference the [Connectivity Package] for monitoring connectivity. It includes an app that you can in

[2021-06-25 23:16] diegocstn commented on #1298
You might want to call `reply` and return after
[code]

Thanks for reporting that, we'll be [updating](https://github.com/aws-amplify/amplify-ios/pull/1301) our README to match our documentation https://docs.amplify.aws/lib/predictions/escapehatch/q/platform/ios.

After you've gained access to a `AWSRekognition` service instance and successfully constructed a `AWSRekognitionDetectFacesRequest`, I

[2021-06-25 23:43] diegocstn commented on #1245
Closing due to inactivity.

[2021-06-25 23:43] #1245 closed

[2021-06-26 00:10] diegocstn commented on #645
I believe with the current state of DataStore, when the sync engine is restarted (either via `start` or any other operation) the locally stored item should get sent to the backend.
Also per https://github.com/aws-amplify/amplify-ios/pull/815 and https://github.com/aws-amplify/amplify-ios/pull/1299 the sync engine should not halt in case of authentication errors.

[2021-06-26 00:10] #645 closed

[2021-06-26 00:28] diegocstn commented on #1075
@alionthego you can read [here]( https://github.com/aws-amplify/amplify-ios/issues/1272#issuecomment-862741593) a quite detailed explanation about why at the moment providing the full model is necessary.

[2021-06-26 00:45] alionthego commented on #1075
thanks for the link to the explanation.  It's still not clear why this can't be done with some logic in the SDK.  Currently you can modify one field only from a lambda function.  In any case thanks for the link

[2021-06-26 08:48] donpaul120 commented on #1298
@diegocstn Oh yes, this is perfect... Everything works fine. Thanks very much.

[2021-06-26 09:59] anatomybook commented on #1143
@thisisabhash thank you very much for your answer. That makes sense. So I guess, I'll have to stick with `.all` to reliably obtain the words instead of the lines.
Or can you think of another way to always get the words without paying for lots of stuff I don't use? The words is really all I need. I'm not interested in key-value pairs, forms or tables.

[2021-06-26 19:25] diegocstn commented on #1298
I'm glad it helped!

[2021-06-26 19:25] #1298 closed

[2021-06-26 19:26] diegocstn commented on #1298
I'm closing this issue but feel free to re-open or comment if you have other questions.

[2021-06-27 23:24] alionthego commented on #1288
This was an issue on the client side that was not to do with the SDK and has been resolved.

[2021-06-27 23:24] #1288 closed

[2021-06-28 13:58] albemala opened #1302 "DataStore doesn't emit `syncQueriesReady` or `ready` events after first-time sync"
**Describe the bug**

I'm using Amplify with Auth, Storage, API and DataStore in my app. The first time I run the app after installing it on a device, Amplify does a full DataStore sync with the back-end. When DataStore finishes synchronizing, it should emit a `syncQueriesReady` or `ready` event, but it doesn't. If I close the app and reopen it, DataStore synchronizes correctly and the 2 events ar

[2021-06-28 14:55] radianttap commented on #1276
Any news on this..? We are nearing end of project and this is only remaining blocker.

[2021-06-28 15:34] diegocstn commented on #1302
hi @albemala,
thanks for reaching out.
How does your schema look like? Do all your models have associated one or more @auth rules?
I'd be also helpful to know how you're triggering DataStore initial sync after the user has logged in (i.e. by calling `Amplify.DataStore.start` or by just querying one of the models).

[2021-06-28 16:18] albemala commented on #1302
Thank you @diegocstn for the prompt reply!

All types have at least one `@auth` rule associated, with 2 exceptions: `S3Object` and a `Query` type we defined to trigger lambda functions using the Amplify API.

By querying one of the models.

[2021-06-28 22:24] brennanMKE opened #1305 "Evaluate AWSGraphQLSubscriptionOperationCancelTests for cause of sporadic failures in dry runs"
**Describe the bug**

These tests have failed multiple times recently possibly due to a race condition. Temporarily the timeout could be increased but if it is a race condition it is possible even more time would still result in tests failing. These tests will need to be evaluated to reproduce these sporadic failures locally to observe the stack frames when the tests fail and determine what can be

[2021-06-28 22:26] brennanMKE commented on #1305
* [Failing dry run](https://app.circleci.com/pipelines/github/aws-amplify/amplify-ios/3416/workflows/40dc390d-726a-49be-9b2b-aa5f57613640/jobs/29406)

`testCancelSendsCompletion`

[2021-06-29 15:23] radianttap commented on #1276
@palpatim I tried using local CocoaPods integration, hoping to ping point the issue.
When I tried Google login, it crashed attempting to force-unwrap webDomain here:

<img width="872" alt="Screenshot 2021-06-29 at 17 22 16" src="https://user-images.githubusercontent.com/80697/123824789-a1a26780-d8fe-11eb-8bf5-fcf116c0ddf1.png">

Stack trace:

<img width="913" alt="Screenshot 2021-06-29 at 17 21 34

[2021-06-29 16:25] radianttap commented on #1276
Huh, [found it](https://docs.amplify.aws/lib/auth/existing-resources/q/platform/ios), it apparently needs a whole `OAuth` block, inside `Auth.Default`.

With this, `AWSMobileClient` used through CocoaPods does not crash.

But this same configuration, when using `Amplify` integrated through SwiftPM, crashes at the same spot. Thus I guess you still have some force-unwrapping or something happening i

[2021-06-29 17:55] kristjan97 commented on #1285
I use Amplify.API.query because I want the most up to date data from backend, to fix this problem I had to create a special resolver, however I would be happier if there was an argument in the library to filter out by _deleted.

[2021-06-30 11:09] radianttap commented on #1276
Whatever is crashing Amplify seems to be fixed, but release with the fix is not yet tagged, thus SPM does not get it.

1. Keep Amplify added as SPM package in your project.
2. Clone this entire repo somewhere locally
3. Drag & drop the `amplify-ios` folder into Xcode project, as [explained here](https://developer.apple.com/documentation/swift_packages/editing_a_package_dependency_as_a_local_packag

[2021-06-30 19:47] lucianthorr opened #1307 "Cannot generate AWSPinpoint eligible endpoints from iOS app"
Hi.  I've been trying to setup AWS Pinpoint notifications using the Segments feature for a few days and cannot seem to get the pieces to work together.
I've got an APN_SANDBOX setup, I'm using the configuration @rochabr is describing in this [Issue](https://github.com/aws-amplify/amplify-ios/issues/1193) where the pinpoint is setup before `Amplify.configure()` is executed because it does not seem

[2021-06-30 20:22] lucianthorr commented on #1307
I should mention that I cannot seem to get the channel.optOut to change to "NONE" because I think that might be the issue.
currently setting it via
[code]

[2021-07-01 23:26] Chesong-Lee-Hospii commented on #1017
Bumping since we need this as well.

[2021-07-02 17:35] brennanMKE commented on #1295
@TerremceK We currently do not have support for this interaction. We will discuss this issue as a feature request.

[2021-07-02 19:00] HuiSF opened #1308 "Datastore conflict AutoMerge behaves differently from amplify-android"
### Describe the bug

Original issue amplify-flutter [#634](https://github.com/aws-amplify/amplify-flutter/issues/634)

amplify-ios AutoMerge for handling conflict caused by multi-device offline/online syncing behaves differently from amplify-android, where amplify-android seems having the correct behavior.

Detailed description please refer to [this comment](https://github.com/aws-amplify/amplify

[2021-07-02 22:04] TerremceK commented on #1295
@brennanMKE Thank you for your response!  I know it may be hard to say but are you able to give me any idea on what time frame I could be looking at to have this feature implemented?

This request is critical for my App development & pretty much makes using Amplify pointless for me if I can't copy files using Swift.  Would be great to know if this something that can be dealt with soon or something

[2021-07-03 00:10] #1284 closed

[2021-07-05 14:17] 3m commented on #1124
@Kilo-Loco I've watched all of your amplify/swift ui tutorials and they are excellent and have been so helpful, but one of the main reasons I was excited about SwiftUI was it's native support for MacOS, so I'm very concerned about the path I'm currently on... investing into using amplify without any indication from the Amplify team if they have plans to support MacOS?  Are you able to provide any

[2021-07-06 03:45] jamescrowley commented on #1279
Ping to keep this issue open

[2021-07-06 19:52] jgale commented on #1185
We are experiencing this exact bug too, and worried it might hold us back from launching a Cognito-based solution. Have you discovered any workarounds @mattcat10?

[2021-07-07 14:56] jgale commented on #1185
Following up, we came up with a workaround. When the app starts up and it's a fresh install, we clear the Keychain-related items via:

[code]

That seems to clear the bad state, and then the user can sign in again. Note that this is a pretty blunt instrument. If you have other generic password items stored in your app's keychain, this will blow them away too.

[2021-07-07 20:01] lawmicha commented on #1276
hey @radianttap glad you were able to get pass the crash. Which commit are you pulling in there that is fixing things and which is the previous version? (Still 1.10.0?). trying to narrow down which commit fixed things

[2021-07-08 02:44] mattcat10 commented on #1185
@jgale we have not done any work around at this point, i'll have to try your workaround.

[2021-07-08 10:40] radianttap commented on #1276
Honestly, I can't tell. I pulled SPM package from master branch instead of per version. So it's certainly something after 1.10.0.

Do note that `AWSMobileClient` code I highlighted will still crash if you try to use social sign and WebDomain is not present in awsconfiguration.json

[2021-07-08 13:20] yazoonic opened #1310 "Initial sync fail with models have connection"
Initial sync is failing when we have models with connection to other models

Steps to reproduce:-

create 2 models with connection

enum PostStatus {
  ACTIVE
  INACTIVE
}

type Post @model {
  id: ID!
  title: String!
  rating: Int!
  status: PostStatus!
  # New field with @connection
  comments: [Comment] @connection(name: "PostComments")
}

# New model
type Comment @model {
  id: ID!
  content:

[2021-07-08 14:47] lawmicha commented on #1310
Hi @yazoonic , thanks for bringing this to our attention. I've been investigating the foreign key constraint error caused by different scenarios. (ie. cascade delete scenario may also result in the error https://github.com/aws-amplify/amplify-ios/issues/1157). Could you expand on how you added the data? did you create a Post, saved it, and then create a Comment with the Post object, and saved it?

[2021-07-08 14:52] yazoonic commented on #1310
@lawmicha
I used this to save
let postWithComments = Post(title: "My post with comments",
                            rating: 5,
                            status: .active)

let comment = Comment(content: "Loving Amplify DataStore", post: postWithComments)

Amplify.DataStore.save(postWithComments) { postResult in
    switch postResult {
    case .failure(let error):
        print("Error adding po

[2021-07-08 14:54] lawmicha commented on #1302
Do you have sample of your schema we can use to reproduce this? Are you using `@connection` anywhere? Do you see any relevant logs indicating an error with the sync process? You can turn on verbose logging with ` Amplify.Logging.logLevel = .verbose`

[2021-07-08 15:00] lawmicha commented on #1280
I believe this is completed as per #1280

[2021-07-08 15:00] #1280 closed

[2021-07-08 15:08] lawmicha commented on #673
We recently launched support for 1. containing multiple `@auth` rules on a single model. I'm not aware of the effort to support 2. per field level `@rule` rules on iOS at the moment.

[2021-07-08 15:12] lawmicha commented on #564
glad to hear that solution is working for you. I believe instead of having the CLI add multiple sections, we'll end up with one section (the primary auth mode of the AppSync endpoint) and provide a way to change the auth type, similar to JS. this mechanism exists since we've added multi-auth support in DataStore. DataStore cycles through multiple auth types against the single API endpoint

[2021-07-08 15:50] lawmicha commented on #466
Hi @raheel, yes this should be done at the category level and at the plugin's implementation. Since this requires some cordination across platforms for the category change and since it's also a breaking change, i'm going to remove this as a good first issue and mark it under milestone 2.0.0

[2021-07-08 16:30] bluepixeltech commented on #811
Were you able to figure out the problem? I have the same problem. Amplify.Auth.fetchUserAttributes sometimes (not always) hangs and doesn't return anything! Not even an error.

[2021-07-08 17:51] jfsagasti opened #1312 "Subscriptions dying while device is locked"
### Describe the bug

Hi! This is the first time we're using Amplify and we are not totally sure if this a known issue or maybe a misconception from ourselves when dealing with the framework.

The thing is that we are relying on `Amplify.API.subscribe(request: GraphQLRequest(...`  with Combine publishers in multiple places in our app and we have encountered that all subscriptions stop working and

[2021-07-09 00:09] #1262 closed

[2021-07-09 00:15] jamescrowley commented on #1286
Commenting to avoid going stale.

[2021-07-09 10:46] albemala commented on #1302
@lawmicha Sorry I cannot share the schema.

Yes we are using `@connection`s in a few places.

I tried to turn on verbose logging, but I don't see any relevant error from Amplify. `modelSynced` events are correctly emitted. But `syncQueriesReady` or `ready` events are never emitted the first time I run the app.

[2021-07-09 17:50] lawmicha commented on #98
JS has hub docs: https://docs.amplify.aws/lib/utilities/hub/q/platform/js#listening-for-messages

[2021-07-09 17:52] lawmicha commented on #276
this is where currently the versions are used and updated via scripts: https://github.com/aws-amplify/amplify-ios/commit/0cfde3335e0b89bee3e927accb42238200c0d9c2

[2021-07-09 17:55] palpatim commented on #276
We have an update script that bumps versions across the various usages. The effort to migrate all of these usages to literally use a single file is going to be more than the benefit of having that file. Closing as wontfix.

[2021-07-09 17:55] #276 closed

[2021-07-09 18:02] palpatim commented on #760
The existing behaviors across platforms are incompatible, and cannot be resolved without breaking one platform or another.

Next steps:
- Document the behavior of the flag in each platform, with a warning or alert that the behavior differs across platforms
- When the time comes to look at Auth 2.0, consider what the desired behavior is and write tests across platforms to assert that desired behavi

[2021-07-09 18:35] palpatim opened #1314 "Check for new installations before loading credentials from keychain"
**Is your feature request related to a problem? Please describe.**
As described in https://github.com/aws-amplify/amplify-ios/issues/1016 and https://github.com/aws-amplify/amplify-ios/issues/1185, if an end user signs in, uninstalls the app, then reinstalls the app, Amplify will read persisted credential data from the keychain.

This is current behavior, and working as designed, as described in o

[2021-07-09 18:37] palpatim commented on #1185
This is working as _designed_, as noted [here](https://docs.amplify.aws/lib/info/app-uninstall/q/platform/ios). However, it's not necessarily working as _expected_, since credential information persisting across app installs can certainly be surprising.

I've opened https://github.com/aws-amplify/amplify-ios/issues/1314 to track a feature request to handle this in the Amplify Library, and am closi

[2021-07-09 18:37] #1185 closed

[2021-07-09 18:54] jackstenglein opened #1315 "Unexpected error: could not get valid token from the user"
### Describe the bug

I use `Amplify.Auth.signInWithWebUI(for: provider, presentationAnchor: window, options: .preferPrivateSession())` to sign in users. I am using Google as the provider. After the user is signed in, I use `Amplify.Auth.fetchUserAttributes()` to fetch the user's attributes. At this point, I receive the following error:

[code]

### Steps To Reproduce

[code]

### Expected behavio

[2021-07-09 19:13] royjit commented on #1315
The user session might be expired, you can listen to auth event and let the user re-authenticate if session expired. https://docs.amplify.aws/lib/auth/auth-events/q/platform/ios

[2021-07-09 19:37] lawmicha commented on #98
this comment was from the category API doc comment at https://github.com/aws-amplify/amplify-ios/pull/93/files/4745ae542f4fc3caa241aaef0bc8a0bd1b88fc05#diff-a6e16f7d518ba3f3535817d6749ba4e746e922ca12c821d40372eb2223dd3600
[code]
As mentioned in the comment thread, discuss a "How it works" in the API documentation and point to Hub documentation, similarly use JS has a reference for a Hub documentat

[2021-07-09 19:57] lawmicha commented on #1295
Hi @TerremceK , I believe JS has first class support from `Amplify.Storage` APIs to copy single files and iOS will eventually add this. The implementation would most likely just wrap the low level SDK's API. Are you able to solve your use case this way in the meantime?
1. Get the low level SDK "escape hatch": https://docs.amplify.aws/lib/storage/escapehatch/q/platform/ios
2. Make the API call usin

[2021-07-09 20:50] diegocstn commented on #1302
@albemala does the number of `modelSynced` events match the number of models in your schema?
We've recently merged a [fix](https://github.com/aws-amplify/amplify-ios/pull/1299) to specifically address an issue with the Hub events when one or more models have @auth rules and there's no user signed in.

[2021-07-09 21:04] anatomybook commented on #1302
I'm seeing a similar issue. Sometimes both events don't get emitted. I've yet to find out why/when exactly this happens. Also with verbose logging I see nothing out of the ordinary.
For me it seems to occur more frequently when there are not many live items in the tables, but many deleted ones. Since my app modifies the items on a daily basis, I only have a day to investigate each time. Once it do

[2021-07-09 21:25] jackstenglein commented on #1315
@royjit Thanks for the quick response. This issue is occurring right after the user has logged in, so the session shouldn't be expired. The app returns the user to the log in screen on encountering an AuthError, so the users see a continuous cycle of logging in and then being immediately returned to the log in screen.

[2021-07-09 22:58] diegocstn commented on #1302
@anatomybook can you share more details about your schema?
In particular, we'd be interested to know if any of your models have @auth rules associated or @connection to other models.

[2021-07-10 00:08] #1186 closed

[2021-07-11 01:25] alionthego opened #1316 "Does the Amplify Datastore sync the entire server Model to each client device?"
I am using AWS Amplify for an iOS project.

I would like to use DataStore to manage front end persistence on my client's device.  However I don't really understand the syncing of Datastore.

Does DataStore sync the entire Model from the server to each and every client device?

For example if there are 10,000 users in a chat app, will each user's device contain all 10,000 users chat messages even t

[2021-07-11 11:17] anatomybook commented on #1302
Hello @diegocstn ,

I've included a redacted version below. The information you were looking for should still be present. I merely removed most data fields (Ints, Strings, Enums) of the types and renamed the rest. I have not removed any type or any connection.

[code]

Please let me know if you have any further questions.

[2021-07-12 05:09] thisisabhash commented on #1143
When `.plain` is passed to `identify()`, the result returned is taking into account both the Rekognition (DetectText API) and Textract (DetectDocumentText API) responses, when an image has more words than Rekognition limit.
Currently, there is no way to always get the `words` field populated as it depends on the responses from Rekognition and Textract.

[2021-07-12 08:39] anatomybook commented on #1143
@thisisabhash ,

Thank you very much for the clarification. This answers my question.

[2021-07-12 08:39] #1143 closed

[2021-07-12 09:04] albemala commented on #1302
@diegocstn good news! I've tested v1.12.0 and the issue seems to be fixed 🎉

We'll run some more tests this week and I'll confirm as soon as possible.

[2021-07-12 09:53] ameter commented on #1305
I haven't been able to reproduce this failure locally or on CircleCI.  I added a performance measure block to the test and ran it several thousand times locally.  I also pushed a branch with the modified test and it ran successfully 1,000 times on CircleCI.  https://github.com/aws-amplify/amplify-ios/blob/chore/testAWSGraphQLSubscriptionOperationCancelTests/AmplifyPlugins/API/AWSAPICategoryPluginT

[2021-07-12 09:53] #1305 closed

[2021-07-12 16:03] TerremceK commented on #1295
@lawmicha

I'm trying to follow the steps you've listed to give your work around a try but I am running into the following issue.

When I add the imports
import AWSS3StoragePlugin  // Imports the Amplify plugin interface
import AWSS3               // Imports the AWSS3 client escape hatch

I get No such module 'AWSS3StoragePlugin'. Here's the relevant code from my current podfile below.

  pod 'Amp

[2021-07-12 16:48] anatomybook commented on #1302
I upgraded to c622147b17b198cdc9d15a4ff049d7aa520139e1 and no change for me. Sometimes certain Models don't get synced without any error message. In the scheme, I provided above, it's currently `TypeF` that doesn't sync.

[2021-07-12 20:23] diegocstn commented on #993
@chris-mds we've recently [released](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.12.0) support for [multiple authorization types](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/ios#configure-multiple-authorization-types) in DataStore that might be helpful to your use case

[2021-07-12 20:28] diegocstn commented on #673
@jimkqwantegy you can read more about Multiple Authorization types in DataStore [here](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/ios#configure-multiple-authorization-types)

[2021-07-12 23:01] yazoonic commented on #1310
@lawmicha I can confirm the issue is happening when we perform delete. I have built new env with connections between models and deleted a record from master model.

the post and the comments are deleted but the datastore initial sync failed to be ready state. As a workaround for now, I am restarting datastore in my app logic after 10 seconds which is a bad practice.

[2021-07-12 23:50] anatomybook commented on #1302
Hello @diegocstn ,

I just spent some time digging into this, since today the issue occurred again.

To me it looks like there's a problem in the order in which `ModelSyncedEventEmitter.onReceiveSyncOperationEvent` and `ModelSyncedEventEmitter.onReceiveReconciliationEvent` are called.
As far as I can tell, the idea is that first `onReceiveSyncOperationEvent` is called with `.finished` setting `ini

[2021-07-13 00:03] anatomybook commented on #1302
Add-on:

I added the snippet:
[code]
beneath
[code]
in `ModelSyncedEventEmitter.onReceiveSyncOperationEvent` and it fixed the issue for me. However, I've no idea how many other things broke in the process.

[2021-07-13 00:09] diegocstn commented on #1297
Closing due to inactivity.

[2021-07-13 00:09] #1297 closed

[2021-07-13 00:11] diegocstn commented on #1282
Closing due to inactivity, feel free to reopen if you have more questions.

[2021-07-13 00:11] #1282 closed

[2021-07-13 18:53] ashiemke commented on #1316
Yep, that's the default, and there's also a default sync limit (I think it's 10k), so amplify won't store more than 10k models in your local storage.

You can limit was is synched with the remote db through the use of sync expressions - https://docs.amplify.aws/lib/datastore/sync/q/platform/ios#selectively-syncing-a-subset-of-your-data

[2021-07-13 23:08] diegocstn commented on #1213
hi @timokilb, thanks for reaching out.

I believe you're missing an open bracket in your `ListTalks` query right before the list of parameters
[code]
See below the query with the missing **(**
[code]

[2021-07-13 23:28] diegocstn commented on #1302
@albemala glad to hear that, let us know how the test goes!

@anatomybook thanks for the details, we're gonna dive deep on that.

[2021-07-14 00:04] diegocstn commented on #1316
@alionthego you can adjust the sync limit using DataStore configuration as illustrated [here](https://docs.amplify.aws/lib/datastore/conflict/q/platform/ios#custom-configuration).

DataStore downloads from the cloud all the available data but you can use [sync expressions](https://docs.amplify.aws/lib/datastore/sync/q/platform/ios#selectively-syncing-a-subset-of-your-data) to selectively persist o

[2021-07-14 00:26] diegocstn commented on #1285
@kristjan97 the `_deleted` attribute is meant to be used exclusively by DataStore, so we don't currently have any built-in automatic mechanism to filter those items out when using API.

Do you mind elaborate on this a bit? I'd be curious to know your use case.

[2021-07-14 03:23] jackstenglein commented on #1315
@royjit Turns out you were right, and the problem was caused by an expired refresh token. It seems that if the refresh token is expired, then the call `Amplify.Auth.signInWithWebUI(for: provider, presentationAnchor: window, options: .preferPrivateSession())` was failing with the error message `An unknown error occurred`. I solved the issue by calling the sign out function if the sign in function f

[2021-07-14 09:13] alionthego commented on #1316
Thanks very much.  I didn't know about sync expressions which is exactly what I need.

[2021-07-14 09:13] #1316 closed

[2021-07-14 09:20] alionthego opened #1318 "Getting error when performing codegen models"
Recently when performing codegen models I am getting the following generated file:

[code]
Previously I never had this internal init and it is throwing an error: "Invalid redeclaration of 'init(id:version: ..."

My previous projects with exact same schema were only generating one init so I'm just wondering if I am doing something wrong.  I am using the following schema and importing Auth user pool

[2021-07-14 12:35] alionthego opened #1319 "Why is codegen models creating files with target membership in tests?"
I have an iOS amplify project and added a graphql api using amplify add api.  I updated schema file and pushed.  When I run amplify codegen models, the files are created and added to my project but their target membership is AppNameTests rather than AppName.  Why is this happening and how can I fix that?

[2021-07-14 18:03] diegocstn commented on #1318
hi @alionthego,
which version of the amplify CLI are you on?

I believe the error you're experiencing has been already addressed and the fix should be available in a more recent version of the CLI https://github.com/aws-amplify/amplify-codegen/pull/177.

[2021-07-14 18:28] diegocstn commented on #1319
@alionthego we've identified the issue and we're actively working on it https://github.com/aws-amplify/amplify-ios/pull/1313

[2021-07-14 23:20] alionthego commented on #1318
I am using version 5.1.1 of cli.  When I try to upgrade I get following errors which I'm not sure if it's leading to problem:

[code]

[2021-07-15 00:08] #1254 closed

[2021-07-15 00:59] diegocstn commented on #1318
Looks like you're already using the latest version of the CLI but I just noticed that you have a `createdAt` and `updatedAt` fields in your schema, so it seems like a codegen issue.
We've recently added support to auto-generate those two fields as "read-only fields", so generated and updated by the cli/backend.
What's the content of `amplify/cli.json` in your project directory? The CLI uses that f

[2021-07-15 01:22] diegocstn commented on #1318
I've opened a codegen issue: https://github.com/aws-amplify/amplify-codegen/issues/201, in the meanwhile let us know if the provided workaround works.

[2021-07-15 01:25] alionthego commented on #1318
I've done what you suggested and removed the createdAt and updatedAt fields in the schema for all types and updated the cli.json to include the "addtimestampfields": true.  At the moment it compiles without error but the init method doesn't look any different to me.  Still has the public init and internal init so not sure this will be a recurring issue.  It is a strange error and in the past the p

[2021-07-15 15:09] LeoReubelt opened #1323 "App crashing"
### Describe the bug

Our data structure has the following...
Object1 has a reference to [Object2]
Object2 has a reference to Object1

This causes a crash.

I believe it occurs in public enum ModelFieldType in ModelSchema+Definition.swift on the function below on the second return line.

public static func embedded(type: Codable.Type) -> ModelFieldType {
    guard let embeddedType = type as? Embed

[2021-07-15 15:22] lawmicha commented on #1310
hi @yazoonic thanks for confirming. cascade delete will perform the local deletes in a transaction so the post and comment will be deleted from the local store. This queues up two mutation events to be sent to the remote store. If the Post muation event failed to sync to the remote store consistently, it might treat it as processed and remove the mutation event from the queue, which leaves the rem

[2021-07-15 16:18] lawmicha commented on #1157
Hi @anatomybook I'm working on a PR https://github.com/aws-amplify/amplify-ios/pull/1321 that should stabilize things.

Will think about your suggestion some more. We should also focus on cascade delete's functional consistency. If an item fails to delete from the backend, it should keep the mutation event and try again later. I think it's already doing this but eventually treating the error as pr

[2021-07-15 17:34] diegocstn commented on #1318
@alionthego the internal init is being used by Amplify to decode/encode from/to JSON, and should accept the two additional `createdAt` and `updatedAt` parameters. The reason why is being marked as `internal` is to give the framework a way to set the two "read-only" fields without publicly exposing any setter.
The public initializer should instead only accept values for the properties you've declar

[2021-07-15 18:38] diegocstn commented on #1323
@LeoReubelt Can you please share your GraphQL schema and any relevant logs? Also, which DataStore operation was your app performing when the crash occurred?

[2021-07-15 20:51] LeoReubelt commented on #1323
@diegocstn Thanks for responding.

- Unfortunately our schema is proprietary, so unless we have some agreement in place, i can not give it to you.  But if you make a sample schema like the one I described above, you will have the same problem.
- There are no relevant logs that i am aware of.
  - It crashes on try Amplify.configure()
  - The crash error is 'Thread 1: EXC_BREAKPOINT (code=1, subcode

[2021-07-15 20:58] anatomybook commented on #1157
Hi @lawmicha ,

thanks for your response and for looking into this. I can't wait for the fix as this will help my app tremendously.

Let me know if you want me to test it out.

[2021-07-15 21:33] LeoReubelt commented on #1323
@diegocstn - Schema attached

[2021-07-15 21:34] LeoReubelt commented on #1323
{
  "data" : {
    "__schema" : {
      "queryType" : {
        "name" : "Query"
      },
      "mutationType" : {
        "name" : "Mutation"
      },
      "subscriptionType" : {
        "name" : "Subscription"
      },
      "types" : [ {
        "kind" : "OBJECT",
        "name" : "Query",
        "description" : null,
        "fields" : [ {
          "name" : "agoraToken",
          "descript

[2021-07-15 21:34] LeoReubelt commented on #1323
wouldn't let me add the file.

[2021-07-15 21:39] diegocstn commented on #1323
@LeoReubelt thanks, the schema I was referring to is the `GraphQL` [schema](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/ios#data-schema) file you used to generate your DataStore Swift models. It can be a simplified/redacted version of that, just to illustrate the issue.

[2021-07-15 22:07] LeoReubelt commented on #1323
I don't know where to get that.  i'v only been working on this for a day.  but my explanation tells you exactly what your bug is.

[2021-07-15 22:09] LeoReubelt commented on #1323
@diegocstn  you'll have to tell me how to get that. i've only been working on aws for a day. my explanation should tell you exactly what the problems is though.

[2021-07-15 22:14] LeoReubelt commented on #1323
the schema was made on the Amplify Admin UI site if i can download it from there somewhere.

[2021-07-15 22:46] LeoReubelt commented on #1323
@diegocstn I've only been working on this for a day.  So you will have to point me in the right direction.  I am assuming you want schema.graphql.  is that correct?  there are 4 in my project. how do i know which one you want?

[2021-07-15 22:49] LeoReubelt commented on #1323
type LinkedToObject {
    id: String
    name: String
}

type AgoraToken {
    token: String
    appid: String
}

type AppData @model @auth(rules: [{ allow: private }]) {
    id: ID!
    pageName: String
    pageData: String
}

type Query {
    agoraToken(uid: String, channel: String): AgoraToken
        @function(name: "speedboatAgoraAuth-${env}")
}

type MultiFormItem {
    formId: String
    na

[2021-07-16 16:13] diegocstn commented on #1318
@alionthego as the workaround seems to be working for you, I'm gonna close this issue in favour of https://github.com/aws-amplify/amplify-codegen/issues/201 but feel free to re-open and/or comment.

[2021-07-16 16:13] #1318 closed

[2021-07-16 17:03] testflyjets opened #1324 "Datastore offline synch behaves differently between simulator and device"
### Describe the bug

We were using AutoMerge as our conflict resolution strategy. When the app was offline, if multiple different changes were made to a model and saved to the datastore, it appeared that only the first change was actually synched back to Dynamo once the connection was reestablished. The behavior seemed to indicated that the first change was accepted by the resolver, which caused

[2021-07-16 20:05] #1319 closed

[2021-07-18 00:09] #1290 closed

[2021-07-19 09:56] albemala commented on #1302
@diegocstn We did some more tests last week and everything seems to be working fine now, after moving to v1.12.0. As for me, you can close this ticket. Thank you for your help!

[2021-07-19 10:43] afern247 commented on #349
This should not be closed... The app crashes when I try to use the online functions using the AppDelegate. Can someone reopen and take a look, this is NOT fixed.

"Thread 1: Fatal error: Authentication category is not configured. Call Amplify.configure() before using any methods on the category."

The only way to not get this error is to create an init() {} on the Main app, which will not allow fo

[2021-07-19 10:45] afern247 opened #1326 "Reopen issue"
### Describe the bug

Hi, you have an existing bug marked as closed: https://github.com/aws-amplify/amplify-ios/issues/349 please open it, it is NOT fixed... check my latest comment there.

### Steps To Reproduce

[code]

### Expected behavior

Check above

### Amplify Framework Version

latest

### Amplify Categories

API, Auth

### Dependency manager

Cocoapods

### Swift version

latest

### CL

[2021-07-19 10:48] #1326 closed

[2021-07-19 10:49] afern247 commented on #349
It's been fixed

[2021-07-19 12:17] nielsautrata opened #1327 "Swift syntax error in generated model files"
### Describe the bug

The generated models are having partly some syntax error:

I cleaned the workspace, re(installed) pods for this project, deleted the generated models and run again '**amplify codegen models'**
In the case, you want to download my graph.ql this my app id dl91s1m9oit3p and the region is us-east-1.

### Steps To Reproduce

[code]

### Expected behavior

Compiling the Xcode proje

[2021-07-19 12:59] LeoReubelt opened #1328 "Different results when using Amplify.DataStore.query and Amplify.API.query"
### Describe the bug

When using...

[code]
I get...
**************Optional("home") - 99774af6-b63b-40da-920b-5b260d48f93d

When using...

[code]

I get...

**************Optional("home") - d3900b8e-bb8b-4f75-ae38-0817ae287665
**************Optional("home") - 4889dc30-c523-4427-ae01-f83f3f59f7ef
**************Optional("home") - 45496793-f60e-4299-a6c7-d14728752b78
**************Optional("home") -

[2021-07-19 14:57] harshchitrla opened #1329 "Update password with wrong current password gives an incorrect error message"
### Describe the bug

I'm trying to update the password using Amplify iOS library.
As we know, the method accepts a current password and a new password. When we try to send an incorrect current password it gives us an error message "Incorrect username or password".

We are unable to override an error message as we are getting the exception type as nil in this scenario. Please find the error messag

[2021-07-19 15:31] jgale commented on #1185
I would argue that it's unexpected that `.preferPrivateSession()` will cause the alert at all. My whole goal in using it was to *avoid* that alert. I also find it very unexpected that the pop-up ever gets triggered during a `signOut` operation, since I assumed it was just a vanilla network API call and had no need for `ASWebAuthenticationSession`. The fact that it persists across app installs just

[2021-07-19 16:09] palpatim commented on #1276
Thanks for the update. We're closing this for now, but please feel free to open a new issue with relevant details if you hit another error.

[2021-07-19 16:09] #1276 closed

[2021-07-19 16:29] palpatim commented on #1295
@TerremceK The Podfile you previously used would be unchanged. The AWSS3StoragePlugin uses the AWSS3 SDK behind the scenes, and no additional CocoaPods configuration is required to add it to your project.

The only change you would need is to add the `import AWSS3` line to the app code where you are accessing the client escape hatch.

[2021-07-19 16:44] palpatim commented on #1324
Since the Lambda resolvers are invoked by AppSync, I'm not sure what is implicating the Amplify iOS library code here. Are you able to turn on CloudWatch logging for your AppSync API to confirm that your custom resolver is in fact being invoked?

[2021-07-19 16:54] palpatim commented on #993
@chris-mds I'm optimistically flagging this as "closing soon", but please let us know if this does not solve your issue.

[2021-07-19 17:21] testflyjets commented on #1324
Whether the custom resolver runs or not doesn't seem to be the issue here. The issue is that the behavior of AppSync in terms of how changes made offline get synched to the cloud is different when we run the app in the iOS simulator versus when we run it on the device.

What method do you suggest to simulate loss of network connectivity in the simulator that would be similar to turning off WiFi an

[2021-07-20 06:42] nielsautrata commented on #1327
We have to keep our fields 'updatedAt', 'createdAt' as we use them as key in the indices. The flag `addtimestampfields` is already set to true.

[2021-07-20 15:19] LeoReubelt opened #1330 "Amplify.DataStore.save does not sync with backend."
### Describe the bug

Not sure if this is a bug, or if I am doing something wrong.  But I have read everything i can find and can not get it working.

I sign in using...

[code]

After I have successfully signed in,  I start with the following...
[code]

in observeDataStoreEvents(), when the DataStore is 'ready', I call makeData().

[code]

and makeData is as follows...

[code]
it saves locally, b

[2021-07-20 16:37] lawmicha opened #1331 "[DataStore] ModelSyncedEventEmitter should attempt to emit on last dropped event"
### Describe the bug

See https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/ModelSyncedEventEmitter.swift#L122 for code
[code]

it should attempt to dispatch te model synced event if the last reconcile event received is dropped, like
[code]

See if there are other places that is incorrectly missing event emit logic

### Steps

[2021-07-20 20:42] royjit commented on #1324
I was not able to replicate the issue in a sample app. Here are the steps followed:

1. Created a sample app with `Todo` model
2. Added custom lambda resolvers as mentioned in this issue
3. Ran the app in device and saved a todo model named "Todo 3"
4. Turned off the wifi and data in the device
5. Updated the description of the todo multiple times
6. Turned on the wifi and data
7. Checked the dyna

[2021-07-20 20:51] royjit commented on #1324
Few questions to help us debug further:

1. Are you seeing any error in the Xcode console while saving or syncing?
2. Any runtime error in lambda resolvers that prevents from saving all the updates?
3. Can you see if the issue still exists if you use the latest Amplify library 1.12.0. I see few datastore fixes after 1.9.1 which might be related to the issue.

[2021-07-20 21:14] testflyjets commented on #1324
Hi, @royjit, thanks for doing these tests. If you are able to share this ToDo app with me I will run it locally and see if I can replicate your results.

As for seeing errors in Xcode, I don't see any exceptions per se. However, I do see some odd behavioral differences between running the app on the device and in the iOS simulator. I added logging of many of the DataStore events to try to understa

[2021-07-21 20:22] palpatim commented on #1324
I've been able to reproduce this locally and I think I have an idea what's going on. Will update as soon as I have more information.

[2021-07-21 20:56] testflyjets commented on #1324
Awesome! Great news, and we look forward to your next update. I'm in the process of detailing the sequence of events and log messages I see in the two cases (iOS sim vs. device). I was going to attach that to the open AWS Support case, and am happy to provide it here as well. Let me know if that would be helpful.

[2021-07-21 21:53] palpatim commented on #1324
I'll see it either way, so whichever is most convenient for you. :)

[2021-07-22 00:17] afern247 opened #1336 "Swift Package Manager Warning"
### Describe the bug

I'm getting the following warning:

"ignoring declared target(s) 'swift-nio-zlib-support' in the system package"

You can see that they are not supporting it anymore [here](https://github.com/apple/swift-nio-zlib-support/issues/4#event-5020820433)

Please Update the package to substitute with the new one.

Thanks

### Steps To Reproduce

[code]

### Expected behavior

Warning

[2021-07-22 10:06] alionthego opened #1337 "Cannot save many to many in datastore"
I have the following many to many structure:

[code]
The problem is when I save the 'join' table UserComment using the following:

[code]

this creates the UserComment fine in the database however the comment is not added to the users comments array and the user is not added to the comments users array.

also I have no way to query this UserComment directly from the datastore as I cannot do the fo

[2021-07-22 13:17] alionthego opened #1338 "How can I query datastore. passing array of ID's"
I have an array of userId's and I want to query the DataStore. to retrieve all User's with id's in the array.

Is there any way to do that with a. predicate?

let arrayOfUserId's = ["UserId1",  "UserId2", "UserId3", "UserId4", "UserId5" ]
let u = User.keys
let predicate = ...???
Amplify.DataStore.query(User.self where: predicate) {
...
}

[2021-07-23 16:45] royjit commented on #1315
Can you please verify that you are using the latest version of the SDK. We had made some fix related to this in the underlying auth SDKs https://github.com/aws-amplify/aws-sdk-ios/pull/3565

[2021-07-23 17:22] rcastrovivar opened #1339 "Amplify.API - custom query pagination issue"
### Describe the bug

When using custom queries the ".getNextPage" method returned doesn't use the custom query to fetch next pages, it instead uses the default query but since this default query is not compatible with the custom query NextToken the call fails
schema:
[code]

custom query:
[code]

initial API call:
[code]

getNextPage API call:
[code]

and since the Next token used is not compatib

[2021-07-23 17:24] palpatim commented on #1259
Notes for @aws-amplify/ios-team :

- This seems to be related to token expiry once the download task is handed off to iOS. In that case, this behavior is expected. Possible remedy would be to rework the way we manage URL tasks and cancel/re-submit a task once the token is expired
- We still don't have a good story for long-running transfers. If a single transfer takes longer than 1 hour to complet

[2021-07-23 18:36] palpatim commented on #1323
We see there's a circular reference involving two non-model types. We need to investigate to see whether we officially support that or not.

**Next steps:**
- @thisisabhash will investigate with the team

[2021-07-23 19:43] diegocstn commented on #1327
@nielsautrata even though manually editing generated models is something we usually discourage, as a temp workaround you can manually remove the internal initializer while the fix in this PR gets released https://github.com/aws-amplify/amplify-codegen/pull/205#pullrequestreview-714074600

[2021-07-23 19:46] diegocstn commented on #1327
I'll optimistically close this issue as a [PR](https://github.com/aws-amplify/amplify-codegen/pull/205) has been published, but feel free to re-open it if you have further questions

[2021-07-23 19:46] #1327 closed

[2021-07-24 00:46] palpatim commented on #1324
I'm still investigating this, but here are my findings so far:

- I have a test that reliably reproduces this: https://github.com/aws-amplify/amplify-ios/blob/palpatim.fix.data-store-lost-mutation-1324/AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/OutgoingMutationQueueNetworkTests.swift

- The bug manifests when:
  - The system is in a no-network state
  - DataStore r

[2021-07-24 01:22] testflyjets commented on #1324
Impressive -- thanks for the deep dive, and for the test you wrote for this. Your detailed observations track precisely with the behavior we have observed. We are standing by for a fix or a workaround.

[2021-07-24 12:32] anatomybook commented on #1337
I've a similar situation. The first issue I address by just manually inserting the user object, the comment object and finally the link (UserComment) between them.
The second issue I address by fetching, depending on where I come from, either the user or the comment. From there I use the accessors to obtain the linked users / comments.
Suppose you retrieved a user. From there I'd go:
[code]
As far

[2021-07-25 22:23] TerremceK opened #1340 "How to download multiple files to a file url using Amplify & Swift?"
### Is your feature request related to a problem? Please describe.

Hello, the current example in the[ iOS swift Library](https://docs.amplify.aws/lib/storage/download/q/platform/ios#download-data) only shows how to download 1 file at a time.  I'd like to know how to download multiple files inside of an S3 bucket folder at a time.

### Describe the solution you'd like

The example files are helpfu

[2021-07-26 10:25] LeoReubelt commented on #1323
Yeah, thanks.

[2021-07-26 15:01] rafaelbuiu opened #1341 "Single app, Multiple User pools: App crashes when loading a new amplifyconfiguration.json"
### Describe the bug

My application has multiple tenants and it was designed to configure the Amplify with the user pool information of that particular tenant which the user belongs to.

The problem is that when the user signs out and tries to authenticate using  credentials of a user in different user pool the application crashes saying that the configure function was already performed.

### Ste

[2021-07-26 17:55] TerremceK commented on #1295
Thanks @palpatim

I now have the import AWSS3 line in the swift file where I am using the code.

When I put this code in my swift file

`    func getEscapeHatch() {
        do {
            let plugin = try Amplify.Storage.getPlugin(for: "awsS3StoragePlugin") as! AWSS3StoragePlugin
            let awsS3 = plugin.getEscapeHatch()
        } catch {
            print("Get escape hatch failed with err

[2021-07-26 23:13] palpatim commented on #1324
We believe the right thing to do here is to cancel the in-process, in-memory operation when the subscription receives a network error. We're working on implementing that in a safe way. Updates as we get them.

[2021-07-27 01:05] testflyjets commented on #1324
Awesome, thanks!

[2021-07-27 01:45] DanHansens opened #1342 "API Authorization Error"
**Describe the bug**
In attempting to add an API to update an existing DynamoDB table, I received this in the log

**To Reproduce**
Steps to reproduce the behavior:
I can provide the URL to hit the API on request.  Hitting directly is showing `{"message":"Missing Authentication Token"}`.  Confirmed in API Gateway that Method Request `Auth: NONE` for `ANY`

**Observed Behavior**
Received stack trac

[2021-07-27 04:08] royjit commented on #1341
Calling multiple configuration during runtime is not currently supported in Amplify iOS. Closing this as duplicate to this ticket - https://github.com/aws-amplify/amplify-ios/issues/527

[2021-07-27 04:08] #1341 closed

[2021-07-27 14:56] jgale commented on #1095
@ameedsayeh, just to clarify what this means, under:
* Certificates, Identifiers & Profiles > App IDs > your-app-id > Sign in with Apple > Edit

do you have multiple apps with "Group with an existing primary App ID"?

I have 3 different apps, and they are all marked as "Enable as a primary App ID". However, under:
* Certificates, Identifiers & Profiles > Service IDs

I also have 3 separate Service

[2021-07-27 23:23] palpatim commented on #1324
We attempted to remedy this with a targeted fix, but it doesn't cover edge cases the way we want. We're now trying to introduce a new "pausing" state that is distinct from the previous one, that safely removes in-process sync operations from the OutgoingMutationQueue. That's a larger change, and we're still in process on it.

[2021-07-28 07:25] VishnuNCS commented on #1314
@palpatim ,

As described [here](https://github.com/aws-amplify/amplify-ios/issues/1016#issuecomment-775451665), `privateSession` is not working when we do `Auth.signout` for socialLogin after uninstalling and installing the app again. As described [here](https://github.com/aws-amplify/docs/pull/2941) we are checking `firstLaunch` from `userDefaults` It shows the sign alert. But it should not disp

[2021-07-28 18:35] niallkehoe opened #1343 "StorageError: Unexpected error occurred with message: Missing HTTP Response"
### Describe the bug

I am uploading .mp4 and .png files to the S3 Buckets. I got it working a few days ago with now issues. I tried again to test it today without changing any of the code and I'm getting this error when it tries to upload anything to the cloud storage.
StorageError: Unexpected error occurred with message: `Missing HTTP Response`

I checked the status of Amazon Services but nothin

[2021-07-28 20:20] royjit commented on #1343
As per the error message there was no HTTP response received in the Storage plugin for the upload. Can you please try a few things to debug further:

1. Can you "Erase all content and clean" the simulator and try upload again.
2. Enable logs from the underlying SDK and see if we can find any related error logs for the upload.

To enable underlying log:
[code]

Redact sensitive information before p

[2021-07-28 20:43] royjit commented on #1342
Hi @DanHansens Can you check the `authorizationType` mentioned inside `amplifyconfiguration.json` file. More details here - https://docs.amplify.aws/lib/restapi/existing-resources/q/platform/ios

[2021-07-28 22:50] palpatim commented on #1324
We have something working locally, which you can view on our [working branch](https://github.com/aws-amplify/amplify-ios/tree/palpatim.fix.data-store-lost-mutation-1324) if you'd like to preview it. Unit tests pass, and we're running through integration tests now to ensure everything works as expected.

[2021-07-28 22:55] niallkehoe commented on #1343
Thanks for the help. This is the log I'm getting from when the app was opened to when it fails to upload.

[code]

I tried deleting and reinstalling a new build of the app, but to no avail. I also checked whether it was my files causing the problem by attempting to upload a .txt file I created to test but I get the Same Error.

[2021-07-29 10:13] tuancuong009 opened #1344 "Refresh token from social login it shows the Login popup again"
### Describe the bug

I set the Token expiration time on Amazon amplify is 8mins
I open my Swift app -> click **Login with Google** -> I logged in successfully
I put the app in the background mode for more than 10mins
When I reopen the app -> the token is expired (it's fine) and I call **Amplify.Auth.fetchAuthSession** to refresh new token -> but it shows the popup asks me to login again (the atta

[2021-07-29 16:09] testflyjets commented on #1324
@palpatim I am trying to use the Swift Package Manager to pull in your hotfix branch. It seems to pull it in correctly when I point it at your branch but I'm seeing an error when I build the code with that version of Amplify. It's complaining about something that appears related to the Cognito Auth plugin.

![Screen Shot 2021-07-29 at 9 05 53 AM](https://user-images.githubusercontent.com/160552/12

[2021-07-29 16:33] testflyjets commented on #1324
I commented out the two lines that Xcode was complaining about and the code runs now, FYI.

[2021-07-29 16:51] palpatim commented on #1324
Thanks--the latest push to that branch fixes that problem (I made the change in a different target than was active, so didn't see the compile error).

[2021-07-29 16:56] testflyjets commented on #1324
No worries. Good news! The fix definitely works on the device based on our testing just now.

[2021-07-29 17:39] royjit commented on #1336
`swift-nio-zlib-support` is from the underlying dependency from [Starscream](https://github.com/daltoniam/Starscream). Starscream had fixed this issue in their [latest version](https://github.com/daltoniam/Starscream/commit/fe5769f2ae5a7473261ef3c3f3ecc76f1218c601), but this requires us to depend on the next major version of Starscream.

As explained [here](https://github.com/aws-amplify/amplify-i

[2021-07-29 17:43] royjit commented on #1338
Hi @alionthego , you can do something like this:

[code]

[2021-07-29 18:20] LeoReubelt commented on #1330
nvm.  i got it. thanks for looking.

[2021-07-29 18:20] #1330 closed

[2021-07-29 20:16] testflyjets commented on #1324
Quick question: should Amplify Storage work the same way, in that a file upload requested while offline will resume once connectivity is reestablished?

We are calling Storage like this:

`let storageOperation = Amplify.Storage.uploadData(key: key, data: imageData, options: options)`

We aren't seeing the upload retried once the app is reconnected currently, but it's not clear from the documentati

[2021-07-29 21:48] brennanMKE commented on #1340
@TerremceK

All network activity with Amplify Storage runs on top of AWSS3 and Transfer Utility. The URLSession is created with a background configuration. ([see source](https://github.com/aws-amplify/aws-sdk-ios/blob/main/AWSS3/AWSS3TransferUtility.m#L441)) In order to ensure all network activities are handled you must handle the UIAppDelegate function for [background events](https://developer.ap

[2021-07-29 21:49] brennanMKE commented on #1340
@TerremceK  Please try out this code with your app and let us know how it works for you.

[2021-07-29 22:50] brennanMKE commented on #1340
You can also find docs on [background transfers](https://docs.amplify.aws/sdk/storage/transfer-utility/q/platform/ios#background-transfers) on our docs site.

[2021-07-29 23:41] TerremceK commented on #1340
@brennanMKE Thanks for your responses! 😀 I'll read up and experiment with your suggestions when I can and let you know how it goes.

[2021-07-30 03:42] palpatim commented on #1324
I *think* that Storage is supposed to allow you to queue an upload while offline, and then fulfill it when network resumes, but I'm not 100% sure on that. @brennanMKE, can you clarify expected behavior for Amplify.Storage?

[2021-07-30 03:42] palpatim commented on #1324
Regarding the original DataStore issue: the team is reviewing the PR. Assuming all looks good, the fix for this will go out in a patch release.

[2021-07-30 04:42] brennanMKE commented on #1324
@testflyjets

You can skip to the recommendation in the last section if you like. This first section offers some context for the AWS SDK and Amplify SDK.

## Context

In the [underlying implementation](https://github.com/aws-amplify/aws-sdk-ios/blob/main/AWSS3/AWSS3TransferUtility.m#L441-L443) you can see it allows for passing in values for [allowsCellularAccess](https://developer.apple.com/docume

[2021-07-30 06:56] tuancuong009 commented on #1315
Hi @royjit @jackstenglein I have some issues with the token if I logged in with Google, after logged in with Google, I put the app for more than 1 day, when I open it again the token is expired and how can I Re-authenticate the user without showing the login popup?

[2021-07-30 12:29] LeoReubelt commented on #1323
could you please also comment on whether or not you support a data structure where an object references itself. for example, an object that has a child of the same type.  i assume the answer will be the same.  but i would like to know for sure.

[2021-07-30 15:54] testflyjets commented on #1324
@brennanMKE Thanks for the context, it's helpful. So as not to pollute the original DataStore issue with this Storage issue, I'll open a new issue here so we can continue this conversation separately. We are not seeing Storage retry a failed upload when connectivity is restored, and if I'm understanding what you wrote above, it should.

[2021-07-30 16:08] testflyjets opened #1346 "Storage does not resume or retry upload with loss of network connectivity"
### Describe the bug

If an Amplify Storage file upload is requested while the device does not have a network connection the upload fails as expected. However, the upload is not retried once network connectivity is restored. Our expectation is that Storage would behave similarly to DataStore and attempt to synchronize the upload request back to S3 once the device reestablished a network connection

[2021-07-30 21:01] jackstenglein commented on #1315
Hi @royjit, I was using version 1.12.0. I've just updated to version 1.13.0 and confirmed that the bug no longer occurs.

[2021-07-30 21:03] jackstenglein commented on #1315
@tuancuong009 In Cognito, you can change the expiration of the refresh token. That will allow you to stay logged in for longer.

[2021-07-31 01:17] alexandru7 opened #1348 "UIApplication.shared unavailable in application extensions on Xcode 13 beta 4"
### Describe the bug

Looks like since Xcode 13 beta 3, UIApplication.shared can not be referenced directly without marking the referencing code as unavailable in application extensions.
I'm getting the following error when I build:
`'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead.`
Relevant link:
https://forums.swift.org/t/s

[2021-07-31 14:27] kwomackcodes opened #1349 "DataStore Field-level Updates"
### Is your feature request related to a problem? Please describe.

The JavaScript SDK allows you to apply updates to the item’s fields rather than mutating the instance directly like so:

[code]
While the IOS SDK only allows for:

[code]

### Describe the solution you'd like

I would like to see field-level updates available for Datastore in the IOS SDK.

### Describe alternatives you've consider

[2021-07-31 17:09] yazoonic opened #1350 "changes in real time is broken in v1.13"
### Describe the bug

once I update to v1.13, and even though the subscription is established, any changes in the backend or from any other device will not be synced to the other device.

### Steps To Reproduce

[code]

### Expected behavior

all changes should be synced.

### Amplify Framework Version

1.13

### Amplify Categories

DataStore

### Dependency manager

Swift PM

### Swift version

1

[2021-08-02 02:20] tuancuong009 commented on #1315
@jackstenglein Thanks I already set the refresh token to 30 days, you can see the attached image.
If I logged in with email/password I can refresh the token without issues, but if I logged in with Google, after 1 day it ask me to login again, can you share the code that you use to login and refresh token? I'm struggling with this :(

![image](https://user-images.githubusercontent.com/21256858/1277

[2021-08-02 13:02] kristjan97 opened #1351 "Datastore doesn't load backend info until first query"
### Describe the bug

After I initialize Amplify.add(plugin: AWSDataStorePlugin(modelRegistration: AmplifyModels())), it does not matter how long I wait after amplify has configured, my datastore won't pull info from backend until I make my first query and I get a failure.

### Steps To Reproduce

[code]

### Expected behavior

My datastore will load info from backend without a query

### Amplify

[2021-08-02 13:03] kristjan97 commented on #1351
this is related to https://github.com/aws-amplify/amplify-js/issues/5991, however waiting any arbitrary amount of time for sync to finish isn't helping.

[2021-08-03 00:49] rmitchell-iii commented on #1346
Is there an update on this issue?

[2021-08-03 05:58] TerremceK commented on #1340
@brennanMKE  Forgive me for sounding like a noob but how do I properly call the function you wrote? I.E I'm trying the following when the download button is tapped.

[code]

  Which gives me the error

[2021-08-03 23:55] alionthego opened #1353 "How can I manually sync datastore?"
I know this has been asked in other places but I don't see any suitable answer anywhere.

Why is there no mechanism for a user to initiate a datastore sync?  The docs don't adequately explain how often the datastore sync operation performs.  For apps that rely on updates to data and for users to ensure their data is current, such as aviation related data, there needs to be some mechanism for users

[2021-08-04 00:54] brennanMKE commented on #1340
@TerremceK This code is based on what you provided so you could hook it into how you had it running before. Depending on how you set up your AWS resources you may need to provide a prefix based on access levels.

* [Working with access levels in your app code](https://docs.amplify.aws/sdk/storage/transfer-utility/q/platform/ios#working-with-access-levels-in-your-app-code)

You can find the policy

[2021-08-04 02:40] palpatim commented on #1324
We've merged the fix for this issue into `main`, but are still working through some sporadic test failures and fixing a data race that we found as well. If you'd like to test the `main` branch, it should have the outgoing mutation queue fix applied, but not the data race fix.

[2021-08-04 15:47] diegocstn commented on #1234
Hi @bgomberg,
thanks for reaching out. I couldn't reproduced the issue you described with both Amplify v1.9.0 and v1.13.0.
Just to clarify my understanding of the issue, here's my reproduction steps and what I observed:
1. setup an Amplify project with `AWSPluginsCore`, `AWSDataStorePlugin`, `Amplify` pods/packages and the following schema
[code]
2. initialize Amplify
[code]
3. create a new `Post`

[2021-08-04 19:42] palpatim opened #1354 "DataStore: Fix MultiAuth integ tests"
I believe these are test stability issues, not functional issues, but we need to investigate and fix.

---

Tests are passing more or less reliably (in some cases I have to run them one at a time b/c of reset/teardown issues), with the exception of consistent failures on these integ tests:

- AWSDataStoreMultiAuthThreeRulesTests:
  - testOwnerPrivatePublicUserPoolsIAMAPIKeyUnauthenticatedUsers
- A

[2021-08-04 21:58] anatomybook commented on #1157
Thank you for looking into this. I can confirm that it works with d4de998182fa99fea0900acf5bc6ebf7a0bc691f. At least the syncing does. I did not check the backend. But as long as the clients sync cleanly, I'm happy.

[2021-08-04 21:58] #1157 closed

[2021-08-04 22:30] palpatim commented on #1324
We fixed the issues we found and things seem solid now. We'll get this released to prod as soon as possible.

[2021-08-04 22:45] anatomybook commented on #1350
I'm also seeing this with version d4de998182fa99fea0900acf5bc6ebf7a0bc691f.

I only tried update: In the backend merely the _version increases, but not the updated field.

Checking the log, I get many errors like:
[code]

Some authorisation seems to be missing. However, when syncing from scratch, it does get access to the items. So auth seems to be ok.

[2021-08-04 23:07] anatomybook commented on #1350
Add-on: for me the lambda authorizer broke it. Version is the last version that 872b695d540c93323f64730b760195b486932ee3 still works.

[2021-08-04 23:15] diegocstn commented on #1350
@anatomybook Lambda Authorizer is a new authorization type, so as long as you're not using the feature, no change is necessary to your current code.
What types of authorization are you currently using in your schema?

[2021-08-04 23:31] diegocstn commented on #1350
@yazoonic What types of authorization are you currently using in your schema?

[2021-08-04 23:36] yazoonic commented on #1350
@diegocstn owner auth

[2021-08-04 23:45] anatomybook commented on #1350
All my table-auths are built the same way:
`type ... @model @auth(rules: [{ allow: owner }])`

Here's the auth section of `amplifyconfiguration.json`:

[code]

Is that the information you were looking for?

[2021-08-05 00:52] diegocstn commented on #1350
@anatomybook can you please confirm that the value of the `authorizationType` field in the `api` section is `AMAZON_COGNITO_USER_POOLS` as well?
I couldn't reproduce the issue with the following minimal schema
[code]
in an Amplify app configured with DataStore and AWS Cognito as the only authorization mode.

[2021-08-05 02:42] DanHansens commented on #1342
That got rid of the initial error, but now I receive `Failed APIError: The HTTP response status code is [403].`

[2021-08-05 06:29] anatomybook commented on #1350
@diegocstn ,

here is the api section of my configuration file:

[code]
so yes, `authorizationType` seems to be set correctly.

Is there any other info, I can provide?

[2021-08-05 06:38] anatomybook commented on #1350
As I said above all my tables are authorised the same way. However, in order to model n:m relationships, I've two tables with no queries, like so:
[code]
I guess that this won't make a difference, but I thought I'd mention it anyways. And I've lots of enums defined.

[2021-08-05 09:05] nithin-viswanathan opened #1356 "How could I control amplify DataStore sync"
### Is your feature request related to a problem? Please describe.

I want to configure the syncing of data from indexed-db to dynamo in a button click. Now it syncs all data when it online.

### Describe the solution you'd like

Please see the code

[code]

### Describe alternatives you've considered

I have two models **Post** and **Comment**. When I am fetching all data from **Post**, it syncs

[2021-08-05 10:07] randomizedlife01 commented on #1344
I am using flutter but I have the same problem. This issue occurs when calling Amplify.Auth.fetchAuthSession.

I implemented the login function by referring to the Amplify Document. However, the update of the document is late. How can I fix this?

[2021-08-05 11:19] kitlogan opened #1357 "Cognito Sign In Error - Sign In Web UI not appearing after token expiry"
### Describe the bug

Hi all, I've got a strange Sign In error with Amplify + Cognito on iOS.
Until about 25/07/21 it worked fine, however afterwards, the standard 'Sign In' amplify function no longer works. Instead I get the error in the image below.

Standard sign in function:
[code]
Any ideas?

![image](https://user-images.githubusercontent.com/61054641/128341037-0a3be4ee-2a29-41f5-8230-bb33fec

[2021-08-06 00:19] diegocstn commented on #1350
Thanks, you're correct that should not have any impact.

@anatomybook @yazoonic It'd be helpful to have a bit more context. Could you please set the Amplify logging level to `verbose` with `Amplify.Logging.logLevel = .verbose` and provide any other auth-related log entries?

[2021-08-06 04:15] chriisong commented on #1348
the solution is to add `@available(iOSApplicationExtension, unavailable)`. If anyone from @aws-amplify-ops can resolve this issue so we can continue testing with Xcode 13, that would be fantastic...

[2021-08-06 12:45] gabimo opened #1359 "iOS Amplify Cognito Auth Hosted Web UI for OIDC login does not show logo of app on iOS, but does show logo on web/browser"
### Describe the bug

When I open my Amplify Cognito Auth hosted web UI login screen on iOS it doesn't show a logo as I've put on there. It does show for web

How can I fix this? We'd like our users to know they're using a company approved login service by seeing the logo.

<img width="683" alt="Screen Shot 2021-08-05 at 10 13 50 AM" src="https://user-images.githubusercontent.com/9092155/128511863

[2021-08-06 13:20] anatomybook commented on #1350
Hello @diegocstn ,

I think I may have found something.

In both cases, I started the App from scratch, i.e. erased it and all data beforehand. My code on top is identical. I've merely changed Amplify.

The subscription queries look different. The broken version, i.e. fc7539aa10612a8d7dd89924db6851ff2408de8f, does not provide "owner" information. Here is a working query made by version :

`2021-08

[2021-08-06 13:56] mehtabghani10p opened #1360 "Missing required parameter USERNAME Error on Custom Auth."
### Describe the bug

Getting "Missing required parameter USERNAME" error while calling:
Amplify.Auth.signIn(username: userName)

### Steps To Reproduce

[code]

### Expected behavior

should proceed with 'confirmSignInWithCustomChallenge'

### Amplify Framework Version

1.13.1

### Amplify Categories

Auth

### Dependency manager

Cocoapods

### Swift version

4.2

### CLI version

not using

###

[2021-08-06 15:11] palpatim commented on #1324
We released this to prod in [1.13.1](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.13.1). Please let us know if you have any other issues.

[2021-08-06 16:28] diegocstn commented on #1350
@anatomybook thanks, that helps.

In Amplify v.1.12.0 we changed [the logic](https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/Core/AWSPluginsCore/Model/Decorator/AuthRuleDecorator.swift#L98) related to how we send the owner field in subscriptions requests.
Before that change, in case of authentication errors, subscriptions were silently failing and triggering other errors upstre

[2021-08-06 17:11] lawmicha commented on #1263
this is expected behavior, however on JS there may be more information about the source of the event that we are missing on iOS. closing this for now since the bug i described is actually expected behavior

[2021-08-06 17:11] #1263 closed

[2021-08-06 17:13] lawmicha commented on #1310
Hi @yazoonic  could you try amplify 1.13.1 to see if there is improved stability? https://github.com/aws-amplify/amplify-ios/releases/tag/v1.13.1

[2021-08-06 17:16] brennanMKE commented on #1259
Closing as a duplicate.

https://github.com/aws-amplify/amplify-ios/issues/638

[2021-08-06 17:16] #1259 closed

[2021-08-06 17:17] yazoonic commented on #1310
@lawmicha I will give it a try.. though  V1.13.0 broke my real time sync ( we are discussing this in another thread).

[2021-08-06 17:33] jleishman opened #1364 "Release 1.13.1 Compiler Error using Swift Package Manager"
### Describe the bug

Using release 1.13.1 causes a compiler error when brought in using Swift Package Manager:

[code]

### Steps To Reproduce

[code]

### Expected behavior

Compilation should be successful.

### Amplify Framework Version

1.13.1

### Amplify Categories

API

### Dependency manager

Swift PM

### Swift version

5.0

### CLI version

4.50.2

### Xcode version

12.5.1

### Relevan

[2021-08-06 17:47] brennanMKE commented on #1346
@testflyjets We are taking this issue as a feature request and will update this ticket when we have more information.

[2021-08-06 18:52] lawmicha commented on #1364
Hi @jleishman, sorry for the inconvenience caused, we're still investigating why isn't working for SPM, and have #1365 that should fix the problem. We'll release this as 1.13.2 and deprecate 1.13.1. If you are trying to use the changes from 1.13.1, feel free to switch over to the `fix/sqlite` branch for now or revert to 1.13.0 to continue your development

[2021-08-06 20:34] jleishman commented on #1364
@lawmicha any chance that branch (or at least the latest commit on it) won't disappear if and when the pull request is merged?

[2021-08-06 20:37] lawmicha commented on #1364
Good question, we have auto delete enabled so I’ll make sure to reopen the branch when merging

[2021-08-06 20:46] royjit commented on #1295
Calling of the escape hatch method would look something like this:

[code]

[2021-08-06 20:55] anatomybook commented on #1350
@diegocstn ,

a race condition seems unlikely in my opinion. 1.12 always worked, never had any hiccups when it comes to real-time syncing.

Yes, the error occurs right after startup, before any buttons are pushed. I erased the app from the simulator and ran it from scratch both times. My app code did not change during both runs.

I'll look into the authentication flow question momentarily. Again,

[2021-08-06 20:57] afern247 commented on #918
Any updates on this? I'm getting the same thing... I deleted locally on my app with the following code:

[code]

[2021-08-06 21:24] anatomybook commented on #1350
I can positively confirm that it's not a race between Auth and DataStore. I just removed the initial query that fires up DataStore and placed a button for the initial trigger instead. To me that was the quickest way to really wait until everything is settled down and start DataStore manually. The problem remains: it won't even sync, the log is full of errors.

Just to be sure: In my App, the firs

[2021-08-06 21:34] anatomybook commented on #1350
Judging from the comment "Subscriptions always require an `owner` field.", do I understand correctly that the error messages, I'm seeing are supposed to be there?

Thanks for your patience.

[2021-08-06 22:33] thisisabhash commented on #1323
Hello,

Currently, circular references between non-model types is not supported in DataStore.

Suggestions :
1) Remove the back reference to avoid circular dependency.
We can remove `workflowItems: WorkflowFieldTypes` from `ChildWorkflowTypes` since the parent workflowItems can be accessed like below :

[code]

2)  Change non-model types to models, in this case `ChildWorkflowTypes` and `WorkflowFi

[2021-08-07 03:01] royjit commented on #1222
`Amplify.Auth.fetchAuthSession` can be used to trigger token refresh. The api internally [calls Cognito refresh token api](https://github.com/aws-amplify/aws-sdk-ios/blob/4e67100e93bfaafef4a49a7faf9ec8e9d737da5c/AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m#L254) if either idtoken or accesstoken is about to expire. This api refreshes the token if there is 2 min or less for the tokens to expi

[2021-08-07 14:54] anatomybook commented on #1350
@diegocstn ,

I spent some time looking into this further. From what I can tell, the trouble is in `StorageEngine.startSync`. `requiresAuthPlugin()` comes back false and therefore leads to the sync engine to start without auth. That it turn leads to the problems, I mentioned above.

Next I checked why it comes back false and found that in `AuthRule.requiresAuthPlugin` `provider` is `nil`, which is

[2021-08-08 10:39] maremoto opened #1371 "Field owner not inserted in DynamoDb from Amplify IOS Datastore plugin, even with @auth owner rule"
### Describe the bug

I insert a new entry in a table with @auth owner rule from an IOS app with successful login, but the field owner is not inserted in the DynamoDb table, causing further auth errors with query on the entry:

`GraphQL service returned a successful response containing errors: [Amplify.GraphQLError(message: "Not Authorized to access getUsers on type Query", locations: Optional([Am

[2021-08-08 10:55] maremoto opened #1372 "Inserting a DynamoDB entry from IOS app with Amplify API in a Datastore environment is not visible from AdminUI/content web"
### Describe the bug

I insert a table entry from IOS app with Amplify SDK in an environment with Datastore activated.

The insertion is done using the library function

`Amplify.API.mutate(request: .create(data)) {}`

The new entry is visible in DynamoDB console, and is able to be queried from AppSync web, but **AdminUI/content console does not see it.**

### Steps To Reproduce

[code]
3. Create

[2021-08-08 14:00] LeoReubelt commented on #1323
thanks so much.

[2021-08-08 17:26] smkoop25 commented on #799
@royjit Any updates on using complex objects with Amplify?

[2021-08-09 15:56] #1236 closed

[2021-08-09 17:25] brennanMKE commented on #1346
See [Monitoring Network Connectivity with Swift](https://gist.github.com/brennanMKE/4b04a6eb0f3428a48b1285acbb63fef4) for a recommendation on how to control behavior in response to changes in network connectivity.

[2021-08-09 19:09] TerremceK commented on #1340
Thanks @brennanMKE I was able to achieve multiple downloads based off of the example code you provided with a few tweaks and refresher on completion handlers.  Super appreciate your help, I don't think I would have figured that out on my own.  Thank you!

[2021-08-09 19:09] #1340 closed

[2021-08-09 19:13] TerremceK commented on #1295
@royjit Thank you for this update! I will experiment with this code soon and let you know how this works out.

[2021-08-09 21:48] lawmicha commented on #1364
we have release the fix in 1.13.3 https://github.com/aws-amplify/amplify-ios/releases/tag/v1.13.3 please let us know if you see any other issues

[2021-08-09 21:48] #1364 closed

[2021-08-10 06:58] allan-qts commented on #1344
@randomizedlife01 did you find anything to resolve that?

[2021-08-10 12:21] Bersaelor commented on #1348
I'd like to add that this is not a beta issue but will stay an issue for everyone updating to Xcode 13 in September.

[2021-08-10 13:47] gabimo commented on #1359
where could I find assistance for this?

[2021-08-10 13:50] shahan-ayyub opened #1373 "Crash in AWSCredentials on sessionKey force unwrap"
### Describe the bug

We are randomly facing a crash in AWSCredentials where session key is nil.

### Steps To Reproduce

[code]

### Expected behavior

It should return AuthAWSCognitoCredentials successfully.

### Amplify Framework Version

1.13.1

### Amplify Categories

Auth, Storage

### Dependency manager

Cocoapods

### Swift version

4.2

### CLI version

Not using CLI

### Xcode version

X

[2021-08-10 15:20] Bersaelor opened #1374 "`amplify import auth` does not add an `OAuth` entry to the amplifyconfiguration.json"
### Describe the bug

When going through the process using `amplify import auth` to import an existing Cognito pool, the section `OAuth` with the `WebDomain` is missing and ` Amplify.Auth.signInWithWebUI` fails (because WebDomain is nil).

### Steps To Reproduce

Steps to reproduce the behavior:
1. use `amplify import auth` to import an existing Cognito pool to Amplify
2. look at the amplifyconfig

[2021-08-10 17:30] afern247 opened #1375 "Amplify can't find project when I do amplify codegen models"
### Describe the bug

I can do `Amplify push` and add apis etc, but when I do: `amplify codegen models` it says:

[code]

Why it can't find it? Where is it defined so I can check if it's a name mismatch or it's an actual bug?

When ask about modifying backend I selected yes.

### Amplify Categories

API, Auth, DataStore

### Dependency manager

Cocoapods

### Swift version

5.5

### CLI version

5

[2021-08-10 17:32] afern247 commented on #1353
Good question

[2021-08-10 18:51] cpiro commented on #1348
To work around this issue, we check out a local copy of `amplify-ios`, override the SPM package dependency by adding that local directory, and apply this [patch](https://gist.github.com/cpiro/893c34bc855653f141f284728fc0a387). You may have to do this for many of your dependencies, but fortunately for us in the weeks since Xcode 13.0b3 introduced this issue, our upstream vendors (except AWS) have a

[2021-08-10 18:58] Bersaelor commented on #1348
So for now I'm using https://github.com/maianhvu/amplify-ios/tree/patch-uiapp-shared, thanks to @maianhvu :)

[2021-08-10 18:59] afern247 commented on #1353
What if I want to store data locally only and don't want to push it to the cloud? In rder to do this you need to exclude the API at configure() time, if you try to add it later it throws an error: you cannot add a plugging after it's configured or something like that

[2021-08-10 18:59] u2m4c6 commented on #1124
macOS support is becoming the standard for Swift BaaS libraries like Realm Database and Firebase. AWS Amplify is currently my third choice and I am looking to migrate off AWS completely due to lack of macOS support.

[2021-08-10 19:09] 3m commented on #1124
It would be very helpful to get an indication from the aws team for if/when this might be supported as our team is also trying to make a decision on which BAAS platform to use for a lot of our projects.

Sent from my iPhone

[2021-08-10 19:48] haverchuck opened #1376 "App crashes when calling confirmSignIn with new password (intermittent)"
### Describe the bug

When executing `signIn` for a Cognito user record in the `FORCE_CHANGE_PASSWORD`, the amplify-ios library returns a `FORCE_CHANGE_PASSWORD` `nextStep`.

Typically, the `confirmSignIn` method can be called with a new password, the Cognito user record updates, and the next state is returned. However, the `confirmSignIn` API seems to intermittently crash the application:

[code]

[2021-08-11 00:52] maianhvu commented on #1348
Thanks for the mention! It was a quick and dirty fix I made in stealth mode to get my app up and running. Sorry for the insane amount of prop-drilling, I guess I can patch it up a little with environment variables and see if the folks over at AWS appreciate this solution.

[2021-08-11 07:39] maremoto commented on #1371
I have found empirically that if I declare the owner field in the schema it works.

But I had read in documentation and forums that the field is inserted "automagically" as well as other metadata.

I am a bit confused, should I explicitly declare in the schema other fields as _version, _lastChangedAt, __typename?, because those are indeed automatically being inserted, but maybe not being explicitl

[2021-08-11 12:00] quentinhayot opened #1377 "Mutation : Variables is a not a valid JSON object"
Hi !

I'm adding my first mutation to my project and the request fails (it's not even sent) with the following error:

[code]

I spent the day on this and I'm starting to think there either is a bug or I missed something really big.
All the queries are working fine. It only happens on mutations.

The relevant part of the schema looks like this:
[code]

I have a `GraphQLRequest` extension that look

[2021-08-11 14:37] lawmicha commented on #1377
what does `SendTcChatMutation`  and the variables property look like? The error you're seeing is a client side validation check done using `JSONSerialization.isValidJSONObject(variables)` [here](https://github.com/aws-amplify/amplify-ios/blob/02ac2ba5c417883ea90f3d59b3cd28e63d2a1d39/AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Utils/GraphQLOperationRequestUtils%2BValidator.swift#L23)

[2021-08-11 14:55] lawmicha commented on #1376
I believe @dnys1 may have something in AWSMobileClient to fix this- we'll reference the PR here whenever that is ready from the iOS SDK, looking forward to it!

[2021-08-11 15:04] quentinhayot commented on #1377
`SendTcChatMutation` is generated by codegen:
[code]

[2021-08-11 15:18] quentinhayot commented on #1377
I printed the content of "variables" at the line that throws the error (from your link).
I'm sorry if this is some dumb debug job, but I'm a beginner with amplify and I'm not familiar with what's going on under the hood just yet...

[code]

[2021-08-11 16:11] lawmicha commented on #1377
hey @quentinhayot, is SendToChatMutation generated in the file called `API.swift` ? If so, that's used with the older AppSync SDK. For the question to generate API.swift when you run `amplify push` should be "No"
[code]

you can run `amplify codegen models` to generate the Amplify model classes.

The workflow for setting it up looks like this https://docs.amplify.aws/lib/graphqlapi/getting-started

[2021-08-11 16:42] quentinhayot commented on #1377
@lawmicha I indeed use `API.swift` and I use `amplify codegen` AND `amplify codegen models` too.

Also,
- My backend resources are NOT created by amplify (I have an existing infrastructure built with Serverless Framework). I copy my appsync graphql schema in amplify's directory before executing codegen. (I'm not supposed to use `amplify push` in this case, right ?)
- I had the `@model` and `@conne

[2021-08-11 18:29] Bersaelor commented on #1374
I managed to get a UI to show by manually filling all the missing values above, but it took me while to figure out the correct values.

(Also sorry for the above bad formatting, I had posted this during a GitHub service outage so I couldn't edit it anymore)

[2021-08-11 18:35] Bersaelor opened #1378 "`cognitoTokenProvider.getCognitoTokens()` fails with "Could not read the id token from the token response""
### Describe the bug

I've been following the [amplify documentation](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/ios) to get the idToken and accessToken I need to authenticate with (for my API Gateway with Cognito pool authoriser).

Unfortunately I always get
[code]

### Steps To Reproduce

[code]

### Expected behavior

Valid tokens `(tokens.idToken, tokens.accessToken)` I ca

[2021-08-11 20:19] lawmicha commented on #1356
is that JS code? If so, could you open the issue over in https://github.com/aws-amplify/amplify-js ?

[2021-08-11 20:27] lawmicha commented on #1357
The error says `invalid_grant`, which i've seen similarly in other issues like https://github.com/aws-amplify/amplify-ios/issues/1204 that had a fix that was released in the SDK 2.24.2. If you pull in the latest Amplify 1.13.3, it will pull in that change. Can you verify which versions of Amplify you are using, and if possible you can also check the SDK version (version pulled in for AWSCore for e

[2021-08-11 20:42] fasamoah19 commented on #1378
I'm getting that same error as of 4:42 PM (EST). Wasn't an issue this morning

[2021-08-11 21:21] lawmicha commented on #1377
Thanks for explaining! I tried replicating a similar set up with the Todo schema that the CLI provides. I can see that `mutation.variables` doesn't contain a valid JSON object
[code]

since `input` is the actual `CreateTodoInput` object that contains `graphQLMap: GraphQLMap`. AppSync SDK probably serializes it differently, while Amplify.APi is expecting a valid JSON object. Could you build your ow

[2021-08-11 22:11] kitlogan commented on #1357
Hi, thank you very much for your response and help.
To update you on the issue - it is no longer just iPhone 12 Pros (this was a very unlikely coincidence!). The webUI just doesn't appear when users try to re-login after an expired session, now on a variety of devices.

My amplifyconfiguration.json file says I am using Amplify `"Version": "1.0"`
and
my podfile looks like this:
`PODS:
  - Amplify (

[2021-08-11 22:15] kitlogan commented on #1357
I can see that my AWSCore is a variety of 2.24.0 and 2.24.1, but not 2.24.2. Hopefully this is the issue?

Would you mind providing instructions with how I am best to update this? I'm in experiences with Amplify and don't want to damage the product I've built! I installed it to the project using cocoapods.

Thank you!

[2021-08-12 00:01] testflyjets commented on #1324
Great, thanks, we'll update to that production release. We very much
appreciate all the work you and your team did on this issue.

On Fri, Aug 6, 2021 at 8:11 AM Tim Schmelter ***@***.***>
wrote:

[2021-08-12 09:49] Bersaelor commented on #1378
Maybe this is a similar issue as https://github.com/aws-amplify/amplify-ios/issues/1108 ?
This would mean that the session has expired but the error is misleading. I'll look into this next.

[2021-08-12 09:53] quentinhayot commented on #1377
It works! Thank you !

Is there a way to clean this up and remove the old AppSync SDK to only use Amplify with my use case (using an AppSync api not deployed with Amplify) ?
It's not too late to recreate everything with Amplify... the thing is that all our other services are build and deployed with Serverless so it was a natural choice to do the same with this project.

[2021-08-12 10:58] Bersaelor commented on #1378
[This seems to be the line](https://github.com/aws-amplify/aws-sdk-ios/blob/7082bf6bb8d18c162459228c6902e4541d590db8/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift#L123) where the error originates:

[code]

in the `aws-sdk-ios`.

[2021-08-12 14:16] SvyatHoly opened #1379 "DataStore locally contains data that was deleted in DynamoDB table."
### Describe the bug

Local DataStore in my app never clears items that don't exist in the cloud.

### Steps To Reproduce

[code]

### Expected behavior

Local data must be consistent with the remote table.

### Amplify Framework Version

1.12.0

### Amplify Categories

DataStore

### Dependency manager

Swift PM

### Swift version

5

### CLI version

4.52.0

### Xcode version

Xcode 12.5

### Re

[2021-08-12 14:50] lawmicha commented on #1379
is this from the DynamoDB console interface?

DataStore keeps the local store in sync with the cloud via subscriptions, so if you clear items from the dynamoDB table directly, there won't be a subscription event to reconcile with the local store and delete the item. To trigger the subscription, you'll have to perform the deletion from the app using `Amplify.DataStore.delete` (which will send the d

[2021-08-12 15:13] SvyatHoly commented on #1379
@lawmicha Ok, thanks. I'll try to mutate data only with AppSync

[2021-08-12 15:41] lawmicha commented on #1378
@Bersaelor do you have the call stack for that error?

[2021-08-12 15:43] lawmicha commented on #1375
thanks for the update, I've seen issues related to different naming variations. How did you get to that state exactly? Was it when you created the App like File -> New -> Project -> App, and you set the Product Name to `projectName (iOS)` ?

[2021-08-12 15:46] lawmicha commented on #1374
good to hear you were able to get the UI to show, for reference there's https://docs.amplify.aws/lib/auth/existing-resources/q/platform/ios

I'm not aware of the questions that `amplify import auth` will ask, but i think if it asked for something and you had provided some values, but it was not translated over to the configuration then there is an issue.

[2021-08-12 15:50] lawmicha commented on #1374
Could you open an issue over there if there is an issue in the `amplify import auth` workflow? https://github.com/aws-amplify/amplify-cli/issues I don't have access to transfer this one

[2021-08-12 19:20] lawmicha commented on #1379
Free free to open another issue if something is not working as expected

[2021-08-12 19:20] #1379 closed

[2021-08-12 20:48] afern247 commented on #1375
So I created the project, initialized Amplify normally and it would work, I could do `amplify codegen models` the issue came after I renamed my app. Amplify were still looking for the old name, I also renamed the root folder where I had the files you know you have appName/appName/Views.. etc

I think there has to be a way to tell Amplify where to look for the project and for which project name to

[2021-08-12 21:08] Bersaelor commented on #1374
Mhmm, I don't think the command line ever asked me to put any web-domainr elated info in, thats why I was wondering/

I can run `amplify remove auth` and import it again tomorrow.

I also created a ticket over in the amplify-cli issues under https://github.com/aws-amplify/amplify-cli/issues/7947

[2021-08-12 21:15] Bersaelor commented on #1378
I did not follow these instructions since they use `amplify add auth`, and I had a Cognito pool that already existed. So I used `amplify import auth` instead, maybe that is the problem? That the importing somehow misses something? As I said [here](https://github.com/aws-amplify/amplify-ios/issues/1374) I also had to manually enter some of teh values that were missing.

I'm having trouble getting a

[2021-08-13 13:42] allan-qts commented on #1344
@lawmicha can you please help us on this issue? thanks in advance, we are still struggling with it :(

[2021-08-13 13:49] lawmicha commented on #1344
Can you claify, when it works- the token gets refreshed when you call fetchAuthSession. For the times that you mentioned doesn't work, how does the pop up show up? is it because of the `fetchAuthSession` call or something else?

[2021-08-13 14:04] allan-qts commented on #1344
Thanks @lawmicha
Yes I think `fetchAuthSession` caused the popup ask to login google again, here are my steps:

1.  Call `Amplify.Auth.signInWithWebU`I and log in via Google. Login is successful.
 2.  Put the app in the background mode in more than 10 mins ( I set the token expired time on Cognito as 8mins)
 3.  Open the app it detected the token is expired (it's correct)
 4.  So I want to refresh

[2021-08-13 15:53] mangoCARE commented on #1348
So Xcode 13 beta 5 seemed to have fixed this issue:

[code]

Not sure if this is going to be a permanent solution to whatever this thread was addressing, or if we should continue to be on the look out for issues around this

[2021-08-13 17:04] lawmicha commented on #1315
similar issue related to sign in with google https://github.com/aws-amplify/amplify-ios/issues/1344

[2021-08-13 18:52] royjit commented on #1359
Thanks for reaching out, we have reached out to the service team to get more information regarding this.

[2021-08-13 20:58] lawmicha commented on #1373
Hi @shahan-ayyub could you let us know how and what Auth configuration you have set up? For example, if you are using Cognito Identity Pool, the session key should be there. I know the storage plugin operations will use the identityId from Cognito Identity Pool and so if your Auth set up is only using Cognito User Pool then there may be a problem.

[2021-08-13 21:34] lawmicha commented on #1372
hi @maremoto, `Amplify.API.mutate(request: .create(data)) {}` this is expected to be called on non-DataStore enabled APIs, so when conflict resolution is not enabled. The reason for this is because `.create` will create a valid GraphQL request for you without the conflict resolution fields like _version and _deleted, which are used by DataStore's sync engine when it receives a subscription event d

[2021-08-13 22:30] royjit commented on #1359
Amazon Cognito does not support displaying provider logos for OIDC providers at the current time.
We have heard this request from other customers and will consider it in future updates to the service.

[2021-08-13 22:30] #1359 closed

[2021-08-13 22:41] royjit commented on #1315
Since the original issue in this thread is resolved, I am closing this. We can followup the other issue in #1344

[2021-08-13 22:41] #1315 closed

[2021-08-13 23:29] xXBannedXx opened #1380 "AuthFetchSessionOperation.waitUntilFinish() locks up thread handling connection and causes timeout"
### Describe the bug

When calling the waitUntilFinished() function on the return value of Amplify.Auth.fetchAuthSession, amplify locks the main thread, causing the connection to be timed out.

### Steps To Reproduce

[code]

### Expected behavior

Amplify should fetch the session on a separate thread while the main thread is locked waiting for the separate thread to complete the fetch.

### Ampli

[2021-08-14 00:41] royjit commented on #1344
@allan-qts Are you also using Flutter Library ?

I tried different scenarios and was not able to reproduce the issue. Here are the settings I used:
AccessToken Expiry: 5min
IDToken Expiry: 5min
RefreshToken Expiry: 60min

1. Sign in and call fetchAuthSession after 5 min - Fetched successfully
2. Sign in to 2 devices with same user, signout from one device and call fetchAuthSession in another - Fet

[2021-08-14 01:04] royjit commented on #1360
I was not able to reproduce the issue by following the steps you mentioned. Can you enable verbose logging for the inner SDK and send us (after redacting sensitive info) the request / response / error that you see? You can enable logs by:

[code]

[2021-08-14 02:33] allan-qts commented on #1344
@royjit thanks for your check.
I'm use iOS Swift library

`
Can you please check what version of AWSMobileClient you are using? Please update to the latest libraries and see if this error was reproducible.`
AWSMobileClient (2.24.4)

`Sign in and call fetchAuthSession after 60 min - Returned error session expired (no UI is shown)`
-> Yes in this case, what should we do to get the new token for the

[2021-08-14 06:50] maremoto commented on #1372
You can see it in "Additional context" section of this issue, I was trying to workaround another issue with IOS SDK.

https://github.com/aws-amplify/amplify-ios/issues/1371#issue-963403202

[2021-08-15 01:38] YanZhaoNV opened #1600 "Amplify.Auth.signIn not throwing userNotFound error"
**Describe the bug**
Using iOS signIn function with none existing account, expecting userNotFound error but throw notAuthorized. Using the same account testing on Android give back the right error type.

**To Reproduce**
Steps to reproduce the behavior:
1. try to sign in any cognito user db
2. login with none existing user
3. throw "notAuthorized" error

**Observed Behavior**

**Expected Behavior*

[2021-08-15 12:17] alionthego commented on #1353
@anatomybook
I understand your point from a developer perspective.  But not from a user perspective.

A user doesn't understand nor should he/she understand how the app works.  They just want to make sure they have the Most current data for data sensitive apps.

If the app has not had a change to the datastore in a few days it may not sync as it's unnecessary.  But a user wants to make sure that t

[2021-08-15 14:46] diegocstn commented on #1350
@anatomybook thanks for clarifying.
Can you please verify that the auth rules in the generated models schema have the provider field? As a reference, here's a [test file](https://github.com/aws-amplify/amplify-ios/blob/main/AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginAuthIntegrationTests/MultiAuth/Models/OwnerUPPost%2BSchema.swift#L28) generated from a schema with Cognito User Pool as the a

[2021-08-15 19:37] afern247 commented on #521
I'm also facing the same problem, I want to store in a @Publish diccionary a Model and I can't because it's not Hashable, please fix this.

[2021-08-15 20:08] anatomybook commented on #1353
@alionthego

First of all, I'd like to point out that I'm also just a user. I'm neither a developer nor I am affiliated with AWS or Amazon. I was merely throwing in my 2 cents.

Yes, I agree with you. Apps should be easy. The fewer buttons, the better. That's why I'm actually quite happy with the way things are right now, including a sync button not being necessary.

If you'd like to be sure that

[2021-08-16 04:05] sparklellama commented on #1348
This appears to still be an issue if you are making Swift Packages.  My Swift Package project which relies on Amplify compiles under under Xcode 12.  Under Xcode 13 beta 5, Amplify fails to build its Issue Reporter class with: `'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead.`  This happens in 2 places where `UIApplication.sh

[2021-08-16 04:19] maianhvu commented on #1348
That seems like throwing the baby out with the bath water, but tbh Amplify is giving me way too much trouble than it solves my problems as well.

The issue comes from Xcode thinking that we're building the app for App Extensions (e.g. notification handlers, share) where calls to `UIApplication.shared` are prohibited.

Admittedly, this is a code smell in my opinion and most packages should ideally

[2021-08-16 04:50] sparklellama commented on #1348
Yes I would agree that it's odd that Amplify does things like using the Application singleton, which you'd expect to be handled by the host app.

[2021-08-16 11:46] shahan-ayyub commented on #1373
Hi @lawmicha,

Thank you for your response.

I have attached the configuration json file, please have a look at it. Hope this answers your question. If you need anything else to investigate further then please let me know.
Also as you said session key should be there, I would like to mention that this issue is occurring randomly.

[amplifyconfiguration.json.zip](https://github.com/aws-amplify/ampl

[2021-08-16 13:48] royjit opened #1381 "Update custom auth documentation with better challenge example"
### Describe the bug

Current custom auth documentation in auth category uses a hard coded value as the challenge. We should provide a better example similar to this [blog](https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/) where it generates a random code for the custom challenge.

### Steps To Reproduce

[code]

### Expected behavior

Documen

[2021-08-16 17:07] cesarbess opened #1382 "[NSTaggedPointerString objectForKey:]: unrecognized selector sent to instance when configuring AWSCognitoAuthPlugin"
### Describe the bug

Hi. I'm creating a Swift Package which uses Amplify (AWSCognitoAuthPlugin) as a dependency, this project already had an Android counterpart so I've just reused the amplifyconfiguration.json that the Android project uses.

However when configuring the Amplify SDK, when i add the AWSCognitoAuthPlugin i get the following error:

<img width="978" alt="Screen Shot 2021-08-16 at 13

[2021-08-16 18:18] njreid commented on #1124
Whilst we don't have any MacOS native support plans that we can share at this point, could I suggest another approach? Have you considered writing your app using Amplify JS and wrapping it as a desktop app using Electron or Tauri? I know this isn't ideal if your skillset is Swift, but it will make supporting other platforms easier in the future.

I'm particularly impressed by how easy it was to wr

[2021-08-16 18:44] 3m commented on #1124
Thanks for the response and the suggestion.

Unfortunately the big advantage for our team is leveraging our extensive iOS and Swift skills to create a pure Native Mac app.  Many of our products don’t even have a web app, but could benefit greatly from being able to run on native Mac’s just like many iPhone apps took advantage of creating native iPad apps to take advantage of the additional screen

[2021-08-16 21:28] cesarbess commented on #1382
UPDATE: I've noticed that if I remove the "IdentityManager" object from my amplifyconfiguration.json file the crash doesn't happen

[2021-08-17 02:25] tuancuong009 commented on #1344
Thanks @royjit it works fine now after I upgraded the new version for AWSMobileClient and Amplify.
Thanks for your support, I will close this issue.

[2021-08-17 02:25] #1344 closed

[2021-08-17 13:28] alionthego opened #1383 "How do I properly update my SwiftUI view using datastore"
I am using datastore in an SwfitUI amplify project and unsure how to properly update my view to reflect changes in the datastore.  Particularly remote changes.

What I can gather from the documentation is that I need a listener for datastore in my model class and listen for events such as:

[code]

This approach is updating the model for all events which is great.  Except when a user initially log

[2021-08-17 15:37] yazoonic commented on #1350
@diegocstn is this confirmed bug at this point? I have to update to v.13.1 at least to resolve the data store ready issue I have raised and fixed in v.131.1

@anatomybook  can you explain to me the workaround you have done if any?

[2021-08-17 19:00] anatomybook commented on #1350
@diegocstn thanks for your answer.

Looking at a schema, I'm indeed missing the provider. With me, it reads like this:
[code]
What puzzles me is that I can't find any `cli.json` file. I just did `find ~ -name "cli.json"` and it returned nothing.

My amplify version is
[code]
So I'm a bit confused. I'll try to upgrade to 5.3.0 and rerun codegen, which I indeed haven't done in a while.

[2021-08-17 19:05] anatomybook commented on #1350
Yes. My workaround is to edit `internal extension AuthRule` in file `StorageEngine+SyncRequirement.swift` to:
[code]

[2021-08-17 19:20] anatomybook commented on #1350
Last update: The steps I described above, i.e. upgrade from 5.2.1 to 5.3.0 and rerun codegen did not yield a `provider` field.

@diegocstn Can you please provide further instructions how to deal with this?

[2021-08-19 18:39] lawmicha commented on #1383
If your app can wait until DataStore has finished syncing, you can register a listener to listen to the `.ready` event. When you receive the `.ready` event, this means datastore is done syncing and subscriptions are active.  Perform the query at this time to get the latest snapshot of the data and then register listeners for model changes using the [`Amplify.DataStore.publisher` API](https://docs.

[2021-08-19 21:42] afern247 commented on #1383
Hi, is there any example of how to do this? I was looking for answers and came upon this. When the user downloads the app for the first time on a device (but with existing data), and I try to fetch on the view the data it says that it doesn't exist. However if I fetch it after a couple of seconds it does find it. Is there a proper example on how to handle this initial sync and subscribe to changes

[2021-08-19 21:59] afern247 commented on #1383
Also how do I query for a specific ID on the subscription? On the docs it says subscribe to a model but what if I have a model linked to another one? (1-many). I just want to subscribe for the ones that the specific user has

[2021-08-19 22:10] afern247 commented on #1113
we'd like to see the current 145 issues resolved first instead of adding more bugs...

[2021-08-19 23:23] afern247 opened #1384 "DataStore Sync error"
### Describe the bug

I'm getting the following error:

[code]

### Steps To Reproduce
User signs in, I try to use DataStore

### Amplify Framework Version

1.13.3

### Amplify Categories

DataStore

### Dependency manager

Cocoapods

### Swift version

5.5

### CLI version

5.3.0

### Xcode version

13

### Relevant log output

_No response_

### Is this a regression? (i.e. was this working befor

[2021-08-19 23:34] alionthego commented on #1383
hi @lawmicha
Your answer is quite helpful, but it would be really great to see an example.  Specifically how to get the item that is being added or removed from the data that is returned.  I didn't see any example for this.
Thanks

[2021-08-20 03:11] Chesong-Lee-Hospii opened #1385 "Build error with auto-generated API.swift file"
### Describe the bug

I am getting a compile error with the API.swift file that was generated
[code]

Here are two examples of the code where I see the errors
[code]

### Steps To Reproduce

[code]

### Expected behavior

API.swift is auto-generated so it shouldn't have any compile errors when adding into the project

### Amplify Framework Version

1.12.0

### Amplify Categories

API

### Dependen

[2021-08-20 03:23] Chesong-Lee-Hospii commented on #1385
Closing this issue and reposting this issue over amplify-cli because I feel like it's more of a CLI issue than the amplify-ios framework
https://github.com/aws-amplify/amplify-cli/issues/7995

[2021-08-20 03:23] #1385 closed

[2021-08-20 17:55] brennanMKE commented on #1382
@cesarbess Thanks for reporting this issue. Can you provide the stack frames so we can see the method signatures and line numbers? That will help us track down where this is happening.

[2021-08-20 18:14] thisisabhash commented on #1384
Hello, Could you please provide
- the reproduction steps leading to this error
- provisioning steps used for API
- graphql schema for the models used

[2021-08-20 18:25] cesarbess commented on #1382
@brennanMKE  Sure, I think it's important to highlight that this only happens when I have "IdentityManager" object in my amplify.configuration.json file, so here's a sample of my JSON file in case it helps:

[code]

And here's the stack:

[code]

[2021-08-20 21:48] ChadyG opened #1387 "Sync issues after login when using auth "Not Authorized to access X on type Y""
### Describe the bug

When logging in, initial sync fails due to Unauthorized errors on subscription events.  Restarting the app while keeping the authorized state, will allow sync to perform as normal.  Removing the authorization rules from GraphQL schema will also allow the sync to run, but this is not desirable of course.

### Steps To Reproduce

[code]

### Expected behavior

Initial data sync

[2021-08-20 21:55] anatomybook commented on #1387
Hello @ChadyG

this looks very similar to [this issue](https://github.com/aws-amplify/amplify-ios/issues/1350#issuecomment-894255675). It seems to me you are experiencing the same issue, namely your owner field being empty.

Look in your log output for `\"variables\":{\"owner\":\"\"}}` - it's empty.

[2021-08-20 23:17] brennanMKE commented on #1380
@xXBannedXx I see you got this block of code from our docs on [Accessing Credentials](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/ios/).

With your version of this function I see that it is blocking the current context with [waitUntilFinished](https://developer.apple.com/documentation/foundation/nsoperation/1409256-waituntilfinished) which is inherited from NSOperation. The lin

[2021-08-20 23:38] dnys1 commented on #1376
@lawmicha Opened a PR in the SDK for this: https://github.com/aws-amplify/aws-sdk-ios/pull/3732

[2021-08-20 23:42] ChadyG commented on #1387
Hello @anatomybook

That’s a good catch, based on my owner field being missing that does look like the same or at least related to my issue.  I’ll close this as a duplicate and direct is cushion there.

Duplicate of #1350

[2021-08-20 23:42] #1387 closed

[2021-08-20 23:46] ChadyG commented on #1350
Hello, we are experiencing a similar issue.  Our reproduction was on initial sync after login failing, but data sync when using existing credentials is working.
In our case, we do have custom sync expressions that will query data based on the owner field.  I won’t be able to test for a few days, but when I can I will see if reloading the sync expressions after login allow the data sync to run as e

[2021-08-22 09:55] anatomybook opened #1388 "App crashing after failure to query DataStore."
### Describe the bug

When loading an item from DataStore during regular operation, i.e .not initial sync, the app tripped over an assertion and crashed.

![130348808-9dc71b13-3559-4e86-867d-4730a2360966](https://user-images.githubusercontent.com/67764399/130350696-38d00d86-9048-4db4-b191-7ba1d8ed5ca8.png)

I've included the console log below.

Question: Is DataStore query thread-safe? Reason why

[2021-08-22 11:01] anatomybook commented on #1388
I can confirm that the problem was due to orphaned items once more.

Do you have any hints where I can catch the problem in the non-debug app, i.e. issue a delete request for the offending ID? This way I could make the app clean its database instead of me going through it via script. Eventually this won't scale anymore and I'd rather have to app clean after itself in case of orphaned items.

[2021-08-23 07:26] mehtabghani10p commented on #1360
@royjit logs file is attached, hope it would be helpful.
[verbose-log.txt](https://github.com/aws-amplify/amplify-ios/files/7029904/verbose-log.txt)

[2021-08-23 09:10] shahan-ayyub commented on #1373
Hi @lawmicha, any update?

[2021-08-23 18:47] diegocstn commented on #1350
@anatomybook a [`cli.json`](https://docs.amplify.aws/cli/reference/files/#clijson) file should have been created in your project `amplify` folder during its initialization as described [here](https://docs.amplify.aws/cli/reference/feature-flags/#configuration).
You can still manually create that file with the following content
[code]

[2021-08-23 18:55] diegocstn commented on #1338
I'll optimistically close this, but feel free to re-open if you need more help.

[2021-08-23 18:55] #1338 closed

[2021-08-23 20:56] diegocstn commented on #591
@tappready we released support for multi-auth as part of [v1.12.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.12.0). You can read more about multi-auth and DataStore [here](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/ios/#configure-multiple-authorization-types).
I'll optimistically close this, but feel free to re-open if you need more help :)

[2021-08-23 21:15] #1213 closed

[2021-08-23 21:21] diegocstn commented on #1285
@kristjan97 I'm optimistically closing this due to inactivity, but feel free to re-open if you need more help :)

[2021-08-23 21:21] #1285 closed

[2021-08-23 21:30] diegocstn commented on #1375
@afern247 Is the Xcode `.xcodeproj` folder name matching your target name?
By default `amplify-xcode` looks for the "primary target", a target with the same name as the project and of type "application".

[2021-08-24 00:44] diegocstn commented on #1374
@Bersaelor I'm closing this in favor of https://github.com/aws-amplify/amplify-cli/issues/7947, but feel free to reopen if you need more help.

[2021-08-24 00:44] #1374 closed

[2021-08-24 00:48] diegocstn commented on #1234
@bgomberg I'm optimistically closing this as we're not able to reproduce it, but feel free to reopen :)

[2021-08-24 00:48] #1234 closed

[2021-08-24 01:11] HuiSF opened #1390 "[DataStore] Model cannot be synced to cloud due to index field is null"
### Describe the bug

When saving a model with below schema, if the index field is not assigned, model can only be saved into local DB, but failed syncing to DynamoDB. In addition, amplify-ios doesn't report the underlying GraphQL error on invoking `DataStore.save` API.

[code]

Original debugging please refer to https://github.com/aws-amplify/amplify-flutter/issues/306#issuecomment-904230597
Same

[2021-08-24 01:16] diegocstn commented on #1356
@nikhil-dabhade It seems like the code snippet you posted is JavaScript, you might need to open a new issue in the JS library repository https://github.com/aws-amplify/amplify-js.
I'm closing this issue due to inactivity, but feel free to reopen if you need more help :)

[2021-08-24 01:16] #1356 closed

[2021-08-24 07:38] aurelien-m commented on #1183
Hello, I'm also getting this error, is there anything I can try to debug this? I followed the [documentation](https://docs.amplify.aws/lib/project-setup/create-application/q/platform/ios/#2-install-amplify-libraries). I tried using different versions of the project but none of them worked.

<img width="740" alt="image" src="https://user-images.githubusercontent.com/29719028/130576012-2785bc47-14cf

[2021-08-24 11:09] xXBannedXx commented on #1380
This seems to work, Thank you.

[2021-08-24 11:09] #1380 closed

[2021-08-24 11:19] afern247 commented on #1384
- the reproduction steps leading to this error
I log into the app, I manually refresh, do stuff... now I log out from the app, when I log in back the session checks if user is logged in, which I am, then transitions to correct screen, in that screen I'm checking if datastore has some data in one of my models, but it says no, until seconds later that I manually refresh it. So imagine the problem, a

[2021-08-24 12:18] maremoto commented on #918
Hi,

I am experiencing the same situation, when I delete an item it is deleted in Datastore (AdminUI stops showing it) but remains in DynamoDb with "_deleted: true" flag.

It is ok as far as you are not retrieving the item in any furter SELECT.

The problem arrises when you are trying to INSERT again the same item, with the same id, then despite of a successful response, the item is no longer inse

[2021-08-24 12:26] afern247 commented on #918
not only the id, we are consuming space and junk that we don't need..

[2021-08-24 13:17] maremoto opened #1391 "How to really delete items from Datastore?"
Hi,

When I delete an item it is deleted in Datastore (AdminUI stops showing it) but remains in DynamoDb with "_deleted: true" flag.

It is ok as far as you are not retrieving the item in any furter SELECT.

The problem arises when you are trying to INSERT again the same item, with the same id, then despite of a SDK successful response, the item is no longer inserted in Datastore unless you manual

[2021-08-24 14:04] afern247 commented on #1383
@alionthego how did you do it to get the data at app start? When I do "give me the datastore data" it doesn't find it as it takes some time to initialize, can you share a code snippet?

@lawmicha can someone from the Amplify team address this and provide some examples...?

[2021-08-24 14:21] OliverNielsen opened #1392 "dyld: Library not loaded when using SPM"
### Describe the bug

Hello,

I have a project which had Amplify integration using Cocoapods. This worked fine.
I have now converted to Swift Package Manager and it works fine on simulator.

Unfortunately, when I try to run the app on device I get an error:
[code]

The values "SOME_ID", "XXX" and "ZZZ" is to hide sensitive client data. Not the actual names. This is also why I cannot provide the ac

[2021-08-24 21:27] HuiSF opened #1393 "[DataStore] Invalid AWSPhone values cause silent failure when saving model to DynamoDB"
### Describe the bug

While using schemas with AWSPhone typed fields, if invalid phone numbers are provided, save API call succeeded, model saved into local DB, modal is not saved into DynamoDB due to DynamoDB value validation raised GraphQL error.

Schema example
[code]

### Steps To Reproduce

[code]

### Expected behavior

The `save` API call should return error with clear error message from th

[2021-08-24 21:43] afern247 opened #1394 "DataStore takes too much time to initialize"
### Describe the bug

As soon as I open the app, the user session remains (so let's discard that I'm checking for this for now).
As soon as the app starts, I query datastore for some data that the user has, this is the model:

[code]

so at app start I query like this:

[code]

The return of that is nil, it's just empty, however it does have some data. It is not after a short while that the data s

[2021-08-25 00:02] diegocstn commented on #1394
@afern247 the DataStore full initial sync can take some time, especially with a large dataset. Which version of Amplify are you using? We've released a few performance improvements in[ v1.10.0.](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.10.0)

You can perhaps trigger a DataStore sync during your app startup time by using [`DataStore.start`](https://docs.amplify.aws/lib/datastore/o

[2021-08-25 00:46] afern247 commented on #1394
lol I'm using `1.12.0`. I don't even think my data is that much, it's actually veeery small, the most that could be there is the json but it's actually not that big.

The problem is that the data is there... like, it's ready to sync and I query for the data and it returns nil, then after 4 seconds do the same operation and it's there...
@diegocstn

[2021-08-25 06:55] patrickschumacher opened #1414 "The new expiration date of the access token is not used. (Cognito)"
**Describe the bug**
In the backend, an expiry time of one hour was set for the access token. A user then logged into the app and the expiry time of the access token was then set to 5 minutes (for test purposes). The user then logs out and back in, but the expiry time is still one hour.
If you check the access token, on a webpage like jwt.io ,  you find that the expiration is set correct.

**To Re

[2021-08-25 13:26] mehtabghani10p commented on #1360
@royjit I've attached a POC, where I'm able to reproduce this issue.

Note:
Before signing in, URLs are being downloaded using Amplify.Storage.getURL(key: key). (Line# 43). This depicts the scenario actually happening in a real app.
Also tried to cancel "getURL" operations before signing out but it didn't work.

Pre-requisite:
1- pod install
2- replace '*' with necessary ids/info in amplifyconfigu

[2021-08-25 16:08] diegocstn commented on #1392
@OliverNielsen did you manually migrate your project from Cocoapods to SPM or by using an automated tool like [cocoapods-deintegrate](https://github.com/CocoaPods/cocoapods-deintegrate)?

[2021-08-25 23:40] afern247 opened #1397 "DataStore Events Subscriber"
Following the [docs](https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/ios/) I see I can do:

[code]

So I placed that into a function and called it before Amplify config and nothing get triggered, I don't see anywhere in my log a mention of "User receives a network connection status: ..."

Is there a proper even an informal example on how to use this? I'm specially interested in

[2021-08-26 04:50] alionthego opened #1399 "No guidance on implementing TOTP with custom UI"
I have an iOS amplify project.  I have selected optional MFA for the Cognito User Pools.

Now I am building the UI for users to enable MFA on an optional bases.  But there doesn't to be any documentation at all for MFA.  I would like to have an authenticator (TOTP) based MFA.

Is this available for iOS?  And if so where can I find an example on what calls I need to make?

[2021-08-26 07:16] 1755143168 opened #1400 "Failed to initialize Amplify with PluginError: Could not cast incoming configuration to JSONValue"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-27 19:54] HuiSF opened #1401 "DataStore query predicate operator ne doesn't return expected results"
### Describe the bug

Original amplify-flutter issue: https://github.com/aws-amplify/amplify-flutter/issues/823

Let's say I have table
[code]
When I run this query
[code]
I'm expecting the query returns results:
[code]
But it returned only
[code]
Rows with `null` somehow got excluded.

### Steps To Reproduce

[code]

### Expected behavior

When query with predicate `MyModel.keys.str.ne("name2")`

[2021-08-27 23:30] lawmicha commented on #1393
Hi @HuiSF, I codegenerated the schema and it doesn't contain any information that it is an `AWSPhone` so there may be a bit more work to support client side validation. We would first need to pass the information that it's a AWSPhone or similar to allow the library to know this.

[code]

[2021-08-27 23:35] lawmicha commented on #1393
currently the possible types are
[code]

[2021-08-27 23:53] HuiSF commented on #1393
Hi @lawmicha thanks for looking!

`AWSPhone` is usable while defining schema. all scalar types are listed [here](https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html). Model gen converts some of the scalar types defined in GraphQL schema to string, e.g. `AWSPhone` and `AWSEmail`.

When syncing data to cloud, AppSync validates values according to the GraphQL schema which raised the erro

[2021-08-28 01:09] diegocstn commented on #1401
This behavior is dictated by the storage adapter implementation currently used by DataStore, SQLite :) We should verify whether all platforms behave consistently and decide how to address this.

[2021-08-29 12:57] skryshi opened #1402 "Amplify.Datastore.clear() doesn't clear out local store after switching the environment"
### Describe the bug

I have two environments: dev and prod. After switching the environments with amplify CLI, Amplify.Datastore.clear() does not clear local store from the previous environment. Restarting XCode and rebuilding the project does not help.

The only thing that works is to remove the app from the simulator (device), so it is installed fresh by XCode.

### Steps To Reproduce

[code]

[2021-08-29 19:13] andrewshivers opened #1403 "Unable to Sign in with WebUI Cognito"
### Describe the bug

All of a sudden I am unable to sign in using Cognito webUI. I have no changed anything with the authentication functions in my app or the Cognito setting in the AWS console since the issue started. Now when I click the sign-in button on my app which calls
`Amplify.Auth.signInWithWebUI(presentationAnchor: UIApplication.shared.windows.first!)`

I get the error response:
[code]

[2021-08-31 15:47] ChadyG commented on #1350
@diegocstn This appears to have fixed our sync issues as well.  Thank you!

[2021-08-31 16:36] pooshonk commented on #1403
I am having the exact same issue as you. This only atarte dhappening a few days ago. Have you found anything else out or are you still in the same position?

[2021-08-31 16:58] andrewshivers commented on #1403
Hi,

Unfortunately no luck, but I haven't really dug that far, and there error message doesn't give you much to go on. I was already planning on converting from the web login to an in app solution using cognito, so I may just move that up my list of things to do and see if that fixes it?

[2021-08-31 18:00] ashiemke commented on #1383
Here's a bit of combine to wait for specific tables to load: ```
let events = Amplify.Hub.publisher(for: .dataStore)
            .filter { $0.eventName == HubPayload.EventName.DataStore.modelSynced }
            .compactMap { $0.data as? ModelSyncedEvent }
            .share()

        let userSync = events.filter { $0.modelName == "User" }
        let profileSync = events.filter { $0.modelName ==

[2021-08-31 20:24] lawmicha commented on #1390
the generated model and schema (amplify CLI 5.0.1)
[code]

[2021-08-31 20:28] lawmicha commented on #1390
Is the expectation that when no parentId is passed in, then parentId should be empty string `""`? are you able to get a successful sync to cloud if you create the TestModel with empty string for the parentId?

can you clarify this as well? do you mean the errorHandler registered and is not called? as I recall, if this is being build for flutter, the errorHandler is not exposed (yet)

[2021-08-31 20:33] lawmicha commented on #1390
ideally, we do per field syncing such that when a create mutation is created, since `personId` is optional and is not in the model we would then create a GraphQL variables object that doesn't contain the `personId` key. This would also avoid the problem of sending null while it is a secondary index, and avoid having to work around this by sending empty string.

[2021-08-31 20:52] HuiSF commented on #1390
For this case, `parentId` should be omitted from the GraphQL document when sending the request to AppSync, therefore the `parentId` field in DynamoDB remains "empty" (not a empty string, just has no value), when I omit the field, syncing succeeded

Yes Flutter is missing `errorHandler` implementation at this moment. It may be the reason Flutter didn't get any kind of error on this use case. (I hav

[2021-08-31 21:15] lawmicha commented on #1390
thanks for the quick response, I think field-level saves and updates may end up fixing this. Alternatively we could be more explicit either in the library or Appsync service. If secondary index at the DynamoDB level can be empty but not null, then can AppSync API accept `null` values? As we saw, the list query returns `null` values when it is empty in DynamoDB. Otherwise, the library can be more e

[2021-09-01 02:34] ashiemke opened #1405 "Deadlock in complex datastore implementation"
### Describe the bug

Amplify datastore causes a deadlock when multiple saves are executed from different threads. I'm unsure exactly what amplify is doing, but a full trace is attached showing the state while deadlocked. Looks like ReconcileAndLocalSaveOperation is causing other sqlite operations to deadlock.

See dump below. Thread 2 (named queue for sqlite) seems to be causing a deadlock, event

[2021-09-01 11:36] alionthego opened #1408 "Can I change serverSideEncryption and pointInTimeRecovery after project already running in production environment?"
I have a running production amplify project.  I didn't know there was point in time database recovery and server side encryption options when I set up the project.   Is it possible to add this in a running production environment without losing data?

My understanding from another post is that we should go to the parameters file in amplify/backend/api/<projectName>/parameters.json and modify to loo

[2021-09-01 16:01] palpatim commented on #1314
You can only specify `privateSession` during sign in, and that value is persisted in storage that gets removed on app uninstall. If you do a `signOut` in a context where Amplify Auth cannot determine whether `signIn` was invoked with a private session, then it defaults to assuming that `privateSession` was NOT set, and would invoke the ASAuthenticationWebSession without setting the `prefersEphemer

[2021-09-01 18:11] royjit commented on #1314
yes, I think that is the best option I can think of now.

For future reference - https://developer.apple.com/forums/thread/36442?answerId=281900022#281900022

[2021-09-02 12:34] alionthego opened #1409 "Datastore sync is blocking main thread"
I have begun noticing when my app wakes from background after being in background several minutes, my UI scrolling is momentarily choppy until the database has finished syncing and Database is Ready.

How can I ensure that the syncing is done off main thread?  At the moment I am using the following code:

[code]

Because my actual schema has a lot of relation's, using a publisher is not going to w

[2021-09-02 21:57] royjit opened #1410 "Amplify Auth hostedUI - On reinstall with different configuration"
### Describe the bug

Amplify.Auth.fetchAuthSession is showing the Apple dialog if we reinstall the app with different configuration

### Steps To Reproduce

[code]

### Expected behavior

Amplify.Auth.fetchAuthSession should not show the Apple dialog

### Amplify Framework Version

Latest

### Amplify Categories

Auth

### Dependency manager

Cocoapods

### Swift version

5.4

### CLI version

NA

[2021-09-02 22:16] haverchuck commented on #1410
dander11/amplify-flutter#848

[2021-09-02 22:17] haverchuck commented on #1410
dander11/aws-amplify/amplify-flutter#848

[2021-09-02 22:25] afern247 commented on #1397
There is a A LOT that the documentation is leaving out, but... I figured out a way to observe for the changes, the problem is that now if I create some data in one device and I query it on another, the other has no idea about this data. Why is this?

[2021-09-02 23:10] HuiSF commented on #1401
Discussion of unifies API behavior cross platform: https://github.com/aws-amplify/amplify-android/issues/1468#issuecomment-912120703

[2021-09-03 16:53] royjit commented on #1381
Waiting for CLI to remove the prompt asking for the hard coded value. After that is implemented, we need to update the doc.

[2021-09-03 18:34] royjit commented on #1410
I was able to reproduce the issue.

We rely on AWSMobileClient to get the tokens and credentials. The root cause lies in the fact that :

*  AWSMobileClient depends on a single method getSession inside AWSCognitoAuth for signing in and getting token
* Amplify (AWSMobileClient internally) sees that the user is signed in (because we use the same keychain value) and proceed to get the token for a “si

[2021-09-03 18:36] royjit commented on #1410
Next step: Possible fix is to use different APIs for getToken, ie Amplify.Auth should use an api that **DO NOT** automatically sign in when `getToken` api is called.

[2021-09-03 19:35] atierian commented on #1392
Thanks for the further information.
This can occur when Swift Package target dependencies are not added as products.
Here is an example of a working Package.swift file that should suite your needs.
[code]

Additionally here is a working example of a workspace with a Swift Package including the listed Amplify
dependencies attached.

[1392.zip](https://github.com/aws-amplify/amplify-ios/files/710812

[2021-09-04 00:21] diegocstn commented on #1402
@skryshi are you calling `DataStore.clear` as the very first DataStore operation?
If so, there's a chance the underlying engine hasn't fully started and the `.clear` operation gets just ignored.

[2021-09-04 00:23] #1238 closed

[2021-09-04 05:15] skryshi commented on #1402
@diegocstn Yes, I am calling DataStore.clear as the very first DataStore operation. If that's not right, then what is the recommended sequence of calls to get DataStore started and ready? It's not in the docs.

ATM, I have this:

[code]

[2021-09-05 18:51] rawandahmad698 commented on #1409
Use the background thread, not main!

` DispatchQueue.global(qos: .background).asyncAfter(deadline: .now() + 0.1, execute: {
                    // Your code
                })`

[2021-09-05 19:40] ameter commented on #1409
That's correct.  And to clarify, you are correct to use DispatchQueue.main.async in the completion handler of the query function to update self.posts.  However, the issue is that in the init function, you should not be using the main thread (e.g. use DispatchQueue.global as rawandahmad698 said) to kick off the query.

[2021-09-05 20:30] #1408 closed

[2021-09-05 20:30] ameter commented on #1408
closing in favor of this ticket with the CLI team:
https://github.com/aws-amplify/amplify-cli/issues/8104

[2021-09-05 22:15] tobitech commented on #1232
@royjit This still has the `pending release` label, wondering if it has been released 'cause I still experience this?

[2021-09-05 22:21] tobitech commented on #1232
@Kilo-Loco did you get this to work?

[2021-09-06 01:25] alionthego commented on #1409
Hi.  Very sorry for omitting the threading in the original post.  I have been dispatching the query to the background as the updated code shows in the query function.  And this problem exists.  Is there anything in the code above that should be causing this significantly degraded performance when coming out of background after being in background for a significant period of time?

[2021-09-06 05:21] harshchitralaMM commented on #1329
@lawmicha @royjit Can we get an update on this?

[2021-09-06 12:28] OliverNielsen commented on #1392
Thank you for the response.

Unfortunately, I didn't get it to work. I am getting the same issue as described [here](https://github.com/aws-amplify/amplify-ios/issues/1392#issuecomment-905727398).

I decided to make a test project with my setup since I think it might result in some confusion.
In the test project, I have an app, and two dynamic frameworks.

- `AmplifyIssueTestProject` (The app)
- `

[2021-09-06 14:03] fpabl0 opened #1412 "[Feature Request] Add "setSignInUserSession" function"
### Is your feature request related to a problem? Please describe.

A problem not, but a use case. We have an application that allow users to sign in using the cognito client libraries and through our own server using the cognito admin API. In JS, this could be accomplished easily using the function `setSignInUserSession`, but here there isn't something like that.

### Describe the solution you'd

[2021-09-08 10:54] afern247 commented on #1397
I was able to do the subscriber and setup the listener, and I understand now even more the issue I described above, so this is what's happening:

Let's say I have this model: `Cards`

Scenario 1: `Cards` is empty.

I login into the app and fire up the observer and it never sends any value because it has no data.... So I wait until DataStore Hub sends the signal of ready and I query for Cards.

Sce

[2021-09-08 17:28] harsh62 commented on #1348
It would be nice if you could provide a demo app showcasing the issue when building it in a package. I have tried a couple of times, and it seems to be working fine.

[2021-09-08 23:24] kimfucious opened #1413 "Cannot access data in Amplify.List"
Hi there,
I got [feedback](https://discord.com/channels/705853757799399426/707328996995760179/885293252109013013) in the AWS Amplify Discord to open an issue on this, so here I am 😊

**Scenario:**
We've got an existing GraphQL backend (using DynamoDB, no DataStore) created with Amplify that has been serving a React-based front end for some time now.

We are in the process of building a iOS/Swift a

[2021-09-09 01:32] royjit commented on #1414
You have changed the expiry time for the token through Cognito User pool, but the expiration time you are comparing is of AWS Credentials. The AWS credentials are temporary credentials valid for 1 hr.

[2021-09-09 01:33] royjit commented on #1410
Draft PR to handle getSession without launching signIn view - https://github.com/aws-amplify/aws-sdk-ios/pull/3764/files

[2021-09-09 03:55] lawmicha commented on #1405
From the stack trace, it looks the SQL thread is trying to publish a mutation event on the publisher and is deadlocked there, with the main thread also trying to acquire the lock. Do you have subscribers on `Amplify.DataStore.publisher`? If so, what does your consuming code look like?

[2021-09-09 04:32] ashiemke commented on #1405
@lawmicha yeah, that sounds right. I'm not sure where the lock is coming from, there are many different places where we have datastore publishers, but nothing is writing directly in the chains from those publishers, so it's probably a side effect somehow. It's also not happening all the time, it takes about 50 fast saves to trigger the lock.

[2021-09-09 04:45] ashiemke commented on #1405
Looking harder, there's a query from more or less directly within a datastore publisher, but in my understanding the throttle should send that to
[code]
hope that helps, happy to try to dig harder if it helps.

[2021-09-09 11:54] LeoReubelt commented on #1328
@diegocstn Yes. That is it.  Thank you.  Can you tell me what the predicate is to filter out the deleted files using Amplify.API.Query?

[2021-09-09 13:49] royjit commented on #1399
TOTP is not yet available in iOS, we will mark this as a feature request.

[2021-09-09 14:02] cesarbess commented on #1382
@brennanMKE Thanks for the reply. What i'm trying to achieve is building an iOS app and a Swift Package that handles the authentication logic. Since in the future i can have other apps that would need to reuse this same authentication logic.

So can i still have the amplify related code inside my Swift Package and then the client app that uses this package will have the amplifyconfiguration.json f

[2021-09-09 14:09] cesarbess commented on #1382
@brennanMKE Thanks for the reply. What i'm trying to achieve is building an iOS app and a Swift Package that handles the authentication logic. Since in the future i can have other apps that would need to reuse this same authentication logic.

I've done what you suggested, and added the .json file to the client app that is using the Swift Package. But can i still have all the amplify related code i

[2021-09-09 14:34] lawmicha opened #1416 "Analytics: Allow user attributes in identifyUser"
### Is your feature request related to a problem? Please describe.

See related Android change: https://github.com/aws-amplify/amplify-android/pull/1306

### Describe the solution you'd like

Understand Android's PR and cross reference to the behavior gap in iOS.

### Describe alternatives you've considered

N/A

### Is the feature request related to any of the existing Amplify categories?

Analyt

[2021-09-09 16:51] htc007 commented on #505
What's the rationale for not generating models when both sides of a connection are optional?

[2021-09-09 17:19] alexandru7 commented on #1348
It looks like this change was reverted in Xcode 13 beta 5 according to the release notes:

I was able to pull the most recent version of amplify in my project and it compiled/ran without any issues on Xcode 13 beta 5.
I'll leave the ticket open until we get the GM of Xcode 13 in case they change their minds again.

[2021-09-09 20:16] everestman27 commented on #1348
I am trying to run tthe IOS Amplify tutorial in Xcode13beta4 and getting a number of amplify package related errors - ex. errror1 .../ios/Amplify/DevMenu/View/IssueReporter.swift:110:23: 'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead.  error2 -...ios/Amplify/DevMenu/View/IssueReporter.swift:110:30: 'open(_:options:completion

[2021-09-10 02:19] royjit commented on #1360
I tried the same with your POC and unfortunately could not reproduce the issue. The lambda trigger I used is given below, but I do not suspect that the error is from lambda because from your logs it is clear that the app is not sending the USERNAME field.

Amplify signIn api should have thrown an error if the username is empty [CodeRef](https://github.com/aws-amplify/amplify-ios/blob/1c19d2a1770aa

[2021-09-10 03:46] #993 closed

[2021-09-10 03:47] #1384 closed

[2021-09-10 03:58] royjit commented on #1329
The error message is the one returned by Cognito User Pool service and Amplify is passing the same error back in the api call. I tried to reproduce the issue and the error I got from server is:

[code]

[2021-09-10 12:27] yazoonic commented on #1405
@lawmicha I was about to open new bug but it is already here. When you asked me to try the datastore ready bug and it was working. The complex delete operation is broken now as mentioned in this thread.

1.13.4
Steps to repro
Delete on success of another delete operation is sometimes not working.. I had to roll back to 1.12

[2021-09-10 12:53] mehtabghani10p commented on #1360
@royjit username was present during my testing, check screenshot.

<img width="1407" alt="Screenshot 2021-09-10 at 5 13 20 PM" src="https://user-images.githubusercontent.com/84833984/132855243-e900a13c-172b-4c4a-b9ef-458756111eca.png">

[2021-09-10 13:39] royjit commented on #1222
I again gave a round of testing by signing in via `Amplify.Auth.signInWithWebUI`, but still could not reproduce the issue. Do you have any app logs when the issue happens?  Logs might give us more information regarding why the issue happens and helps us in debugging further. You can enable logs by:

[code]

Redact sensitive information before posting the logs here.

[2021-09-10 16:30] lawmicha commented on #1405
Hi @yazoonic could you try switching over to the branch `fix/datastore-reconcile-thread`? does it solve your delete on success scenario? (identical change to @ashiemke 's PR https://github.com/aws-amplify/amplify-ios/pull/1406) thanks for the additional context, i'll continue debugging this

[2021-09-10 17:57] royjit commented on #1075
Leaving this open for the amplify team to update the doc as mentioned https://github.com/aws-amplify/amplify-ios/issues/1075#issuecomment-789112124

[2021-09-10 18:05] royjit commented on #1336
Closing this issue in favor of https://github.com/aws-amplify/aws-appsync-realtime-client-ios/issues/44 .

[2021-09-10 18:05] #1336 closed

[2021-09-10 18:16] harsh62 commented on #1348
Please use the latest beta. It seems that the recent version have reverted the cause of the issue.

[2021-09-10 20:20] brennanMKE commented on #1382
With an app there is the app bundle which contains all of the resources and binaries for the app. It is the [main bundle](https://developer.apple.com/documentation/foundation/nsbundle/1410786-mainbundle) and this is where these .json files are expected to be. Swift Packages only support libraries, not apps. So you normally have to create a project with Xcode for an app and it can include Swift Pac