[2022-08-30 03:45] AdiPomelo commented on #2226
Based on the error I am trying to reinitiate the method again `signInWithWebUI`,  but it is showing permission popup until tap continue button on permission popup it is not going go the method.

we have a plan to release soon.

Any suggestions how to fix this issue?

or any temporary solution for time being also fine

![IMG_0082](https://user-images.githubusercontent.com/97086646/187344379-f9d28bd

[2022-08-30 06:53] iThink32 commented on #1621
@atierian I've been patient for a few months but now I'm facing issues that are effecting my app.

[code]

when I call download url the above is shown, however on retrying it again it succeeds.
Please check the above.

my calling code is
[code]

[2022-08-30 14:55] iThink32 opened #2228 "Storage is very unreliable on Device iOS"
### Describe the bug

Earlier on an older version of Storage whenever I used to run my app on my device and download a protected image I at times used to get a 403 error.

Off late it began to increase and I recently updated to the latest version of Storage.

Now only image uploads work successfully and one in ten downloads succeed.I always get the following error

`StorageError: The HTTP response

[2022-08-30 15:31] basememara opened #2258 "ConnectionProviderError.limitExceeded in SwiftUI app"
I'm trying to use `Amplify.API.subscribe(request: awsRequest).subscriptionDataPublisher` in my SwiftUI view's `.onReceive` modifier. It works for about a couple minutes and receives messages, but then the subscription dies with the following error firing every second:

[code]

I think this is because my SwiftUI views are getting re-rendered several times as expected, but Amplify is counting each r

[2022-08-30 15:51] royjit commented on #1626
Hi @patagoniacode, thank you for following up in this support. While we are still working on more improvements for Amplify iOS, we encourage you to try out  our [dev-preview branch](https://github.com/aws-amplify/amplify-ios/tree/dev-preview) and provide your feedback!
We would really appreciate your feedback on our [RFC on async/await support ](https://github.com/aws-amplify/amplify-ios/discussio

[2022-08-30 16:37] lawmicha commented on #2223
Todos
- reorder taskAdapter(operation) and queue.add(operation) https://github.com/aws-amplify/amplify-ios/pull/2225#discussion_r958470979

[2022-08-30 18:44] lawmicha commented on #2216
Perhaps we can encapsulate the entire test with a single expectation to ensure the tests do not hang, like
[code]

In the above code snippet, we have 4 awaited calls, all of which could hang the test

[2022-08-30 19:41] patagoniacode commented on #1626
Thanks @royjit, and keep up the great work!

[2022-08-31 12:31] medhatIbsais-Harri opened #2235 "When return back online multiple mutations sent to AppSync"
### Describe the bug

When doing multiple mutations on the same record, after the app getting back online, the Amplify sends all the mutations not the last mutation record.

For example: if we have a Post entity and this entity has rates parameter, editing this parameter while offline for example 5 times on the same record (Same Post ID), after the app getting back online, the Amplify sends these

[2022-08-31 18:44] lawmicha commented on #2223
Latest update
Completed in https://github.com/aws-amplify/amplify-ios/pull/2240#pullrequestreview-1092344146
Remaining: default parameters for `list` and `getURL` and `downloadData`

[2022-09-01 05:54] lawmicha opened #2252 "DataStore to use APIPlugin's Async APIs"
DataStore currently uses APIPlugin's `mutate`, `query`, and `subscribe` APIs. It's not straight forward to move to the async APIs. For example, as an initial attempt to migrate to the async mutate API in SyncToCloudMutation https://github.com/aws-amplify/amplify-ios/pull/2250 there are issues with OutgoingMutationQueue tests where the tests hold onto the mutation's listener and resumes the API cal

[2022-09-01 06:41] iThink32 commented on #2228
hey guys sorry to say but the issue in faced last year with s3 has stung me again.
here is the link https://github.com/aws-amplify/amplify-ios/issues/978
this was fixed earlier and has now broken.
Please expedite this.

[2022-09-02 05:40] SwapnilDhotre commented on #1437
I have a workaround for this issue. This occurs to me when Sign In API is hit but further verification of the account is not completed and the user is trying to hit sign in again. At that time I just call the sign-out method and after that sign-in again.

[2022-09-02 15:48] royjit commented on #2226
Merging of social providers via Amplify iOS library is not supported. You might need to configure pre-signup lambda triggers and invoke AdminLinkProviderForUser.

[2022-09-03 11:30] daniel-g-pomelo commented on #2226
We have already implemented `AdminLinkProviderForUser` inside presignup trigger as per AWS documentation https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/admin-link-provider-for-user.html.

Additionally I think this is a very important functionality, if not supported by Amplify I don't think Amplify Authentication would be usable at all in production use case.

Is there any timeline on

[2022-09-04 16:34] medhatIbsais-Harri commented on #2235
I can confirm that this is related to query predicates params, as the code below

// Only applies the update if the data in the remote backend satisfies the criteria
Amplify.DataStore.save(post, where: Post.keys.title.beginsWith("[Amplify]")) {
    // handle result
}

if your backend implementation doesn't satisfies the criteria, you have to use the save method only without query predicates, this

[2022-09-06 11:25] rahulatpomelo commented on #2226
Hi @royjit could you help out on this issue. Facing the same issue on the android-sdk for amplify as well

[2022-09-07 14:09] niklasribbon opened #2270 "Schema with hasMany and belongsTo does not load the list of items."
### Describe the bug

So I'm trying to get the @hasMany and @belongsTo to work. I can see the items being created in DynmoDB. I can see the queries.graphql has enough depths to request the items. But when I do a list query from Swift, the items are just null? I understand this will not work for DataStore, but I'm not using DataStore and don't have it enabled.

Here's the schema I have:
[code]

###

[2022-09-07 14:54] royjit commented on #2226
@daniel-g-pomelo I think you are in the right path, what is the error you are seeing when you invoke `AdminLinkProviderForUser` from the presignup lambda trigger?

[2022-09-07 16:05] gitton opened #2273 "Sign in failed AuthError: Unexpected error occurred with message: An unknown error occurred"
### Describe the bug

Trying to integrate AWS Cognito for iOS app. After login getting following error
Sign in failed AuthError: Unexpected error occurred with message: An unknown error occurred
Recovery suggestion: This should not happen. There is a possibility that there is a bug if this error persists. Please take a look at https://github.com/aws-amplify/amplify-ios/issues to see if there are a

[2022-09-08 03:37] daniel-g-pomelo commented on #2226
@royjit  There is no error occurring from backend side, however the Amplify SDK itself returns `AuthError: invalid_request: Already found an entry for username` error message, **its also worth noting that even though this error message is returned the account is merged in backend and no error is recorded in backend**.

The main issue is how do we overcome the issue of users having to login again?

[2022-09-08 03:41] daniel-g-pomelo commented on #2226
@royjit  If possible we would like to collaborate with your team to understand this SDK limitation and come up with a solution together to resolve this issue, we are willing to dedicate some resources on working on this matter. If you can guide us on some contribution guides to get started will be great thanks.

[2022-09-08 08:25] gitton commented on #2273
any help

[2022-09-08 15:54] danhaab opened #2280 "Deserializing Nested Objects in GraphQL for iOS not working"
### Describe the bug

I've got a scenario in an app I'm creating where 3 objects have nested manyToMany relationships

for example:
1 top level object (TestStructure1) has multiple objects of type TestStructure2 and TestStructure3
objects of type TestStructure3 can have multiple objects of type TestStructure4

when I make a graphQL request in the AppSync console the correct structure is returned,

[2022-09-09 06:41] gitton commented on #2273
Still Waiting

[2022-09-09 10:56] vasicer opened #2285 ""library not loaded @rpath/awscore.framework/awscore" error when installing cognito etc. in amplify through 'SPM'"
### Describe the bug

When amplify is installed through SPM such as congito, api, datastore, the following error occurs.

"library not loaded @rpath/awscore.framework/awscore"

However, if "amplify" is installed without installing "AWSCognitoAuthPlugin" and "AWSPinpointAnalyticsPlugin", no error occurs. However, in this case, the plug-in cannot be used.

### Steps To Reproduce

Steps to reproduce

[2022-09-09 15:53] harsh62 commented on #2273
In order to further investigate, could you share how did you setup the application and what steps did you follow?

From the error I see that you are getting an `invalid_client` which usually is Client authentication failed. For example, when the client includes client_id and client_secret in the authorization header, but there's no such client with that client_id and client_secret.

[2022-09-09 16:55] gitton commented on #2273
Hi

Thank you for your response. I was following this documentation for the setup https://docs.amplify.aws/lib/auth/existing-resources/q/platform/ios/. I did not see other fields other than AppClientId for amplifyconfiguration.json

`{
    "auth": {
        "plugins": {
            "awsCognitoAuthPlugin": {
                "IdentityManager": {
                    "Default": {}
                },

[2022-09-09 18:00] harsh62 commented on #2273
If you compare your configuration with the one that is there in amplify docs, you see that your configuration has `"AppClientSecret": "client_secret",`, which could be why you are seeing an issue.

[2022-09-09 18:13] danhaab commented on #2280
My workaround for this was to create new models that matched the actual JSON being returned by AppSync and deserializing it manually, but if anyone knows what the issue may be or if any more info is needed, please let me know.

[2022-09-09 18:18] chrisbonifacio commented on #1308
@HuiSF sorry the delay, we've triaged the issue and added it to our backlog for improving behavior parity between platforms.

[2022-09-09 18:32] chrisbonifacio commented on #2059
@anatomybook Hi! can you let us know what library version and schema you're using that is reproducing this issue?

[2022-09-09 19:04] chrisbonifacio commented on #504
Related to https://github.com/aws-amplify/amplify-ios/issues/505

[2022-09-09 19:42] harsh62 commented on #2285
@vasicer Thanks for opening the issue. Our team will investigate and provide an update.

[2022-09-09 22:21] vasicer commented on #2285
Thank for your response.
It doesn't work in 'SPM', but it works fine in 'Cocoa pod'.

Hopefully that'll fix it 

[2022-09-10 03:39] harsh62 commented on #2154
This issue seems to be merged. Closing.

[2022-09-10 03:39] #2154 closed

[2022-09-10 05:54] harsh62 commented on #2216
@lawmicha Could this PR help https://github.com/aws-amplify/amplify-ios/pull/2271 ?

[2022-09-10 16:16] depthzadmin commented on #2059
type User @model @auth(rules: [{allow: private}]) {
  id: ID!
  username: String!
  email: String
  Tests: [Test] @hasMany(indexName: "byUser", fields: ["id"])
}

type Test @model @auth(rules: [{allow: private}]) {
  id: ID!
  test: String
  userID: ID! @index(name: "byUser")
}

[2022-09-12 08:56] gitton commented on #2273
Hi @harsh62
Thank you it worked

[2022-09-12 08:56] #2273 closed

[2022-09-12 09:02] askemottelson opened #2289 "Multiple auth rules for multi owners"
### Is your feature request related to a problem? Please describe.

The documentation allows for multiple owners of a model, buth the Amplify iOS implementation is lacking this important feature.

### Describe the solution you'd like

There is already some work on this, but it has been stalled for almost a year: https://github.com/aws-amplify/amplify-ios/pull/1606

### Describe alternatives you've

[2022-09-12 09:05] SwapnilDhotre commented on #2028
With above changes it is working fine.

[2022-09-12 13:36] nyeu opened #2290 "DevMenu not showing up"
### Describe the bug

I am creating the DevMenu in the `AppDelegate`, just when the app starts and it never shows up, the console shows the following error:

```[Presentation] Attempt to present <_TtGC7SwiftUI19UIHostingControllerV7Amplify11DevMenuList_: 0x10d03d210> on <test_ios.SplashViewController: 0x10a8797f0> (from <test_ios.SplashViewController: 0x10a8797f0>) whose view is not in the window

[2022-09-12 14:31] #2028 closed

[2022-09-12 15:17] gitton opened #2291 "Getting Error : Not able to get user state and User Attributes after successfull login."
### Describe the bug

I am getting Error, after the user successfully login from iOS App.
Issues :
1. Method

[code]
 Here the session is returning as true for (session.isSignedIn)
2. Method `Amplify.Auth.getCurrentUser() ` returning nil
3. returning error
: "Amplify Fetching user attributes failed with error AuthError: Could not fetch attributes, there is no user signed in to the Auth category
Re

[2022-09-12 15:51] gitton commented on #2291
@harsh62  Thank you for your response.

Please find amplifyconfiguration.json. Feel free to create new user and test
[code]

Response with respect to each method

result of signInWithWebUI -> success

1. SignInWithWebUI - Success
2. getCurrentUser - Nil
3. FetchAuthSession - success (callback is success with isSignedIn -> true)
4. FetchAttributes - fail (error -> Fetching user attributes failed wi

[2022-09-12 23:02] royjit commented on #2226
We welcome PR if you would like to update the SDK, the team will review it and merge them. But for this particular case it looks like the fix should come from Cognito, you can see detailed discussion in the Amplify Flutter repo regarding the same issue: https://github.com/aws-amplify/amplify-flutter/issues/1716#issuecomment-1197341004

[2022-09-13 10:41] frankiesimon opened #2297 "Failing pod install when using plugin"
I'm getting this message when running `pod install --repo-update`
[code]

In my Podfile I added:
[code]
The project is in Xcode 13.4.1 and the Podfile targets iOS 11 and above (which if I understand the Podspec of the plugins should be fine...)

My Podfile.lock has these:
[code]

What am I missing?

[2022-09-13 11:39] frankiesimon opened #2298 "Using AWSMobileClient pod breaks build"
My Podfile has:

[code]

`pod install` works but when trying to build the project I'm failing when the AWSMoblieClient pod is buildling -- with this error:
[code]

This happens even without `import Amplify` anywhere in the code.

My `Podfile.lock` has these:
[code]

I do find the file/definition in AWSCore pod in my environment so I'm not sure what's going on. Any tips?

[2022-09-13 21:49] kkh2 opened #2304 "The app references non-public selectors > AWSAuthCore: reloadSession"
Upgraded to Xcode 14 and started getting this validation error when submitting to the App Store:

"The app references non-public selectors in Payload/<name of app>.app/Frameworks/AWSAuthCore.framework/AWSAuthCore: reloadSession"

Is this a known issue to the AWS team or perhaps a bug Apple needs to fix?

[2022-09-14 02:20] afern247 commented on #1592
Is there any trigger for this? I see we have a post verification signup trigger (which is what I'm using to create the dynamodb table):

[code]

Do we have anything like this for deletion? If not how can I implement it?

@ameter @royjit

[2022-09-14 08:57] tailriver commented on #2304
I've experienced same warning message, titled with "App Store Connect Operation Error".

Note: in my case, there was no problem for TestFlight distribution.

[2022-09-14 11:22] sebsto commented on #1874
I have the same issue with Xcode 14 GA

My cognito plugin initialization code is in the App Delegate.

Looks like Xcode Canvas (Preview) does not invoke this call to build the preview. The preview crashes with an error saying that Auth Cognito plugin is not initialized.

<img width="523" alt="image" src="https://user-images.githubusercontent.com/401798/190140732-b1dfd61a-d7ee-4d98-aff9-596365dba65

[2022-09-14 18:06] sebsto opened #2308 "SwiftUI Preview (Xcode canvas) crashes when using Amplify Auth code example"
### Describe the bug

When a SwiftUI View refers to some code manipulating Amplify Auth plugin, Xcode preview crashes

Error :

<img width="547" alt="Screenshot 2022-09-14 at 18 35 22" src="https://user-images.githubusercontent.com/401798/190228854-89f4f158-1433-49a9-a08c-30b4cdf38b6e.png">

It looks like the preview renderer does not call the code in the AppDelegate.

### Steps To Reproduce

Step

[2022-09-14 18:08] sebsto commented on #1874
I opened another Xcode preview crash issue here https://github.com/aws-amplify/amplify-ios/issues/2308
The symptoms are note the same, it might be related, or not

[2022-09-14 21:49] sebsto commented on #2308
The Preview error pane disappears very quickly in favour of a more generic error.
I however managed to capture a Canvas diagnostic

[code]

[2022-09-15 03:17] afern247 commented on #2304
Seeing the same issue:

![image](https://user-images.githubusercontent.com/34192856/190305847-5043587a-f787-47e6-961b-dc60dc4dd1f2.png)

[2022-09-15 21:10] Nomad-Go commented on #2304
Same, no issue submitting to test flight but I have not tried submitting to the App Store yet.

[2022-09-15 21:31] thisisabhash commented on #2304
Thanks for opening this issue. Our team will investigate and provide an update.

[2022-09-16 07:37] vasicer commented on #2304
It seems to have something to do with the SPM build I asked a few days ago.
I also got an error related to AWSAuthCore.framework through SPM build.

I've had it happen with both xcode versions 13 and 14.

[2022-09-16 07:45] vasicer commented on #2308
This can be temporarily resolved in the following ways.

/*
func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {

    do {
        try Amplify.configure()
        print("Amplify configured with API plugin")
    } catch {
        print("Failed to initialize Amplify with \(error)")
    }

    return true
}
*/

C

[2022-09-16 08:17] sebsto commented on #2308
I do not experience that.  Commenting on the Amplify related code in the App Delegate `application` method does not solve the problem on my sample project.

[2022-09-16 17:35] DanielZanchi opened #2314 "Amplify.API.mutate(request: .delete - NOT DELETING in DynamoDB"
### Describe the bug

I am trying to delete an item in a table in DynamoDB but this is not doing anything:
[code]
Where pack is of type _PackDynamo_

prints out **_success_**:

But if a fetch the list it's still there:
`Amplify.API.query(request: .list(PackDynamo.self))`

And going into Amplify console -> DynamoDB I still see the pack there in the table.

### Steps To Reproduce

[code]

### Expect

[2022-09-16 18:06] brennanMKE commented on #2285
@vasicer I've seen this problems with apps before. When a binary is created and it uses other binaries it defines runpaths using `@rpath` so it knows where to find them. There are 2 common reasons why a binary can fail to be loaded.

1. The runtime path does not point to where the binaries can be found
2. The binaries were not bundled with the app and so they won't be there

You can determine whic

[2022-09-16 18:24] harsh62 commented on #2291
Closing the issue. @gitton confirmed it was a configuration error on discord.

[2022-09-16 18:42] gitton commented on #2291
@harsh62 did not understand. Could you mention where the configuration was wrong? Could not find the details on discord.

[2022-09-16 18:46] phantumcode commented on #2151
@tjcarrel Can you provide additional details on what type of authentication is configured? Is it using federated signin with a particular third-party (Apple, Google, Facebook)?

[2022-09-16 18:47] atierian commented on #2185
Hi @SvyatHoly, thanks for bringing this to our attention. We'll update this issue once a fix is released.

[2022-09-16 19:08] atierian commented on #2290
Thanks for opening this @nyeu. We're looking into it and will update here.

[2022-09-16 19:18] royjit commented on #1543
Similar request - https://github.com/aws-amplify/amplify-ios/issues/1543

[2022-09-16 19:19] royjit commented on #1412
Similar request - https://github.com/aws-amplify/amplify-ios/issues/1543

[2022-09-16 19:19] royjit commented on #1543
Closing this as a duplicate - https://github.com/aws-amplify/amplify-ios/issues/1412

[2022-09-16 19:19] #1543 closed

[2022-09-16 19:24] harsh62 commented on #2291
@gitton I am really sorry for the confusion. You are correct. Let me investigate this issue. Reopened.

[2022-09-16 19:42] royjit commented on #1437
This seems to be a bug due to the way AWSMobileClient is designed, the issue happens because we check for an existing custom auth flow confirmation -

https://github.com/aws-amplify/aws-sdk-ios/blob/7987c4989e230eeba1cf13aa6a526fd3d233c3bf/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientOperations/AWSMobileClient%2BSignIn.swift#L51

This logic is required to handle token expiration during custom

[2022-09-16 20:32] atierian commented on #2290
I was able to successfully access the `DevMenu` with the Xcode, iOS, and Amplify versions you're using by making a change to how the `UIWindow` is being provided.
[code]

Please give this a try and let me know if it resolves your issue. Thanks!

[2022-09-16 20:47] atierian commented on #2290
It's important to mention that configuring Amplify in the `SceneDelegate` like above could be problematic if you are supporting multiple windows on iPad. If that's the case, you can configure Amplify in the `AppDelegate` as you are already and set up the `DevMenu` in the `SceneDelegate`.

[code]

[2022-09-16 21:24] atierian commented on #2258
Thanks for opening this issue @basememara. Can you please provide a code snippet showing how you're using `Amplify.API.subscribe(...).subscriptionDataPublisher` in `.onReceive`? SwiftUI view redrawing complexities can cause all sorts of fun bugs like this. I'd like to make sure we understand how you're using it so that we can effectively attempt to reproduce the issue. Thanks!

[2022-09-16 21:29] atierian commented on #2270
Thanks for opening this issue @niklasribbon. We'll look into this and get back to you.

[2022-09-16 22:15] atierian commented on #2297
It appears that there's a version conflict for `AWSCore` that `AWSCognitoAuthPlugin` depends on and the `AWSCore` version that your `MyExtraProject/Analytics` depends on.

Amplify 1.28.0 depends on `AWSCore` 2.27.9 and it looks like your `MyExtraProject/Analytics` depends on the the exact `AWSCore` version 2.12.3.

If `MyExtraProject/Analytics` is something separate from Amplify, you can try updat

[2022-09-17 00:05] ameter commented on #2308
@sebsto Thanks for reporting this!  We created a [PR to fix the problem ](https://github.com/aws-amplify/amplify-ios/pull/2317).  The fix has been merged and will be included in our next release, which should be sometime next week.  In the meantime, feel free to target the main branch to test the fix, and let us know if you have any further problems with it.

[2022-09-17 00:09] ameter commented on #1874
We created a [PR to address this problem](https://github.com/aws-amplify/amplify-ios/pull/2317).  The fix has been merged and will be included in our next release, which should be sometime next week.  In the meantime, feel free to target the main branch to test the fix, and let us know if you have any further problems with it.

[2022-09-17 05:40] #398 closed

[2022-09-17 07:33] gitton commented on #2291
@harsh62  Thank you

[2022-09-17 18:24] kvaDrug commented on #1124
Amazon team should pay more attention to this issue, it makes Google products more attractive for developers, because they do support Catalyst.

[2022-09-18 02:10] jackzerby commented on #2308
@ameter that fixed our issue, thanks so much!

[2022-09-18 09:13] maziarzamani commented on #1590
Any update?

[2022-09-18 18:13] sebsto commented on #2308
Looks like this fixes the issue - thanks

@ameter  do you know when / if these bug fixes are merged into `dev-preview` banch ?

[2022-09-18 18:16] sebsto commented on #2308
Never mind - I saw it was already done !  Thanks
https://github.com/aws-amplify/amplify-ios/commit/6210a4dfa61584081b71238953a0bc1d614f4cb4

[2022-09-19 08:53] nyeu commented on #2290
We are not using `SceneDelegate` and we are doing it in the `AppDelegate` in `didFinishLaunchingWithOptions`. Everything else its exactly like you commented and the issue is persisting.

[2022-09-19 13:40] frankiesimon commented on #2297
I got rid of the dependency inside `MyExtraProject/Analytics` to eliminate the conflict. However I'm now facing the issue I described here: https://github.com/aws-amplify/amplify-ios/issues/2298. Will update with the latest Podfile there.

[2022-09-19 13:44] frankiesimon commented on #2298
Update:

I tried updating the versions but still getting the same issue.

Podfile:

[code]

Podfile.lock has this:

[code]

Error is the same:

[code]

[2022-09-19 19:48] phantumcode commented on #2151
@tjcarrel I'm not able to reproduce this issue with a test app configured with Analytics and Auth (federated sign in with Facebook).  Can you provide any additional details that can help reproduce the issue?

[2022-09-19 19:55] tjcarrel commented on #2151
Hi @phantumcode - we aren't using any kind of authentication for our users (we use an in-house auth service). The only reason we have the Auth plugin configured was cause the documentation stated we needed it in order to send analytics to Pinpoint. Does this answer your question?

[2022-09-19 20:06] phantumcode commented on #2151
@tjcarrel Did you use the `amplifycli` to add or configure the Auth category then? If so what was it configured to? Can you share what is configured in the `awsconfiguration.json` or `amplifyconfiguration.json` for Auth? Please remove or de-identify any private details in the configuration file prior to sharing/uploading.

[2022-09-20 09:17] medhatIbsais-Harri opened #2323 "When I launch the app while the wifi is turned OFF, and turn ON the wifi, an unauthorized log message displayed"
### Describe the bug

When I launch the app while the wifi is turned OFF, and turn ON the wifi while I’m inside the app, an unauthorized log message displayed.

### Steps To Reproduce

[code]

### Expected behavior

To start syncing data normally

### Amplify Framework Version

1.28.0

### Amplify Categories

DataStore

### Dependency manager

Cocoapods

### Swift version

5.0

### CLI version

No

[2022-09-20 12:50] Eumag opened #2324 "Amplify.Auth.getCurrentAuthUser() called from init() causes Preview to crash in XCode"
### Describe the bug

Hello,

Amplify.Auth.getCurrentAuthUser() called from init() causes Preview to crash in XCode.
Github repo indicating this error: https://github.com/Eumag/app4.

[AWS video link (2year old now)](https://www.youtube.com/watch?v=wSHnmtnzbfs) indicates the use of this api from init(). At 24:20, sessionManager.getCurrentAuthUser() is added AuthenticatedApp.init(). This statement

[2022-09-20 13:26] atierian commented on #2324
Duplicate of https://github.com/aws-amplify/amplify-ios/issues/2308 and https://github.com/aws-amplify/amplify-ios/issues/1874. Linking for reference.

[2022-09-20 13:35] atierian commented on #2323
Thanks for opening this issue @medhatIbsais-Harri. I see you opened a similar issue https://github.com/aws-amplify/amplify-ios/issues/2167, and that we're tracking this here https://github.com/aws-amplify/amplify-ios/issues/2152 as well.

The main difference here is that the app is launched without network connectivity then toggled on, which is resulting in an unauthorized error. Whereas in your p

[2022-09-20 13:57] DanielZanchi commented on #2314
I solved the issue by running "amplify update api" and Answering "NO" to the question => "enable conflict detection". And then pushing the edit.
Now i cannot access to Amplify Studio and see the data from there but its working good from DynamoDB.

[2022-09-20 13:57] atierian commented on #2289
Thanks for opening this @askemottelson. We'll investigate the status of https://github.com/aws-amplify/amplify-ios/pull/1606 respond back to this issue with any updates.

[2022-09-20 14:12] tjcarrel commented on #2151
@phantumcode I'm not completely sure if we used the CLI. We might have used the CLI to get an example configuration file and then plugged in values for resources that were already created. You can see my `amplifyconfiguration.json` that we were using in my initial post above.

[2022-09-20 14:13] Eumag opened #2325 "Many warnings shows up after using Amplify code"
### Describe the bug

Hello Amplify Team,

I started using Amplify.Auth functionalities and there are several warnings that shows up in its codebase. Pasted few of these warnings in Relevant log output below.

Can you check. For instance [repo](https://github.com/Eumag/app4) can be used to check and witness these warnings. I have used the steps as mentioned in [amplify-doc](https://docs.amplify.aw

[2022-09-20 14:34] Eumag commented on #2324
Awesome [atierian](https://github.com/atierian)! Did a quick check and Amplify 1.28.2-unstable.2 did seem to solve the issue at hand. Though, to avoid dependency problem between Amplify and AWSCognitoAuthPlugin, I had to change versions for AmplifyPlugins/AWSCognitoAuthPlugin and AmplifyPlugins/AWSAPIPlugin as well. I am sure dependency issues will taken care of at release time.

[2022-09-20 17:16] atierian commented on #2298
Closing based on discussion on discord. There was an issue with the app's scheme name that caused this and it's not attributable to Amplify. Please comment here if you experience this issue again @frankiesimon, and I'll reopen.

[2022-09-20 17:16] #2298 closed

[2022-09-20 17:17] atierian commented on #2297
Closing for reason mentioned in https://github.com/aws-amplify/amplify-ios/issues/2298.

[2022-09-20 17:17] #2297 closed

[2022-09-20 17:57] phantumcode commented on #2151
@tjcarrel Ok,I think it would be helpful to correctly configure the auth category using the CLI then.  You can run `amplify status` to determine the status of Auth category and then run `amplify auth update` to reconfigure it otherwise `amplify auth add` to add it it wasn't configured.

[2022-09-20 18:20] tjcarrel commented on #2151
@phantumcode We have moved away from using the package and are now using our own custom implementation so will not be trying to reconfigure it. However, I don't see how the CLI or our existing resources would have anything to do with the crash. We were not utilizing User Pools and the package was crashing due to an invalid User Pool configuration.

[2022-09-20 20:25] phantumcode commented on #2151
It looks like the issue is bad data migration as a result of removal of Amplify Auth and migrating to your own custom implementation.  The user authentication state didn't get cleared out; when configuring Analytics at app startup, the user session is getting fetched because Amplify thinks that the current user state is still signed in.  The app crashes during session fetch because there's a confi

[2022-09-20 20:59] atierian commented on #2325
Thanks for opening this issue @Eumag. I believe the repo you shared is private, because I get a 404 for that link.
The majority of these warnings are related to internal Amplify code consuming other public Amplify APIs that have been deprecated; they're warnings that we're creating ourselves. That being said, you're absolutely correct and we are working towards eliminating these warnings.

[2022-09-20 21:01] atierian commented on #2323
Thanks for confirming. We'll investigate and come back to you here with any updates.

[2022-09-21 02:37] almasios commented on #2258
I get the same error using `AWSAppSyncClient`.
I create a new subscription in my view controller's `viewDidLoad`, something like:
[code]

I then navigate to this view controller and back about 20 times, after that subscription stops working. I'd expect the subscription to properly cancel every time the view controller deallocates.

[2022-09-21 04:14] Eumag commented on #2325
I am on development branch and will be making some of the experimental changes. Added you as a collaborator. If there is other access level that suits better here do let me know. If you can check to confirm anything that might have been missing from usage perspective (say in expected Target version, pods used,?), would be good to know. From my side I have used the amplify-doc mostly.

[2022-09-21 05:35] medhatIbsais-Harri commented on #2323
@atierian Thank you

[2022-09-21 16:01] royjit commented on #1060
Could you please give us the use case of this requirement? Trying to understand why the current retry mechanism is not working for you.

[2022-09-21 19:44] atierian opened #2330 "Broken Links in README.md"
A couple of broken / outdated links can be found in [README.md](https://github.com/aws-amplify/amplify-ios/blob/main/README.md).

1. "API Documentation https://docs.amplify.aws/start/q/integration/ios"
This is the link to the getting starting guide, not API docs.
- Update link for API Documentation.
- Add Getting Started Guide link.

2. Under the section Reporting Bugs / Feature Requests, the stat

[2022-09-21 19:47] royjit commented on #902
Fixed here - https://github.com/aws-amplify/amplify-ios/pull/1928

[2022-09-21 19:50] royjit commented on #1179
PR - https://github.com/aws-amplify/amplify-ios/pull/2141

[2022-09-21 19:51] royjit commented on #1134
PR for the fix - https://github.com/aws-amplify/amplify-ios/pull/1983

[2022-09-21 19:53] royjit commented on #1255
Changed logic to get these values always from the token - https://github.com/aws-amplify/amplify-ios/blob/97a2bac5d6d7d27fc9934a0f5271acd42aa7b6f9/AmplifyPlugins/Auth/Sources/AWSCognitoAuthPlugin/Support/Helpers/TokenParserHelper.swift#L12

[2022-09-22 10:47] Eumag opened #2334 "How to have single signUp and login experience from users perspective"
### Describe the bug

In passwordless (sms) approach, user gets authenticated based on verification of an OTP that is issued to the user. To user it does not matter whether it is signUp or a login as both of them involve same process of OTP verification. How can this be achieved? One way could be to seek out for an api Amplify.Auth.doesUserExistWithConfirmation() and accommodate the flow change in

[2022-09-22 11:10] knellr opened #2335 "Auth.getCurrentUser() returning nil when currentUserState is "signedIn""
### Describe the bug

Our iOS app sometimes encounters AuthError.invalidState errors when users are attempting to sign in via Cognito.

In particular there has been a spike with the release of the new iPhone 14 devices (leading us to suspect a potential data migration issue from older devices).

### Steps To Reproduce

[code]

### Expected behavior

We expect the call to Auth.SignIn() to succeed i

[2022-09-22 15:29] lawmicha opened #2336 "DataStore/API V1 Integration Tests Stability"
--> V2 Test Stability https://github.com/aws-amplify/amplify-swift/issues/2340

## Verification when a new PR is created
Integration Tests to verify
1. DataStoreIntegrationTests (includes V2 and CPK)
2. DataStoreAuthTests (includes MultiAuth, Cognito Auth, IAM Auth)

## Existing Failing tests

DataStoreAuthIntegrationTests and DataStoreIntegrationTests are mostly passing except for

* ~~DataStoreC

[2022-09-22 17:40] brennanMKE commented on #2228
@iThink32 Please reach out on our Discord server. We'd like to collect details so we can review logs.

https://discord.gg/jWVbPfC

[2022-09-22 17:54] lawmicha opened #2340 "DataStore/API V2 Integration Test Stability"
<-- V1 Test Stability https://github.com/aws-amplify/amplify-swift/issues/2336

## Verification when a new PR is created
Integration Tests to verify
1. DataStoreIntegrationTests
2. DataStoreV2Tests
3. DataStoreMultiAuthTests
4. DataStoreCPKTests
5. DataStoreAuthCognitoTests
6. DataStoreAuthIAMTests

## Existing Failing Tests
Running through the unit / integration tests and these are the following

[2022-09-22 18:02] mateusforgi commented on #1060
@royjit in my case, 4 minutes of timeout (1 minute for each retry) gives a really bad user experience for the user. Our app gives support for remote areas when if we are luck 3g is available. So for instance, showing a loading spinner on the login view for 4 minutes gives the user the impression that app is broken.

[2022-09-23 14:37] atierian opened #2345 "Property 'identifier' must be declared public because it matches a requirement in public protocol 'Model'"
### Describe the bug

Updating from 1.24.0 to 1.28.1 surfaces compiler error ` Property 'identifier' must be declared public because it matches a requirement in public protocol 'Model'`

See https://github.com/aws-amplify/aws-sdk-ios/issues/4327 for more context.

### Steps To Reproduce

[code]

### Expected behavior

-

### Amplify Framework Version

1.28.1

### Amplify Categories

API, DataStore

[2022-09-23 18:09] chrisbonifacio commented on #2323
@medhatIbsais-Harri could you share your schema, appsync authorization types, and whether multi auth is enabled in your datastore config so that we can reproduce the issue with the same setup?

[2022-09-23 18:33] chrisbonifacio commented on #1523
Hi @anatomybook 👋 apologies for the delay here. Could you share some details about the amount of data that is being synced down (how many models?) and whether you might've increased the `syncMaxRecords` amount?

A potential consequence of increasing the sync interval is the delta table will increase in size over time as clients perform writes to the table because records will persist longer in the

[2022-09-23 20:39] royjit commented on #2347
You can find the detailed description on adding social sign in with Cognito User Pool and Amplify iOS is given here - https://docs.amplify.aws/lib/auth/social/q/platform/ios/ . `invalid_request` could be due to many different reasons as pointed out [here](https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-endpoint.html). Please check if the configurations are correct as mentio

[2022-09-23 20:39] #2347 closed

[2022-09-23 21:06] lawmicha opened #2349 "DataStore.save should be marked with @discardableResult"
we should mark this API with @discardableResult

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/pull/2214#discussion_r979064215_

[2022-09-23 21:46] ruisebas commented on #1307
Hi there! With to the changes in https://github.com/aws-amplify/amplify-ios/pull/1689, you should now be able to directly grab the `AWSPinpoint` from Analytics's  `getEscapeHatch()` in order to set up Pinpoint Notifications:

[code]

Alternatively you can still create your own `AWSPinpoint` instance as you've been doing.

---

Regarding the `endpoint.optOut` attribute, it will be set to `"NONE"` a

[2022-09-23 21:46] #1307 closed

[2022-09-23 22:31] #2047 closed

[2022-09-23 22:31] #2014 closed

[2022-09-25 23:38] kopecn opened #2351 "Question regarding iOS and background mode"
### Describe the bug

Regarding Amplify and subscriptions do we need to set any of the background modes for Xcode/iOS deployments?

<img width="794" alt="image" src="https://user-images.githubusercontent.com/64328463/192170630-e1e4ab53-b375-4482-b7f9-84d95d30b106.png">

### Steps To Reproduce

[code]

### Expected behavior

Not sure if any of these need to be chosen for user app experience.

### A

[2022-09-26 16:06] lawmicha commented on #2323
Hi @medhatIbsais-Harri, please go ahead and open a support ticket, thank you!

[2022-09-26 17:02] lawmicha opened #2352 "macOS API / DataStore failing tests"
The macOS tests that are failing should not be blocking this PR since they were failing before and recently enabled in the pipeline.

<img width="630" alt="image" src="https://user-images.githubusercontent.com/1365977/192337316-1a1e71bf-7e9b-49a6-8f07-88d77ea42751.png">

Opening an issue to track this

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/issues/2338#issuec

[2022-09-26 17:03] lawmicha commented on #2352
https://app.circleci.com/pipelines/github/aws-amplify/amplify-ios?branch=dev-preview-fix%2Finitialize-subscription

[2022-09-26 18:15] atierian commented on #2314
Thanks for letting us know.

[2022-09-26 18:15] #2314 closed

[2022-09-26 20:02] lawmicha commented on #2152
what we'd like to verify is that, turning airplane mode on will stop the sync process successfully. As @dpilch mentioned, DataStore is not reacting to network events to restart the sync process. The expectation, and what we'd like to verify, is that turning off airplane mode, then calling DataStore.start explicitly or performing a DataStore operation will put DataStore into a sync active state.

[2022-09-27 11:09] knellr commented on #2335
I've updated the description above following our discovery that Auth.getCurrentUser() is returning nil when the underlying AWSMobileClient is reporting currentUserState = signedIn

[2022-09-27 12:33] #2330 closed

[2022-09-27 13:14] atierian opened #2355 "`Storage.uploadFile` inacurate error reporting by inaccessible files"
### Describe the bug

Calling [Amplify.Storage.uploadFile(key:local:options:progressListener:resultListener)](https://aws-amplify.github.io/amplify-ios/docs/Protocols/StorageCategoryBehavior.html#/s:7Amplify23StorageCategoryBehaviorP10uploadFile3key5local7options16progressListener06resultK0AA0b6UploadF9Operation_pSS_10Foundation3URLVAA0bmF7RequestV7OptionsVSgySo10NSProgressCcSgys6ResultOySSAA0B5Er

[2022-09-29 05:30] Nfgyou opened #2369 "Make private session the default for signInWithWebUI"
### Is your feature request related to a problem? Please describe.

Using signInWithWebUI without setting the options to .preferPrivateSession() will cause the user to get a really confusing pop-up on signOut and wouldn't actually log the user out unless approved.

However if the options is set to .preferPrivateSession() it would work fine.

This becomes an issue in the case of deleing the app and

[2022-09-29 13:47] dral3x commented on #2308
We used the following code to skip Amplify.configure()

[code]

[2022-09-30 14:39] phantumcode commented on #2151
@tjcarrel Were you able to resolve your issue?

[2022-09-30 15:10] harsh62 commented on #2335
@knellr
I want to get some information on a few things
* Does this only happen to users who have updated to iOS 16 or the new iPhone 14? And when you say data migration, you mean during an iOS upgrade?
* Can you share the sign in method your users are using? i.e. SRP, HostedUI, ?
* Also can you share the configuration that was used for Amplify redacted all the sensitive information?

[2022-09-30 17:15] royjit commented on #2334
Auto signIn while signingUp a user is not currently support. We will take this as a feature request and reply in this issue when we have more information.

[2022-09-30 18:03] atierian commented on #2290
Is there a reason you can't use the `SceneDelegate` for this?

Can you show the relevant code in `didFinishLaunchingWithOptions` where you set up the dev menu? When I try to access the `keyWindow` in the `AppDelegate` like your extension does, it's `nil` for me. So I'd like to better understand how you're setting it up so that the window exists there. Thanks.

[2022-09-30 19:09] atierian commented on #2037
Based on the information you provided and using the altered code snippet for configuring Amplify that I posted above, I am not able to reproduce the issue you're experiencing here. If you're still experiencing this issue, I suggest isolating it down to a small reproducible example that you can share so we can test it.

[2022-09-30 22:36] dpalme3160 commented on #1999
Yes

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ian Saultz ***@***.***>
Sent: Friday, September 30, 2022 2:01:27 PM
To: aws-amplify/amplify-ios ***@***.***>
Cc: Douglas Palme ***@***.***>; Mention ***@***.***>
Subject: Re: [aws-amplify/amplify-ios] Errors when amplify is installed along with OneSignal on Archive (Issue #1999)

Are you still experiencing this

[2022-10-01 18:54] tjcarrel commented on #2151
@phantumcode as mentioned previously, we have moved away from Amplify so I won't be able to say whether your suggestion will work. You might be on to something though as the users experiencing the issue did use the app back when we were using User Pools. Appreciate the help - feel free to close this.

[2022-10-02 03:14] azhong-git commented on #1121
Any updates?

[2022-10-02 19:15] ryancrunchi opened #2381 "No such module 'AWSAppSync'"
### Describe the bug

Building a newly iOS project with amplify library raises error:
`No such module 'AWSAppSync'` in `API.swift` generated file
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/4698648/193471540-829cb3f7-72cd-4a07-9177-4f773b7d2af5.png">

### Steps To Reproduce

[code]
5. Build project
[code]
</details>
[code]

[2022-10-03 14:46] atierian commented on #2381
Hey @ryancrunchi, thanks for opening this issue. We support the use of GraphQL through Amplify and through the [AWS AppSync SDK for iOS](https://github.com/awslabs/aws-mobile-appsync-sdk-ios); the generated `API.swift` file is to support the latter. This file is generated when you either run `amplify codegen` (not `amplify codegen models`) or select "yes" to the question "Do you want to generate c

[2022-10-03 14:49] #2151 closed

[2022-10-03 17:55] atierian commented on #1999
Sorry to heard that. As I mentioned above, I'm not able to reproduce this based on the information in the issue. But I'd like to help you resolve this - are you able to provide an example project that reproduces this issue?

[2022-10-04 15:57] ameter commented on #2335
@knellr In addition to the questions above, are you using a Cognito User Pool for sign in or are you using federatedSignIn via the escape hatch.  The latter will have a nil user.

[2022-10-04 19:32] ryancrunchi commented on #2381
Thanks for the answer.
My use case is that I already have a react typescript frontend using amplify with a graphql api. I generate the types, queries, mutations and subscriptions with `amplify codegen`.

Now I would like to reuse the same amplify config and same graphql api to build an iOS app.

How can I achieve that use case ?

[2022-10-04 20:51] ryancrunchi commented on #2381
I also tried a completely new amplify setting, by using `amplify init`
I created an iOS amplify setup and added existing codegen with `amplify add codegen --apiId xxxxxxxxx`
I generated the `API.swift` and added AWSAppSync module via SPM but not amplify. I still get the no such module error.

<img width="436" alt="image" src="https://user-images.githubusercontent.com/4698648/193925135-b7904c96-932

[2022-10-06 09:53] frankiesimon opened #2401 "PinPoint events are not cached while offline and are not sent later"
### Describe the bug

When my app is offline events that are recorded are not cached anywhere and are not sent when the app goes back online or in a subsequent app session (restarting it).

When debugging I got to `AWSPinpointAnalyticsPlugin+ClientBehavior.swift -> flushEvents()`.

[code]
If internet is down the task has an error and there are no `pinpointEvents` parsed from the `task.result`, it

[2022-10-06 13:20] atierian commented on #964
@Eric1015 @brandonmaul

You can prevent the web view from being displayed by passing in the option `prefersPrivateSession()`.
Documentation around this can be found [here](https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/ios/#prefer-private-session-during-signin).

If you have any further questions about this, please open a separate issue. Thanks!

[2022-10-06 14:25] mbernson opened #2403 "`AuthUser.username` property returns a UUID on iOS but returns an email address on Android"
### Describe the bug

Hi,
I'm working on two native apps that both use the latest version of the Amplify SDK with AWS Cognito as the auth provider.
On both platforms we use the `username` property of the `AuthUser` to show the user's email address in the UI. On Android this works as expected, but on iOS it returns the same value of the `userId` property - which is a UUID.

### Steps To Reproduce

[2022-10-06 16:59] frankiesimon commented on #2401
I confirmed the suggested solution works and cached events were sent both if 1. I went online during the session AND 2. I restarted the app after going online.

I still would like to understand if these events are persisted across sessions and what would be a reason to drop events if a user doesn't go online for a long while.

[2022-10-06 17:33] ruisebas commented on #2401
Amplify Analytics uses the [`AWSPinpoint`](https://github.com/aws-amplify/aws-sdk-ios/tree/main/AWSPinpoint) SDK underneath, which defines the retry logic I mentioned. Specifically, in the [`AWSPinpointEventRecorder`](https://github.com/aws-amplify/aws-sdk-ios/blob/main/AWSPinpoint/AWSPinpointEventRecorder.m#L1052) class.

Events are persisted in a local SQLite db, so they will remain available ev

[2022-10-06 20:47] harsh62 commented on #2403
@mbernson
The team is actively working on unifying `getCurrentUser` API behaviour on all platforms. We will post an update on the ticket after the change has been implemented.

Meanwhile, I would like to recommend to use [Fetch Attributes API](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/ios/#fetch-the-current-users-attributes) to get logged in user details.

[2022-10-06 22:17] rb090 opened #2406 "`Amplify.Auth.signIn` call ends up in "Incorrect username or password""
Hi,

we have created a user pool in our amazon AWS console and we are also able to successfully create user in that pool from an iOS app using the Amplify SDK. We integrated the SDK with SPM and use the version 1.0.28.

We are looking at the documentation from here for signup/signin purpose: https://docs.amplify.aws/lib/auth/signin/q/platform/ios/#sign-in-a-user

Firing `Amplify.Auth.signUp` like

[2022-10-07 07:28] frankiesimon commented on #2401
Thank you for the reference, seeing the retrying code really helps. I think the documentation should reference this behavior in the context of recording events. Even as I know it now, I can't seem to find any relevant Google results except mentions of missing feature / bugs in the JS / Android repositories. It's probably sensible to explain in the context of either recording events or the flush in

[2022-10-07 12:13] rb090 commented on #2406
Okay I found the issue. I submitted really wrong credentials. So the error was okay. After fixing this, it is working. So for everyone running in this in the future, please also recheck what exactly you submit in `Amplify.Auth.signUp` and with what exactly you try to `Amplify.Auth.signIn`

[2022-10-07 12:13] #2406 closed

[2022-10-07 18:21] chrisbonifacio commented on #1881
Hi @ethan021021 apologies for the delay. We have been able to reproduce this issue internally and are actively looking into it.

[2022-10-07 18:24] ethan021021 commented on #1881
@chrisbonifacio thanks for the update Chris!

[2022-10-07 18:29] chrisbonifacio commented on #1881
No problem! Just to follow up, can you tell us a little bit more about the DataStore operations that you are running?

For example, can you share the code examples of how you are calling DataStore APIs to perform create/delete mutations?

Also, when you say

Are you using the DataStore query API to see the record in the DB or are you querying the SQLite DB directly?

[2022-10-07 18:35] ethan021021 commented on #1881
Sadly I don't have the queries anymore as this is a pretty old issue and I had to implement a workaround myself. Sorry about that :(.

What I do remember when I filed this issue I was using the Datastore API to query/mutate. When I saw duplicate records I manually pulled the SQLite DB from the simulators/devices I was testing with and looked in there to see the duplicate records hanging out.

[2022-10-07 19:41] ameter commented on #2335
This issue may be related to device migration via device to device transfer, iCloud restore, and/or backup/restore on a Mac.  We will need to investigate further and attempt to reproduce the issue.

In the meantime, a potential work-around would be to detect this state by checking to if both `Auth.getCurrentUser() == nil` and `Auth.fetchAuthSession() -> isLoggedIn == true` and then call `Amplify.A

[2022-10-08 04:57] YuantongL opened #2412 "Unable to Add Analytics"
### Describe the bug

Unable to add Analytics, showing error
[code]
when "push"

### Steps To Reproduce

[code]

### Expected behavior

Successfully add analytics service to Amplify project

### Amplify Framework Version

1.28.0

### Amplify Categories

Analytics

### Dependency manager

Swift PM

### Swift version

5.7

### CLI version

10.0.0

### Xcode version

14.0.1

### Relevant log output

[2022-10-10 14:55] dsaliberti commented on #1593
Any good news on this one please? 😃

[2022-10-11 14:24] lawmicha opened #2422 "ObserveQuery InitialQuery in parallel with saves may result in missed items from the saves happening in parallel."
ObserveQuery InitialQuery in parallel with saves may result in missed items from the saves happening in parallel.

The implementation change we'd like to do is subscribe to changes before intiial query with a change in how we process the changes.
- Scenario 1. Initial query has not finished, aggregate items to be applied to the initial query results. this is the new subscribe we’d like to add
- Sc

[2022-10-11 16:18] 4brunu commented on #1392
I have the same issue.
Did anyone developed a script that could share please?
Thanks

[2022-10-11 20:58] syedhali commented on #1314
Hey is there any progress on this? We're having the same issue in our app after logging in using the `preferPrivateSession` option with the web UI and then doing fresh install of the app while the user was still logged in.

[2022-10-11 21:29] harsh62 commented on #1314
The team is actively working on 2.0.0 milestone which be released soon. We will post an update on the ticket after an update has been released.

[2022-10-12 09:26] askemottelson commented on #2289
Hi @atierian and @lawmicha - thanks for looking into this. I just noticed that remote DataStore real time events are also not triggered for multi auth models (i.e., only local events are fired when listening on `Amplify.DataStore.observeQuery`). This is a critical bug, as an app with shared data access will have to continuously and manually check for DataStore updates

[2022-10-12 22:35] dsakhapo opened #2436 "Datastore not saving @hasOne model - 'data couldn't be read because it is missing'"
### Describe the bug

I set up a basic schema:

[code]

I am using the Datastore to try and store a Message which has a User and I am receiving the following output in the console:

Recovery suggestion: The data couldn’t be read because it is missing.
Caused by:
keyNotFound(CodingKeys(stringValue: "from", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "elements",

[2022-10-13 06:02] medhatIbsais-Harri commented on #2323
Hello @lawmicha, just to follow up, I have opened a support ticket, and this is the case ID: **10874796681**

[2022-10-13 19:39] royjit opened #2442 "Amplify Operation takes time to change status to finish"
### Describe the bug

See communication here - https://github.com/aws-amplify/amplify-ios/pull/2441#discussion_r995014301

Looks like we need to wait for the operation to change to finish status even though its completion callback was called.

### Steps To Reproduce

[code]

### Expected behavior

Operation should immediately change to finish after completion is invoked.

### Amplify Framework Ver

[2022-10-13 23:47] manaswi223 commented on #2323
Hello @medhatIbsais-Harri 👋🏼, thank you for opening the support ticket! I'm actively trying to reproduce the issue with your given `schema.graphql`. Will contact you with few questions I have :) Appreciate your patience.

[2022-10-14 17:26] lawmicha commented on #2436
Hi @dsakhapo,

Sorry for the confusion on how to save the Message type. Currently the codegen process exposes the foreign key `messageFromId` for hasOne relationships, while it doesn't do this other types of associations like hasMany/belongs-to. We may want to change this to align the codegenerated types with hasOne to the latter so that there's only one place to create the hasOne relationship. Cu

[2022-10-14 18:10] chrisbonifacio commented on #1881
@ethan021021 would you mind sharing what you had to do as a workaround? We were able to reproduce this internally and are looking into solutions.

[2022-10-14 22:12] dsakhapo commented on #2436
Hello @lawmicha

Thank you for your reply. To answer your first question, I tried multiple ways of creating a Message object because I wasn't sure of the behavior:

`let message = Message(message: message, messageFromId: from.id, channelID: channelID)`

I tried this method because I wasn't sure whether or not the associated User would be added to the Message table.

`let message = Message(message:

[2022-10-15 10:20] Robtles opened #2458 "CUSTOM_AUTH authentication always ends with error: Incorrect username or password."
### Describe the bug

I am trying to authenticate using Amplify iOS SDK, with a `CUSTOM_AUTH` strategy. The expected process is a two-step one: the user first types his phone number, then he receives a SMS code to finalize his sign in.
But everytime I do so, I get this error:

My `amplifyconfiguration.json` file is very simple:

[code]

I tried to log the user with a `USER_SRP_AUTH` strategy inste

[2022-10-15 18:52] afern247 opened #2459 "Do all the data gets downloaded once you subscribe to a model?"
Hey guys, I'm in the middle of an architecture decision, let's suppose I have a model called: Coins:

[code]

1. There are 13000 coins and there will be way more in the future
2. Each coin historical data is about 330 KB
3. The coin may hold more than 330 KB of data counting all of the fields, possibly 660KB +

If I subscribe on the client (iPhone), to the model Coins, so the user**s** have access

[2022-10-15 21:26] depthzadmin commented on #2059
Does the schema I added help you reproduce the problem?

[2022-10-16 03:56] afern247 opened #2460 "Xcode warnings"
I'm getting a lot of warnings such as:

![image](https://user-images.githubusercontent.com/34192856/196017169-7d116f17-9f98-4051-9411-10e4fc05ca46.png)

This is the Protocols+Schema model

[code]

How can I upgrade to whatever is asking there?

[2022-10-16 09:58] aspearman commented on #2436
Hi, I had the exact same confusion.

[code]

To construct an Event, I do:
[code]

However I still receive the error immediately on `Amplify.DataStore.save`:
[code]

It'd definitely be nice if I didn't have to manually pass in the `eventRecipeId` like you said @lawmicha, or at least see some documentation about what to pass in.

Nonetheless, passing in `recipe.id` like you suggested still results i

[2022-10-17 19:41] manaswi223 opened #2464 "“Break” embedded type model fails to compile in Xcode"
### Describe the bug

An embedded type model named `Break` fails to compile on Xcode complaining about reserved keywords although the codegen generates code & compiles it successfully.

The build fail error: `Keyword 'break' cannot be used as an identifier here`

<img width="1239" alt="Screen Shot 2022-10-17 at 11 26 25 AM" src="https://user-images.githubusercontent.com/107574718/196254431-058d7db

[2022-10-18 11:33] frankiesimon opened #2471 "Amplify drops event attributes, quota in AWS iOS SDK is different from PinPoint documentation"
### Describe the bug

We started noticing that our events (sent from iOS client via Amplify to AWS PinPoint and forwarded with Kinesis to a lambda function) are missing random attribute fields.

After talking to both AWS support and `ruisebas` on the Amplify discord this seems to be the issue.

AWS iOS SDK drops attributes from an event if the combined number of metrics and attributes is 50 or abo

[2022-10-18 18:39] phantumcode commented on #2471
Code fix has been merged in.  Fix will be available in the next release.

[2022-10-18 18:52] frankiesimon commented on #2471
@phantumcode Thank you for the swift response to this.

However, I am not sure I understand where the "combined number of metrics+attributes" quota is coming from. As far as I could tell (and maybe I need to debug again) - the attributes and metrics are checked separately. Is there any place where it's written that PinPoint cannot accept something like 30 attributes and 30 metrics in a single even

[2022-10-18 21:06] thisisabhash commented on #1626
Hello everyone!

Today we launched Amplify Library for Swift (v2.0.0) with native macOS support (currently beta). This new version is built on top of the AWS SDK for Swift, making Amplify Library for Swift exclusively Swift based.
Now the news you've been waiting for - It also fully embraces the new world of Swift Structured Concurrency, exposing async/await APIs for all categories.

You can read

[2022-10-18 22:26] dsakhapo commented on #2436
Hi @aspearman

The workaround only works if you make the `recipe` optional:

[code]

Which you would then pass in the `recipe.id` for the `eventRecipeId` field, while passing in `nil` for the `recipe`:

`let event = Event(recipe: nil, eventRecipeId: recipe.id)`

which you could then query for a `Recipe` using the `eventRecipeId`:

`let recipe = Amplify.Datastore.Query(Recipe.self, byId: event.even

[2022-10-19 04:59] rouddy opened #2478 "ios crash while using in background"
### Describe the bug

application crashed while using in background.

crash report says

when calls AWSMobileClient.getViewController() and it started from AWSMobileClient.internalSignOut
i did clearly not sign out from ui.
i using amplify for posting data to our api gateway server, and we acquire id token from cognito.
and crash occurs in background when application not on front.

i don't underst

[2022-10-19 07:08] askemottelson commented on #2289
@atierian any news on this? Seems like a pretty big deal that Amplify iOS cannot support data sharing across users?

[2022-10-19 11:52] frankiesimon commented on #2471
To reiterate - I do not see that PinPoint really has a quota for the **combined count** of attributes and metrics so Amplify could possibly prevent events from being sent even in cases PinPoint would accept them. It believe there's a separate quota for either attributes or metrics, each one can be 40 separately and unrelated to the other (again, requires testing which I can't do because Amplify wo

[2022-10-19 16:42] brennanMKE opened #2479 "Consider supporting multiple consumers with AmplifyAsyncSequence"
### Is your feature request related to a problem? Please describe.

AsyncSequence & AsyncStream do not handle multiple consumers automatically. AmplifyAsyncSequence is built on AsyncStream. There are discussions about supporting multiple consumers linked below.

* [Multi-consumption of an AsyncSequence #110](https://github.com/apple/swift-async-algorithms/issues/110)
* [[WIP] Broadcast algorithm #

[2022-10-19 19:36] lawmicha opened #2482 "Lazy List was not being created due to `field.primaryKey` not returning true for Post4V2"
bug where lazy List was not being created due to `field.primaryKey` of the generated code was not returning true for Post4V2. this change can be applied directly on `main` and cherry picked over to `v1`.

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-swift/pull/2448#discussion_r999863831_

[2022-10-19 19:39] lawmicha opened #2483 "Translating GraphQL input for a model with a has-many creates `null` value (incorrectly)"
bug where collections's are being set to `nil` in the GraphQL input, so for example, when creating a Post and saving it through DataStore. the sync process will translate the post to the GraphQL input variables containing
[code]

The problem is this fails as there's no input type "comments". We should skip has-many relationships like in this code snippet. This can be done in `main` and `v1`

_Orig

[2022-10-19 20:36] #1626 closed

[2022-10-20 01:55] royjit commented on #902
Released this in v2.0.0

[2022-10-20 01:55] #902 closed

[2022-10-20 01:56] royjit commented on #466
Released in [v2.0.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0)

[2022-10-20 01:56] #466 closed

[2022-10-20 01:58] royjit commented on #1444
Supporting for more than one custom challenge should be fixed  in [v2.0.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0)

[2022-10-20 02:00] royjit commented on #1110
Released in [v2.0.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0)

[2022-10-20 02:01] royjit commented on #1134
Released in [v2.0.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0), Amplify Library for Swift now support changing authflow type at runtime as well as starting custom auth flow without SRP as the first step.

[2022-10-20 02:03] royjit commented on #2002
We released User password auth as a flow type in the latest version of Amplify. Released in [v2.0.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0)

[2022-10-20 02:03] #2002 closed

[2022-10-20 02:05] royjit commented on #1179
Force refresh of token is now available in [v2.0.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0)

[2022-10-20 02:05] #1179 closed

[2022-10-20 02:08] royjit commented on #2458
Note that if you are using v1 of Amplify Library for Swift , the custom auth always start with SRP as the first step. If you need to start the custom auth as a passwordless flow, you need to bypass the SRP as mentioned in the docs - https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/ios/#confirm-sign-in-with-custom-challenge.

This behavior was fixed in v2.0.0 which was released

[2022-10-20 10:14] frankiesimon opened #2485 "Warnings in Xcode 13 during event recording"
### Describe the bug

When recording events I see a lot of these:

[code]

### Steps To Reproduce

[code]

### Expected behavior

No warnings :)

### Amplify Framework Version

1.28.1

### Amplify Categories

Analytics

### Dependency manager

Swift PM

### Swift version

5.6.1

### CLI version

10.0.0

### Xcode version

13.4.1 13F100

### Relevant log output

_No response_

### Is this a regress

[2022-10-20 16:07] lawmicha opened #2487 "DataStore Save (updates) fail to sync to AppSync when optional type fields are `null`"
### Describe the bug

Given a schema
[code]

Authenticated Users with Cognito User Pool can create and update their own models. The create mutation is successful, however the following update mutation fails. The update mutation can be seen by performing a DataStore.save on an existing model. The request can be replayed in the AppSync console to see the same response.

### Steps To Reproduce

[code

[2022-10-20 16:14] lawmicha commented on #2487
Here are some AppSync console snippets

Create Mutation
[code]
Input
[code]
response
[code]

Update Mutation
[code]
input
[code]

Update response
[code]

input with default values
[code]

response
[code]

[2022-10-21 08:28] sebsto opened #2491 "[macOS] Authentication fails for CLI application"
### Describe the bug

When using Amplify Library for Swift for a CLI macOS application, authentication fails because Amplify can not access the macOS keychain.

Error :

[code]

### Steps To Reproduce

[code]

### Expected behavior

Authentication should succeed for CLI applications

### Amplify Framework Version

2.0.0

### Amplify Categories

Auth

### Dependency manager

Swift PM

### Swift ver

[2022-10-21 08:55] sebsto commented on #2491
The system call that fails is

https://github.com/aws-amplify/amplify-swift/blob/main/AmplifyPlugins/Core/AWSPluginsCore/Keychain/KeychainStore.swift#L110

It returns `errSecItemNotFound`

[2022-10-21 09:08] sebsto commented on #2460
Related to https://github.com/aws-amplify/amplify-swift/issues/1443

PR https://github.com/aws-amplify/amplify-codegen/pull/255

[2022-10-21 13:32] lawmicha commented on #1864
this was merged in 1.28.0

[2022-10-21 13:32] #1864 closed

[2022-10-21 15:32] harsh62 commented on #1248
Amplify 2.0 has been released https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0 that supports all the standard attributes https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims.

[2022-10-21 15:32] #1248 closed

[2022-10-21 15:36] harsh62 commented on #1314
[Amplify 2.0](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) has been released that includes the feature of removing credentials from Keychain if the library detects it was a new installation.

[2022-10-21 15:36] #1314 closed

[2022-10-21 15:51] harsh62 commented on #1255
[Amplify 2.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0) has been released which normalizes what values are returned in the `getCurrentUser` API. The API will now use the `accessToken` to determine the `userId` and `username` values. Adding the [reference to the implementation](https://github.com/aws-amplify/amplify-swift/blob/main/AmplifyPlugins/Auth/Sources/AWSCognitoAuthP

[2022-10-21 15:51] #1255 closed

[2022-10-21 15:54] #1444 closed

[2022-10-21 16:09] harsh62 commented on #2403
[Amplify 2.0](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0) has been released which normalizes what values are returned in the `getCurrentUser` API. The API will now use the `accessToken` to determine the `userId` and `username` values. Adding the [reference to the implementation](https://github.com/aws-amplify/amplify-swift/blob/main/AmplifyPlugins/Auth/Sources/AWSCognitoAuthP

[2022-10-21 16:09] #2403 closed

[2022-10-21 16:16] #1991 closed, assigned to nobody

[2022-10-21 18:41] lawmicha commented on #1903
verified this still exists on Xcode Version 14.0 (14A309)

[2022-10-21 19:19] royjit commented on #2056
Released in v2.0.0

[2022-10-21 19:19] #2056 closed

[2022-10-21 19:24] dsaliberti commented on #1851
@royjit I'm trying to use this federated signIn with Cognito as providerName and am getting
`{"__type":"NotAuthorizedException","message":"Token is not from a supported provider of this identity pool."}`

What exactly should be enabled in the `Identity providers` in the User pools configs?
We want only cognito one, no one other (Google, Apple, etc)
thank you!

[2022-10-21 22:24] royjit commented on #85
Closing this since region can be unique for each plugin and its configuration.

[2022-10-21 22:24] #85 closed

[2022-10-21 22:32] royjit commented on #1506
This should be fixed in Amplify v2.0.0

[2022-10-22 13:20] Ricardo1980 opened #2492 "Migrating from old library to the new one."
My app uses an old framework. This is my cocoapods file:
[code]

Should I update my app to use this new framework? I don't have any issue at the moment. Is the framework I am using deprecated or too old? It is not clear to me why we have these different frameworks.
https://github.com/awslabs/aws-mobile-appsync-sdk-ios

Is there any migration guide? It seems everything is very different with this n

[2022-10-24 12:19] hdworld11 commented on #2492
Hello @Ricardo1980 👋 thanks for reaching out! You can find guidance on upgrading to the latest version here - https://github.com/aws-amplify/amplify-swift/blob/main/UpgradeGuide.md

[2022-10-24 14:28] ruisebas commented on #2471
Hi @frankiesimon, thanks for the update.
I tried submitting events with 40 metrics and 40 attributes (for a total of 80 properties) and they were all accepted by Pinpoint, so I've asked them to clarify if this is the expected behaviour. Once I hear back I'll update the SDK PR and publish the Amplify ones to reflect the new values.

It would accept up to the 40th random property, and drop anything

[2022-10-24 15:01] frankiesimon commented on #2471
Hi again @ruisebas thanks for the clarification. Do you have an opinion about making the constants public so the numbers can be used by implementers to adjust their prepared events before calling record()?

[2022-10-24 15:20] ameter commented on #2491
Thanks for reporting this.  Amplify Library for Swift does not currently support applications developed as Command Line Tools, meaning developed via the `Command Line Tool` template with no bundle.  The reason for this is that amplify-swift relies on the data protection keychain to store and retrieve values that are specific to the application.  Therefore, apps using amplify-swift must include a p

[2022-10-24 16:04] RikiZimbakov commented on #507
Just received for the first time, made no changes to schema. Only removed delete feature from user

[2022-10-24 16:09] RikiZimbakov commented on #1618
can you elaborate please? this started happening to me randomly and I didnt change the schema or my code in anyway

[2022-10-24 16:57] charlieforward9 commented on #340
How do you enable verbose logging?

[2022-10-24 18:15] sebsto commented on #2491
Thank you @ameter for the detailed answer.

[2022-10-24 19:40] charlieforward9 commented on #340
@atierian

`Amplify.Logging.logLevel = .verbose`

I am using Flutter and cannot get this to work. Is there an import I need to make?

[2022-10-24 19:53] royjit commented on #437
Closing this issue since it is addressed with the new release

[2022-10-24 19:53] #437 closed

[2022-10-24 20:24] lawmicha commented on #2167
Hi @medhatIbsais-Harri, thanks for reporting this issue. the following code snippet should not crash the app
[code]
Glad @dpilch's workaround is working for you. we'll keep this issue open until we have a fix for the above code snippet does not crash an app

[2022-10-24 20:30] medhatIbsais-Harri commented on #2167
Hi @lawmicha, thank you for your collaboration, but this code snippet will crash the app, the idea if you request Amplify.DataStore.stop while it’s already stopped, this will crash the app, so that I used the workaround which is to request DataStore.start, then DataStore.Stop, then DataStore.start again, so that I avoid the crash.

Amplify.DataStore.stop { _ in
            Amplify.DataStore.start

[2022-10-24 20:38] lawmicha commented on #2235
Hi @medhatIbsais-Harri, I believe there is some logic in DataStore that will dedup in some scenario such as "create then delete" and remove both of them from being sent, or when the "create then update" will replace the create with the update and remove the update. In this case, it sounds like all "updates" should be replaced with the initial "create". However, it the "create" is already in flight

[2022-10-24 20:42] lawmicha commented on #2235
We can explore this with your repro steps, and debug around this code in https://github.com/aws-amplify/amplify-swift/blob/main/AmplifyPlugins/DataStore/Sources/AWSDataStorePlugin/Sync/MutationSync/AWSMutationDatabaseAdapter/AWSMutationDatabaseAdapter%2BMutationEventIngester.swift and determine whether this is the expected behavior or if there's a bug. You also mentioned that this is a regression,

[2022-10-24 20:55] lawmicha commented on #2323
Hi @medhatIbsais-Harri, please check the updated support ticket, i'll add some info here publiclly with the schema details redacted, feel free to update us here or there. There are two logging contexts that may be helpful to debug, please use the latest `v1` branch https://github.com/aws-amplify/amplify-swift/tree/v1 which contains the unreleased version of 1.28.2, or the unstable build "v1.28.2-u

[2022-10-24 21:10] lawmicha commented on #2323
@manaswi223 let's try this out as well. if there's no network, and launching the app (assuming DataStore.start is called) then the subscription connection shouldn't be able to be established, are we able to reproduce this to get Unauthorized?

Unauthorized from the subscription can happen in two places, if the token cannot be retrieved, then the subscription request fails fast and returns an Unaut

[2022-10-25 06:39] RamaTechnology opened #2495 "The field you are accessing is not nullable but has a null value. It was marked as required (!) in your schema.graphql but the containing model class was initialized without setting its value"
### Describe the bug

Hi everyone, I am trying to get data from Amplify table which have two relationships with two different tables, I got data from parent table correctly and also got data from first related table correctly, but I didn't got data from the second table, it's retrieved null, and I got this Error:

AmplifyCodeGenModelException (AmplifyCodeGenModelException(message: The field you ar

[2022-10-25 06:45] #2495 closed

[2022-10-25 09:29] Eumag opened #2496 "Amplify's role in storing and managing cognito token (fetchAuthSession(), Shared Responsibility Model)"
### Describe the bug

Hello Amplify team,

I am using [fetchAuthSession](https://docs.amplify.aws/lib-v1/auth/access_credentials/q/platform/ios/) to retrieve the jwt/cognito tokens and [signIn](https://docs.amplify.aws/lib-v1/auth/signin/q/platform/ios/) for the login. These are IDToken and AccessToken. Document keeps it in a local variable. There is no mention or report upon how these tokens shou

[2022-10-25 18:39] ruisebas commented on #2471
Got confirmation from Pinpoint that its 40 for each, so 40 metrics and 40 attributes is fine 👍 .

I don't see any problem with that, I'll update the PRs to include them :)

[2022-10-25 18:56] MaximilianoCidron commented on #2270
Did you find way to make it work? I'm having the same problem and didn´t find info about how to fix it.

[2022-10-25 22:49] drochetti commented on #2459
Hi @afern247, thanks for your question.

DataStore is a offline first data solution, so _by default_ all data available in your backend is downloaded (synchronized) to the device. Since it's not a caching mechanism, it won't download/cache data on demand, the synchronization process happens constantly in the background.

That being said, you have quite a bit of data in the `historical_data` field,

[2022-10-26 09:09] niklasribbon commented on #2270
No, I couldn't get it to work. Seems only the very basic stuff works. What I ended up doing was not use the relationship stuff at all, but just set it up manually. So have a filed on the other object with an id of the object it's related to. Then set up secondary indexes manually.

[2022-10-26 21:12] #1124 closed

[2022-10-26 21:12] #1874 closed

[2022-10-26 21:19] #2285 closed

[2022-10-26 21:20] #2308 closed

[2022-10-26 22:08] royjit commented on #1060
This is released in the version v1.28.2

[2022-10-26 22:08] #1060 closed

[2022-10-27 02:51] bdhazman opened #2508 "Enable Keychain Sharing for App Extensions"
### Is your feature request related to a problem? Please describe.

Amplify manages user authentication and credentials but while Amplify functionality (including authentication) can be used in App Extensions such as Share Extensions, authentication sessions are not shared between apps and their app extensions. This is a problem for developers who want to use the Amplify library for managing iOS a

[2022-10-27 16:06] lawmicha commented on #2167
I suspect that calling from the main thread is what's causing the crash. The crash logs appear to be on thread 1, which is the main thread, calling `start` and waiting to queue `storageEngineInitQueue`. Moving the calls (stop then start) off the main thread should fix the problem but if there's a deadlock happening, then its still an issue regardless of the thread it's on

[2022-10-27 18:40] royjit commented on #2324
We released this as 1.28.2, closing this issue. Feel free to reach us if you have more questions.

[2022-10-27 18:40] #2324 closed

[2022-10-27 21:00] cobywinfield commented on #2508
+1

[2022-10-28 01:34] gurkarangulati opened #2513 "[v2.0.1] AmplifyAWSServiceConfiguration has Double instead of String"
### Describe the bug

![Screenshot 2022-10-27 at 8 30 07 PM](https://user-images.githubusercontent.com/4088575/198439936-d4495f53-32a7-41aa-b531-f4da6ae5dc15.png)
![Screenshot 2022-10-27 at 8 29 58 PM](https://user-images.githubusercontent.com/4088575/198439941-022f3aec-b594-49b0-9f81-722d307a77f2.png)

### Steps To Reproduce

[code]

### Expected behavior

Expected a successful build.

### Amplif

[2022-10-28 01:47] gurkarangulati commented on #2513
Thanks all!

Appreciate the help.

Best,
Gurk

On Thu, Oct 27, 2022 at 8:39 PM Jithin Roy ***@***.***> wrote:

[2022-10-28 01:58] royjit commented on #2513
Can you please take a look now? You might need to clear your spm cache folder to fix it.

[2022-10-28 02:34] gurkarangulati commented on #2513
I've cleared my cache, my builds, my build location, it still picks up the
old version of the at file. I can see the new file was pushed but maybe
needs a new version?

Best,
Gurk

On Thu, Oct 27, 2022 at 8:58 PM Jithin Roy ***@***.***> wrote:

[2022-10-28 03:34] gurkarangulati commented on #2491
thank you @ameter definitely helped!

[2022-10-28 16:02] royjit commented on #2513
I believe you might need to remove the cached repo from as well from the local. Can you try removing these folders and see if that fixes your issue:

~/Library/Caches/org.swift.swiftpm/
~/Library/org.swift.swiftpm/
~/Library/Developer/Xcode/DerivedData/

[2022-10-28 16:19] gurkarangulati commented on #2513
Confirmed. That works. Thank you!

On Fri, Oct 28, 2022 at 11:02 AM Jithin Roy ***@***.***>
wrote:

[2022-10-28 16:32] royjit commented on #2513
Glad it worked! Let us know if you are more questions, closing this issue.

[2022-10-28 16:32] #2513 closed

[2022-10-28 19:52] atierian commented on #2290
Closing due to inactivity.

[2022-10-28 19:52] #2290 closed

[2022-10-28 19:55] atierian commented on #2037
Closing due to inactivity.

[2022-10-28 19:55] #2037 closed

[2022-10-28 20:51] lawmicha commented on #1759
this was released in https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.0 and https://github.com/aws-amplify/amplify-swift/releases/tag/v1.28.2

[2022-10-28 20:51] #1759 closed

[2022-10-28 21:09] anatomybook commented on #1579
I've now resorted to setting the decoding depth to "zero", i.e. decouple the tables in the GraphQL scheme. That's painful to do, as it's against the idea and basically shifts responsibility from the library to the app, which hurts to do.

However, by doing that, the bottleneck moved from processing to drive throughput, greatly accelerating the sync process. I now tap into the event `HubPayload.Eve

[2022-10-28 21:09] #1579 closed

[2022-10-28 21:11] lawmicha commented on #2167
We were able to reproduce the crash and the issue is that start is trying to perform the work synchronously on the same DispatchQueue that stop is currently using. This causes a deadlock because start waits for the queue but is never able to acquire it, since start is called in the completion closure of stop. To get around this, you can dispatch the call to start on a separate thread, for example

[2022-10-28 21:11] #2335 closed

[2022-10-28 21:21] anatomybook commented on #1523
@chrisbonifacio Thanks for your answer and sorry also for the delay on my side.

The data, that's being synced isn't all that much. All in all, it's only a few megabytes with about 40000 items total - and yes, I've increased `syncMaxRecords` to 20000 as is needed for one model. Profiling showed the bandwidth is a no-issue, but processing power for decoding all the models. I've identified that the

[2022-10-28 21:42] royjit commented on #1497
Closing this as duplicate for - https://github.com/aws-amplify/amplify-swift/issues/2508

[2022-10-28 21:42] #1497 closed

[2022-10-28 21:43] royjit commented on #1538
Closing this as duplicate for https://github.com/aws-amplify/amplify-swift/issues/2508

[2022-10-28 21:43] #1538 closed

[2022-10-28 22:01] royjit commented on #2369
Amplify Auth has added the feature to clear the cached credentials if the app is a fresh install. This feature was released in v2.0.0.
We cannot make the private session as the default feature because that will be a breaking change for the existing users.

[2022-10-29 18:11] sanv725 commented on #2291
@gitton Hi, I know it's been a while since you opened this issue but we're running this same issue on our iOS app currently. I see that you closed this issue but any chance it was closed because you were able to find a solution to it? If so, could you please help out and let me know how you were able to fix this issue?

[2022-10-30 07:23] medhatIbsais-Harri commented on #2167
@lawmicha thank you, we did another workaround and its working for now, we will wait for your fix

[2022-10-30 07:41] medhatIbsais-Harri commented on #2323
Hello @lawmicha, thanks for helping us here,
for the problem of unauthorized, we decided to refresh our tokens once the network connection is back, because the token expires every one hour,
for the second problem, that the amplify doesn’t start the syncing process automatically when the connection goes back again, the problem is still happening on the new version, and for this comment "[https://gi

[2022-10-30 10:21] #2369 closed

[2022-10-30 16:31] frankiesimon opened #2519 "Can't build with Amplify 2.0.1 when targeting iOS 11"
### Describe the bug

My project targets iOS 11, when trying to build with the latest package version 2.0.1 I'm getting these errors:

Compiling for iOS 11.0, but module 'AWSCognitoAuthPlugin' has a minimum deployment target of iOS 13.0
Compiling for iOS 11.0, but module 'AWSPinpointAnalyticsPlugin' has a minimum deployment target of iOS 13.0

Is the newest version no longer compatible with iOS 11

[2022-10-30 19:33] atierian commented on #2519
Thanks for your question.
Version support is documented in the [README](https://github.com/aws-amplify/amplify-swift#platform-support).

This applies to Amplify for Swift v2.0.0 and higher. For context, v2 of the library has adopted several structured concurrency language features, both in public APIs and internally. Since these language features require iOS 13+, the library supporting below that

[2022-10-30 19:40] frankiesimon commented on #2519
Thank you for your reply. That's understandable.

Will it be possible to still get 1.x updates for issues? There were two issues affecting analytics in production environments that were fixed in the latest releases and it would be extremely helpful if these were ported to a 1.x release. (I saw there was at least one such release after 2.0.0).

The ones I specifically refer to are the fix to make s

[2022-10-30 20:09] atierian commented on #2519
There is no change to the support level for v1 of the 'Amplify Library for Swift'. We will make an announcement if that changes.

So yes, v1 will still get updates.

[2022-10-31 09:11] frankiesimon commented on #2519
I see. So I should keep track of the releases and eventually the relevant issues will be merged into a 1.28.3 version?

The ones I refer to are #2518 #2497 #2484

[2022-10-31 13:48] ruisebas commented on #2401
This issue has been fixed in both v1 and v2:

- For v2.x, in release [**2.0.1**](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.1)
- For v1.x, starting from release **1.28.1**. The fix was included in **AWS SDK for iOS** [2.28.1](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.28.1), so just update your dependencies and validate that you get this version.

[2022-10-31 13:48] ruisebas commented on #2471
This issue has been fixed in both v1 and v2:

- For v2.x, in release [**2.0.1**](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.1)
- For v1.x, starting from release **1.28.1**. The fix was included in **AWS SDK for iOS** [2.28.1](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.28.1), so just update your dependencies and validate that you get this version.

[2022-10-31 13:48] #2471 closed

[2022-10-31 13:56] ruisebas commented on #2519
@frankiesimon the issues you're referring to have been fixed in both v1 and v2:

- For v2.x, in release [**2.0.1**](https://github.com/aws-amplify/amplify-swift/releases/tag/v2.0.1)
- For v1.x, starting from release **1.28.1**. The fix was included in **AWS SDK for iOS** [2.28.1](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.28.1), so just update your dependencies and validate that you

[2022-10-31 15:20] #2491 closed

[2022-10-31 15:32] frankiesimon commented on #2519
@ruisebas I am not sure I understand. I had reported the original issue when I already was on 1.28.1:
|https://github.com/aws-amplify/amplify-swift/issues/2471

1.28.1 came out in September 15th and the release mentions
"Update AWS iOS SDK dependency to v2.28.0"

Since then 1.28.2 came out but I don't see a mention of bumping the AWS iOS SDK dependency for it. The Podfile.lock for 1.28.2 still poi

[2022-10-31 15:45] lawmicha commented on #2460
Hi @afern247, for `pluralName` deprecation, if you are using DataStore directly you can ignore this deprecation warning, once https://github.com/aws-amplify/amplify-codegen/pull/255 has been released, you should be able to update Amplify CLI and then toggle the feature flag `improvepluralization` to true to generate the new fields. When using DataStore, there should be no impact to your app, and c

[2022-10-31 16:04] lawmicha commented on #2352
We have launched `dev-preview` as v2.0.0 and replaced `main` so this work has been completed

[2022-10-31 16:04] #2352 closed

[2022-10-31 16:20] lawmicha commented on #2349
This issue is specific to the async await API of DataStore.save and was completed, released in V2.0.0

[2022-10-31 16:20] #2349 closed

[2022-10-31 16:36] royjit commented on #1193
Closing due to inactivity

[2022-10-31 16:36] #1193 closed

[2022-10-31 16:43] frankiesimon commented on #2519
I can try that, thank you.

[2022-10-31 17:19] lawmicha commented on #2280
Hi @danhaab, taking a look at the selection set you produced, I suggest adding all fields available including the `id` for nested `testStructure3`. The swift model type has a required `id` property it might be failing to decode. Any `items` selection set should also contain the `nextToken`. I think the decoding logic also uses `__typename` (this one might not be a hard requirement for your use cas

[2022-10-31 17:25] lawmicha commented on #2270
`.list` should return the list of post loaded, and then once you access one of the post's voteA list, you should be able to then explicitly load the voteA's, for example
[code]

if `post.voteaA` above cannot be unwrapped then this appears to be a bug in the code the initial `.list` query, which we can verify with your schema

[2022-10-31 17:35] lawmicha commented on #2258
Hi @almasios, It's failing with the same error most likely because both AWSAppSyncClient and Amplify.API use the same AppSync subscription code, so it's cycling through the same code paths.

Are you able to call unsubscribe when the view deallocates to test out the theory of the bug (this can also be the workaround if this is a bug)? We should reproduce this in the viewDidLoad and SwiftUI's `.onRe

[2022-10-31 17:48] frankiesimon commented on #2519
Thank you - it looks like that updating in this way gets me the correct AWS SDK version.

[2022-10-31 18:22] royjit commented on #2508
We are looking into this internally and will get back to you when we have more information.

[2022-10-31 18:27] lawmicha opened #2523 "Flutter Todo sync during network off fails and is dropped"
### Describe the bug

I have followed the below tutorial to replicate:
[+] https://docs.amplify.aws/start/getting-started/setup/q/integration/flutter/

Version 0.6.8 and version 0.6.9

### Steps To Reproduce

[code]

### Expected behavior

Data is not dropped

### Amplify Framework Version

v1

### Amplify Categories

DataStore

### Dependency manager

Cocoapods

### Swift version

N/A

### CLI ve

[2022-10-31 18:30] ruisebas commented on #2519
@frankiesimon
https://github.com/aws-amplify/amplify-swift/pull/2497 includes the quotas and connectivity fixes, but it only applies for **v2** (the `main` branch is Amplify v2, Amplify v1 code is now in the `v1` branch).

For **v1**, both of those issues are directly addressed in AWS SDK for iOS.

[2022-10-31 19:12] lawmicha commented on #2152
I'm going to mark this as a feature request to improve the network reachability client in iOS as a way to recovery faster if it is able to detect network issues.

[2022-10-31 19:19] lawmicha commented on #2059
Hi @depthzadmin, thank you for the schema. I believe I have encountered this issue during some my recent testing and the problem occurs when using uni-directional hasMany, without the belongsTo, is failing to retrieve all the Test models when a User is deleted. Cascade delete works by querying for all the Test models by the model being deleted (user's id) and syncing the children models before the

[2022-10-31 19:20] lawmicha commented on #2012
Closing due to inactivity, feel free to open another issue if soemthing you are trying isn't working for you or have additional questions.

[2022-10-31 19:20] #2012 closed

[2022-10-31 19:26] lawmicha commented on #1882
This code path is only executed in `v1` of DataStore. `main` (V2) has removed the layer that creates the published from the operation

[2022-10-31 19:37] lawmicha commented on #1789
Thanks @dpilch, where can this change be requested and tracked?

[2022-10-31 19:43] dpilch commented on #1789
I haven't created a ticket. I'll create one soon in [amplify-category-api](https://github.com/aws-amplify/amplify-category-api) and link back here.

[2022-11-01 06:40] medhatIbsais-Harri commented on #2323
Hello @lawmicha, this code snippet we added to avoid the unauthorized error until you solve this problem, so as you can see in the code below, we refresh our token, and then sync data store by calling, `Amplify.DataStore.start`, then `Amplify.DataStore.stop`, and finally `Amplify.DataStore.start`, thats the workaround to force starting the datastore, the refreshIDToken method uses `Amplify.Auth.fe

[2022-11-01 11:17] samkudr opened #2524 "Auth's resetPassword(), resendSignUpCode() stop to work"
### Describe the bug

Right now in my app I use v1.28.1 and the following code to reset password and to resend confirmation email after signing up:
[code]
Everything works great.

In v2.0.1 these funcs seem to not work. Both of them produce error 'Client 6ii4...p3lq is configured for secret but secret was not received', recovery suggestion—'Check whether the given values are correct and the user i

[2022-11-01 14:50] lawmicha commented on #2345
I couldn't find much more context about the error in the linked error. @dsaliberti are you still blocked by this? Do you have more details on the issue such as which file is failing to compile? For reference, the `identifier` property of Model is defined [here](https://github.com/aws-amplify/amplify-swift/blame/v1/Amplify/Categories/DataStore/Model/Model.swift)

[2022-11-01 15:32] dsaliberti commented on #2345
@lawmicha Thanks for the feedback, I'm definitely not blocked and we've bumped to the mentioned version  and dropped our custom fork as we needed add timezone support and that's already in place ✨
I'll close this one 👍 thanks again

[2022-11-01 16:03] harsh62 commented on #2524
@samkudr Thank you for raising the issue. Can you share the `amplifyconfigurations.json` redacted all the sensitive information?

[2022-11-01 16:14] ethan021021 opened #2527 "Unexpected error occurred with message: Could not retreive AWS credentials, credential value is nil or empty."
### Describe the bug

Hello,

Currently in our app we are receiving errors logged from users who seem to be running into this very random auth issue:

[code]

This is effecting 1/3rd of our user base and these users are unable to make calls using the API category while logged in through the Auth category. Our Auth is using Cognito user pools and hasn't given us much of a headache until this issue

[2022-11-01 16:25] ethan021021 commented on #2527
Also after some searching it looks like this is the exact problem I'm running into: https://github.com/aws-amplify/amplify-swift/issues/1501

[2022-11-01 19:42] royjit commented on #2524
Thank you for adding the info @samkudr. We are working on a fix right now, will update here when we have more details.

[2022-11-01 19:57] harsh62 commented on #2291
@sanv725
This issue came up when different AppClientID is used for HostedUI and UserPool. This configuration currently is not supported and breaks the aws-sdk-ios AWSMobileClient implementation.

I'll reopen the issue for our team to prioritize the fix.

[2022-11-01 21:02] royjit commented on #2524
Created this PR that should fix the issue https://github.com/aws-amplify/amplify-swift/pull/2528.
Can you please try with the fix branch and see if that fixes your issue? `royjit.addscrethash`

[2022-11-01 22:26] JenkinsXu commented on #2270
@lawmicha I am having the same issue with a similar setup. Calling `.fetch()` did not work because the list itself is returned `nil`.

[2022-11-02 11:34] samkudr commented on #2524
Yes, it fixes the problem. Everything works on iPad and macOS.
Verified from `main`, commit `aa1d240539d5e3f731793eaa1169ca410b8e5253` since branch `royjit.addscrethash` had been already deleted.
That was quick!

[2022-11-02 11:34] #2524 closed

[2022-11-02 15:54] harsh62 commented on #853
Amplify 2.x only supports SPM and CocoaPods support has been deprecated.

[2022-11-02 15:54] #853 closed

[2022-11-02 16:00] harsh62 commented on #1171
Closing in favor of https://github.com/aws-amplify/amplify-swift/issues/1205.

[2022-11-02 16:00] #1171 closed

[2022-11-02 16:03] harsh62 commented on #1437
This issue has been tackled in Amplify 2.x. Can you please try to update to the latest version of Amplify and validate if its still an issue.

[2022-11-02 16:03] #1437 closed

[2022-11-02 16:12] harsh62 commented on #1781
The tests has been fixed as part of Amplify 2.0 release.

[2022-11-02 16:12] #1781 closed

[2022-11-02 16:14] #1999 closed

[2022-11-02 16:23] harsh62 commented on #2325
@Eumag We have fixed all the warnings in Amplify 2.0.

[2022-11-02 16:28] #2458 closed

[2022-11-02 16:29] #2492 closed

[2022-11-02 18:27] lawmicha commented on #2216
Yes that looks good! Will close this issue out, i believe it's up to the developer writing the tests to use those extensions

[2022-11-02 18:27] #2216 closed

[2022-11-02 20:55] lawmicha commented on #2523
See https://github.com/aws-amplify/amplify-swift/pull/2532

[2022-11-02 21:58] lawmicha commented on #2323
Thanks for the code snippet, I believe what you are doing is optimistically restarting the sync process whenever the app detects that its connected to the internet. Once the PR is merged, you can update the code in `syncDataStore` back to calling `stop` then `start`. In regards to DataStore listening to network events and taking similar actions to what you are doing in your code snippet will be a

[2022-11-03 07:02] medhatIbsais-Harri commented on #2323
Hi @lawmicha, the above code snippet that is responsible for refreshing the ID tokens, and thats for to avoid the unauthorized error that it returns when you launch the app without network connectivity and then turn ON the wifi, so when you fix this problem we can remove the refreshing the ID tokens when the network connection is back again.

[2022-11-03 15:29] lawmicha commented on #2323
Thank you for providing us the details of your use case. DataStore relies on the Auth plugin to provide the auth info when making requests to AppSync. When the access to the GraphQL model's is controlled by OIDC/Cognito User Pool auth then DataStore will retrieve the auth token from Auth plugin, and add that to the request to AppSync. For Cognito User Pool, by default it will use the access token.

[2022-11-03 22:35] harsh62 commented on #2291
Closing. This is no longer an issue in Amplify 2.0.

[2022-11-03 22:35] #2291 closed

[2022-11-04 00:15] michaeljajou commented on #2527
I am also experiencing this - any update on this issue?

[2022-11-04 00:20] michaeljajou commented on #2527
This issue is also mentioned here: https://github.com/aws-amplify/amplify-flutter/issues/2312

This seems like an urgent issue and should receive attention immediately.

[2022-11-04 00:39] atierian commented on #2527
@ethan021021 did this just start happening with 1.28.2?

@michaeljajou can you please confirm which version of Amplify you're experiencing this with? And are you able to reliably reproduce the issue? If so, please post the steps you're taking to do so. Either way, please post your amplifyconfiguration.json (with any confidential information redacted). That will help us in attempts to reproduce.

W

[2022-11-04 09:02] mregnauld opened #2535 "Cannot find type 'AWSS3GetPreSignedURLRequest' in scope"
### Describe the bug

In my iOS project, I imported some AWS libraries:
- `Amplify`, in order to call webservices (API Gateway), using SPM
- `AWSS3` and `AWSMobileClient`, in order to get a presigned URL, so I can manually download a file from a S3 bucket (and no, I don't want to use `Amplify.Storage.downloadData` since I have specific needs), using Cocoapods

When I want to get a presigned URL fo

[2022-11-04 10:09] mregnauld commented on #2535
OK so I don't know if it a bug or not, but for information, the problem came from the fact that, when I added the `Amplify` framework using SPM, I checked `AWSS3StoragePlugin`.
Not checking that plugin solved the problem.

[2022-11-04 14:01] michaeljajou commented on #2527
@atierian

Amplify (1.28.1):
    - Amplify/Default (= 1.28.1)
  - Amplify/Default (1.28.1)
  - AmplifyPlugins/AWSCognitoAuthPlugin (1.28.1):
    - AWSAuthCore (~> 2.28.0)
    - AWSCognitoIdentityProvider (~> 2.28.0)
    - AWSCognitoIdentityProviderASF (~> 2.28.0)
    - AWSCore (~> 2.28.0)
    - AWSMobileClient (~> 2.28.0)
    - AWSPluginsCore (= 1.28.1)
  - AWSAuthCore (2.28.0):
    - AWSCore (= 2

[2022-11-04 14:02] michaeljajou commented on #2527
@atierian i haven't been able to reproduce the issue myself, I've only heard it back from a user yesterday. He purchased a new phone, restored from iCloud, and since has been unable to login/create an account with the error showing "an unexpected error has occurred"

So definitely something going on in the auth category.

[2022-11-04 14:06] atierian commented on #2527
Ok, thanks. That extra context is helpful. We're looking into this - if you discover anything else or have any other thoughts, please keep us posted here.

[2022-11-04 14:08] michaeljajou commented on #2527
Awesome thanks - will do. Another piece that may be helpful was that the user was able to successfully reset their password

[2022-11-04 14:25] harsh62 commented on #2535
Please not that `AWSMobileClient` is not supported on Amplify 2.0 and greater. Also note that CocoaPod support has been also deprecated in Amplify 2.0.

[2022-11-04 15:29] lawmicha commented on #2336
https://github.com/aws-amplify/amplify-swift/pull/2517#issuecomment-1303763916

for the multi auth tests involving OIDC

[2022-11-04 16:48] niklasribbon opened #2554 "Push notifications for iOS Swift SDK"
**State your question**
I see you now list push notifications as one of the features of this SDK. And I can do amplify add notifications to add the p12 APNS cert etc. But I can find zero documentation on how to use this?

I suppose I can just upload the device token to my models, then use this from a Lambda function to call AWSPinpoint to send a push?

But is there some way of doing this with your

[2022-11-04 18:23] lawmicha commented on #1765
Hi @atierian, the source schema `schema.graphql` get used by `amplify codegen` and `amplify push`. I don't think it needs to be added to Xcode, is there an issue you were seeing when it doesn't get added?

[2022-11-04 19:57] atierian commented on #2527
Thanks for your patience. We were able to reproduce this issue by fetching the auth session while invalidating the credential cache in the SDK, which is something that can occur in the wild. We have a fix for it here https://github.com/aws-amplify/aws-sdk-ios/pull/4379 and will be cutting a release soon. Once the SDK is released, you'll be able to benefit from the change without updating Amplify.

[2022-11-04 19:59] michaeljajou commented on #2527
Awesome news, thank you! I am still on Amplify 2.28.0 - so I will not need to release a new app version with a later version of Amplify you're saying?

[2022-11-04 20:06] atierian commented on #2527
You will need to release a new app version. Amplify uses _up to next minor_ versioning for the underlying AWS SDK for iOS (what was fixed). You will likely need to resolve package versions for SPM or `pod install` for Cocoapods, and confirm that it is now using the correct version of the AWS SDK for iOS. We will update here once the release is complete.

[2022-11-04 21:09] ethan021021 commented on #2527
Hi thanks for the quick fix! Will the fix also work for Amplify version `1.28.2`? Thank you

[2022-11-04 21:11] atierian commented on #2527
Yes, it will. Just make sure that the AWS SDK for iOS dependency is the new version (2.28.2) once it's released.

[2022-11-05 09:49] aspearman commented on #2436
Thanks @dsakhapo. I've worked around it using a `@belongsTo` and `@hasMany` relationship instead, because I want to make my relationship non-optional, and I don't really want to do a separate query for the `recipe` property.

Seems like this is a bug with `@hasOne`, though an Amplify dev on Discord mentioned `@hasOne` for some reason has a different initializer than the others i.e. you must pass i

[2022-11-05 11:56] anatomybook opened #2539 "When is Predictions available in v2."
I apologise in advance, if this has been posted already, but I haven't been able to find hints regarding the inclusion of Predictions in v2.

I checked the [upgrade guide](https://docs.amplify.aws/lib/project-setup/upgrade-guide/q/platform/ios/), but it only says that there currently is no upgrade plan.

So my question is whether the inclusion of Predictions is planned? Will v1 be usable, i.e. mai

[2022-11-05 22:28] #2523 closed

[2022-11-06 02:26] michaeljajou commented on #2527
Any ETA when this will be released?

[2022-11-06 06:50] medhatIbsais-Harri commented on #2323
Hi @lawmicha, if the access token expired and then I tried to call the `DataStore.start()` it keeps sending me unauthorized error in the logs, even if you call it multiple times, until I refresh it my self.

waiting for @royjit answer for your question.

[2022-11-06 19:15] royjit commented on #2323
Auth plugin should automatically refresh the token when it is expired as along as the refresh token is valid. If the refresh token is not valid, auth plugin will return a sessionExpired error and the user needs to signIn again.
From the code snippet above, you are using `fetchAuthSession` to refresh the id token, which is the [same method DataStore](https://github.com/aws-amplify/amplify-swift/blo

[2022-11-07 03:41] #2535 closed

[2022-11-07 03:44] #2519 closed

[2022-11-07 14:13] atierian commented on #2539
Predictions will be included in v2, it's currently being actively worked on.
The service level for v1 as a whole hasn't changed, it will still be maintained at the same level as it has been. If that should change in the future, we'll make an announcement.

[2022-11-07 14:39] atierian commented on #2527
[AWS SDK for iOS v2.28.2](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.28.2) was just released and includes this fix. You can now take the steps I mentioned a few comments up - just please double check that it's actually using v2.28.2 before pushing a new release of your app. Thanks again for bringing this issue to our attention.

I'm closing this issue now. If you have any other ques

[2022-11-07 14:39] #2527 closed

[2022-11-07 15:27] palpatim commented on #2496
Hi @Eumag, thanks for your message. We're reviewing your question and will respond here shortly.

[2022-11-07 16:01] anatomybook commented on #2539
Thanks very much for your answer. Predictions has been working really well for me and I look forward to the update.

[2022-11-07 16:01] #2539 closed

[2022-11-07 17:55] ermi-ltd opened #2542 "Amplify.API.get() returns HTTP 403 error if queryParameters is present on request object"
### Describe the bug

When calling a Amplify.API.get(), the presence of query parameters on the request object triggers a 403 HTTP Error.

### Steps To Reproduce

[code]

### Expected behavior

Presence of query parameters should not impact authorisation.

### Amplify Framework Version

10.4.0

### Amplify Categories

API

### Dependency manager

Swift PM

### Swift version

5.7.1

### CLI version

[2022-11-08 02:33] royjit opened #2546 "Storage: Remove async throws from the apis that return a task"
### Is your feature request related to a problem? Please describe.

Current apis in storage category in v2 has apis that return task. These apis are marked `async throws` but internally they do not throw any error neither they are async. This adds unnecessary async context and error handling logic in the code.
[code]

### Describe the solution you'd like

Remove the async throws from the public ap

[2022-11-08 02:34] royjit commented on #2546
PR to fix -https://github.com/aws-amplify/amplify-swift/pull/2543

[2022-11-08 08:39] zhouhao27 opened #2547 "App crash: $s7Amplify23AWSUnifiedLoggingPluginC7defaultAA6Logger_pvg"
### Describe the bug

Application crashes with the following call stacks:

0  Amplify                        0x3b674 $s7Amplify23AWSUnifiedLoggingPluginC7defaultAA6Logger_pvg + 48
1  Amplify                        0x3b638 $s7Amplify23AWSUnifiedLoggingPluginCAA0C22CategoryClientBehaviorA2aDP7defaultAA6Logger_pvgTW + 20
2  Amplify                        0x7c114 $s7Amplify15LoggingCategoryC4infoyySSy

[2022-11-08 09:33] medhatIbsais-Harri commented on #2323
Thank you @royjit, but the DataStore doesn’t automatically refresh the tokens, each time you call `DataStore.start` you will receive unauthorized error in the logs

[2022-11-08 09:48] losetchi opened #2548 "AWSPinpoint with Amplify v2"
### Describe the bug

Hello. I am trying to migrate to Amplify v2. We are using Auth and Analytics plugins, for which migration to v2 went fine, but we have issues with using AWSPinpoint for notifications. On v1 everything worked fine, but since migrating to v2, we are unable to compile the code, getting **Cannot find type 'AWSPinpoint' in scope**. We also tried installing AWSPinpoint via CocoaPod

[2022-11-08 15:32] ruisebas commented on #2548
Hi @losetchi, thanks for reaching out.

**AWS Pinpoint Push Notifications** support is part of **[aws-sdk-ios](https://github.com/aws-amplify/aws-sdk-ios)**'s `AWSPinpoint`, which in Amplify **v1.x** is provided via _Analytics_' escape hatch.

As Amplify **v2.x** has moved away from **aws-sdk-ios**, Pinpoint Push Notifications support is not yet available.
However we are currently looking into it.

[2022-11-08 15:44] ruisebas commented on #2547
Hi @zhouhao27, thanks for opening this issue.

While we investigate what's going on, could you please provide the following?
1. Your app's `amplifyconfiguration.json` file, with sensitive information removed.
2. Is it a regression starting on version **1.22.1**, or does it happen for older versions as well?
3. Have you tried updating to the latest **1.x** ([v1.28.2](https://github.com/aws-amplify/

[2022-11-08 20:30] losetchi opened #2551 "NotAuthorizedException when trying to get cognitoTokens on Apple Silicon."
### Describe the bug

We are using Amplify and Cognito to sign-in users in our app. We also support iOS apps on Apple Silicon Macbooks, which till latest macOS version worked perfectly. Since updating to macOS Ventura (13.0), we are no longer able to retrieve cognito credentials to perform API requests inside the app.
From the logs, I can see that user is successfully signed in using Amplify.Auth.

[2022-11-09 14:48] #2548 closed, assigned to sebaland

[2022-11-10 19:02] royjit commented on #2546
Released

[2022-11-10 19:02] #2546 closed

[2022-11-11 05:08] ChristianTrummer99 commented on #2542
Same

[2022-11-11 19:15] chrisbonifacio commented on #2167
Hi @medhatIbsais-Harri you should be able to upgrade to version 1.28.3, we've released the fix for this issue. Please let us know if you continue to experience any issues. 🙏

[2022-11-11 19:15] #2167 closed

[2022-11-11 19:43] ynnadrules commented on #1864
I'm still seeing this issue more often than not. I'm using version 2.1.0 of amplify-swift. I always see the log output `[AWSDataStorePlugin] [Lifecycle event 6]: ready` but way more often than not, the event doesn't come through the hub's datastore publisher.

[2022-11-11 22:11] michaeljajou commented on #2527
@atierian I've heard back from a user that this is still happening - but I have a feeling they haven't updated, waiting for a confirmation from them.

Although - I am now on Amplify v2.28.3 - I want to confirm that this fix still applies in that version?

`PODS:
  - Amplify (1.28.2):
    - Amplify/Default (= 1.28.2)
  - Amplify/Default (1.28.2)
  - AmplifyPlugins/AWSCognitoAuthPlugin (1.28.2):

[2022-11-11 22:31] michaeljajou opened #2565 "Unexpected error occurred with message: Could not retreive AWS credentials, credential value is nil or empty. #2527"
### Describe the bug

This is referencing the same bug listed here:

https://github.com/aws-amplify/amplify-swift/issues/2527

After releasing the update with the most up to date version of Amplify - it seems our effected users are still experiencing this issue. For reference - this is our Podfile.lock - please let me know if I am on an outdated/incorrect version.

[code]

### Steps To Reproduce

[2022-11-12 07:30] dhaval-dobariya commented on #1542
I am facing same issue, any solution is there?

[2022-11-12 13:24] chinuchahal opened #2566 "Unable to fetch `AuthUserAttribute`"
### Describe the bug

Unable for fetch `AuthUserAttribute` from statement `Amplify.Auth.fetchUserAttributes()`.

I've created an iOS app, which can be run on MacBooks with destination `Mac (Designed for iPad)`. It worked as expected till macOS 12.x.x. After upgrading to macOS 13.x.x, I'm unable to fetch `AuthUserAttribute`. I'm getting error `"Could not fetch attributes, there is no user signed in

[2022-11-13 11:25] medhatIbsais-Harri commented on #2167
Thank you @chrisbonifacio

[2022-11-13 21:45] dchilds64 opened #2568 "Keychain Error Occurred When Attempting to Add AWSCognitoAuthPlugin"
### Describe the bug

I am simply trying to write a test app to add AWSCognitoAuthPlugin and configure Amplify to validate that I can connect to a Cognito User Pool and add new users, sign in, etc. I installed the amplify cli, ran amplify init, amplify add auth and amplify push, and also ran amplify configure and created a user for it to use. I have been following the examples in the Amplify docum

[2022-11-13 21:51] dchilds64 commented on #2568
Here are the relevant project files that contain the code I'm using to try to add AWSCognitoAuthPlugin:

App file:
`import Amplify
import AWSCognitoAuthPlugin
import SwiftUI

@main
struct amplify_testApp: App {

    init() {
        configureAmplify()
    }

    var body: some Scene {
        WindowGroup {
            ContentView()
        }
    }

    func configureAmplify() {
        do {

[2022-11-14 04:37] #2325 closed

[2022-11-14 13:53] lawmicha commented on #2323
Hi @medhatIbsais-Harri, can you clarify, each time `DataStore.start` is called, do you mean after waiting 1 hour for the access token to expire, then call `DataStore.start` it will get unauthorized?

[2022-11-14 13:54] medhatIbsais-Harri commented on #2323
Hi @lawmicha, Yes exactly.

[2022-11-14 15:01] ruisebas commented on #2566
Hi @chinuchahal, thanks for opening this issue.

Someone faced a very similar issue recently after upgrading to macOS 13, and they were able to fix it by [adding the `KeychainSharing`  capability](https://github.com/aws-amplify/amplify-swift/issues/2551#issuecomment-1308956328) to their project.

Could you please confirm if you have that capability added, and if not try adding it and validate if t

[2022-11-14 15:05] ruisebas commented on #2568
Hi @dchilds64 , thanks for opening this issue.

Based on the error code, it looks like your app might be missing the `Keychain Sharing` capability, could you please check if that's the case?

Thanks!

[2022-11-14 21:59] atierian commented on #2565
Hey @michaeljajou, thanks for opening this new issue.
I see in the original issue you mentioned:

Are you able to confirm that your user has indeed updated to your new app version? The versions included in your podfile contain the fix. So if you're still experiencing it, it may be related to something else. Have you been able to reproduce this issue yourself? We were able to reproduce the issue ba

[2022-11-15 06:00] rpatel8del opened #2572 "MFA confirmation with Authenticator App is broken"
When I try to call sign in for a user that has MFA set on the Authenticator App, the call returns an AuthError, citing its an "UnSupported challenge response softwareTokenMfa"
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/102267573/201838175-ddba9f49-6bcb-422f-9fe8-d4233206db14.png)
Broken on the new v2.1.0 but works fine on the older v1.28.3.

[2022-11-15 20:39] michaeljajou commented on #2565
@atierian Yes - it I confirmed the user updated the app to the latest version which contains the version of Amplify as mentioned above.

I haven't been able to reproduce the issue - the only information I am aware of is that after the user purchased a new phone, they restored their iPhone from an iCloud backup - and when they went to go sign into the application, the error reads "An unexpected err

[2022-11-15 21:44] atierian commented on #2565
Ok, it sounds like the backup may have carried over some keychain items and the app is in an inconsistent state.
There were some changes around keychain items and device backups in the AWS SDK for iOS recently; I'm looking into this.

Do you know which version of Amplify (and AWS SDK for iOS) was used in your app version this user had before they purchased a new phone and updated? If we know that,

[2022-11-15 21:49] michaeljajou commented on #2565
Sure - here is some information regarding that, let me know if this helps:

- iPhone 11,8
- iOS 15.6.1

[code]

[2022-11-15 22:04] atierian commented on #2565
These are the same versions you mentioned [here](https://github.com/aws-amplify/amplify-swift/issues/2527#issuecomment-1303599941).

Just to be certain, the user was using your app with these Amplify / AWS SDK for iOS versions before they changed phones **and** the same versions after they changed phones? This may be a long shot, but do you happen to know if this particular user ever used a versio

[2022-11-15 22:14] jcjimenez commented on #1542
@alionthego @anuragsingla123 @dhaval-dobariya @sagarjoshi @staticVoidMan I'm picking up this investigation but haven't been able to reproduce this on my end (including using Apple's Network Link Conditioner). Would you please contact me directly to see if we can have a call to diagnose? Thanks.

[2022-11-15 22:25] alionthego commented on #1542
Try a request from a different region.  Such as servers in Virginia and client in Hong Kong

[2022-11-16 00:32] rpatel8del commented on #2572
Hey guys, is there an ETA on this bug?

[2022-11-16 01:40] ethan021021 opened #2575 "DataStore ObserveQuery's completion handler should only fire twice on first initialization"
### Describe the bug

Hello,

When using datastore's `observeQuery` on a fresh app install I get the following on app initialization (I'm observing the `Member` query on app init to get the ID of the user):

[code]

Is this the correct behavior? I'd expect `observeQuery` to fire the completion handler twice and further on when the `Member` model updates. I'm currently not updating the `Member` mod

[2022-11-16 03:06] harsh62 commented on #2572
@rpatel8del

Can you share the code snippet that you are using for `softwareTokenMfa`. It seems that signing in software token MFA is not supported in 1.x and 2.x. If you are able to successfully confirm sign in with `softwareTokenMfa` in 1.28.3, I would like to understand how you are parsing the sign in response. Because ATM sign in only returns one of the following as next steps.

[code]

[2022-11-16 03:09] rpatel8del commented on #2572
Thank you for responding. :)

In 1.x `case confirmSignInWithSMSMFACode(AuthCodeDeliveryDetails, AdditionalInfo?)` handles SMS and softwareToken whereas in 2.x it returns an AuthError.

[2022-11-16 03:20] harsh62 commented on #2572
I am still unsure how 1.x can handle the signIn response, because the code path doesn't have `softwareTokenMfa` as an implemented case.

[code]

Can you share your implementation details? So that I can try to reproduce on my end.

[2022-11-16 03:25] harsh62 commented on #2572
Can you enable verbose logging and share the request and response for sign in redacted any sensitive information.
[code]
and you would need to import AWSCore
[code]

I would like to understand the response in more detail.

[2022-11-16 03:38] rpatel8del commented on #2572
Can I email you the response? Don't want to accidentally post anything here that I should've redacted and missed. :)

[2022-11-16 03:40] harsh62 commented on #2572
Can you post this on our [discord channel](https://discord.com/channels/705853757799399426/707328996995760179) and we can have follow up conversations there to further investigate into this matter?

[2022-11-16 03:42] rpatel8del commented on #2572
Yup, that works.

[2022-11-16 15:55] valzevul commented on #1175
@lawmicha sorry, are there any updates to the issue? I've tested with the recent 1.x and 2.x SDKs but the problem persists for more than a year now.

[2022-11-16 17:52] dpilch opened #2577 "Should subscription terminate on failed decode?"
### Is your feature request related to a problem? Please describe.

When data received from a subscription fails to decode the subscription is closed. This causes the DataStore sync engine to stop.

https://github.com/aws-amplify/amplify-swift/blob/main/AmplifyPlugins/API/Sources/AWSAPIPlugin/Operation/AWSGraphQLSubscriptionTaskRunner.swift#L158

### Describe the solution you'd like

Should the su

[2022-11-16 20:50] jcjimenez commented on #1542
Just writing to update you all on progress: I do see very slow upload times (about 2 minutes for a 1.1MB file) being in Texas and uploading to AWS regions such as Mumbai. I'm taking a deeper dive to figure out if there is a root cause (in the library or SDK) apart from the physical distance.

[2022-11-17 06:16] Eumag commented on #2496
Thanks @palpatim for addressing the question/issue. Assuming the same applies to v1 as well.

In the sample fragment given for [accessing credentials](https://docs.amplify.aws/lib-v1/auth/access_credentials/q/platform/ios/), there are couple of prints to console.
[code]
Are these all public and safe to print them like it? Or should these better be under Debug prints only and stated for caution und

[2022-11-17 08:22] seungbeom-son opened #2580 "Amplify.Auth.signIn does not finish after sign out"
### Describe the bug

Once I signed out by calling `Amplify.Auth.singOut()`, I cannot sign in again because sign in function  `try await Amplify.Auth.signIn(~)` does not finishes.

When I first tried to sign in, I used this code and the `signInResult.isSignedIn` returned true.
`let options = AWSAuthSignInOptions(authFlowType: .userPassword)`
`let signInResult = try await Amplify.Auth.signIn(userna

[2022-11-17 14:33] lawmicha commented on #2152
Pending release on
- `main` PR https://github.com/aws-amplify/amplify-swift/pull/2571
- `v1` PR https://github.com/aws-amplify/amplify-swift/pull/2581

[2022-11-17 15:58] atierian commented on #2580
Thanks for opening this issue @seungbeom-son. Could you please try updating to v2.1.0 to see if the issue persists?

[2022-11-17 16:17] atierian commented on #2551
Thanks for letting us know @losetchi, glad to hear your issue was resolved.

[2022-11-17 16:17] #2551 closed, assigned to nobody

[2022-11-17 16:51] harsh62 commented on #2580
@seungbeom-son Would you be able to share logs by enabling verbose logging? To enable logging use `Amplify.Logging.logLevel = .verbose` after `configure`.

[2022-11-17 23:32] palpatim commented on #2496
Hi @Eumag,

We have updated the documentation for [v1](https://docs.amplify.aws/lib-v1/auth/access_credentials/q/platform/ios/) and [v2](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/ios/) to remove those print statements. Please see our existing documentation for best practices around [AWS Credentials](https://docs.aws.amazon.com/accounts/latest/reference/credentials-access-keys

[2022-11-18 01:03] seungbeom-son commented on #2580
Yes, even thought I updated to v2.1.0, this issue still persists.

[2022-11-18 01:05] seungbeom-son commented on #2580
### This is the log of the first signIn

{
    "AuthState.configured" =     {
        "AuthenticationState.signingIn" =         {
            "SignInState.notStarted" =             {
            };
        };
        "AuthorizationState.signingIn" =         {
        };
    };
}
2022-11-18 09:58:07.665464+0900 NearthWind[71228:2580942] [AWSCognitoAuthPlugin] AWSCognitoAuthPlugin/IntializeSignInFlo

[2022-11-18 01:24] harsh62 commented on #2580
@seungbeom-son Are you sure that you submitted the complete logs for the second sign in? I feel like there are some logs missing.

[2022-11-18 01:38] seungbeom-son commented on #2580
Yes.. `~~~time: nil) ` is the last part of the log for second trial. (2022-11-18 10:01:20.974879+0.00)

Other logs after 2022-11-18 10:04:43.538860+0900 are irrelevant to Amplify.

Thank you.

![image](https://user-images.githubusercontent.com/40154993/202596142-8d689794-a2c5-4534-ab3f-7202324c8218.png)

[2022-11-18 03:56] Eumag commented on #2496
Awesome!

This ticket can be closed now.

[2022-11-18 10:58] chinuchahal commented on #2566
Hi @ruisebas, thank you for the solution. After adding `Keychain Sharing` capability, I was able to log into the app.

[2022-11-18 10:58] #2566 closed

[2022-11-18 14:09] ermi-ltd commented on #2542
Hi @chrisbonifacio

Thanks for triaging this issue. It’s currently blocking our development so I was wondering if there’s a timeline for getting this resolved?

We’re looking at work arounds (such as passing days with POST) but this has considerable development costs as the API to work with amplify v2 would be incompatible with the API for the amplfiy v1 which is deployed to users.

If you could s

[2022-11-18 14:26] lawmicha commented on #2323
@medhatIbsais-Harri, how are you setting up your auth provider? are you using OIDC provider and providing your own `getToken` method? or using the default Cognito User Pool provider? I'm trying to narrow down the auth setup to accurately reproduce this. I believe the exact code to debug into is at this line: https://github.com/aws-amplify/amplify-swift/blob/v1/AmplifyPlugins/DataStore/AWSDataStore

[2022-11-18 14:43] bflatone commented on #1590
We do also require the feature to have multiple owner type auth rules to share data from the "creator" of the record to many different read-users. The auth rules look like this:

[code]

Is there any update by when this will be available?

[2022-11-18 15:07] #2496 closed

[2022-11-18 21:06] harsh62 commented on #2580
@seungbeom-son I see you are using `userPassword ` as the authentication flow for sign in. Are you using this to migrate users in Cognito? If the user is already migrated, Is it a possibility for you to use `userSRP`flow. Here is how you can [switch auth type](https://docs.amplify.aws/lib/auth/switch-auth/q/platform/ios/) during runtime.

[2022-11-18 21:26] bzark commented on #1590
@dnys1 this is the same issue I reported to you way back in November of 2021, correct?  I know there are a few issues open on this, do any of them have additional information that may be useful to @bflatone and myself?  I'm still looking to implement multiple owner records with subscriptions using DataStore.  Please advise and thanks for your continued help.

[2022-11-18 22:34] harsh62 commented on #2580
Also can you try out this branch if it fixes your issue https://github.com/aws-amplify/amplify-swift/pull/2584.

[2022-11-19 23:03] pixelier commented on #2289
any update on this? @atierian

[2022-11-19 23:43] michaeljajou commented on #2565
@atierian apologize for the delay - looks like the user first created an account Apr 29, 2022, would that help? At that time, here was the pods:

[code]

[2022-11-21 05:36] seungbeom-son commented on #2580
This branch work very well. Thank you!

And about `userSRP` flow, our back-end engineer asked me to use not `userSRP` but `userPassword`. Because I'm not familiar with back-end, I just followed his order.

Is this abnormal way to use Amplify?

What I want to do is just getting refresh-token, refreshing access-token, calling our server api with the access-token.

Thank you.

[2022-11-21 07:51] medhatIbsais-Harri commented on #2323
Hello @lawmicha, yes we are using this `AmplifyOIDCAuthProvider` and implement the `getLatestAuthToken` method

[2022-11-21 14:02] vish7 commented on #1542
Hi, I am facing the same issue. I am using Amplify 1.28.3 version.
11 MB video file is taking 6 -7 minutes to upload.
But in AWS SDK video upload was working fine with AWSS3TransferUtility class.
Code:

let fileNameKey = "testing_upload_video_3.mov"
        let filePath = Bundle.main.url(forResource: "testing_upload_video_2", withExtension: "MOV")

        guard let filename = filePath
        els

[2022-11-21 17:35] harsh62 commented on #2580
`userSRP` is a more secure way of using authentication where password never leaves the client. I would strongly suggest to use SRP when the user has migrated into Cognito.

I will work on getting the PR merged and released this week.

[2022-11-22 00:16] sagarjoshi commented on #1838
Definitely need this

[2022-11-22 00:16] sagarjoshi commented on #1838
Cannot reliably upload large files without this

[2022-11-22 02:27] seungbeom-son commented on #2580
Thank you for your help!

[2022-11-22 04:16] candycandymidori opened #2586 "Cannot receive error and keep receive the authentication email for authentication code incorrectly"
### Describe the bug

I used Sign in with custom flow for authentication as it is for this document（https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/ios/#confirm-sign-in-with-custom-challenge[）](https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/ios/#confirm-sign-in-with-custom-challenge%EF%BC%89), **I will not receive an error when I enter the authentication

[2022-11-22 19:44] atierian commented on #2586
Thanks for opening this issue @candycandymidori. We're looking into it and will respond back to you here with any questions or updates.

[2022-11-23 05:56] harsh62 commented on #2586
@candycandymidori @Jessie0713

Created [draft PR](https://github.com/aws-amplify/amplify-swift/pull/2587) to address the endless execution of challenges during `confirmSignIn` API. Would you be able to validate if this addresses the issue?

[2022-11-23 09:44] rb090 opened #2588 "Device Binding not working as expected"
### Describe the bug

We integrated the Amplify iOS SDK (v2.0.2) to our project via SPM (https://github.com/aws-amplify/amplify-ios) to implement our auth flow with Cognito. We also enabled device binding in the Cognito console.

Nevertheless on every login we detected in the Cognito console that there is a new device with a new device key, please see screenshot:

![203513558-7d5ece30-1db4-4ece-a8

[2022-11-23 15:58] harsh62 commented on #2580
The fix has been merged https://github.com/aws-amplify/amplify-swift/pull/2584 and is pending release.

[2022-11-23 20:27] harsh62 commented on #2586
@candycandymidori  The PR has been merged which fixes the continuous execution of `confirmSignIn` API.

I have noticed that the lambda returns the same challenge again after the initial request. Make sure that the lambdas are correctly setup for your use case and throw exceptions if there is a code mismatch. Please refer to the [custom auth documentation](https://docs.amplify.aws/lib/auth/signin_w

[2022-11-24 02:25] candycandymidori commented on #2586
@harsh62
Thank you very much !
I'm so sorry  for the very basic question...I'd like to try merged to main which include fixes the continuous execution of confirmSignIn API. Do I need to update Amplify Framework Version up to 2.1.0 (latest) ? Cuz I currently use 2.0.1 version.

[2022-11-25 04:07] vish7 opened #2591 "Enable transfer acceleration from amplify s3 configuration"
### Is your feature request related to a problem? Please describe.

Yes, This feature is related to an issue.

I am uploading a video to an S3 bucket using the amplify-swift SDK. I have configured the project with amplify-CLI.
Video is uploaded to the S3 bucket but the upload speed is very slow.
Even though I have enabled transfer acceleration to the S3 bucket, the speed is still very slow.

### D

[2022-11-25 08:48] rb090 commented on #2588
Hi @5d,

thank you so much for getting back here so quickly regarding this issue. I tried to integrate this version via SPM to test if I can reproduce it, but now I run into during build the project with XCode:

`Missing required modules: 'AwsCAuth', 'AwsCCal', 'AwsCCommon', 'AwsCHttp', 'AwsCIo', 'AwsCMqtt', 'AwsCSdkUtils'`

The Amplify dependencies in the `Package.resolved` of my project look lik

[2022-11-25 14:54] cezarcp opened #2592 "Exact version dependency on SQLite.swift can cause resolution conflicts"
### Describe the bug

In Package.swift, the dependency on `SQLite.swift` is declared with an exact version match:

`.package(url: "https://github.com/stephencelis/SQLite.swift.git", exact: "0.13.2"),`

While this can be good practice when defining dependencies for applications, it is better avoided in libraries that may be added to projects that depend on other libraries that may share the same de

[2022-11-25 20:52] JenkinsXu commented on #532
Our team is experiencing the same issue. We are using the 2.1.0 SDK and the CLI version is 10.5.1. Re-init and importing the existing user pool doesn't seem to be solving the issue. The only solution seem to be adding a new auth instead.

[2022-11-27 23:01] rpatel8del commented on #2572
When will this fix be released?

[2022-11-28 06:26] 3ph commented on #2298
@atierian @frankiesimon I'm having the same issue but couldn't find any resolution on Discord. Can you tell me how to fix it?

[2022-11-28 15:36] lawmicha commented on #2323
Hi @medhatIbsais-Harri , that sounds the problem is in the custom implementation of retrieving the token. Can you show us what your implementation of `getLatestAuthToken` looks like? I'm assuming it's missing the `fetchAuthSession` call. If it doesn't contain that, are you able to add that and retest to see if it solves the problem? DataStore uses the token and passes it to the downstream services

[2022-11-28 17:47] jcjimenez commented on #1542
Thank you for your patience, I've submitted the pull request above which the team will discuss.

[2022-11-28 21:28] rb090 commented on #2588
Okay, cleaning up the caches (`rm -rf ~/Library/Developer/Xcode/DerivedData` and `rm -rf ~/Library/Caches/org.swift.swiftpm/`) as well as a reboot of my computer helped here. And no - I am not testing with Swift Playgrounds.

Running with the library seems to fix the issue that the client id is not send to Cognito. Thanks a lot for the fix 👍.

Looking at my logs on `Amplify.Auth.signIn(username: "

[2022-11-28 22:41] rb090 commented on #2588
Okay, cleaning up the caches (`rm -rf ~/Library/Developer/Xcode/DerivedData` and `rm -rf ~/Library/Caches/org.swift.swiftpm/`) as well as a reboot of my computer helped here. And no - I am not testing with Swift Playgrounds.

Running with this new library seems not to fix the issue of the missing device key. Looking at the logs, it still looks the same.

[code]

And I got the response:

[code]

Un

[2022-11-29 07:34] medhatIbsais-Harri commented on #2323
Hello @lawmicha we are using the `fetchAuthSession`,
`Amplify.Auth.fetchAuthSession`

[2022-11-29 18:37] lawmicha commented on #2323
Hey @medhatIbsais-Harri I have some questions for this use case

1. How does `fetchAuthSession` refresh the refresh token from your OIDC provider? Which OIDC provider are you using? A reproducible sample and steps to set up your auth use case would be helpful.
2. Can you add logging in the `getLatestAuthToken` call to get the token payload when you reproduce the issue? And verify that the issue is

[2022-11-29 22:09] palpatim opened #2595 "Deprecate AWSAuthSignInOptions.validationData"
### Is your feature request related to a problem? Please describe.

While reviewing auth APIs across platforms, we (re)discovered that the Cognito plugin for Swift exposes both a `validationData` and a `metadata` property on **AWSAuthSignInOptions**:

https://github.com/aws-amplify/amplify-swift/blob/f68530431adbc22db45a12f3efd8450a0c94e44e/AmplifyPlugins/Auth/Sources/AWSCognitoAuthPlugin/Models/O

[2022-11-30 01:07] candycandymidori commented on #2586
@5d Thank you so much for your reply. I got it ! I will keep checking for next release :)

[2022-11-30 11:10] frankiesimon commented on #2298
I ended up using Swift Package Manager instead of cocoapods.

[2022-11-30 14:10] medhatIbsais-Harri commented on #2167
Hello @chrisbonifacio, I'm still experiencing this issue on `Amplify (1.28.3)`

[2022-11-30 19:06] 5d opened #2598 "[Documentation] Update google oauth sign-in documentation for v1"
**Page**: https://docs.amplify.aws/lib-v1/auth/social/q/platform/ios/

The current doc about sign-in with Google OAuth lack of few steps:

- add google as identity provider in `Sign-in experience -> Federated identity provider sign-in`
  - the current doc mentioned the client ID and secret that created in google developer console will be used later in CLI setup. However, there is no step asking fo