[2019-05-03 03:54] mobilequickie opened #853 "Update Cocoapods Podfile with dependencies as I add/remove categories in the CLI"
When setting up an Amplify project for iOS, I would like for the CLI to automatically update the Cocoapods `Podfile` as I add or remove categories in the CLI.

For example, if I want to add Auth to my app with the default "basic auth", there are known AWS SDK dependencies that need to be added to my Podfile to install the AWS SDK on the client.

Here's the scenario:
Amplify init as an iOS project

[2019-09-25 00:07] lawmicha opened #17 "Bump all AWS deps to at least 2.11.1"
Bump all AWS deps to at least 2.11.1

_Originally posted by @palpatim in https://github.com/aws-amplify/amplify-ios/pull/9_

[2019-09-26 17:39] lawmicha opened #21 "move AWSAuthService to an AWSPluginCommon package"
In one of the next PRs, we should move this service to an AWSPluginCommon package, since all of our plugins will use AWSMobileClient. That will also pave the way for us to (eventually) have an actual Auth plugin.

_Originally posted by @palpatim in https://github.com/_render_node/MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDMyODM3OTc0Mg==/comments/review_comment_

[2019-09-26 17:39] #17 closed, assigned to nobody

[2019-09-26 18:53] lawmicha opened #22 "Storage Error Handling - Iteration on standardizing error handling"
After finalizing on the different storage error types, and messages, take a pass to clean up
- some of the typealias for arguments to storage error
- improvements on the mapper methods
- add the http status mapper class
- update the hard coded messages

[2019-09-26 19:07] lawmicha opened #23 "AWSS3StoragePluginAPIBehaviorTests should be renamed to ClientBehaviorTests"
AWSS3StoragePluginAPIBehaviorTests should be renamed to ClientBehaviorTests

[2019-09-26 19:44] palpatim opened #24 "File renames & folder structures"
* https://github.com/aws-amplify/amplify-ios/pull/20#discussion_r328781236
* https://github.com/aws-amplify/amplify-ios/pull/20#discussion_r328782376

[2019-09-27 16:48] lawmicha opened #26 "[Storage] rename Put to UploadFile and PutData"
[Storage] rename Put to UploadFile and PutData

[2019-09-27 16:52] lawmicha opened #27 "List Usability - List only returns up to 1000"
List API usability testing is required.

Currently in line with JS library; uses LLC s3 to retrieve list of keys.

According to S3 documentation, only returns 1000 items.

This issue is test usability of List API, document any limitations (like the 1000 returned items) and make any changes necessary to the usability that we want

[2019-09-27 16:55] lawmicha opened #28 "Operations retrieval for app restart"
How will storage return operations that can be used with Hub on App restart or just another place in the app?

[2019-09-27 21:15] lawmicha opened #29 "Rename Category/PluginBehavior classes"
Rename existing classes to agreed upon class names to be in line with Android. Need to check where we have defined this structure and naming, cross check with Android's code base.

off the top of my head;
1. StorageCategory to Storage
2. ClientBehavior to CategoryyBehavior

[2019-10-07 22:37] lawmicha opened #34 "Should default access level be 'public' ?"
[Storage] Should default access level be 'public'

Capturing some of the TODO's in an Issue. In JS, it is by default public: https://aws-amplify.github.io/docs/js/storage#file-access-levels

I find the 'public' directory kind of odd use case, i'm not sure when we would ever upload to a public directory since anyone can delete from there. I could extract someone's amplifyconfiguration.json, reconst

[2019-10-07 22:42] lawmicha opened #35 "[Storage] list API should also return eTag, lastModified, size"
JS returns key, eTag, lastModified, size

https://github.com/aws-amplify/amplify-js/blob/master/packages/storage/src/Providers/AWSS3Provider.ts#L392-L395

We should just stick with this until we decide anything different, ie. different naming, removing something.

[2019-10-07 22:46] #24 closed, assigned to palpatim

[2019-10-07 22:51] lawmicha opened #36 "Enable TransferAcceleration"
**Investigate:**
JS experience, how it is currently enabled by the developer. Can transferAcceleration be configured on per request basis? ie. only enable for downloads and not uploads, for some reason. Native experience, how is it enabled on transferUtility now?

**CLI changes**
- Ask to enable transferAcceleration
- If Yes:
1. apply some settings on the bucket to allow transfer acceleration
2 ad

[2019-10-09 19:50] #23 closed, assigned to lawmicha

[2019-10-09 19:50] #26 closed, assigned to lawmicha

[2019-10-09 19:57] lawmicha opened #40 "StorageService Unit testing - adding Mocks and Tests"
Need to add more unit tests for the AWS3StorageService class. Some happy path cases can be added now, while some failure cases can come after finalizing on error mapping. ie. Mock dependency to return a failed task with HttpStatus error with code 403, verify that the StorageError coming from AWS3StorageService is AccessDenied. etc.

[2019-10-16 16:56] lawmicha opened #43 "List API returns size as Int, investigate if should be uint64 or int64"
List API returns size as Int, investigate if should be uint64 or int64

[2019-10-16 16:57] #35 closed, assigned to lawmicha

[2019-10-21 19:07] lawmicha opened #47 "Analytics Specific events like AnalyticsRevenueEvent and AnalyticsScreenEvent"
Add revenue event
[code]

[2019-10-26 00:00] lawmicha opened #55 "TrackEvents and AppSessionTracker"
- a few missed unit tests on the extensions of AWSPinpointEndpointProfile, AWSPinpointEndpointProfileLocation, AWSPinpointEvent (may iterate on this PR for this)
- Better error mapping for pinpoint service errors
- Better validation on global properties like total number of properties
- Investigate setting location in IdentifyUser call
- integration tests
- [P0] FlushEventsTracker
- [P0] AppSessio

[2019-11-05 21:47] lawmicha opened #64 "API GraphQLOperation unit tests"

[2019-11-06 23:15] lawmicha opened #66 "Predictions Convert TranslateText / IdentifyLabel Tests"
Functional testing on these operations or integration tests on the Amplify.Predictions methods

[2019-11-08 19:13] lawmicha opened #73 "API Plugin Interceptors Clean up"
is this blocking? If interceptors execute asynchronous operations I believe they should be asynchronous by nature. I believe we should avoid using any type of semaphores to turn asynchronous operations into synchronous ones unless strictly necessary.

So instead of:

[code]

The API could be:

[code]

Once an interceptor is done processing an `URLRequest`, it calls `next` to continue the intercept

[2019-11-08 19:19] lawmicha opened #74 "API Plugin Configuration clean up"
One of the intents of the `AWSAuthorizationConfiguration` is to obviate the need for config objects to directly know about auth service. Let's talk about this to see if we can remove the dependency. Perhaps we can create a configuration factory with the auth service, that can then be used to instantiate configurations when needed.

_Originally posted by @palpatim in https://github.com/_render_node

[2019-11-08 19:22] lawmicha opened #75 "API Plugin Remove constants file"
can you expand on this a bit? I am creating a structure for getting different url request constants like
[code]

maybe this just needs a renaming? or should i change the structure here as well?

_Originally posted by @lawmicha in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MzEyNTc2OTcx/pull_request_reviews/more_threads_

[2019-11-08 19:24] lawmicha opened #76 "API Plugin Interceptors Clean up 2"
maybe this is a subject for a deeper discussion, but should we depend on these legacy utilities? The more we depend on stuff like `NSDate().aws_stringValue` the harder will be to remove these dependencies to make Amplify leaner and less dependent on `AWSCore`.

Maybe this could be a better fit? https://developer.apple.com/documentation/foundation/iso8601dateformatter

_Originally posted by @droche

[2019-11-08 19:25] #76 closed, assigned to nobody

[2019-11-08 19:33] lawmicha opened #77 "API Plugin REST API implementations"
implement the rest of the REST APIs, and clean up the code for `get` and `post`

[2019-11-11 21:03] lawmicha opened #81 "API Plugin SubscriptionOperation Implementation of subscription management"
ConnectionProvider provides events for connections and subscriptions. in this case, only a SubscriptionConnection cares about the ConnectionProvider events, while holding onto all of the subscribers for the connection.

for example, when connection provider sends a `connected` event, connection will listen to this and react to this by checking if there are any subscribers in memory which need to s

[2019-11-12 01:51] royjit opened #84 "Common - Change to weak var for service"
Check if all plugins use weak reference to services that they use - https://github.com/aws-amplify/amplify-ios/pull/80/files?file-filters%5B%5D=.swift#r344970193

[2019-11-12 01:54] royjit opened #85 "Common - Move get region logic to a common place"
Functions like get region from configuration is used by different plugins and can be moved to a common place - https://github.com/aws-amplify/amplify-ios/pull/80/files?file-filters%5B%5D=.swift#r344967847

[2019-11-12 20:51] lawmicha opened #88 "Storage API Signature changes"
update putData to uploadData
update getData to downloadData

[2019-11-13 00:19] palpatim opened #90 "Support Swift Package Manager"
We need to support Swift Package Manager as a distribution mechanism for Amplify and bundled plugins.

[2019-11-14 19:23] lawmicha opened #96 "Configuration files and plugin keys should contain camel casing"

[2019-11-15 00:33] lawmicha opened #98 "Hub related documentation"
we may have to link "via the Hub" to the `Hub` category or even to a guide. Not something that needs to be addressed right now but maybe we could create a task to track it? We will need to do it not only here, but it just occurred to me, that we should assume that some devs might now know what "via the Hub" means, or how to do it, when they are reading the docs of other categories.

_Originally po

[2019-11-15 00:37] lawmicha opened #99 "API Category -Support two different default endpoints configured"
the caveat here is that we are looking for a single endpoint config when `apiName` is not passed in and throws configuration error if more than one (since it does not know which to pick). developer needs to call the right APIs (get/post/post/delete or mutate/query/subscribe) for the right endpoint (api gateway endpoints  or appsync graphql endpoints).

The final solution should include a proposal

[2019-11-15 23:28] drochetti opened #104 "Document the GraphQL Document behavior"
Probably worth pointing out the behaviors it assumes on the part of the CLI/service

_Originally posted by @palpatim in https://github.com/aws-amplify/amplify-ios/pull/103_

[2019-11-17 21:36] palpatim opened #106 "Encapsulate model registry"
Current implementation of the model registry is a top level var accessible via top-level un-namespaced methods. Need to encapsulate this in a type, probably `DataStore`.

[2019-11-19 00:33] palpatim opened #111 "Support enums in code generated models"
Given the following type:

[code]

Registering the type as a model fails:

[code]

It looks like it's not going to be as simple as just detecting the `type` in `ModelField.typeDefinition`, since the incoming `type` on the field is `MutationType`, and I don't see any path to find that it's actually an `enum`.

[2019-11-19 22:48] drochetti opened #122 "Verify SQLite limit to bind variables"
Heaven forbid we ever hit it, but do I remember that SQLite has a limit on the number of bind variables on the order of 1,000? Might be worth verifying that and including it the documentation

_Originally posted by @palpatim in https://github.com/aws-amplify/amplify-ios/pull/116_

[2019-11-20 18:01] palpatim opened #127 "Remove unknown and notInProcess async event cases"
Talk to android team, agree if removing unknown and notInProces AsyncEvent cases--these aren't useful, and add to clutter at call sites

[2019-11-22 18:10] palpatim opened #139 "Audit thread/queue usage"
We do a lot of work on DispatchQueues (good), but don't assign target queues to them (bad), which could result in an explosion of threads for some cases (e.g., Hub, which uses a SynchronizedDictionary for each channel, each with its own concurrency queue).

We need to audit our use of DispatchQueues and make sure we're only using concurrent queues where needed, and set targets on serial queues whe

[2019-11-22 20:32] palpatim opened #143 "Make AnyModel.schema fail with fatalError"
Per discussion https://github.com/aws-amplify/amplify-ios/pull/134#discussion_r349721831

We should investigate whether we can make the static `AnyModel.schema` property getter fail with a `fatalError("AnyModel.schema is not supported. Use the instance property, which reflects the schema of the underlying instance.")`

[2019-11-22 23:35] lawmicha opened #148 "API Category - Separate protocol for Model based GraphQL"
I was thinking of adding each Protocol conformance in its own file, so `Model`-based and `GraphQLRequest`-based APIs are defined and implemented in isolation. Thoughts?

_Originally posted by @drochetti in https://github.com/aws-amplify/amplify-ios/pull/133_

[2019-11-23 23:42] #77 closed, assigned to nobody

[2019-11-25 10:10] drochetti opened #157 "Improve SQL Result Set to Model conversion"
this gave a huge performance boost to SQL result set -> model conversion. I believe this is still need more testing and most likely there are more performance improvements to be made, but I would say that so far so good. I query of 1300 rows, including a joint table with 50 rows took less than 80ms to de-serialize.

That said, I'm not 100% happy with this logic, readability and caching strategy

_

[2019-11-25 18:13] lawmicha opened #159 "Finalize Datastore/API Model gen for Double/Float/Decimal fields."
does this work when creating the API. I believe I remember @palpatim calling out that this should be a `Float` on AppSync. Related to this, should we represent GraphQL's Float with `Decimal` on Swift, given your callout regarding double precision when serializing?

_Originally posted by @drochetti in https://github.com/aws-amplify/amplify-ios/pull/133_

[2019-11-26 00:08] palpatim opened #161 "Make Logging and Hub categories available at initialization"
Right now, it is impossible for callers to use the Logging or Hub categories until we've called `Amplify.configure`. This needs to be changed so that default plugins can use the logger and hub during initialization and configuration flows.

We've made partial progress toward that--the Hub and Logging categories are the first to be `configure`d, but that isn't sufficient for (for example) setting u

[2019-11-26 17:54] lawmicha opened #165 "Rename AWSAPICategoryPlugin to AWSAPIPlugin"
Do also we think it's worth renaming the class, Pod, module, etc? (For a future PR, not in this PR)

_Originally posted by @palpatim in https://github.com/aws-amplify/amplify-ios/pull/162_

[2019-11-27 00:42] drochetti opened #168 "Define the depth of eager loaded associations"
That's a good question and the part I struggled with. Right now the depth is not specified. This logic will even break in case or circular references.

How to decode missing properties to a Struct that require them? I'm having a hard time keeping the data model types consistent but optimize for performance and different use cases of associations (lazy vs eager, required vs optional)

_Originally p

[2019-11-27 00:57] palpatim opened #169 "Separate debug description from string value for code generated strings"
Currently, GraphQLDocuments and SQLStatements generate their code with nicely formatted, indented, human-readable code. That makes debugging easier, but is potentially costly, and definitely unnecessary, for machine-to-machine communication. We should separate the generated code into human-readable and machine-consumable components, perhaps by using `debugDescription` to provide custom representat

[2019-11-27 04:14] #96 closed, assigned to lawmicha

[2019-11-27 04:15] #99 closed, assigned to nobody

[2019-11-27 04:16] #159 closed, assigned to nobody

[2019-11-27 16:02] palpatim opened #174 "JSON deserialization fails for timestamps without fractional seconds"
To reproduce:

- Use a schema with an AWSDateTime field
- Create a record with a valid ISO8601 date, but without a fractional second, as in: `2019-11-27T03:10:52Z`
- Attempt to deserialize the record, as by doing a "get" query operation

Expected results:
- The record deserializes properly into an object

Actual results:
- Transformation error:
[code]

[2019-11-27 17:00] drochetti opened #176 "Handle plural in list and sync GraphQL queries"
Unfortunately there's no consistent behavior in the current GraphQL transformer for plural handling. The `list` queries just append an "s" whereas the `sync` queries use the actual plural form: `listPersons` vs `syncPeople`. This will be changed in the future and we will need to handle the fallback logic accordingly.

_Originally posted by @drochetti in https://github.com/aws-amplify/amplify-ios/p

[2019-11-27 17:25] palpatim opened #177 "Use existence of API config to trigger sync start"
Currently we're using the existence of syncable models to start syncing; instead use the Android method of detecting whether an API is configured

[2019-11-28 20:56] #88 closed, assigned to lawmicha

[2019-11-28 22:58] lawmicha opened #181 "Analytics Automatically get location"

[2019-11-29 00:21] lawmicha opened #183 "Analytics - Investigate Flush Timer usability"
We're currently using https://developer.apple.com/documentation/dispatch/dispatchsourcetimer

- Make sure it is actually added to background queue.
- Test the usability of the timer from a real app, possibly add this as part of the HostApp code.
- Test deallocation crash
-- more details here: https://medium.com/over-engineering/a-background-repeating-timer-in-swift-412cecfd2ef9
-- "If the timer is

[2019-11-29 20:05] lawmicha opened #188 "Model CodeGen run through (check imports/add static method for API plugin)"
Won't codegen also need to import AmplifyPlugins to get to `AWSDataStoreCategoryPlugin` ?

_Originally posted by @palpatim in https://github.com/aws-amplify/amplify-ios/pull/186#issuecomment-559857275_

Also, static helper for APIPlugin with model registry should be added as well

[2019-12-01 05:02] lawmicha opened #197 "Rename AWSDataStoreCategoryPlugin to AWSDataStorePlugin"

[2019-12-01 07:07] lawmicha opened #198 "Reset ModelRegistry"
Also, should we make ModelRegistry.reset() invoked from Amplify.reset() path?

_Originally posted by @palpatim in https://github.com/aws-amplify/amplify-ios/diffs_

I think each plugin (datastore or API) that takes in the `DataStoreModelRegistration` object  should then also call reset(). So we could update the `DataStoreModelRegistration` protocol to contain reset method, which can be called on t

[2019-12-02 15:18] #174 closed, assigned to palpatim

[2019-12-02 20:21] #198 closed, assigned to nobody

[2019-12-03 07:21] palpatim opened #209 "Audit log messages"
We have numerous log messages scattered throughout the code. We need to audit them to make sure they're not exposing any sensitive information; or verify that the information is only logged at `.verbose` level  and that `.verbose` logging is disabled in Release configuration.

[2019-12-03 23:07] lawmicha commented on #188
verified

[2019-12-03 23:07] #188 closed

[2019-12-04 22:58] lawmicha commented on #34
this has been resolved to `guest`

[2019-12-04 22:58] #34 closed

[2019-12-04 22:58] #21 closed

[2019-12-06 23:43] lawmicha opened #239 "Model based APIs for API Category check against existence of DataStore"
since removing the syncable flag in the models (they weren't being model generated at the moment anyways). and the change to datastore to always treat non-system models as syncable, then API category's Model based APIs are broken. API needs a way to check if DataStore exists, and if it does not, treat the models non-syncable. If datastore exists, developer should use datastore

[2019-12-09 04:17] rodrigoelp commented on #90
Given Apple is moving towards a swift world and swift package manager is the way to go, I think this support is more than necessary.

[2019-12-09 06:26] nikhil-dabhade commented on #90
@palpatim @rodrigoelp I agree with the input here. Have added this to the product roadmap. Will update this thread when we have it prioritized.

[2019-12-09 16:58] lawmicha commented on #239
https://github.com/aws-amplify/amplify-ios/pull/238/files#r355501833

[2019-12-09 17:30] sebsto opened #240 "codegen fails to generate code for non @model dependencies"
When using a model as :

[code]

Codegen fails with

[code]

As a workaround, I added @model on Coordinate and a @connection annotation on Landmark.  This is NOT want I want to model.  I do not want Coordinate to be stored in a DynamoDB table, this is just a type definition.  In previous version Coordinate was a JSON object stored as a property into the Landmark table.  I want to keep this behavio

[2019-12-09 17:52] sebsto opened #241 "doc : datastore init sample code fails"
Following the doc at https://aws-amplify.github.io/docs/ios/datastore#setup does not work

[code]

[code]

Doc is incorrect and ... why DataStore can not initialise its dependencies automatically ?

Workaround :

[code]

[2019-12-09 17:54] sebsto opened #242 "compile : datastore init sample code fails"
[code]

This fails to compile because `AmplifyModels()` and other generated code is not added to the project.  The generated classes are visible in the `amplify/generated` directory but they are not added to the project.

Manually adding these files to the project allows to compile.

`amplify codegen models` should add the files to the XCode project

[2019-12-09 18:13] palpatim commented on #241
@sebsto Thanks for calling that out. #177 should fix this, and it's one of the next things we'll be working on for DataStore.

[2019-12-09 18:14] palpatim commented on #239
Related to #177

[2019-12-09 19:03] sebsto opened #244 "Cocoapods plugin does not create DataStore category"
When using this schema

[code]

and this data in the DDB table (created by an AppSync mutation)

[code]

and this swift code

[code]

DatStore returns an empty array

[code]

I also found weird that only the model table is created in DDB, not the DatStore versioning table.

[2019-12-10 02:51] rodrigoelp commented on #242
The step d indicates in the [documentation](https://aws-amplify.github.io/docs/ios/start):

`amplify-tools` won't include these automatically to the target you are working on.

[2019-12-10 02:59] rodrigoelp opened #245 "Build failure upon first build. Having to remove derive data after the first configuration."
Hello, following the documentation specified [here](https://aws-amplify.github.io/docs/ios/start) I get a random compilation error once I have included my pod dependencies, closed and restarted xcode.

# Steps to reproduce

1. Create a new project (iOS13.2, SwiftUI). Check the device you have selected. By default it should pick your connected device or a simulator (such as iPhone 11).
2. Create a

[2019-12-10 03:07] rodrigoelp commented on #245
By the way, to recover the device you need to delete your derived data folder. This is incredibly annoying.

[2019-12-10 04:49] sebsto commented on #242
OK, I was a bit too fast reading the doc and I missed this step :-)

[2019-12-10 04:49] #242 closed

[2019-12-10 04:56] sebsto commented on #244
Looks like the DataStore category is not created correctly

My Pod file is like this
[code]

But when building the project, the DataStore category is not created in amplify

[code]

[2019-12-10 07:37] rodrigoelp opened #246 "Codegen failure: Enum types generates an invalid type definition as enums do not implement Codable"
Let's take the following example:

[code]

I would expect this generation to be pretty straight forward, but building this code will generate an error indicating `Person` is not decodable. Checking the generated definition I can see a `Person.swift`, `Person+Extensions.swift` and a `Gender.swift` file without any extension.

Fixing this issue is simple, basically just add the extension file manual

[2019-12-10 07:52] rodrigoelp opened #247 "Amplify Tools: Project files misconfigured with absolute paths (amplifyxc.config, amplifyconfiguration.json and amplify)"
This should be consider a failure/error of `amplify-tools` (or some other script)? as the generation of the configuration for the `project.pbxproj` will include `amplifyxc.config`, `amplifyconfiguration.json` and `amplify` using absolute paths as opposed to relative paths. This means the project has to be manually fixed if the project is shared via source control with several team members or confi

[2019-12-10 17:08] Ricardo1980 opened #274 "Convert snake case (SQL) to camel case (GraphQL)"
**Which AWS Services is the feature request for?**
Amplify code generator

**Describe the solution you'd like**
Usually, SQL databases use snake case, while usually GraphQL schemas use camel case.
If the database uses snake case, Amplify generates the entire GraphQL with snake case, which is not very nice.
A solution would be to generate the proper code in the templates (requests and responses). I

[2019-12-11 07:07] rodrigoelp commented on #111
Hello, trying to understand this issue (as I think I have just hit it and I created a ticket that might be duplicate of this one with a different symptom)

Assuming my schema is:

[code]
The generated enum is not supported at the time of applying a mutation, right?

I created a ticket indicating the enum doesn't conform with the `Codable` protocol but reading this ticket (and based on my current c

[2019-12-11 16:03] palpatim commented on #111
There are actually 2 separate issues that you've correctly identified:

1. Codegen isn't conforming enums to `Codable`
1. DataStore expects the associated type to be a `@model`, which doesn't really make sense for enum values. We may in the end elect to treat them as models, but it doesn't seem right for a customer to have to tag an enum value with `@model`. We're working on this and will update w

[2019-12-12 06:06] rodrigoelp commented on #111
Fair enough.

Looking forward to the decision.

[2019-12-12 06:22] rodrigoelp opened #254 "Are many-to-many connections supported?"
I have been unable to create a many-to-many relationship with the current api.

I started with the following model:

[code]

The model generation will create an instance:

[code]
Which seems perfectly fine until you call the mutation and get the following error:

[code]

Trying out the endpoint directly in console/AppSync/Query I can see the mutation requires me to provide more than just the ids,

[2019-12-12 06:47] rodrigoelp commented on #244
I can confirm this is not working as intended (even in a plain model).

My sample project has been configured with the api and datastore plugin, querying the api returns some data I have provided prior the test, querying via the datastore I get nothing.

[code]

[2019-12-12 09:18] sebsto opened #255 "ios DataStore doc - missing steps"
The doc at https://aws-amplify.github.io/docs/ios/datastore#using-cocoapods
is missing a couple of steps.

1.
After adding Pods and opening the project, we need to build the project to have the amplify configuration file and amplify directory created. (build is mentioned but this should be more prominent)

2.
Also, the location of the schema is incorrect.
The doc says
`amplify/backend/api/schema.g

[2019-12-12 13:08] sebsto commented on #244
@rodrigoelp : looks like it works when strictly following steps in the doc https://aws-amplify.github.io/docs/ios/datastore#using-cocoapods :

1/ Podfile + pod install
2/ XCode build
3/ Add model
4/ Change `amplifyxc.config` => `modelgen = true` (see https://github.com/aws-amplify/amplify-ios/issues/255)
5/ XCode build again
6/ add code for init and CRUD operation
7/ optional push to the cloud (ei

[2019-12-12 19:39] nikhname commented on #255
@sebsto with #4 which generated model file are you referring to? The models should be in amplify/generated/models. Is the amplify folder not added to your project?

[2019-12-12 19:59] nikhname commented on #247
Hi @rodrigoelp, could you provide the build errors when xcode is reporting the files as missing?

[2019-12-12 23:06] MyJBMe opened #257 "Modelgen generates non-codeable model"
Based on this GraphQL-schema

[code]

modelgen generates following model which does not conform to both encodable und decodable protocols, as the protocol can not handle `List<String>?`.

[code]

I fixed this for this model by changing the inspectors type to `[String]?`.

[2019-12-12 23:33] rodrigoelp commented on #247
Sure thing, I will do something better... here is the build log we get on a different computer to mine. But, the gist of the matter is:

[code]

[Uploading Build awsTest3_2019-12-13T10-22-32.txt.zip…]()

[2019-12-12 23:40] rodrigoelp commented on #257
Hi @MyJBMe, when modelgen runs it tends to generate a `Todo.swift` file and a `Todo+Schema.swift` file which contains the extra definition you are looking for. The schema file has an extension applied to the model which implements all the coding keys and what not you need it to work. Make sure you are including those files as well.

As to the `List` model, that is a type introduced by the amplify

[2019-12-12 23:41] nikhname commented on #247
@rodrigoelp great thanks. As you mentioned, previously the absolute paths of the helper files were added to project.pbxproj. The above fix should solve this problem.

[2019-12-12 23:47] MyJBMe commented on #257
Hi @rodrigoelp, well I understand what it is for, but the problem is, that the generation of this model produces errors. Xcode does not compile a List<String> since this is not conform to the decodable and encodable protocols. It starts working with [String] instead of List<String>, so it would make sense to update the modelgen to generate these as a standard array, wouldn't it?

[2019-12-12 23:47] rodrigoelp commented on #247
Yup, I looked at your comment and it looks good. Hopefully that will be merged in and release soon 👍

[2019-12-13 00:03] rodrigoelp commented on #257
AH! I can see the problem the code is generating here (I think I misunderstood what you were trying to say).

The intrinsic problem here is the fact that `List<M>` is expecting `M` to be a model, `String` (or any primitive type as the matter of fact) won't follow/implement the restrictions applied to model. That's the reason why changing it to an array fixes the issue.

[2019-12-13 00:14] MyJBMe commented on #257
You are right, that one is on me!

So the solution here would be to either generate arrays for primitive types and lists for models or to use `[M]` in general?

[2019-12-13 00:57] rodrigoelp commented on #257
The particular case you have is tricky (based on what amplify supports right now)...

If I had to solve this problem, I would pull the `inspectors` field as a model and link it as a parent-child relationship. The problem is, you want to use is as part of `@auth` and I am too new to this framework to understand the proper way to solve it.
Your fix seems decent enough (at least to me) so I would pro

[2019-12-13 06:17] sebsto commented on #244
@rodrigoelp I received confirmation from product team that DataStore sync with the API is not fully functional in iOS yet.

[2019-12-13 06:34] sebsto commented on #255
@nikname yes the amplify folder is added to the project, but the `*.swift` file generated are not added to the list of files to compile.

In the initialization code provided by the documentation :

[code]

`AmplifyModels()` is unknown and causes a compilation error until I manually add the generated code to the project.

[2019-12-13 12:53] rodrigoelp opened #258 "Question: How to store entire object graph?"
Checking the documentation I cannot find a direct answer to: if I create a model with its children, how do I store it using amplify?

# Stating the problem

Assuming the same example as defined in the [api section](https://aws-amplify.github.io/docs/ios/api) in the documentation (also assume I've correctly configured my api endpoint and plugin)

[code]

If I wanted to commit a mutation containing

[2019-12-13 12:56] rodrigoelp commented on #29
If this ticket has been merged... does it mean it should be closed?

[2019-12-15 04:56] nvbkdw opened #259 "Failure message is misleading when using graphQL to create item with exiting id"
**A DynamoDB condition check error is surfaced as "Failed to decode GraphQL response to the `ResponseType`" on client side. The error message is misleading.**

**Error message from client side:**

[code]

**Server side graphQL log:**

[code]

---
edit: just made code/log easier to read

[2019-12-15 07:06] nvbkdw opened #260 "How to evict cache when calling Amplify.Storage.downloadFile"
when calling Amplify.Storage.downloadFile, it download old object. how to configure the cache policy for Amplify.Storage?

[2019-12-15 07:37] #260 closed

[2019-12-16 09:01] toka756 opened #270 "Attach amplify app's analytics to existing pinpoint project."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

First Created a pinpoint project in pinpoint console.
Then I want to add analytics features.
So I create an amplify app by CLI like follows:
[code]
The amplify app's analytics will create and link to a new pinpoint project.
Is there a way that could link amplify app's analytics to existing pinpoint

[2019-12-16 16:19] lawmicha opened #261 "Uncheck "Dismiss stale pull request approvals when new commits are pushed""
odd, i pushed a new commit and it automatically "dismissed stale reviews" and now the approvals are gone.

might be worth to to go to Settings ▶ Branches ▶ Branch protection rules ▶ Edit ▶ Uncheck "Dismiss stale pull request approvals when new commits are pushed".

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/pull/250#issuecomment-566131416_

[2019-12-16 17:19] #261 closed

[2019-12-16 18:02] Soek22 opened #262 "Datastore + API"
Hello, reading this https://github.com/aws-amplify/amplify-ios/issues/239#issue-534310745 and this https://github.com/aws-amplify/amplify-ios/pull/249#discussion_r356254432 I get some doubts. Does this means that by using datastore we are forced to stop using API category?

I have read the docs plus seen published videos about the new Datastore feature and I haven't noticed any comment about being

[2019-12-16 21:57] lawmicha opened #263 "APIPlugin Blog/Post/Comment Tests"
One was hand crafted without using model gen to make it work with the document based GraphQL requests when building the API plugin and testing the default Blog/Post/Comment schema provided by amplify CLI, and the other is the model generated Post/Comment from the DataStore post/comment schema that was hand crafted.

i think the work i want to capture is to
1. use the default blog/post/comment sche

[2019-12-17 00:00] rodrigoelp opened #265 "List<ModelType>.load() doesn't fetch/load any results from the backend."
Trying to fetch child data of a parent record via `List<M>` doesn't seem to work at all (or `Amplify.DataStore` is not really synchronising data down)

# Set Up

Given the following schema:

[code]

As expected, this will generate two models out of which `Blog` will contain a definition `posts: List<Post>` (for this particular scenario).

If I call my `Blog` instance and attempt to load data for m

[2019-12-17 23:41] rodrigoelp commented on #254
Providing a bit more information on this ticket, I checked the [documentation](https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection) trying to understand why this is an issue.

In this particular scenario I have modelled the `many to many` relationship as two `one to many` relationships as specified by `Nationality`, yet the attempt to insert data in that connection seems completely

[2019-12-19 02:32] #247 closed

[2019-12-19 11:01] Soek22 commented on #240
Hello @sebsto ,

1. This has been marked as `BUG` regarding `API` here: https://github.com/aws-amplify/amplify-cli/issues/3026 .

2. Regarding `Datastore` it has been marked as pending `enhancement` here: https://github.com/aws-amplify/amplify-cli/issues/2988 .

Once the second one is implemented, the first one will get resolved.

[2019-12-19 21:58] palpatim opened #271 "Pass new user agent prefix for Amplify calls"
Currently the API category uses a user agent specified in a constants file (see #75). We need to update this:

- Use exact same user agent pattern as we do in the iOS SDK (https://github.com/aws-amplify/aws-sdk-ios/blob/afcce622023a8885ebfc676f6c83e6db8e7d7915/AWSCore/Service/AWSService.m#L158), except change the prefix to "amplify-iOS" instead of "aws-sdk-iOS": `amplify-iOS/<version> <systemName/

[2019-12-20 17:22] lawmicha commented on #271
@royjit 's previous work https://github.com/aws-amplify/amplify-ios/pull/166

[2019-12-20 17:55] wooj2 commented on #271
I did a deep dive last week of the user-agents we have been sending out.

# Currently in Production:
## AWS SDK iOS
Constructed as part of AWSCore, the user agent looks like the following:
[code]
(Note that there can be some variations if you look at line 179 of AWSService.m)

## Amplify Storage/Predictions & other categories using the AWS SDK iOS (BUT NOT Amplify API/DataStore)
Since Jithin’s PR

[2019-12-20 18:59] nikhname commented on #255
Hi @sebsto, in the section of the docs tied to modelgen with amplify-tools (https://aws-amplify.github.io/docs/ios/start#step-2-generate-your-model-files) step d explains that models should be added to the target manually. We do not automatically copy the models over in case a developer already has a model directory.

[2019-12-20 19:01] sebsto commented on #255
Great it is more clear now.  The updated doc has all the steps I enumerated before.  I am closing this issue.
https://aws-amplify.github.io/docs/ios/start#step-2-generate-your-model-files

[2019-12-20 19:01] #255 closed

[2019-12-21 01:12] wooj2 commented on #271
Sync'ed with Mohit from the product side, we have decided that
1.  We will not be doing a "short term fix"
2.  the desired user agent on iOS will be in the following format:
[code]

[2019-12-21 02:11] wooj2 commented on #271
WIP PR here: https://github.com/aws-amplify/amplify-ios/pull/273

[2019-12-23 22:54] palpatim opened #276 "Centralize versions"
Currently we have versions for Amplify core and AWS plugins strewn somewhat haphazardly throughout code, in configuration, code, and dependency management. We need to centralize this into a single source of truth that other modules can either tap into as needed, or use to generate code (with appropriate "DO NOT MODIFY" comments) that acts as that module's single source of version truth.

Off the t

[2019-12-24 01:05] wooj2 commented on #271
![VerifyViagraphqlRequest](https://user-images.githubusercontent.com/1911939/71386988-5b03dc80-25a6-11ea-9bee-dff98482ccc8.png)

[2019-12-24 02:15] wooj2 commented on #271
Verification of building storage api into a sample app and making a storage call
![verifyStorage](https://user-images.githubusercontent.com/1911939/71389131-fc436080-25af-11ea-92bb-35fd4ad899ee.png)

One thing i did notice however is that when we authenticate via codigo, we are continuning to use the aws-sdk-ios user agent from that call, but i suppose that is expected.

[2019-12-24 02:24] wooj2 commented on #271
Three more items we should verify w/ charles proxy prior to closing this issue:
* API-REST calls
* Predictions
* Pinpoint

[2019-12-24 03:06] rodrigoelp opened #277 "@connection seems to be partially supported... doesn't work with belongsTo"
This ticket is an escalation of #258 and  #254 (and I have closed #258 as I can see various problems with the way `@connection` behaves).

The content of this ticket might be addressed with documentation although I believe it is missing functionality from the amplify framework (or possibly aws-sdk-ios).

If you want to skip all the blab at the beginning, just to TL;DR;

## Description

The documen

[2019-12-24 03:08] rodrigoelp commented on #258
I have escalated this issue in #277 where I go in greater detail than this vague question.

[2019-12-24 03:08] #258 closed

[2019-12-24 05:20] rodrigoelp opened #278 "AWSDate cannot be used."
The following model fails when an instance is created.

[code]

The generated code creates:

[code]
The definition is fine, the serialisation is wrong as pushing this mutation up returns:
[code]

I think it is either not using an encoder for AWSDate or it is not using the right encoder.

The [documentation](https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html) indicates the format shou

[2019-12-24 18:34] wooj2 commented on #271
Verification of predictions calls:
![verifyComprehend](https://user-images.githubusercontent.com/1911939/71422679-dada8700-2638-11ea-9c89-c86cc4cf65c1.png)
![verifyTextTranslate](https://user-images.githubusercontent.com/1911939/71422680-dada8700-2638-11ea-9148-69ee5d5d11c8.png)
![VerifyRecognition](https://user-images.githubusercontent.com/1911939/71422681-dada8700-2638-11ea-8178-359d12b58c6d.png

[2019-12-24 19:23] wooj2 commented on #271
Verified with api w/ apikey... didn't verify other mechanisms, but based on how the code is structured w/ interceptors, we should be good to go on the API category.
![Verify_API_REST_APIKEY](https://user-images.githubusercontent.com/1911939/71423659-bc2bbe80-263f-11ea-86db-93abeaca0eb6.png)

[2019-12-24 19:56] wooj2 commented on #271
Verified pinpoint:
![verifypinpoint](https://user-images.githubusercontent.com/1911939/71424193-51c94d00-2644-11ea-934e-81bc5006fa12.png)

manually verified each of the categories, lgtm!

[2019-12-24 19:56] #271 closed

[2019-12-30 21:19] lawmicha opened #280 "Install Amplify via Carthage"
- Install Amplify frameworks via carthage (https://github.com/Carthage/Carthage)
- Update README with instructions

[2019-12-30 22:06] drochetti commented on #278
Thanks for reporting this bug, I'll review our JSON decoding logic for date types.

[2019-12-30 22:13] drochetti commented on #262
Technically no. API and DataStore can be used independently. DataStore depends on the API category behind the scenes but it doesn't mean you cannot use API directly alongside with DataStore.

That said, we do have some limitations and bugs in the current preview version we. So if you stumble upon a specific behavior you were not expecting, let us know by filing an issue describing your scenario wi

[2019-12-30 22:37] drochetti commented on #257
Thanks for the report and for the thoughtful discussion about the issue.

Yeah, I believe this is the right approach and we will implement it. Just for context: behind the scenes DataStore uses a SQL database, so we have to do some custom (de)serialization for more complex types and `[String]` is one of the cases.

[2019-12-30 23:33] Soek22 commented on #262
Thank you @drochetti . I will open a new issue in such case.

[2019-12-30 23:33] #262 closed

[2020-01-02 15:06] Soek22 opened #284 "Amplify.API.mutate(of:, type: .delete) / Amplify.DataStore.delete"
`API`, `Datastore`, `Bug` / `Enhancement`

I'm having trouble using API/Datastore '.delete' with the new (preview) Amplify plugins.

My problem is that GraphQL endpoint only receives ID as $input when deleting an item through the new plugins.

I am using some custom resolvers at AppSync level, and I need more attributes to be sent with the GraphQL deletion request as input. _I **guess** this may a

[2020-01-02 15:22] Soek22 commented on #284
Hello @drochetti !

I have stumble upon a specific API/Datastore behavior I was not expecting. Could you have a look at it?

Thank you very much in advance.

[2020-01-02 16:50] Soek22 commented on #284
I have opened a Feature Request to go further on this, so input per operation can be customized as with previous API category (sdk) was doable.
https://github.com/aws-amplify/amplify-cli/issues/3109

[2020-01-02 18:17] drochetti commented on #254
Right now the only way to achieve many-to-many is like you did, define a model so you connect two other models via one-to-many. Automatic (or implicit) many-to-many mapping is something that we intend to support in the future but no concrete plans as of now.

Regarding the error you're seeing, can you share the code you're using to execute the mutation?

[2020-01-02 18:33] lawmicha commented on #270
thanks for reporting this issue @toka756 . events are flushed on an interval at every 60 seconds and is configurable by setting `autoFlushEventsInterval` in the `amplifyconfiguration.json` file like this: https://aws-amplify.github.io/docs/ios/analytics#flush-events

can you confirm that you are still not seeing any events after waiting for a minute for the events to be submitted to pinpoint? You

[2020-01-05 18:42] onlybakam opened #285 "Storage plugin saves error message at intended file location when key does not exist"
try to download an object that does not exist. Storage saves the error message at the provide local file location.

[code]

`fileKey` does not exist. error message is saved at `localURL`

content of file

[code]

[2020-01-06 00:20] rodrigoelp commented on #254
If you are talking about the swift code to execute the mutation, here it is:

[code]

Both the instance of persona and country where created just before inserting the nationality, chained as part of the callback for each of its mutate methods.

As I mentioned before, this definition is using the `belongsTo` documentation. I explained in #277 that this functionality seems to be broken as I have not

[2020-01-06 00:22] rodrigoelp commented on #280
I think you also need to include Swift package manager here... which was referenced here: #90

[2020-01-06 10:27] toka756 commented on #270
@lawmicha Thanks for your reply. Although I set the autoFlushEventsInterval to 20s, I do flush event every time for testing.  None event appears in my console after about 10mins.

[code]

Then I turn the logging on and find **PutEvents Error** ocurrs when posting event request to my existing pin point project.  I also attach the entire log file when I call record function.

[put_event_error.txt](h

[2020-01-07 19:26] palpatim opened #286 "Verify JSON parsing for AWSTimestamp with TZ offset in seconds"
Cloned from https://github.com/aws-amplify/amplify-android/issues/221:

The issue below is obviously Android specific, but we need to validate that our code supports this case, since AppSync handles this ISO8601 extension.

Options per @raphkim:

1. truncate the extended precision before parsing
2. find non-iso8601 restricted date-time package
3. write parsing logic from scratch

Be sure to coordi

[2020-01-09 16:45] lazy-var opened #288 "Feature request: clear/flush DataStore"
**Describe the question**
Prevoiusly, when using AppSync client with API category (sdk) we had the option to flush caches with: `.clearCaches(options: clearCacheOptions)`.

Is there something similar to force clear/flush DataStore on client? i.e. I need it when user signs out, etc..

[2020-01-09 21:26] palpatim commented on #286
More general statement: All platforms will support AWS AppSync scalar types as specified in https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html

For each of the scalar types, we will have a set of shared test case definitions such that a given input string defined as a specific AppSync scalar type will serialize to a platform-specific representation that can be verified. E.g.:

[2020-01-13 23:31] palpatim commented on #240
Related to the various "enum" issues as well.

[2020-01-13 23:36] palpatim commented on #127
I'm calling this a bug--if Android currently isn't doing it then we're breaking platform parity.

[2020-01-15 23:23] lawmicha opened #291 "Model-based Query API only returns 1000 items"
Currently the query API hardcodes the limit to 1000. when there are more than 1000 items, there's no way to retrieve the pass the 1000th item. We need to define what the query API should look like or before that focus on unblocking the developer by allowing options in the API call to pass in `limit` and `nextToken` and return some sort of PaginatedResult<[M]> that the developer can get the `nextTo

[2020-01-15 23:27] lawmicha opened #292 "API Plugin Improvements"
This issue will track some of the API improvements to help better priortize which ones we should do first.

[2020-01-15 23:28] lawmicha commented on #292
https://github.com/aws-amplify/amplify-ios/pull/272#discussion_r366097940

_Model to GraphQL Document translators_
"centralize name generation of these various documents, fields, input types, etc. There's a lot of string manipulation scattered throughout the graphql support code that is hard to remember and refer to later."

[2020-01-16 18:55] lesmuc opened #293 "A model marked with @versioned cannot be deleted."
**Describe the bug**
A model marked with @versioned cannot be deleted.

**Version**
0.10.0

**To Reproduce**
[code]

Amplify.API.mutate(of: todo, type: .delete) {}

**Expected behavior**
The element should be deleted.

**Result / Error**
Got failed result with GraphQL service returned a successful response containing errors: [Amplify.GraphQLError(message: "Variable \'input\' has coerced Null value

[2020-01-17 16:14] #66 closed

[2020-01-18 12:13] hyaccoku opened #295 "How can I add objects using Amplify Plugins?"
**State your question**
I tried to add records on DynamoDB by using generated Swift codes from Amplify. But it seems complex data was ignored. How can I add complex struct values to DynamoDB using Amplify-generated codes? I appreciate if someone can help me find out solutions.

Please advise me if I'm in wrong place or I don't provide sufficient information.

**Which AWS Services are you utilizing

[2020-01-18 21:22] jamesonwilliams commented on #278
Related: https://github.com/aws-amplify/amplify-android/issues/221, https://github.com/aws-amplify/amplify-ios/issues/286

[2020-01-18 21:25] jamesonwilliams commented on #276
We should align our strategies on iOS and Android. I recently changed the behavior of the Android versioning, so that all modules "move together." That is, if we bump to 0.9.1 of a plugin artifact, we would potentially need to release 0.9.1 of all modules, even if the other ones hadn't changed. This single version is also now used in our `User-Agent` headers.

[2020-01-18 21:42] jamesonwilliams commented on #161
On Android, I did sort of a hack, to support this. The Logging category will internally call a `getLoggingPlugin()` method, whenever it delegates a behavior from its API surface:
[code]
So, if someone _does_ do:
[code]
That will work.

But, if they don't, we just use our internal default (which is defined in the Core module.)

[2020-01-18 21:47] jamesonwilliams commented on #148
I have had this thought, as well.

Right now in the Android code base, we have this data modeling stuff, in the core library. Then, in API and in DataStore, we expose APIs that use it.

So right now, data modeling is a cross-cutting concern to Amplify. But, maybe it should be more tightly contained.

In practice, our data models are tightly architecturally coupled to AppSync features. So, the Data

[2020-01-18 21:52] jamesonwilliams commented on #127
Very little of our category/plugin logic is currently integrated with the `AsyncEvent` stuff.

https://github.com/aws-amplify/amplify-android/tree/master/core/src/main/java/com/amplifyframework/core/async

I believe the original intention was to have a centralized mechanism to do async work, with standard lifecycle events being communicated via Hub -- but this is, for the most part, not implemente

[2020-01-18 21:58] jamesonwilliams commented on #36
Should we move this to `amplify-cli` project?

[2020-01-18 22:05] jamesonwilliams commented on #27
I think we should decide on a consistent list/query paradigm across all of our categories. One possibility is to always return an iterator/iterable, so that we can do pagination under the hood, on behalf of the user, if they seek `next()` beyond a page boundary:

[code]

If we _don't_ do that, then we should provide the user with a way to handle their own pagination, and perhaps just give them bac

[2020-01-18 22:09] jamesonwilliams commented on #239
Why does API need to know of the existence of DataStore? Shouldn't DataStore depend on API, but API know nothing of DataStore?

[2020-01-19 17:43] amuresia commented on #277
+1 I was about to start tracking the exact same issue. I spent two days trying to understand what I did wrong although I was following the documentation step by step. This makes sdk version 3 unusable for APIs that are trying to mimic relational models. This is also visible in the DataStore service.

[2020-01-19 22:53] rodrigoelp commented on #277
I don't know you @amuresia, but the `DataStore` is almost completely useless to us. It seems it is not even implemented... although to be honest, we decided 15 days ago to go raw GraphQL as we have hit so many limitations with amplify that we were doing more workarounds than anything else.

[2020-01-22 03:16] onlybakam opened #297 "Mutation event not published when observing for changes to datastore"
**Describe the bug**

i try to observe for changes using the DataStore.publisher. New items are created via appsync console but the events are not published.

**To Reproduce**
Steps to reproduce the behavior:
1. i'm using the snippet from the amplify ios docs
[code]
2. i create a new Post from the appsync console.
3. i'm monitoring the datastore sqlite table and can see my new post in the table.
4

[2020-01-22 03:37] onlybakam opened #298 "Create mutation fails with datastore - not adding belongsTo parent id to input"
**Describe the bug**
simple schema:

[code]
generates

[code]
create a comment with
[code]

then do

[code]

the resulting generated input variable does not contain commentEntryId; so the mutation fails

this happens because the `entry` field is actually nil in the model at this line

https://github.com/aws-amplify/amplify-ios/blob/461c3cfd8923fbbb6eb10b60495b0f4594879cf4/AmplifyPlugins/Core/AWSPl

[2020-01-22 18:28] amuresia commented on #277
@palpatim does this issue deserve the enhancement label or would it be better as a bug? The reason why I am asking is because there are several examples in the documentation, that talk about how to use amplify with complex models and none of them work.
https://aws-amplify.github.io/docs/ios/datastore#saving-relations

IMHO there is nothing new to be added, rather existing things to be fixed?

Also

[2020-01-25 00:49] siddharthsharma94 commented on #257
Im still having the issue, what exactly is the fix? Making the model into a String[]? Doesn’t seem to fix it.

[2020-01-25 14:20] rodrigoelp commented on #257
I wouldn't call it a fix, it was said it is a workaround/awful hack we are forced to do. Also, what error/issue is it reporting on your end?

I created a sample with a similar schema as defined by @MyJBMe  and the updated generated code and it works _fine_. There is no build error saying `String` doesn't conform with `Model` type and there is no runtime error deserialising the type either.

[2020-01-25 14:34] rodrigoelp commented on #298
I think all of these issues have the same root cause, they haven't implemented in full the specification for `@connection`for `belongsTo`.

Have a look at these issues I created #265, #277, #254. These are all related with different flavours of the same symptom.

[2020-01-28 16:48] prmacias opened #302 "Amazon Transcribe (Streaming Speech To Text) Status?"
**Which AWS Services is the feature request for?**
Amazon Transcribe

**Is your feature request related to a problem? Please describe.**
No. I'm looking for the feature for Amazon Transcribe to have the transcript to be streamed from swift to aws. It seems there are web socket, and streaming functionalities in this library. Is it completed?

**Describe the solution you'd like**
Hopefully there is

[2020-01-28 16:53] prmacias commented on #302
perfect! I see this url and documentation. Thanks!

`https://aws-amplify.github.io/aws-sdk-ios/docs/reference/AWSTranscribeStreaming/Classes/AWSTranscribeStreaming.html`

[2020-01-28 17:36] prmacias commented on #302
@kneekey23 the sample code will be nice to have. Thanks again!

[2020-01-28 23:17] onlybakam opened #303 "create mutation fails when owner field is not set - initiated from amplify-ios datastore"
**Describe the bug**
the issue is opened for the CLI: https://github.com/aws-amplify/amplify-cli/issues/3291

Adding it here because this problems happens with amplify-ios models and the way the input string is built.

[2020-01-29 01:27] kneekey23 commented on #302
hi @prmacias here is how you would call it in Amplify after using the cli to add the resource in aws:
[code]

[2020-01-31 12:36] aftabahmed1286 opened #349 "AWS DataStore - The app is not working as and when steps followed from the portal - https://aws-amplify.github.io/docs/ios/datastore"
**Describe the bug**
The app is crashing with a message
Fatal error: API category is not configured. Call Amplify.configure() before using any methods on the category.: file /Users/aftabahmed/Desktop/PROJECTS/Bala_Try/AWSDataStore_2/Pods/Amplify/Amplify/Categories/API/AmplifyAPICategory.swift, line 18

**To Reproduce**
Steps to reproduce the behavior:
1. run the project

**Expected behavior**
Supp

[2020-01-31 15:42] prmacias opened #304 "which policies to add - is not authorized to perform: amplify:CreateApp on resource"
**Describe the bug**
I am following the tutorial here and my goal is to get AWS Transcribe in ios app.

https://aws-amplify.github.io/docs/sdk/ios/start#step-1-configure-your-app

I'm at the Step 2 - Initialize the project

I typed amplify init and got the error -

init failed, and is not authorized to perform: amplify:CreateApp on resource.

There is no instructions mentioning how to add policies

[2020-01-31 16:02] kneekey23 commented on #304
hi @prmacias when you installed the amplify cli on your machine, did you run `amplify configure` to set up a role? what roles are listed currently in your `~/.aws/credentials` file located at the root of your user?
There should be a role in there that looks like this:
[default] #or name of profile here
aws_access__key_id=xxxxxxxxxxxxxxxxxxxxxxxxx
aws_secret_access_key=xxxxxxxxxxxxxxxxxxxxxx

 Find

[2020-01-31 17:02] prmacias commented on #304
Hello @kneekey23, thanks for the instructions, I got it working.

For the additional notes for the step 2, the amplify init will create a NEW user. I didn't do that and I created the user beforehand so it didn't have AdministratorAccess (it had Amazon Transcribe only). I went along to create a new user and it created the AdministratorAccess in the user creation in console (site) then CLI started a

[2020-01-31 17:12] kneekey23 commented on #304
Do you mean `amplify configure`? `amplify configure`is run once when you install the cli. `amplify init` is run at the root of each project you want to use amplify for. Then you would run `amplify add predictions`and then `amplify push` to provision those resources in aws.  Please feel free to close this issue if you feel your issue is resolved. Thanks!

[2020-01-31 17:13] prmacias commented on #304
@kneekey23 Yes, you are right, it's amplify configure - typo.

[2020-01-31 17:13] #304 closed

[2020-02-01 23:16] prmacias opened #305 "Predictations and Authenication"
**State your question**
Can I use Predications (Amazon Transcribe) without Authentication?

I'm new to AWS and Amplify. I'm trying to install Predications and I'm on the Predications Tutorial page -

https://aws-amplify.github.io/docs/ios/predictions

I'm at the automated configuration and it seems that it requires authentication.

`Add auth amplify add auth and choose Default configuration, allow

[2020-02-02 00:46] prmacias commented on #305
@kneekey23 I'm thinking about the options. If I wanted to try unauthenticated identities, I see the options - is Default configuration - unauthenticated identities?

[code]

[2020-02-02 01:07] #305 closed

[2020-02-03 15:25] prmacias opened #306 "IOS Deployment Target"
**Describe the bug**
I'm following the tutorial to install the Predictions. I installed the auth - default configuration then installed the predications. I scrolled down to the backend section (Connect to Your Backend) - I'm at and installed pod then got the error message - see below. My deployment target version is 11.2. I looked at the requirements but couldn't find the minimum deployment target

[2020-02-04 14:02] prmacias commented on #306
@kneekey23

I changed the deployment target to 13.1 in Pods. I'm still having some errors - I tried changing 2.10.3 and added 0.10.0 for Predictions Plug in but still having errors.

[code]

Here are the list of AWS pods -

[code]

[2020-02-04 19:48] jeffla opened #335 "Amplify iOS Roadmap/General Availability"
The docs say **Amplify iOS is in preview mode and not intended for production usage at this time.** Is there a target date for that to change to GA?

Latest versions of everything if you are interested.

[2020-02-06 17:03] AradaRF opened #310 "Generating wrong helper files for iOS platform"
**Describe the bug**
This should be consider a failure/error of amplify-tools (or some other script)? upon generation of the configuration for the project.pbxproj should include amplifyxc.config, amplifyconfiguration.json and amplify, but in my case is not including amplifyxc.config. Generates the Android helper file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new iOS project.

[2020-02-07 09:14] lazy-var commented on #306
Hi @prmacias, try with running:
`pod update`

That solves this kind of dependency errors when I get them.

[2020-02-07 14:03] prmacias commented on #306
@lazy-var

I fixed by adding the dependencies (in other page) -

https://aws-amplify.github.io/docs/ios/start

IMO, i think the guide should be rewritten to get amplify working first like print something concrete that amplify is successful then pick category whatever we want. At first, I thought the introduction was for to install GraphQL so I skipped it but I need the core files in order to get t

[2020-02-07 14:03] #306 closed

[2020-02-07 18:27] kneekey23 commented on #306
hi @prmacias I will fix the documentation because you are absolutely right. However you do not need to add the AWSAPIPlugin for predictions unless you are additionally using that category just to clean up your podfile in case you are not.

[2020-02-07 19:27] wooj2 commented on #297
Thank you for reporting this and taking a look at Amplify while we are still in preview mode.  I've submitted a PR and pushed the following PR, which should address this:
https://github.com/aws-amplify/amplify-ios/pull/308

I will be closing this issue, but feel free to re-open if you have any further issues with this.

[2020-02-07 19:27] #297 closed

[2020-02-07 19:43] lawmicha opened #311 "API Plugin.subscribe failures on websocket connect not propagating errors back"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment(please complete the foll

[2020-02-07 19:45] kneekey23 commented on #302
hi @prmacias can we close this one?

[2020-02-07 19:47] prmacias commented on #302
@kneekey23

Yes, I haven't gotten at that point but we can close it. I am still having pods issue (it seems it's not related to amplify.

Thanks

[2020-02-07 19:47] #302 closed

[2020-02-07 20:41] nikhname commented on #310
@AradaRF This should be fixed by https://github.com/aws-amplify/amplify-cli/pull/3312. Could you try """npm install -g amplify-app@latest""" and try again.

[2020-02-07 22:57] wooj2 commented on #297
By the way, if your variable `postSubscription` goes out of context, the callbacks for both `receiveCompletion:` and `receive:` will not get called.  So you may want to have some code that looks something like this:
[code]

[2020-02-08 01:50] onlybakam commented on #298
hey. need to add the field:

[code]

[2020-02-10 20:07] mahuser20 commented on #247
same problem here. Cannot find 'amplifyxc.config'.
Where can I find that file?

[2020-02-10 20:15] nikhname commented on #247
@mahuser20 are you seeing this problem: https://github.com/aws-amplify/amplify-ios/issues/310 ?
Could you try running ```npm install -g amplify-app``` and trying again

[2020-02-10 22:16] nikhname commented on #310
Also, please remove the amplify folder and amplify-gradle-config.json file before retrying

[2020-02-11 10:04] lesmuc commented on #280
Any news on that? Would be really great to have support for Carthage or Swift Package Manager.

[2020-02-11 22:06] rodrigoelp commented on #280
@lesmuc it would be amazing to have support for spm... but I highly doubt they will be prioritised any time soon.

[2020-02-12 18:34] lawmicha opened #314 "Add DataStore/API integration test for a model with all supported types"
This would be a follow up task after @drochetti's work Date/Enum/Primitive support, We should add an integration test which contains a model with all of the supported types

[2020-02-12 18:37] lawmicha commented on #314
we should also make sure mutating and querying for AppSync Floats with values that are at the upper limit is working or if there are some limitations, document what is the maximum value possible

[2020-02-14 00:36] lawmicha opened #318 "Add converter class for model into SQLite and GraphQL components"
Synced with Daniel on this, opening issue to refactor some of this conversion logic into some converter class to be used to take model field types and values into SQLite and GraphQL components

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/pull/317_

[2020-02-18 05:44] wooj2 opened #328 "Remove AWSDataStoreCategoryPlugin.Cancellable in favor of Amplify.Cancellable"
This PR:
https://github.com/aws-amplify/amplify-ios/pull/323/files

Introduces a new Cancellable Protocol.  We should dig into why we are unable to use Amplify.Cancellable in the DataStore Category.

[2020-02-19 15:15] amuresia commented on #277
Hi, could we get an update on this please?

[2020-02-19 22:14] lawmicha opened #331 "AsyncEvent returns unknown and inProcess for some operations which do not have inProcess"
All operations return AsyncEvent which contains .unknown and inprocess.

I think we can simply remove unknown case and will provide cleaner developer code without having to handle `default` case in their switch statement on the event.

For InProcess, some operations do not emit progress at all like Storage.getUrl, storage.remove, storage.list. We should have a custom Amplify Operation which emits

[2020-02-19 23:21] wooj2 commented on #328
Namespacing Cancellable is not possible due to current limitations in Swift, so accessing Amplify.Cancellable does not work.

@drochetti figured out that we could create a new file and stick the following inside:
[code]
This is certainly one way to work around the language limitation, but in that case, why not just change the original protocol's name to AmplifyCancellable?

I will work with other

[2020-02-21 21:58] #310 closed

[2020-02-24 23:21] lawmicha opened #337 "Model related GraphQL Transform with Key, Connection, and Auth Directives"
A graphQL schema is provided by the customer and `amplify codegen models` will generate the Model classes used by DataStore and API.
When provisioning the API backend, the schema with object types annotated with `model` directive will a backend with a set of APIs to apply CRUD operations. More details here: https://aws-amplify.github.io/docs/cli-toolchain/graphql#generates

This issue is to test o

[2020-02-24 23:22] lawmicha commented on #337
### Model Directive
Learn more at https://aws-amplify.github.io/docs/cli-toolchain/graphql#model

Test Model Directive with many different scalar types and

[2020-02-24 23:22] lawmicha commented on #337
### Key Directive
[code]

[2020-02-24 23:23] lawmicha commented on #337
### Connection Directive
[code]

[2020-02-24 23:23] lawmicha commented on #337
### Auth Directive
[code]

[2020-02-24 23:50] lawmicha commented on #81
this is no longer relevant as we move towards the shared common package

[2020-02-24 23:50] #81 closed

[2020-02-24 23:52] lawmicha commented on #331
closing this as dupliicate of https://github.com/aws-amplify/amplify-ios/issues/127

[2020-02-24 23:52] #331 closed

[2020-02-25 00:09] lawmicha commented on #292
the follow up GraphQL Document builder PR https://github.com/aws-amplify/amplify-ios/pull/309 did restructure most of these classes. There are some other API related improvements I saw being tracked by much earlier Issues and so will just close this one out

[2020-02-25 00:09] #292 closed

[2020-02-25 00:10] lawmicha commented on #337
# Version Directive

related issue:
- https://github.com/aws-amplify/amplify-ios/issues/293

[2020-02-25 00:14] lawmicha commented on #311
addressed here: https://github.com/aws-amplify/amplify-ios/pull/333

[2020-02-25 22:29] amuresia commented on #335
Sorry to chase but could we get an answer. And apologies if I sound like I am ranting but I haven't seen much progress in the last 2 months.
There are so many problems currently in different parts of the framework that I am spending more time implementing workarounds than using basic functionality that is documented but not functional.
- analytics - don't see data
- storage - can't upload/download

[2020-02-25 22:33] amuresia opened #339 "Uploading/ downloading to storage fails"
Trying to use the basic upload or download functions documented [here](https://aws-amplify.github.io/docs/ios/storage#upload), fails with the following error in the logs:
[code]

Version: latest of everything

Podfile:
[code]

Function:
[code]
I have cognito user pools configured for this project.

[2020-02-25 22:45] lawmicha commented on #339
Hi @amuresia

Thanks for reporting this issue, are you currently migrating from an existing set of resources are are you provisioning new resources with Amplify CLI?

Currently, Amplify plugins like Storage relies on AWSMobileClient as the credentials provider, so the pod file should also contain AWSMobileClient and be instanitated before Amplify.

pod file https://aws-amplify.github.io/docs/ios/s

[2020-02-25 22:53] amuresia commented on #339
Hi @lawmicha, thanks for the prompt reply.
It's a new project, I created the storage resource tonight.
I was initialising AWSMobileClient in my AppDelegate file before initialising Amplify so I must have had the pod installed but removed from the Podfile.
After adding it back in, the error remains the same.
Podfile.lock
[code]

[2020-02-25 23:05] lawmicha commented on #339
how did you provision the storage resource? Did you run `amplify add storage`?

I suspect that from looking at the error, this is related to your auth set up. How did you provision your cognito identity pool? Does your auth provider (AWSMobileClient) work as expected? For example, are you able to register a user and sign in?

With the values obfuscated, what does your awsconfiguration.json and amp

[2020-02-25 23:11] lawmicha commented on #339
It's hard to debug exactly what is going on in your app, however please make sure you followed the amplify cli commands, it should should prompt you to provision the storage in a way that you can choose how you would like unauthenticated users and authenticated users to have access to.

Hope this helps as well: https://aws.amazon.com/blogs/mobile/introducing-aws-amplify-for-ios-and-android/ there

[2020-02-25 23:12] amuresia commented on #339
Provisioning
[code]

Yes, I can login, and register new users using cognito user pools.

amplifyconfiguration.json
[code]
awsconfiguration.json
[code]

[2020-02-25 23:13] amuresia commented on #339
Provisioning
[code]

Yes, I can login, and register new users using cognito user pools.

amplifyconfiguration.json
[code]
awsconfiguration.json
[code]

[2020-02-25 23:17] lawmicha commented on #339
thanks for the info, that's very helpful.
[code]
means only users which are authenticated can access the resource. Users that are not signed in (unauthenticated) will not be able to call Storage upload. Are you using AWSMobileClient to sign in before making the upload request?

[2020-02-25 23:19] amuresia commented on #339
Yup, according to
[code]
[code]

[2020-02-25 23:31] amuresia commented on #339
I tried out the sample project now and that seems to work ok :) I'll take another look tomorrow to see what's wrong with my project. Thanks for your help

[2020-02-26 18:29] amuresia commented on #339
@lawmicha not much progress on it today :(
Do you happen to know what `com.amazonaws.AWSCognitoIdentityErrorDomain error 5.` stands for?

[2020-02-26 21:44] lawmicha commented on #339
hmm, i think it might be the 5th index here,
https://github.com/aws-amplify/aws-sdk-ios/blob/df5cb0b37d34759104512fd705a1c9e7e62a2517/AWSCore/CognitoIdentity/AWSCognitoIdentityModel.h#L30
"AWSCognitoIdentityErrorInvalidIdentityPoolConfiguration"

[2020-02-27 17:04] James-Coleman opened #340 "Datastore not syncing with AppSync"
I've been following along the "Hello world" style notes tutorial for [api](https://aws-amplify.github.io/docs/ios/api) and [datastore](https://aws-amplify.github.io/docs/ios/datastore).
API and DataStore seem to be working great independently but DataStore saves are not being pushed to the server. [Ricardo on Twitter](https://twitter.com/undef_obj/status/1233043455309303808) suggested I make this

[2020-02-27 17:21] James-Coleman commented on #340
Meant to include the following config info:

amplifyxc.config:
[code]

awsconfiguration.json
[code]

amplifyconfiguration.json:
[code]

Any other setup files that might be useful?

[2020-02-27 17:34] James-Coleman commented on #340
I've enabled verbose logging and saving a new note called "6" in the DataStore prints the following:
[code]

[2020-02-27 17:42] drochetti commented on #340
Hi @James-Coleman

Firs of all, thank you for creating such a comprehensive issue report. This is really helpful and also motivating to see the dev community diving so deep into our code.

Secondly, my immediate recommendation would be to try the latest version of our code directly from the `master` branch. We will release a new version of Amplify iOS in the next days, so the master branch has ton

[2020-02-27 21:42] James-Coleman commented on #340
@drochetti If I'm honest I was just rubber ducking with myself, trying to find where I'd gone wrong.

I updated the Podfile to point directly to the master branch as per your suggestion, deleted the Podfile.lock file, installed the pods, cleaned the project, deleted the app from the simulator and then ran it again, but it still appears to not be sending `Amplify.DataStore.save()` events to the ser

[2020-02-27 22:11] James-Coleman commented on #340
My issue is possibly related to #265 because I noticed that my Amplify.Datastore.query is not returning objects from the server either.

[2020-02-28 18:12] drochetti commented on #340
`Amplify.DataStore.query` only queries from the local storage, the sync between the server and the local storage is suppose to happen in the background automatically.

[2020-02-28 18:22] drochetti commented on #340
I was able to reproduce the issue when creating a new app from scratch and I see the following GraphQL errors in the logs:

[code]

This seems to be related to this issue https://github.com/aws-amplify/amplify-js/issues/4535
Which means the provisioned API has no syncing capabilities by default and needs to be enabled. I'll confirm the correct flow and get back to you.

[2020-02-28 21:02] drochetti commented on #340
Hi @James-Coleman,

I was able to identify the problem. This is related to some other issues we're tracking. Basically DataStore sync capabilities only work when your API was created with conflict resolution enabled. That is part of the "Advanced settings" when you run `amplify add api`.

Since you already created your API, you can run `amplify update api` and:

[code]

The important setting is wh

[2020-02-29 07:20] jtmorris314 commented on #335
+1

[2020-03-01 09:30] James-Coleman commented on #340
@drochetti

Good news and bad news

After running the commands you suggested, I seemed to get a new table in DynamoDB called "AmplifyDataStore" where new Notes created via both API and DataStore are sent as well as my "Note" table. After some time the AmplifyDataStore table seems to get cleared out, but this might be expected?

However, I had to downgrade to the published CocoaPod version. In mast

[2020-03-01 21:14] jackatkoeln commented on #340
Facing exactly the same problem here. Saving and querying from local is fine but data sync on DynamoDB is not working.

[2020-03-02 13:43] mlabieniec commented on #335
@amuresia Apologies for your frustration. We are working diligently to get the Amplify iOS libraries to GA as soon as possible. Can you share any log data around the failures you are experiencing? Also, are you using the published pods or the GitHub repository? There are a few issues we are actively working on that might relate to what you are seeing here, but without more details/logs it's hard t

[2020-03-02 15:50] vijayendra-tripathi opened #2347 "AWS hosted UI reloads login page on submission on iOS."
I am following amplify auth guide as described here - https://aws-amplify.github.io/docs/ios/authentication

I am using hosted UI option for authentication with AWS amplify. On Login button press - I see a webview launch with sign-in/ sign-out options along with facebook login option. On submitting email and password, it reload the same page and asks for email and password again.  I do get a verif

[2020-03-02 19:09] drochetti commented on #340
The `AmplifyDataStore` table is a sign that the DataStore SyncEngine is working. That table is managed by AWS AppSync to deal with changes across different instances of your application (i.e. different users on iOS, or an user on iOS and another user on JS). Therefore, you don't have to worry about it getting cleared, that's the expected behavior.

Can you clarify what you mean by *"In master bran

[2020-03-02 19:18] James-Coleman commented on #340
working

Good to hear.

Yes, exactly.

On Mon, 2 Mar 2020 at 19:09, Daniel Rochetti <notifications@github.com>
wrote:

[2020-03-02 20:39] nikhname opened #342 "Implement AmplifyTools pod in amplify-ios repo"
**Is your feature request related to a problem? Please describe.**
The amplify-tools podspec is currently sourced here: https://github.com/nikhname/amplify-tools-spec/blob/master/amplify-tools/0.2.0/amplify-tools.podspec
And published on the trunk here: https://github.com/CocoaPods/Specs/tree/master/Specs/7/4/b/amplify-tools

**Describe the solution you'd like**
Add an AmplifyTools podspec to the

[2020-03-03 21:07] drochetti commented on #340
@James-Coleman and @jackatkoeln So, even after enabling the conflict resolution on the API you're still not getting the local persisted models synced to your DynamoDB. Did you see error messages like the ones I posted here https://github.com/aws-amplify/amplify-ios/issues/340#issuecomment-592660659 in your logs?

[2020-03-03 22:51] hatunike commented on #340
I'm in a similar boat. Having worked my way through the documentation I'm experiencing similar issues.

Adding objects or even just querying objects gives :

`Error adding Employee - The operation couldn't be completed. (Amplify.DataStoreError error 7.)`

`Amplify.API.mutate()` seems to work, but not `Amplify.DataStore.save()`

This is after pointing at master as well as enabling conflict resoluti

[2020-03-04 00:17] wooj2 opened #343 "Datastore uuid case sensitivity"
**Is your feature request related to a problem? Please describe.**
When using the datastore category, and querying for mutations, i occasionally see some UUIDs with all capital letters, and some with all lowercase letters.

I noticed that when I create a mutation event from the SDK, the UUIDs use capital letters, while creating a mutation from the appsync console they are in lower case letters.

*

[2020-03-04 13:00] James-Coleman commented on #340
@drochetti

I'm seeing Note objects added via both `Amplify.API.mutate(of: newNote, type: .create)` and `Amplify.DataStore.save(newNote)` added to both the AmplifyDataStore table, and the Note table.
What's missing for me is Notes being synced from DynamoDB to local DataStore. `Amplify.DataStore.query()` is still only returning local results.

This is with the CocoaPods version (0.10.0). As mentio

[2020-03-04 13:22] James-Coleman commented on #340
After changing back to the master branch, cleaning the project and re-running (simulator only I'll admit), and Notes added with `Amplify.DataStore.save()` are not appearing anywhere in DynamoDB, not in the Note table nor the AmplifyDataStore table.

<details>
<summary>Here's a log from adding a note via DataStore</summary>

[code]

[2020-03-04 16:12] #43 closed

[2020-03-04 16:13] lawmicha commented on #40
we can cover this over in https://github.com/aws-amplify/amplify-ios/issues/22

[2020-03-04 16:13] #40 closed, assigned to lawmicha

[2020-03-04 16:16] lawmicha commented on #27
thanks for the comment, i've moved this over to pivotal and referenced this issue for the context. closing this out to track on pivotal

[2020-03-04 16:16] #27 closed

[2020-03-04 16:18] lawmicha commented on #22
so this is relavant related to error handling https://github.com/aws-amplify/amplify-ios/issues/339

what we should do is try out the different configurations of storage (unauthenciated policy and authenticated policy) and try to make calls in those states. then make sure we expose the right error message to the developer.

closing this out for pivotal item tracking

[2020-03-04 16:18] #22 closed

[2020-03-04 16:21] #28 closed

[2020-03-04 16:23] lawmicha commented on #36
moved this over to pivotal. i think once someone picks this up, we can then open a new issue with CLI for the feature request

[2020-03-04 16:23] #36 closed

[2020-03-04 16:24] lawmicha commented on #183
related PR is already in

[2020-03-04 16:24] #183 closed

[2020-03-04 16:25] #181 closed

[2020-03-04 16:25] lawmicha commented on #55
PR is merged

[2020-03-04 16:25] #55 closed

[2020-03-04 16:27] #47 closed

[2020-03-04 16:29] #64 closed

[2020-03-04 16:34] lawmicha commented on #73
the code has changed a bit since this issue was open. subscription interceptors are coming from appsyncRealTimeClient, and we have another set of interceptors for the request/response calls. but overall we should take a crack at turning these interceptors into using an async pattern. moving over to pivotal

[2020-03-04 16:34] #73 closed

[2020-03-04 16:35] #74 closed

[2020-03-04 16:35] #75 closed

[2020-03-04 16:46] moweex commented on #340
Am facing the same issue with RN, datastore is not synchronized with dynamodb. i can query, update, save to the local store. but nothing is updated on dynamodb. conflict resolution is configured correctly and tables have all versioning fields.

[2020-03-04 17:06] lawmicha commented on #148
in iOS, i believe this is the same, AmplifyCore contains Model related classes while API and DataStore exposes ways to use it.

my current thinking is that AppSync SDK does delta sync and all of the graphQL functionalities, so AWS's implementation of API Plugin and DataStore would essentially solve the same use cases and be the replacement it for new customers.

My overall goal for API plugin, con

[2020-03-04 17:09] lawmicha commented on #148
i'm running pass all of the issues i've opened and seeing what can be closed, i think this issue can be closed for the API Plugin work that is on-going in general, and dicussion can continue else where, and thanks for your input here

[2020-03-04 17:09] #148 closed

[2020-03-04 17:10] #165 closed

[2020-03-04 17:26] lawmicha commented on #263
we can capture the non-model class deserialization with by unit testing the decoder (tech debt clean up task) instead of having the need for an intergration test which isn't model-based just to accomplish this.

as for integration test, we can rethink about what complex schema we can have with auth, connection, key, directives instead of just blog/post/comment (currently tracking in other task)

[2020-03-04 17:26] #263 closed

[2020-03-04 17:32] lawmicha commented on #239
Right, originally the Model Based API in API plugin had a dependency on ModelRegistry, which then makes it look like API depends on if sync enabled is true which is DataStore's use case. this code has been refactored and no longer checks for sync-enabled. consumers now have to explicitly construct requests which have sync fields or not.

[2020-03-04 17:36] lawmicha commented on #291
overall documenting a complex schema use case with different types of directives and how to make calls to AppSync should solve this for P0. closing and referencing to this issue over in that pivotal task

[2020-03-04 17:36] #291 closed

[2020-03-04 17:37] lawmicha commented on #311
PR 333 will be closed, as the code will be moved over to AppSyncRealTimeClient, closing this now

[2020-03-04 17:39] #29 closed

[2020-03-04 17:42] lawmicha commented on #84
moving over to pivotal

[2020-03-04 17:42] #84 closed

[2020-03-04 17:47] lawmicha commented on #342
does this mean Amplify-Tools will be versioned with Amplify releases? why not keep it in a separate repo? ie. move https://github.com/nikhname/amplify-tools-spec/ to githubcom/aws-amplify/amplify-tools

[2020-03-04 17:55] lawmicha commented on #270
sorry for the delay, thanks for getting back to us. I can see that from enabling more verbose logging, that your previous pinpoint configuration does not have access to write events to pinpoint endpoints. There was a migration that occured on the pinpoint service side that caused a breaking change for clients in older SDKs and since Amplify.Analytics plugin takes a dependency on the new pinpoint s

[2020-03-04 18:06] lawmicha commented on #339
hi @amuresia feel free to update the issue with any insight on fixing  AWSCognitoIdentityErrorInvalidIdentityPoolConfiguration error, it may others in debugging the same issue in the future.

I'll be closing this for now as the error looks to be configuration related, and not code functionality related. let us know if you have any other questions

[2020-03-04 18:06] #339 closed

[2020-03-05 00:22] drochetti commented on #111
This was resolved by PR #334

[2020-03-05 00:22] #111 closed

[2020-03-05 00:24] drochetti commented on #240
Hi @sebsto

Support for non-model types just landed in `master`. We will release a new version of Amplify soon along with a new version of the codegen provided by Amplify CLI, stay tuned. In the meantime if you want to try feel free to use the `master` branch.

I'll keep this issue open until we officially release.

[2020-03-05 00:25] drochetti commented on #246
Hi @rodrigoelp, support for codable enums just landed in `master`. We will release Amplify soon along with a new version of the Amplify CLI with the codegen updated. I'll keep this issue open until the release is out.

[2020-03-05 00:26] drochetti commented on #318
This was mostly done by the PR #334. I'll close this one for now and we can track future improvements of the serialization code in a new ticket.

[2020-03-05 00:26] #318 closed

[2020-03-05 03:59] toka756 commented on #270
I tried the same thing with pinpoint iOS SDK before but not ok so I tried amplify SDK... As starting a new backend with amplify CLI actually works well with pinpoint SDK or amplify SDK, it is ok now. Thanks for your replay.

[2020-03-05 22:24] detectedstealth opened #345 "New iOS project build failure"
**Describe the bug**
Following along with [Amplify iOS Getting Started](https://aws-amplify.github.io/docs/ios/start?ref=amplify-iOS-btn) after creating the workspace and attempting to build it is failing on PhaseScriptExecution.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new single view Swift project (storyboard)
2. Create a Podfile following the steps in the tutorial [Step 1]

[2020-03-06 17:15] prmacias commented on #345
@detectedstealth me too as well

[2020-03-08 18:47] sebsto commented on #240
great - will test the new version

[2020-03-08 21:43] prmacias opened #350 "Error: Cannot find module 'amplify-frontend-javascript'"
**Describe the bug**
Creating base Amplify project
Error: Cannot find module 'amplify-frontend-javascript'

I didn't see any new files in the root project (IOS) -
amplifyconfiguration.json, awsconfiguration.json and amplifyxc.config

This issue is linked to

https://github.com/aws-amplify/amplify-ios/issues/345

when I built this project for first time then I get this error. If I built it again -

[2020-03-09 14:26] sebsto opened #348 "New iOS project with DataStore fails to run"
**Describe the bug**
When building and running a fresh new iOS project with DataStore and following the steps in the documentation at https://aws-amplify.github.io/docs/ios/datastore#datastore, the project fails at runtime with
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a new iOS project
2. `pod init`
3. Add pod as described at https://aws-amplify.github.io/docs/ios/datast

[2020-03-09 15:44] sebsto commented on #348
I made more tests around this and found that the order of `amplify init` and the first build is important

**Exemple 1 : **

1. `amplify init`
2. `pod init` and `pod install`
3. open workspace and build

Result :
- First build fails (no error), second build works
- local API category is not created

**Exemple 2:**

1. `pod init` and `pod install`
2. open workspace and build
3. `amplify init`

Resu

[2020-03-09 18:16] sebsto commented on #340
`amplify update api` should not be required.  The Amplify Plugin should create the API with conflict detection enabled by default.

The doc suggests a different workflow : https://aws-amplify.github.io/docs/ios/datastore#datastore which does not suppose to use the `amplify update api`

Can we keep the doc updated with current status of the workflow ?

[2020-03-09 18:47] lawmicha commented on #350
may be related https://github.com/aws-amplify/amplify-cli/issues/3300

[2020-03-09 18:53] wooj2 commented on #350
Hi @prmacias,

I tried to reproduce your error, but was unable to do so.  We suspect you might have an older version of node/npm/amplify.  On my box, I have running the following versions:
[code]
I don't think I have the latest bleeding-edge, but could you check to see which versions of these tools you have on your machine?

[2020-03-09 22:25] prmacias commented on #350
@wooj2

See - https://github.com/aws-amplify/amplify-cli/issues/3580#issuecomment-596637253

I think that is my issue. I'll check on it and let you all know soon.

[2020-03-10 10:43] rameshtek opened #351 "When the device time set to future download fails with an error"
**Describe the bug**
When the device time is set to future download fails with an errorcode "0"  and task.result is nil.
but the same works in Android.

**To Reproduce**
Steps to reproduce the behavior:

Please find the code snippet below.

AWSS3 *s3 = [AWSS3 defaultS3];   AWSS3HeadObjectRequest *request = [AWSS3HeadObjectRequest new];
  request.bucket = @“bucketName”;
  request.key =@“bucketKey”;

[2020-03-11 16:59] nikhname commented on #345
@detectedstealth what shell are you using and what do you use to configure it? (e.g. .bash_profile, .bashrc, .zshrc, ...)

[2020-03-11 17:01] detectedstealth commented on #345
@nikhname I used .zshrc to configure things. Here is the contents of the file:
[code]

[2020-03-13 15:59] lawmicha opened #356 "Upgrade across all SDK dependency to `~> 2.13.0`"
this PR is outdated now and we can update to take `~> 2.13.0` to get all patch versions of 2.13. a minor version will last a few months

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/pull/315#issuecomment-598793987_

[2020-03-13 20:08] drshre opened #357 ""Some error occuring retrieving the IdentityId""
This app is entirely set up using Amplify, and I get this error message when trying to upload a file to S3.

Failed: Unexpected error occurred with message: Some error occuring retrieving the IdentityId.. This should not happen. There is a possibility that there is a bug if this error persists. Please take a look at https://github.com/aws-amplify/amplify-ios/issues to see if there are any existing

[2020-03-13 20:51] drochetti commented on #349
Thanks for reporting this issue and providing all the details. I'm reviewing our "Getting Started" guide for iOS and will keep you updated with my findings.

[2020-03-16 09:31] DanijelHuis opened #358 "Storage: Directory structure"
**Is your feature request related to a problem? Please describe.**
I am trying to upload a file using AWSS3StoragePlugin to a path like this:
_protected/city/poi/user_identity_id/photo.jpg_

but looking at the code, it seems like you are forcing a path to begin with:
_protected/{user_identity_id}/_
as indicated here: https://aws-amplify.github.io/docs/js/storage#file-access-levels

For download I

[2020-03-16 16:53] drochetti commented on #349
@patrickridd I tried to reproduce your error and I could only get the *"Storage category is not configured"* when the config files (`amplifyconfiguration.json` and `awsconfiguration.json`) were not added to Xcode, but in that case I could also see the *"Failed to initialize Amplify with \(error)"* message in `AppDelegate`.

When did you create your project? Can you cleanup the local pods (delete b

[2020-03-16 17:23] drochetti commented on #349
@aftabahmed1286 @raduoprea I used the attached project and indeed there's a configuration logic problem on Amplify when the `AWSDataStorePlugin` is configured but the `AWSAPIPlugin` is not. Without API, DataStore is meant to be use the local storage mechanism only, however that's not happening.

I'll work on a fix and follow-up with you.

[2020-03-17 18:41] kneekey23 commented on #350
@prmacias were you able to resolve?

[2020-03-17 18:47] kneekey23 commented on #357
hi @drshre did you also add the auth category as well (`amplify add auth`)? How are you authenticating your user before making this call?

[2020-03-17 18:47] prmacias commented on #350
@kneekey23 not yet, got occupied with something else. I'll try to get it done by tomorrow.

[2020-03-19 18:19] prmacias commented on #350
@kneekey23

I managed to install the amplify without any issues but there are errors related to predictions set up.

No such module 'AWSPredictionsPlugin'

and there are some issues in ConvertConfiguration, and IdentifyConfiguration files

my pod file -

[code]

[2020-03-20 14:48] samproc commented on #340
Hi All,
I have a related problem. I have essentially followed the steps shown on the amplify 'getting started' **iOS** page. My use case is simple at the moment. I have a single model in my GraphQL schema and have the DataStore and API plugins enabled. The following use cases work fine:
- Save to data store
- Query from data store
- Observe data store
- Subscribe to API 'on create' notifications

[2020-03-20 19:06] drochetti commented on #298
Hi @onlybakam

I investigated this one and it looks like an issue in the GraphQL Transformer in the Amplify CLI (https://github.com/aws-amplify/amplify-cli/issues/3702). I opened an issue in their repo and we will continua to investigate this as we move towards a stable release.

[2020-03-20 20:55] kneekey23 commented on #350
hi @prmacias I am not able to reproduce your issue. did you run `pod install --repo-update` and did you add `import AWSPredictionsPlugin` to the top of the AppDelegate file? I tried to go through the getting started guide with the above pods you gave first and then switch to the podfile you just gave and no luck. I created a sample app in my github repo [here](https://github.com/kneekey23/SwiftPre

[2020-03-23 13:09] prmacias commented on #350
@kneekey23

I got your repo pulled and I'm having trouble updating the pod -

`pod install --repo-update`

`[!] No podspec found for `AWSPluginsCore` in `~/Projects/Amplify/amplify-ios``

I updated my pod and still getting this error. Something's amiss in my setup. I double checked the - Ensure you have installed and configured the Amplify CLI and library. What do you mean by library? I installed

[2020-03-23 15:16] kneekey23 commented on #350
hi @prmacias two things here. 1. the reason I had that path in my Podfile was because I was locally testing so yes please remove it as you did 2. Delete all the amplify files from the project before running `amplify init` and then try again. Let me know if that works for you.

[2020-03-23 15:52] prmacias commented on #350
@kneekey23

It worked - thanks - I will compare your work with my app to see what's going on. Thanks again!

[2020-03-23 16:04] kneekey23 commented on #350
Closing this issue, please feel free to reopen it if you have further issues.

[2020-03-23 16:04] #350 closed

[2020-03-23 17:04] kneekey23 commented on #356
Closing issue as PR was merged

[2020-03-23 17:04] #356 closed

[2020-03-25 22:38] drshre commented on #357
hi @kneekey23, I have added the auth category and am not using guest access

[2020-03-28 18:20] kneekey23 commented on #357
Hi @drshe are you using `AWSMobileClient` to authenticate your user?

[2020-03-29 12:18] AnruStander commented on #246
Has this been fixed yet? I have the same issue in my project at the moment.

[2020-03-29 13:05] AnruStander opened #366 "Amplify pod does not support new CLI release with customType and EnumPersistable"
**Describe the bug**
I have updated my Amplify CLI after the new release to solve previous issues with [String] and enum types. But now when I run the codegen, xcode complains about undeclared type EnumPersistable as well as ModelFieldType has no member customType. It seems like the Encodable, Decodable issue is also not fixed yet.

**Environment:**
 - Amplify Framework Version: [e.g. 0.10.0]
 - D

[2020-03-29 21:48] drshre commented on #357
@kneekey23, yes I am! Using everything through AWS Amplify

[2020-03-30 05:15] sbue commented on #340
I've had this issue as well.

TDLR: It seems like DataStore and API.graphql(graphqlOperation... are writing and reading to two different targets. When I write to DataStore, it doesn't show up in DynamoDB. When I write using API.graphql, it doesn't show up when I query with DataStore. Very odd and frustrating. Can answer questions if needed.

[2020-03-30 22:49] Maybelline commented on #349
Hi @drochetti , I'm facing the same problem. Have you been able to fix the configuration logic issue in Amplify?

[2020-03-30 23:04] drochetti commented on #366
Hi @AnruStander, we're working towards a new release of Amplify, in the meantime, could you try pointing your pods to the master branch of this repo and give it a try?

[code]

[2020-03-30 23:25] drochetti commented on #349
Hi @Maybelline can you share your configuration code with me? Are you configuring both `AWSDataStorePlugin` and `AWSAPIPlugin`?

[2020-03-31 00:08] Maybelline commented on #349
@drochetti,

Here is some of the code:
<img width="1440" alt="Screen Shot 2020-03-30 at 4 55 29 PM" src="https://user-images.githubusercontent.com/11788745/77973330-ac5bf000-72a8-11ea-8464-260f1dec5417.png">
<img width="1440" alt="Screen Shot 2020-03-30 at 5 00 20 PM" src="https://user-images.githubusercontent.com/11788745/77973336-b251d100-72a8-11ea-96d6-1bebaa92e867.png">

Both awsconfiguration.

[2020-04-02 20:11] lawmicha opened #370 "[AWSPluginsCore] Investigate removing GraphQLDocumentValueRepresentable"
**Describe the bug**
The value placed in the GraphQL Document variables can be updated to `Persistable`.

reference:
GraphQLDocumentValueRepresentable's graphQLDocumentValue is never used
https://github.com/aws-amplify/amplify-ios/blob/ad9477321cf26a90b9fd0add29a53533eb2f00d3/AmplifyPlugins/Core/AWSPluginsCore/Model/Support/GraphQLDocumentnputValue.swift#L23

Value is accessed here:
https://github

[2020-04-05 21:04] byan7 opened #373 "Support for Swift Package Manager"
Can amplify-ios SDK add support for SwiftPM?
There is a similar discussion going on with firebase that can be helpful here:
https://github.com/firebase/firebase-ios-sdk/issues/3136

[2020-04-05 21:32] #373 closed

[2020-04-05 21:32] byan7 commented on #373
Duplicated

[2020-04-06 15:21] AnruStander commented on #366
Thanks, it was quite urgent at the time, so we had to use something else. But will try it again soon. Thank you.

[2020-04-08 01:59] arnm commented on #340
I am seeing this issue with web application as well...

[2020-04-08 05:22] bharring commented on #340
I'm seeing this same problem too. DataStore and API.graphql don't see the same data, and DataStore doesn't persist to DynamoDB or the backend at all, but stays on the client even after a config change.

[2020-04-08 17:27] rogerogden opened #380 "Network Calls resulting in "Synchronous remote object proxy error""
**Describe the bug**
Each time I attempt to make a network call with the AWSMobileClient SDK, my console is flooded with error messages that look like so:

[code]

**To Reproduce**
1. Import AWSMobileClient in a Swift file
2. Make a network call (e.g., `AWSMobileClient.default().signUp(username: email, password: password)`
3. Notice the flood of messages received in the console in Xcode

**Expecte

[2020-04-08 19:00] lawmicha opened #381 "AnalyticsPinpointPlugin Updates"
1. check if iOS’s analytics unregisterGlobal, add varargs
2. update BasicAnalyticsEvent to remove “_” from first parameter to have developer write out the first parameter name. BasicAnalyticsEvent(name:"myEventName")
3. Hub events alignment with Android
4. `public typelias AnalyticsProperties = [String: AnalyticsPropertyValue]`

[2020-04-08 21:01] royjit commented on #380
Hi @rogerogden

This looks like Xcode related issue - https://forums.developer.apple.com/thread/108883.
Maybe try the workaround mentioned in stack overflow? https://stackoverflow.com/questions/52455652/xcode-10-seems-to-break-com-apple-commcenter-coretelephony-xpc

[2020-04-10 14:58] rogerogden commented on #380
@royjit Thanks for getting back to me. I'll run the Terminal command. It just seemed interesting that it only happened when I installed the Amplify Cocoapod, and not before.

[2020-04-10 14:58] #380 closed

[2020-04-13 16:09] buffpojken commented on #345
Same here. Samt config as above.

[2020-04-13 17:17] nikhname commented on #345
@detectedstealth @buffpojken This is an issue when using zsh as the default shell. As a workaround, you can run ```npx amplify-app --platform ios``` in the root of the project and the rest of the steps in the documentation should work as expected.

[2020-04-14 00:01] #342 closed

[2020-04-14 19:31] lawmicha opened #385 "Analytics with Push Notifications - Missing Address exception"
**Describe the bug**
Analytics Plugin uses Pinpoint SDK under the covers. Pinpoint SDK has a requirement for the developer to register the device token with pinpoint when enabling push notifications.

**To Reproduce (To be tested)**
Steps to reproduce the behavior:
1. Use Analytics Plugin
2. Enable push notifications
3. enable debugging logs
4. see that there is the Missing Address issue

**Expect

[2020-04-14 22:08] lawmicha opened #387 "amplify-tools failed to pick up `amplify` after installation"
**Describe the bug**
My system is on 4.12.0 of Amplify CLI
[code]
when i use the amplify-tools pod, it tries to install 4.18.0, looks like it was successfully, and then fails to use it, eg.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. `pod "amplify-tools"` picks up 0.2.0 version of the pod
2. open xcworkspace and build
3. Build fails with error
[code]

**Environment(please complete

[2020-04-17 14:26] lawmicha commented on #385
this will be fixed with https://github.com/aws-amplify/aws-sdk-ios/pull/2455 and then need to ensure Analytics plugin takes on the dependency of the pinpoint SDK with released fix

[2020-04-17 14:36] #270 closed

[2020-04-17 14:42] detectedstealth commented on #345
That worked to generate the files thanks @buffpojken

[2020-04-17 14:47] detectedstealth commented on #345
I spoke to soon, the first build worked but as soon as I set modelgen=true I am encountering the same error.

[code]

Do I need to run the command you suggested every time I make a change? @buffpojken

[2020-04-17 14:52] nikhname commented on #345
@detectedstealth is the file ```amplifyxc.config``` present in the root of your project after running that command?

[2020-04-17 14:55] detectedstealth commented on #345
@nikhname yes the file is present in the root of my project. When setting modelgen=false things compile, when set to true the amplify-tools framework fails to build with the above error. It's complaining once again that amplify command was not found. As far as I know zsh is the default shell in Catalina+ so this issue default needs to be resolved some how.

https://support.apple.com/en-us/HT208050

[2020-04-17 15:03] buffpojken commented on #345
Hmm, it worked just fine for running it once - then all workflows hitherto (generating models, pushing, tested adding DataStore) worked just fine.

[2020-04-17 15:12] detectedstealth commented on #345
@buffpojken what were the exact steps you took? For me this morning:

1. Create a new Xcode project
2. Init the pod
3. Installed the pods
4. Ran the command you suggested which generated the files.
5. Opened the workspace built fine
6. Updated modelgen=true
7. Tried to build and it failed
8. Cleaned the projects tried to build again failed.
9. Changed modelgen=false, cleaned the project and build

[2020-04-17 16:56] detectedstealth commented on #345
I have deactivated nvm and installed node/amplify globally and I can build. I'll leave it like this for now but kind of annoying I can't use NVM. Seems like as people said this is an issue how Xcode uses and non-interactive shell the build script might need to be updated to source .zshrc/.bashrc if they exist instead of depending on the globals etc..

[2020-04-17 17:22] detectedstealth commented on #345
Also it seems that named profiles are also not supported:

[code]

I had a custom named profile I was using for this which I setup using amplify configure however the framework scripts for some reason require the default profile.

[2020-04-17 17:28] nikhname commented on #345
@detectedstealth yes this is an issue with nvm not being loaded through Xcode's non-interactive shell.

As for the named profile, please update ```profile``` in ```amplifyxc.config``` to your desired named profile if a profile named ```default``` is not configured.

We will look into ways to loading different profiles as well as updating the docs to make this flow clearer.

[2020-04-17 17:30] detectedstealth commented on #345
@nikhname thanks that solves the profile issue I had.

[2020-04-17 20:32] mickeysox commented on #340
I was having the same issue, but this seems to have fixed my issue.  Any update improving the flow? Or at least defaulting the conflict resolution so this option doesn't need to be configured out of the box?

[2020-04-18 10:29] AugustDev commented on #90
Any progress on this?

[2020-04-20 06:46] dan8f commented on #340
Having problems with the sync here.

In my case, a React web app created with create-react-app, DataStore does not sync with the cloud when the production version of the app is published but it does sync with development build.

[2020-04-21 16:10] Tom-RulesCube opened #395 "DataStore on iOS with Cognito user pools, websocket protocol error but works with an API key"
**Which Category is your question related to?**

DataStore on iOS

**Amplify CLI Version**

4.18.0

You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**

Cognito User Pools
API (GraphQL)
Storage
DataStore
various triggers and custom functions

**Provide additional details e.g. code snippets**

We started on iOS using AppSync API and now

[2020-04-22 17:41] wooj2 opened #398 "Use TimeInterval.milliseconds in InitialSyncOperation"
Context is here:
https://github.com/aws-amplify/amplify-ios/pull/386

See InitialSyncOperation.swift

[2020-04-22 17:59] wooj2 opened #399 "Add target for SyncEngine system to avoid thread explosion and increase performance"
As part of this PR:
https://github.com/aws-amplify/amplify-ios/pull/389

It was brought up that we should be creating our serial queues with the target field.  At least two approaches are under consideration
1.  Use a single target for the entire RemoteSyncEngine.
2.  Use a target for outgoing mutations and another target for subscriptions.
3. something else?

I would like to profile the system pr

[2020-04-23 22:15] Tom-RulesCube opened #403 "Using `@auth` directive with `{ allow: owner }` prevents DataStore from operating correctly"
**Describe the bug**

Using `@auth` directive with `{ allow: owner }` prevents DataStore from operating correctly -- does not pass `owner` to GraphQL calls resulting in errors shown in the log.

**To Reproduce**
Set up an Amplify iOS project with GraphQL API and DataStore
Simple model with no @auth directive
User Pools for authentication and authorization, nothing else
DataStore API works as expec

[2020-04-24 23:46] wooj2 commented on #403
Hi @Tom-RulesCube ,

Thanks for reaching out, and your interest in the Amplify Datastore project!  I checked with the team and unfortunately, the `@auth` directive is not currently supported, so this is currently considered a feature enhancement.

[2020-04-25 02:03] yosuke1985 commented on #246
Still same issue..
@drochetti When it will be released?

[2020-04-27 19:05] fbarraganef commented on #270
I had the implementation of Amplify SDK only with awsconfiguration.json file, but now I seeing that any event is submitted to the dashboard of Analytics.

In the debugger it seems to submitted fine, but the dashboard not display nothing.

I'm implementing the iOS SDK.

I'm pointing the project id of pinpoint in the awsconfiguration file, but even I receiving the error that the region could not be

[2020-04-28 04:13] fbarraganef opened #408 "Security way for reinstall Amplify in the App"
Hello,
I had implemented SDK of Amplify with Analytics only and federated cognito authetication but now suddenly the events that I want to register is not recording properly.

Now my Analytics projects and cognito identity pool is on production and I don't want to run a command with Amplify CLI that suddenly deletes those projects.

It's there a way safe to regeneratea and rebuild the amplify on m

[2020-04-28 23:10] dabit3 opened #409 "Docs RFC - Learn section"
Contribute to the discussion [here](https://github.com/aws-amplify/docs/issues/1661)

[2020-04-29 16:06] #381 closed

[2020-04-30 13:01] vishaldroisys opened #410 "@auth: API_KEY is Supported or not"
we have Postgres database and we have selected authentication as API_KEY. and API type is GRAPHQL

Thanks in advanced.

[2020-04-30 13:10] vishaldroisys opened #411 "Where we declare Mutation, Query and Subscription"
Hello,

As we have configure and initialise Amplify for iOS Project. Amplify folder is generated with Default graphql file. how to generate model, Query,mutation and Subscription through Schema.json or schema.graphql(generated from AWS portal)

Thanks In advanced

<img width="1238" alt="Screenshot 2020-04-30 at 6 36 14 PM" src="https://user-images.githubusercontent.com/49299967/80714003-f5a29800-8

[2020-05-05 19:20] Johnniexson commented on #340
Hello @drochetti  i have conflict detection configured in my ionic app but dataStore still not syncing. screenshot of error below.
![appSync error](https://user-images.githubusercontent.com/33484116/81106634-d8087080-8f0d-11ea-83eb-0b73c4575910.jpg)

[2020-05-06 18:05] royjit opened #419 "Auth - Fix attribute string"
Fix the auth attribute structure as per the PR comment - https://github.com/aws-amplify/amplify-ios/pull/407/files#r420521508

[2020-05-06 23:20] royjit opened #421 "Auth - Escape hatch behavior"
- Document the expected behavior of the escape hatch.
- Put the caveat that accessing the credentials, tokens etc through escape hatch can cause unintended issues with the AuthCategory.

[2020-05-07 20:23] royjit opened #424 "Auth - Final review of auth category api names"
Make the auth category names consistent.

: ```
public  func confirmResetPassword(for username: String,
                                      with newPassword: String,```

Current apis

[code]

[2020-05-08 00:18] royjit opened #426 "AuthProvider naming conflict"
We use the term `AuthProvider` in different context

1. DataStore AuthRule [Ref](https://github.com/aws-amplify/amplify-ios/blob/724a29839396665b1496944bdfbe8ca373862e99/Amplify/Categories/DataStore/Model/Schema/AuthRule.swift#L15)
[code]
2. AWSPluginsCore [Ref](https://github.com/aws-amplify/amplify-ios/blob/master/AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AuthProvider.swift)
[code]
3. Aut

[2020-05-08 00:25] lawmicha commented on #426
the first one can be `AuthRuleProvider`or will it work if it defined within the AuthRule? like AuthRule.Provider

[2020-05-08 00:32] royjit commented on #426
Yes, sounds good. Second one is AuthZProvider and third AuthNProviders. Wondering whether we should name like that?

[2020-05-08 00:45] royjit commented on #426
How about this:
1. In DataStore - `AuthorizationType`
2. In AWSPluginsCore - `AuthorizationProvider`
3. In Auth category - `AuthProvider`

[2020-05-11 14:29] christoff-1992 opened #431 "PredictionsPluginConfiguration - Configuration - Fails with Default Region"
**Describe the bug**
Using a default region as part of the awsPredictionsPlugin fails as an error is thrown.

[code]

<details>
  <summary>PredictionsPluginConfiguration</summary>

[code]
</details>

If a default region is not specified the following error is thrown and then re-thrown up the call hierarchy.

[code]

<details>
  <summary>ConvertConfiguration</summary>

[code]
</details>

**To Repro

[2020-05-11 19:24] Tom-RulesCube commented on #403
I see the `amplify-ios` repo has a lot of @auth action going on in the last few days ... will we be expecting that in a release soon?

[2020-05-12 17:05] lawmicha opened #435 "Test/Fix Storage Plugin Integration Tests"
these look like they were specific to when using storage, need to verify Storage Integration tests negative paths

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/pull/434/review_comment/create_

[2020-05-12 18:57] lawmicha opened #437 "[AnalyticsPlugin] `Configure` unit test requires network connectivity"
refactor plugin configure code out into unit-testable chunks and/or move to integration test

[2020-05-12 23:16] royjit commented on #419
PR out for handling this issue

[2020-05-13 15:34] lawmicha commented on #435
additional context. https://github.com/aws-amplify/amplify-ios/pull/436/files#r424533168

[2020-05-14 00:34] royjit commented on #419
PR merged https://github.com/aws-amplify/amplify-ios/pull/439

[2020-05-14 00:34] #419 closed

[2020-05-14 13:51] royjit opened #443 "Change AuthService helper methods to async pattern"
Remove sync calls in AuthService https://github.com/aws-amplify/amplify-ios/pull/436#discussion_r425137206

[2020-05-15 14:16] lawmicha commented on #435
fixed in here https://github.com/aws-amplify/amplify-ios/pull/446

[2020-05-15 14:19] lawmicha commented on #431
hi @christoff-1992 we'll have to try to reproduce this to better understand the issue you are seeing regarding regions. Could you provide us more context on how you are provisioning the backend? are you running `amplify add predictions` and which steps did u choose? what does your configuration file look like (please obfuscate the values) or are you configuring it programatically?

[2020-05-15 14:22] lawmicha commented on #411
Hi @vishaldroisys are you trying to generate the Model classes used in DataStore/API? you can run `amplify codegen models` to generate them.

[2020-05-15 14:24] lawmicha commented on #410
Hi @vishaldroisys can you explain your use case in more detail? Are you trying to make a call directly to the Postgres database or through APIGateway or AppSync with data resolvers?

[2020-05-15 14:30] lawmicha commented on #408
hi @fbarraganef ,

which pod package are you using when you refer to "SDK of Amplify with Analytics", is it the iOS SDK's AWSPinpoint or Amplify's AmplifyPlugins/AWSPinpointAnalyticsPlugin ?

it sounds like you're looking for having different environments: https://docs.amplify.aws/cli/teams/overview#local-mocking

[2020-05-15 16:42] lawmicha commented on #345
It sounds like this can be closed, feel free to re-open if not, or open a new issue if seeing a different problem

[2020-05-15 16:42] #345 closed

[2020-05-15 23:17] fbarraganef commented on #408
It's iOS SDK AWSPinpoint, obviously implemeting Analytics service using the CLI of Amplify. But the SDK it's of the Amplify.

I'm using this 3 pods on my project.
pod 'AWSPinpoint'
pod 'AWSMobileClient'
pod 'AWSCore'

[2020-05-18 12:36] christoff-1992 commented on #431
Thanks @lawmicha, after looking into this in further detail I have realised that the latest version hadn't been cloned locally. I can see in 0.11.0 that transcription has been added as part of the configuration within the ConvertConfiguration. (TranscriptionConfiguration) This resolves the original issue I was having however it still feels a bit strange that the default region wont be used by defa

[2020-05-18 20:42] DongQuanRui opened #456 "The App does not run as expected with multiple sign in and sign out."
**Describe the bug**
One user is signed in in two iOS simulators. and when signing out from one of the two simulators, the other one cannot perform sign in or sign out as expected (The App is somehow crashed, need to go to "Device" -> "Erase all content and settings", and reinstall this app then it become normal).

**To Reproduce**
Steps to reproduce the behavior:
1. Start two simulators (call 1st

[2020-05-18 21:25] royjit commented on #424
I think  we can update confirmSignUp and resendSignUpCode to:
[code]
Suggestions?

[2020-05-18 21:34] palpatim commented on #424
In order to keep the device operations parallel, let's do `func forgetDevice(_ device:)` That way the call site reads `forgetDevice(myDevice)`, and the IDE will make it easy to understand what "forgetting" is about.

[2020-05-18 21:45] palpatim commented on #426
We call the GraphQL auth types (IAM, API Key, etc) ["Authorization Modes"](https://docs.amplify.aws/sdk/api/graphql/q/platform/ios#authorization-modes). However, as AWS-specific types, these should not be housed in the top-level Amplify project.

[2020-05-18 23:36] lawmicha commented on #426
removing the first one here https://github.com/aws-amplify/amplify-ios/pull/458

[2020-05-18 23:37] lawmicha commented on #426
for 2, AuthorizationProvider, looks good

[2020-05-19 10:54] Ankish opened #460 "Support custom file name of amplifyconfiguration.json to support different targets and schemes"
**Is your feature request related to a problem? Please describe.**

This is the current amplifyconfiguration.json, I want to have multiple files that I can use for different targets, schema. Currently, it fetched directly from amplifyconfiguration.json. No easy way to support custom file name.
[code]

**Describe the solution you'd like**
Currently we can configure awsconfiguration.json with a dict

[2020-05-19 11:59] ivenxu commented on #340
Having the same problem in javascript with reactjs. Enabling Configure conflict detection doesn't work.

[2020-05-19 16:48] lawmicha opened #464 "Fix Analytics integration test"
fix Analytics integration test
- move config over to configuration file + readme for provisioning
- remove AWSMobileClient dependency for getting identityId

_Originally posted by @lawmicha in https://github.com/aws-amplify/amplify-ios/pull/462_

[2020-05-19 20:37] royjit commented on #424
PR out for the changes - https://github.com/aws-amplify/amplify-ios/pull/465

[2020-05-19 23:50] #424 closed

[2020-05-20 00:32] lawmicha opened #466 "Analytics rename `identityId` parameter to `userId`"
https://github.com/aws-amplify/amplify-ios/blob/64c5ad75e4591278a1769690757b79074e9c38a8/Amplify/Categories/Analytics/AnalyticsCategoryBehavior.swift#L18

[2020-05-20 00:54] royjit commented on #426
Removing 2 since it is not used anywhere.
PR to rename 3 - https://github.com/aws-amplify/amplify-ios/pull/467

[2020-05-20 01:06] #426 closed

[2020-05-20 04:41] shravanjha commented on #340
I am having the similar issue.
using "@aws-amplify/datastore": "^2.1.0" version.

I can see the data is there in local storage but it does not sync. I have also setup the Auto Merge conflict resolution but seeing below error in console.

![image](https://user-images.githubusercontent.com/3584610/82405430-3e14fc00-9aa7-11ea-8155-dad83471616b.png)

![image](https://user-images.githubusercontent.com/

[2020-05-20 07:38] skryshi opened #468 "Q: When is GA release?"
We are deciding whether to go with AWS Amplify or some other solution for our iOS production app. I understand that Amplify for iOS is in preview release now.

Can you please give some guidance on when you expect to have a general release for iOS Amplify? We don't need precise dates, but ballpark what are we talking about? Q3'20? Q1'21?

[2020-05-20 15:52] royjit commented on #456
Fix is merged in to master. Please verify

[2020-05-20 16:27] mlabieniec commented on #468
Hi @skryshi we are still on track and close to completion of GA for this Q3 this year.
https://github.com/aws-amplify/amplify-ios/issues/335#issuecomment-593408357

[2020-05-20 22:11] DongQuanRui commented on #456
The sign out works very well now, closing this issue

[2020-05-20 22:11] #456 closed

[2020-05-21 17:53] #278 closed

[2020-05-22 19:01] amuresia commented on #298
Issue was closed there but for me the problem was not addressed ...

[2020-05-22 19:01] amuresia commented on #277
Cold we get an update please?

[2020-05-22 19:21] sebsto opened #480 "1.0.0-rc.1 crashes at runtime when APIPlugin is added but backend does not exist yet"
**Describe the bug**
Amplify 1.0.0-rc.1
When the code adds the `APIPlugin` but the `amplify push` has not been made yet (there is no API / backend), the execution crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project, create the pod, create the DataStore schema and do a codegen
2. Initialize amplify in your code with
[code]

**Expected behavior**
No crash

**Screensho

[2020-05-23 01:35] mickeysox opened #483 "Unable to create mutation if @connection is present"
**State your question**

I have a graphql setup which has users and posts.  If there is no connection between them, I can create a post, however as soon as I create the connection, I get the following error:

[code]
**Which AWS Services are you utilizing?**
Amplify graphql
**Provide code snippets (if applicable)**

[code]
model

[code]

If I remove the posts connection, I can create Posts.

Please

[2020-05-23 03:34] skryshi commented on #468
@mlabieniec Thank you!

[2020-05-23 03:34] #468 closed

[2020-05-25 18:03] dtelaroli commented on #277
+1

[2020-05-26 08:18] amuresia commented on #480
I see the same error even after the backend is deployed with `auth` and `api`.

[2020-05-26 08:36] sebsto commented on #480
I assume you have the API Plugin added at initialization time.

[code]

Does your `awsconfiguration.json` has an `AppSync` property ?

Does your `amplifyconfiguration.json` has an `api` property ?

[2020-05-26 08:44] amuresia commented on #480
Hi @sebsto, yes, I initialise like this in my AppDelegate:
[code]
`awsconfiguration.json` does include the `AppSync` property with
[code]
and `amplifyconfiguration.json` does include the `api` property.
[code]

[2020-05-26 08:49] sebsto commented on #480
Amplify 1.0.0-rc1 is unreleased yet, this is just a release candidate, the doc is not published yet.

You do not need to use `AWSMobileClient` anymore

Have a look at my sample project at https://github.com/sebsto/amplify-mobile-news-blog

[2020-05-26 09:27] amuresia commented on #480
I had a feeling that was the case!
I tried with the contents of your AppDelegate and after I sign in with Cognito and use the API I get the same problem as before
[code]
I messaged the team in Discord and I'll wait for 1.0.0 to be released.
Would you be so kind to add a README to your example repo, the iOS one in particular. It looks great btw!

[2020-05-26 09:35] sebsto commented on #480
I am writing a blog post for Amplify Mobile 1.0.0 launch, that will be the  missing README :-)
It should not be very long anymore.

Can you check your Auth category is correctly configured ? (you have an `Auth` property in `awsconfiguration.json` ? and a 'auth` property in `amplify configuration.json` ?)

This is my `amplifyconfiguration.json` (notice the `Auth` from `awsconfiguration.json` is dup

[2020-05-26 09:38] amuresia commented on #480
The `awsconfiguration.json`'s Auth is a bit scarce.
[code]

[2020-05-26 09:40] sebsto commented on #480
It means the Auth category is not correctly setup.

Maybe `amplify update auth` ? or `amplify remove auth` and 'amplify add auth` again ?

[2020-05-26 09:40] sebsto commented on #480
please ignore the message.  It just means Auth is configured for Cognito only, not Federated single-sign-on.

[2020-05-26 10:14] amuresia commented on #480
I removed and redeployed everything but I'm seeing the same error :(

[2020-05-26 10:30] sebsto commented on #480
I am afraid I can not help anymore.  Wait for 1.0.0 to be released and try again with a fresh project and the updated CLI

[2020-05-26 15:42] royjit opened #484 "Auth signOut after webUI signIn does not clear browser session"
**Describe the bug**
Amplify.Auth.signOut() does not clear the SFAuthentication session. This will not allow the user to signIn again with another users.

**To Reproduce**
Steps to reproduce the behavior:
1. signIn using `Amplify.Auth.signInWithWebUI`
2. After successful signIn, signout the user by `Amplify.Auth.signOut`
3. Now try to signIn again using `Amplify.Auth.signInWithWebUI`.
4. The user

[2020-05-26 16:02] lawmicha opened #485 "Owner-based auth based on IdentityClaim"
Currently, a developer using Auth directive can set their own `identityClaim` which determines which value to use as the owner. DataStore uses `Auth.getCurrentUser` and uses the `username` as owner. This feature is to support different `identityClaims` like cognito sub or something else.

The impact of not doing this is no support for custom identityClaims.

[2020-05-26 16:42] sebsto commented on #484
The way I am working around this is by forcing `ASWebAuthenticationSession` to connect to `/logout` on the Cognito endpoint.

[code]

[2020-05-26 20:31] thisisabhash opened #486 "amplify-app: command not found"
After following the Amplify iOS tutorial at
https://next-docs.amplify.aws/start/getting-started/native_generate-model/q/integration/ios
I am facing the following error at Step 3

~/ToDo/Pods/AmplifyTools/amplify-tools.sh: line 31: amplify-app: command not found

After running the commands below, I get following as the output on my machine :
amplify --version -> 4.21.0
which amplify-app -> amplify-

[2020-05-26 21:34] thisisabhash opened #487 "Build Error : Amplify iOS tutorial - Predicate filter in query"
I am getting a build error while adding a predicate filter in query as given in Amplify iOS tutorial.
https://next-docs.amplify.aws/start/getting-started/native_integrate/q/integration/ios#query-todos
.
.
Amplify.DataStore.query(Todo.self,
                       **where: Todo.keys.priority.eq(Priority.high.rawValue)**,
                       completion: { result in
.
.

~/ToDo/ToDo/ContentView.swi

[2020-05-26 21:38] thisisabhash commented on #487
Similar issue at
.
.
where: Todo.keys.name.eq("Finish quarterly taxes"),
.
.

[2020-05-26 21:41] thisisabhash commented on #487
Similar issue at **Delete TODO section**
.
.
where: Todo.keys.name.eq("File quarterly taxes")
.
.

[2020-05-26 22:16] attilah opened #488 "Run Script for Amplify tools can't find node when nvm is used"
**Describe the bug**
Following the Todo guide when I try to build the project, the Run Script phase fails with the error:

[code]

I'm using node through nvm and does work from `sh`, `bash`, `zsh`, but not from xcode script.

I even tried to add this to the script, but did not help:
[code]

[2020-05-26 23:00] lawmicha opened #489 "Amplify Plugins dependency on AWSCore - First time build fails"
**Describe the bug**
When i create a new Xcode project, and install Amplify plugin pod dependencies, the first build usually fails, i have to then run clean all (Shfit+CMD+K) and (CMD+B) and is then successful

**To Reproduce**
Steps to reproduce the behavior:
1. a pod file with Amplify dependencies, most likely one of the plugins that depend on AWSCore
2. pod install
3. open workspace
4. CMD+B, s

[2020-05-26 23:04] yuth opened #492 "Amplify tool fails if the project folder has space char"
I was following amplify ios getting stated guide and added Amplify tools to my podfile. The build command failed with following error
[code]

Steps to reproduce:
1. Create an XCode project
2. Make sure the path for project has an empty space ` `. In my case it was `/Users/<user>/Documents/code/iOS App/Todo`
3. Run `pod init`
4. Update Podfile with following
[code]
5. Update build setting to run sc

[2020-05-26 23:19] #486 closed

[2020-05-27 00:15] #487 closed

[2020-05-27 14:08] palpatim commented on #480
@amuresia and @sebsto 1.0.0 is released and I've verified that it's available in CocoaPods. Can you re-test with the latest version & see if this is still an issue?

[2020-05-27 14:11] sebsto opened #496 "iOS DataStore Sync receives WebSocket notification but Publisher code is not called."
**Describe the bug**
In a iOS App, I am creating a DataStore subscriber to receive notifications when data are modified on the backend.
When I trigger a mutation in the console, on the device, I see logs from DataStore web socket protocol receiving the notification, but my subscriber code is never called.
The DataStore offline store is updated.  When I `query()` the data after observing the web so

[2020-05-27 14:38] palpatim commented on #408
@fbarraganef

If I read your Podfile snippet correctly, you are actually using the [legacy SDK](https://github.com/aws-amplify/aws-sdk-ios). The Podfile for Amplify would look like:

[code]

As long as you are using the same backend configuration, the Amplify CLI will not remove any existing resources. Behind the scenes, it uses [AWS CloudFormation](https://aws.amazon.com/cloudformation/) template

[2020-05-27 16:20] palpatim commented on #460
@Ankish

You can currently construct the configuration in-memory via the (admittedly verbose) `AmplifyConfiguration.init(analytics:api:auth:dataStore:hub:logging:predictions:storage:)` constructor.

As you pointed out, there exists an internal method that reads from a JSON file by passing a file path to `AmplifyConfiguration.init(configurationFile:)`. We'll investigate this as a feature request to

[2020-05-27 16:25] lawmicha commented on #464
completed in https://github.com/aws-amplify/amplify-ios/pull/475

[2020-05-27 16:25] #464 closed

[2020-05-27 18:29] Ankish commented on #460
@palpatim : I couldnt find any examples of using that function.
It would be of great help, Can you post the code , how I could use the above file to construct function with ? Did not see any examples in the code as well.

AmplifyConfiguration.init(analytics:api:auth:dataStore:hub:logging:predictions:storage:)

[2020-05-27 18:56] palpatim commented on #496
@sebsto Combine subscriptions are only weakly retained by the publishers, so it's up to you to hold onto the returned `cancellable`. Instead of a local variable that passes immediately out of scope, try holding onto the publisher subscription in an instance variable of the view controller.

E.g.,

[code]

[2020-05-27 19:48] sebsto commented on #496
Thank you @palpatim very good catch.  We should make this explicit in the doc at
https://next-docs.amplify.aws/lib/datastore/real-time/q/platform/ios

I will open an issue against the doc.

For the record, the way to declare the publisher is

[code]

[2020-05-27 19:51] palpatim commented on #460
@Ankish Sure thing--the tests primarily use that constructor, as in https://github.com/aws-amplify/amplify-ios/blob/master/AmplifyTests/CategoryTests/API/APICategoryClientGraphQLTests.swift#L21-L25

To generalize this: each Amplify category has a few options that apply to the entire category, plus a "plugins" object that holds the configuration for the specific plugin--in this case, the AWSAPIPlug

[2020-05-27 19:54] sebsto commented on #496
To track the change in the doc https://github.com/aws-amplify/docs/issues/1865

[2020-05-27 19:54] #496 closed

[2020-05-27 19:55] sebsto commented on #480
I will verify this tomorrow. thanks

[2020-05-27 22:04] lawmicha commented on #395
Hi @Tom-RulesCube thanks for opening this issue. We have added support for using DataStore with Cognito user pools enabled API

1. Please upgrade Amplify CLI to the latest (4.21.0)
[code]

2. Podfile will need to depend on DataStore, API, and Auth
[code]
Make sure to run `pod install --repo-update` too ensure you are picking up the 1.0.0 version

3. the API's auth mode will need to be set to Cogni

[2020-05-27 22:58] royjit commented on #421
Added in documentation

[2020-05-27 22:58] #421 closed

[2020-05-28 13:53] #435 closed

[2020-05-28 13:57] #385 closed

[2020-05-28 14:19] small4all commented on #340
I had the problem that the sync didn't work as expected. It felt like older entries are not transferred but data that is newly created is available to cross over device. It was strange and frustrating. the state is hard to describe. The initial sync seems to be broken.

After analyzing index db, dynamo db and network traffic i found the following.

Maybe this helps. But maybe it's just a weird sza

[2020-05-28 14:55] palpatim commented on #340
@Johnniexson, @ivenxu, @shravanjha, @small4all Could you open your issues on the https://github.com/aws-amplify/amplify-js/issues repo ? This issues page is specifically for iOS, and we won't be able to provide any useful guidance for you.

[2020-05-29 07:31] drochetti commented on #176
This is fixed in https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0

[2020-05-29 07:33] drochetti commented on #348
@sebsto I believe this is no longer an issue in [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0). Feel free to re-open otherwise.

[2020-05-29 07:33] #348 closed

[2020-05-29 07:34] drochetti commented on #387
@lawmicha do you know if this is still reproducible in [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0)?

[2020-05-29 07:41] drochetti commented on #340
Hey @James-Coleman we just released a stable [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0). Could you try following the [new DataStore tutorial](https://docs.amplify.aws/start/getting-started/native_setup/q/integration/ios) and see if the new flow and stable code fixes your issues?

I appreciate your patience and the fact you tried our unstable preview and provided valua

[2020-05-29 07:48] drochetti commented on #349
@aftabahmed1286 @Maybelline @patrickridd @raduoprea

We just went GA with Amplify iOS, [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0) is officially out. Can you try the [new DataStore tutorial](https://docs.amplify.aws/start/getting-started/native_setup/q/integration/ios) and see if the latest version fix things for you?

We also launched a Discord community, feel free to

[2020-05-29 07:55] drochetti commented on #335
@jeffla @Ricardo1980 @amuresia @jtmorris314 Amplify for iOS just went GA! The [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0) is officially out.

We also have a [new step-by-step tutorial](https://docs.amplify.aws/start/getting-started/native_setup/q/integration/ios) using `Amplify.DataStore`.

Last but not least, we launched a Discord community, feel free to join us there

[2020-05-29 08:05] drochetti commented on #293
Hey @lesmuc we just released a stable [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0). Could you try?

Two notes about your issue:

**1. Incompatibility between `@versioned` and codegen:**

Can you try adding an explicit `version: Int!` to your GraphQL schema? I suspect this is an issue with the model generator not working properly with `@versioned`.

**2. API breaking cha

[2020-05-29 08:08] drochetti commented on #280
@lesmuc @rodrigoelp now that Amplify went GA, we will start looking at Swift Package Manager and Carthage.

[2020-05-29 08:11] drochetti commented on #257
Hey @MyJBMe we just released a stable [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0). Could you try following the [new DataStore tutorial](https://docs.amplify.aws/start/getting-started/native_setup/q/integration/ios) and see if the new flow and stable code fixes your issues?

We did add support for the scenario you described (`inspectors: [String]`) and that should be su

[2020-05-29 08:14] drochetti commented on #246
Hey @rodrigoelp @yosuke1985 @AnruStander we just released a stable [v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0).

Enums should work correctly in `1.0.0`. Can you try and let me know if that fixes the issue for you?

---

I appreciate your patience and the fact you tried our unstable preview and provided valuable feedback and insights with your issue report. I hope the s

[2020-05-29 08:15] drochetti commented on #240
@sebsto I believe this issue is fixed in `1.0.0`. Feel free to re-open in case you're still experiencing issues.

[2020-05-29 08:15] #240 closed

[2020-05-29 08:18] drochetti commented on #245
@rodrigoelp I believe this is no longer an issue in [Amplify v1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0). Feel free to re-open if you're still experiencing problems.

[2020-05-29 08:18] #245 closed

[2020-05-29 08:19] drochetti commented on #244
@rodrigoelp @sebsto This should be fixed in [Amplify 1.0.0](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.0).

Feel free to re-open if you're still seeing this issue in the stable release.

[2020-05-29 08:20] #244 closed

[2020-05-29 16:23] sebsto commented on #480
This is not fixed in 1.0.0
When adding `AWSAPIPlugin()` at runtime but **before** an `amplify push`, the app is crashing with  :

![image](https://user-images.githubusercontent.com/401798/83282114-6bfded00-a1d9-11ea-8f40-ed76102c707d.png)

[2020-05-29 16:36] sebsto commented on #240
I confirm this is working with 1.0.0

[2020-05-29 19:02] andriworld opened #529 "GraphQL query for model with list attribute gives error: "Sub selection required""
**Describe the bug**
Our model includes a field which is a list of elements of another type. The children are stored inline as an array of objects, not in a separate DynamoDB table. This is breaking in iOS (Swift). See repro steps below

**Amplify CLI Version**
4.21.0    (ios)

**To Reproduce**
Add an api with the following schema:
[code]

Fetch a Todo using the generated model:

`
Amplify.API.que

[2020-05-29 20:19] drochetti commented on #328
Is this still a valid issue?

If so I vote for Option 1, as name clashes are a common problem in large Swift applications with many dependencies and typealias is often used to solve them. Also, I believe using the fully qualified name works: `Amplify.Cancellable`.

[2020-05-29 20:44] royjit opened #500 "Amplify Tool fails if I have multiple AWS profile and default is not valid"
**Describe the bug**
I am getting a build failure when I followed the getting started guide for iOS, particularly the last step "Connect to the cloud".

**To Reproduce**
Steps to reproduce the behavior:
1. Have multiple AWS profile in your CLI, make the default profile fill with invalid credentials
2. Follow the getting started guide
3. When you reach connect to the cloud step build fails

**Addit

[2020-05-29 22:51] palpatim commented on #489
I've also confirmed that disabling parallelized builds does not fix the issue.

[2020-05-29 22:59] palpatim commented on #489
I've confirmed that using the legacy build system does not fix the issue.

[2020-05-30 18:54] cerupcat opened #501 "Documentation: Using Amplify Library/Plugins without Amplify Backend/CLI"
**Is your feature request related to a problem? Please describe.**

If it's possible to use the library without using Amplify/CLI, it would be nice to have example documentation for how to configure manually.

I'm currently using `aws-sdk-ios` and `AWSMobileClient` to connect to AWS services (not Amplify). `amplify-iOS plugins` include useful utilities/helper-methods for connecting to AWS services

[2020-05-31 08:08] mickeysox opened #502 "Amplify-app stopping xcode build with amplify-tools (following getting-started tutorial)"
**Describe the bug**

Following the tutorial [https://docs.amplify.aws/start/getting-started/native_setup/q/integration/ios#adding-amplify-tools](url) xcode can sometimes fail to build if you have ever installed amplify-app.  This is because in the root of the xcode directory, the amplify-app would have created amplifyxc.config but the run script now uses amplifytools.xcconfig.

**Screenshots**
If

[2020-06-01 04:19] drochetti commented on #480
Thanks for confirming @sebsto
We will work on a fix for this.

[2020-06-01 06:28] anthonymoretti opened #503 "Can't save object to DataStore if parent object has two connections to objects of the same type"
**Describe the bug**
Can't save object to DataStore if parent object has two connections to objects of the same type.

**To Reproduce**
1. Create type with two connections to objects of the same type.
2. Create type that is a child of the first type.
3. Save the parent object to DataStore
4. Try to save the child object to DataStore

**Expected behavior**
The parent object is saved and then the ch

[2020-06-01 16:14] anthonymoretti opened #504 "Codegen produces compile error - Value type 'PhoneCall' cannot have a stored property that recursively contains it"
**Describe the bug**
Codegen produces model files with the following compile errors:
- Value type 'PhoneCall' cannot have a stored property that recursively contains it
- Value type 'Transcript' cannot have a stored property that recursively contains it

**To Reproduce**
1. Create the schema below
2. Add api, push, then run `amplify codegen models`
3. Observe compile error in Xcode

**Expected beh

[2020-06-01 16:24] anthonymoretti opened #505 "Incorrect codegen error - DataStore does not support 1 to 1 connection with both sides of connection as optional field"
**Describe the bug**
Codegen produces the following error even though both sides of the connection are actually non-optional:
"DataStore does not support 1 to 1 connection with both sides of connection as optional field"

**To Reproduce**
1. Create the schema below
2. Add api, push, then run `amplify codegen models`
3. See error

**Expected behavior**
Generates the code

**Environment:**
 - Amplif

[2020-06-01 23:59] wooj2 commented on #492
Pending PR: https://github.com/aws-amplify/amplify-ios/pull/506

[2020-06-02 00:02] wooj2 commented on #492
Commit was merged to our master branch, i am optimistically closing this issue for now

[2020-06-02 00:02] #492 closed

[2020-06-02 15:30] spenceps opened #507 "Error: "The key __typename was not found" when using DataStore with existing data in database."
**Describe the bug**
If the api is created without enabling conflict detection and data is saved to the backend using the API plugin then after conflict detection is added DataStore fails with `The key __typename was not found`

**To Reproduce**
Steps to reproduce the behavior:
1. Create new api as described in the tutorials using amplify cli - `amplify api add` **without** enabling conflict detec

[2020-06-02 15:31] palpatim commented on #489
Note: When this is resolved, remove the build error callouts I introduced in https://github.com/aws-amplify/docs/pull/1894. (Don't just revert the change, as it also includes some minor formatting cleanup that is useful to keep)

[2020-06-02 20:46] joyacv2 commented on #501
Hi,

I have the same problem. I want to use the amplify iOS library but I can't use my existing API. The documentation for manual configuration is only available for Javascript. Is necessary to document the same scenario for iOS. Right now you can have a backend team separately if you want to use amplify for iOS. The first page of the documentation indicates that you can use your existing backend

[2020-06-02 21:31] lawmicha commented on #483
Hi @mickeysox, thanks for reporting this issue. I was able to reproduce this and it appears that when creating a Post, the selection set that is generated is missing the User fields, instead it populating another field called `postUserId` that is causing the service to return that GraphQL error.

I fixed this in https://github.com/aws-amplify/amplify-ios/pull/509/files if you like, feel free to us

[2020-06-02 22:03] mickeysox commented on #483
Hi @lawmicha

Thank you so much for fixing this.  Could you tell me how I could use the fixed branch? i.e. update my pods or?

I have a separate but potentially related issue regarding DataStore.  I have put a message out in discord https://discord.com/channels/705853757799399426/707328996995760179/717494199875797092 if you have a minute would you mind checking?

In summary, when I use `self.users

[2020-06-02 23:57] lawmicha commented on #483
Hi @mickeysox
if you would like to try out the changes, you'll need to get a local clone of the repository on your machine
[code]
pwd will print out the full path with the current directory. this can be used in the Podfile to install pods directly from your local repo, by using
[code]
I usually just remove Podfile.lock and Pods directory, before `pod install` to make sure it's doing a fresh instal

[2020-06-02 23:57] lawmicha opened #510 "SQL statement "root"."postUserIdId" = ?" should be "root"."userId" = ?""
I have a separate but potentially related issue regarding DataStore.  I have put a message out in discord https://discord.com/channels/705853757799399426/707328996995760179/717494199875797092 if you have a minute would you mind checking?

In summary, when I use `self.users?.posts?.count` the output fails (I have tested and the data exists online 1:m posts

Here is the output:

[code]
Model (note t

[2020-06-02 23:58] lawmicha commented on #483
For the DataStore issue, i have created a new issue for us to take a look at over here https://github.com/aws-amplify/amplify-ios/issues/510

[2020-06-02 23:58] lawmicha commented on #510
from @drochetti
"it seems to be a bug, in the SQL statement where it says and "root"."postUserIdId" = ?" it should be and "root"."userId" = ?" as per your schema"

https://discord.com/channels/705853757799399426/707328996995760179/717500699419607201

[2020-06-03 00:24] wooj2 commented on #502
Pending PR:
https://github.com/aws-amplify/amplify-ios/pull/511

[2020-06-03 07:15] mattreesEE opened #515 "Auth Plug in guide"
**State your question**
Following the auth plug in guide for Cognito here https://docs.amplify.aws/lib/auth/getting-started/q/platform/ios#initialize-amplify-auth

The guide is missing the need to add the API plugin. Is this an error in the guides or a bug in Cognito plugin?

**Which AWS Services are you utilizing?**
AWS-Amplify Cogntio Plugin
**Provide code snippets (if applicable)**
   do {

[2020-06-03 08:54] mickeysox opened #512 "Wrong column name in predicates with connected fields"
**Describe the bug**

The following statement should translate Post.keys.user to postUserId

[code]

However the following error occurs:

[code]

Referring to a model
[code]

Amplify will generate the following:

Post.swift
[code]
Post+schema.swift
[code]

as you can see ```post.user``` should have a target of ```postUserId``` however when using post.keys.user, the column cannot be found.

Solutio

[2020-06-03 17:12] palpatim commented on #489
Easier repro: perform these same steps in one of the plugin projects target, so you don't have to manage a completely separate Pod project. E.g.

- AWSPinpointAnalyticsPlugin
- Let indexing complete
- Run unit test, or build for testing

[2020-06-03 21:12] wooj2 commented on #502
Pushed PR #511 to master.  I will be optimistically closing this ticket.  Thanks again for reporting!

[2020-06-03 21:12] #502 closed

[2020-06-03 23:45] palpatim commented on #489
Reopening until we release

[2020-06-04 00:16] DongQuanRui opened #518 "[Bug][Amplify API] Failed to update the value to nil although assigning nil as the value"
**Describe the bug**
Say there is a Todo object already been crated like the following:
{
    id: "1234"
    name: "name"
}
where id is required field and name is optional field.

Failed to update this todo object with id "1234" when name is set to nil and run mutate.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a todo object (id = "1234", name = "name") using Amplify.API.mutate()

[2020-06-04 00:42] DongQuanRui commented on #518
The bug is fixed by this PR -> https://github.com/aws-amplify/amplify-ios/pull/519

[2020-06-04 01:06] royjit commented on #298
Hi @amuresia

I tried to reproduce the issue, please let me know if these are the steps followed?

1. First I create an entry and save to datastore
2. Use the entry I created just now to create a comment
[code]

3. Then when I try to retrieve the items by querying the Datastore

[code]
Everything worked as expected.

[2020-06-04 07:23] mattreesEE commented on #515
You are correct I can see on Amplify backend it has added API plugin.

The only two CLI commands I ran were

amplify init
amplify add auth

Is there a setting on the CLI I accidentally chose?

[2020-06-04 13:42] mickeysox opened #521 "Generated models not compatible with UICollectionViewDiffableDataSource"
**Is your feature request related to a problem? Please describe.**

The generated swift models that amplify produces are not compatible with UICollectionViewDiffableDataSource as they do not conform to Hashable

[code]

**Describe the solution you'd like**

Could we please conform generated models to Hashable?

**Describe alternatives you've considered**
The current solution to this is to extend t

[2020-06-04 16:29] amuresia commented on #507
+1

[2020-06-04 16:44] amuresia opened #522 "Non model objects cannot be created"
**Describe the bug**
I cannot create models that have a relation to a non model object
**To Reproduce**
Schema
[code]
Function 1 (API):
[code]
Error for function 1:
[code]
Function 2 (DataStore):
[code]
Error for function 2:
The logs print `Added user` but I don't see anything in DynamoDB.

**Expected behavior**
A new record to appear in the User table in DynamoDB

**Environment(please complete th

[2020-06-04 17:08] spenceps opened #523 "Add control to which GraphQL connections of a model are loaded when constructing a query with Amplify.API.query"
**Is your feature request related to a problem? Please describe.**
The document generated with a GraphQL request makes some assumptions about which connections are loaded. It would be very helpful to make a way to indicate which connections should be added to the graphQL document.

Right now the assumption is that a connection only included if it is the connection owner and it is a required field

[2020-06-04 19:55] watanabethais commented on #505
I'm having the same issue on amplify-android library.
Maybe this is related to amplify-cli...

[2020-06-04 20:25] royjit commented on #298
Thank you for verifying. Closing this issue.

[2020-06-04 20:25] #298 closed

[2020-06-05 06:21] AMAYUT commented on #504
I am also having this issue. It seems that it doesn't support more complex schemas with the models referring back to one another? I feel like that should be resolved or mentioned in their documentation at least.

[2020-06-05 11:33] sebsto opened #527 "Developers want to reconfigure Amplify at runtime"
**Is your feature request related to a problem? Please describe.**
A customer is developing an app using TWO Cognito User Pools.
Customer develops a web app, an Android app and an iOS App.

On their web app, they are able to call `Amplify.configure(configuration);` with one config (Cognito User Pool) or the other, depending on the URL of the app being used.

But on Mobile, it seems that once confi

[2020-06-05 12:42] wooklym commented on #505
+1

[2020-06-05 12:47] wooklym commented on #505
[code]

[2020-06-05 20:32] anthonymoretti commented on #504
@AMAYUT I've been told it might have to do with the use of `struct` vs `class`

[2020-06-05 20:42] anthonymoretti commented on #505
Thanks guys. I've been told it's being looked into, has to do with which side of the relationship should be the "owner". I've made a feature request that possibly addresses this and other issues [RFC - Simplified @connection directive](https://github.com/aws-amplify/amplify-cli/issues/4433)

[2020-06-05 23:05] #503 closed

[2020-06-06 12:45] andriworld commented on #529
@sebsto yes you are seeing the same issue as I am. Note that after I hacked SelectionSet.swift so that the correct query went through, there were other issues decoding the results, as it's expecting a model.  It seems the design doesn't account for non-model associations. In the meantime, I'm using AWSAppSyncClient for the API category.

[2020-06-06 13:37] sebsto commented on #529
Can you share your `SelectionSet` hack ? I am following the same path and try to modify `SelectionSet` but this is hardcoded for my Model, not a generic solution. (see this [gist](https://gist.github.com/sebsto/a81db362d06f5d7b3afc65b4c19048a3))
My hack unblocked me for `queries` I did not try mutation or anything fancy.

I reached the same conclusion as you, there is no support for non-model asso

[2020-06-06 20:08] andriworld commented on #529
@sebsto My hack was even more specific. Something like `if field.isAssociationOwner || field.name == "categories"`.    Good that you are unblocked. Even with the correct query, the decoding failed for me.

Actually your case has a single item of the nested type, whereas I have an array of items of the nested type.

[2020-06-07 21:20] mrtom opened #663 "[Feedback]Make a GraphQL request for a nested query"
**Page**: [`/lib/q/platform/ios`](https://docs.amplify.aws/lib/q/platform/ios)

**Feedback**:

Hi there!

I'm trying to update a fairly straightforward app from the old Amplify SDK to the new Amplify Library. The docs don't have any migration guide sadly.

One thing that isn't at all clear is how you go about using custom queries with the API exposed by the library. The docs show how to fetch a si

[2020-06-08 05:02] skryshi opened #530 "Info on scalar types, field authZ, field validations"
The docs are really sparse on details. As we move to integrate Amplify, some basic questions are coming up:

1. How can we add our own scalar types? For example, Int64 and Double.

2. How do we create models where fields have different authZ rules? For example,

[code]

Record owner has read/write permissions to all fields. Other users only have read permission to `first_name` field. How do we set

[2020-06-08 18:18] cabeaulac opened #531 "Connection to model object with S3Input doesn't return S3Input attribute"
**Describe the bug**
The below schema has a 1-many relationship (Profile:CardOwner). A `Profile` can have many `CardOwner` objects. `CardOwner` has an `S3Object` in it. When you navigate from `Profile` to `CardOwner` via the `profile.idcards` attribute, the array of idcards does not contain the pic attribute. If you query the `CardOwner` table directly, it does have the `pic` attribute. Did I miss

[2020-06-09 10:50] vitzaoral commented on #340
I had similar problem, AWS DataStore was not syncing data to Cloud when I followed new DataStore tutorial. But at one time I tried write `amplify update api` and there was option `Enable DataStore for entire API`. After `amplify push` it added some configuration to file `transform.conf.json` (ResolverConfig) in Xcode project and it started work!

[2020-06-09 11:21] IMKalpataru opened #532 "Sign in is not working"
**Describe the bug**
Initially I have implemented AWS cognito sign in using amplify but while working on token things I deleted the app client so my project showed some error, again created app client but sign in is not working while the sign up is working perfectly. So I removed amplify from project and re-configured them but still getting below errror.

_Sign in failed AuthError: Unexpected erro

[2020-06-09 15:27] lawmicha commented on #532
hi @IMKalpataru , thanks for reporting this issue. We should investigate if there are any bugs in swapping between multiple user pools during development as this is common for staging/production environments. Can you confirm that you are able to get back to a working state in your app by clearing the app data?

You can clear the app data by removing the app and reinstall, if that doesn't work, pre

[2020-06-09 18:15] ruiguoamz opened #533 "AmplifyConfig folder is not generated again after deleting it"
**Describe the bug**
Use amplify-tools to generate `AmplifyConfig` folder, delete the folder and try to generate it again with `Cmd+B`, the folder is not generated again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Xcode project
2. Add a Build Phase to your app target.
3. Click on the project in the project workspace, then click the app target, and then click on `Build Phase

[2020-06-09 20:17] drochetti commented on #488
A temporary mitigation for this issue is to prepend to your Amplify Build Phase Script the NVM initialization: `. ~/.nvm/nvm.sh;`

A complete example of the Build Phase script:

[code]

[2020-06-09 20:33] lawmicha commented on #530
Hi @skryshi , thanks for the questions. I'll answers these to the best of my knowledge, while some details I may not be too sure about and we can follow up on your additional questions

1. Scalar types

I believe you can use `Float` for Double.
[code]
The scalar types can be found here https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html
When running `amplify codegen models`, I can see

[2020-06-09 21:55] lawmicha commented on #483
the change related to associations https://github.com/aws-amplify/amplify-ios/pull/509 has been released in 1.0.1

[2020-06-09 21:55] #483 closed

[2020-06-09 22:01] lawmicha commented on #515
Hi @mattreesEE sorry for the confusion.

If you go to a new directory and run `amplify init`, choose iOS. then run `amplify status` should show no categories added. As you add more categories such as `amplify add auth` or `amplify add api`, and you can verify the status of those added with `amplify status`. Once you are ready to create the AWS resources, you can run `amplify push`.

Do you have an

[2020-06-10 04:33] IMKalpataru commented on #532
Hi @lawmicha, Thanks for responding.

I have done 'Reset content and settings' but still facing the same issue.

[2020-06-10 06:09] arjoglekar commented on #340
Could you please share your transform.conf.json. I am also facing the same issue.

[2020-06-10 06:26] vitzaoral commented on #340
My _transform.cong.json_:
As I sad, I had to enable `Enable DataStore for entire API` (`amplify update api` command)

[code]
}

[2020-06-10 10:51] chittasec opened #536 "add SQS from SDK"
**Describe the bug**

I created sample Swift App using Amplify . awsconfiguration.json inside AmpliyConfig folder contain the amplify auth related config .
Now I want to add SQS SDK to the app .
Followed the documentation and added it in awsconfiguration.json as below .

Changed region as required at https://aws-amplify.github.io/docs/ios/manualsetup .

    "SQS" : {
        "Default": {

[2020-06-10 19:32] amuresia opened #537 "Integrate Storage with DataStore"
I have a use case where I create users via DataStore and I want to store their avatars in S3.

I would like a secure solution for retrieving a `.protected` avatar so that other users of the applications can see it.

At the moment I am using something like this:
[code]
As you can see, I store `identityId` in the object so that `Storage.download` can retrieve it from S3.

[2020-06-10 23:39] lawmicha opened #540 "awsDynamoDBStoragePlugin is not supported but added to amplifyconfiguration.json"
**Is your feature request related to a problem? Please describe.**
When i add Storage Category and choose to use DynamoDB as storage, there is no corresponding Amplify Plugin for me to use.

**Describe the solution you'd like**
ignore and log unknown configuration keys during Amplify.configure()

**Describe alternatives you've considered**
Possibly remove the option to add dynamoDB as a storage pl

[2020-06-11 06:20] IMKalpataru commented on #532
The issue got fixed by deleting amplify from project using `amplify delete`. Then I re-init the amplify and added auth etc. Now it's working for me.

[2020-06-11 10:26] chittasec commented on #536
OK, I had to add below in amplifyconfiguration.json as well .
I hope one day Amplify would be stable and documentation would be complete and robust like other AWS services.

"SQS" : {
    "Default": {
        "Region": "XX-XXXX-X"
    }
}

[2020-06-11 10:26] #536 closed

[2020-06-11 14:52] lawmicha commented on #540
discussed with @palpatim, paraphasing here
- Amplify iOS configuration intentionally fails on missing keys to prevent developer from adding category but forgetting to configure plugin.
- why is CLI adding this in? how is this used in other platforms? `amplify add storage` and choose dynamoDB for JS appears to not add similar configuration
- workaround: customer can remove it from config
- possibly

[2020-06-11 17:04] drochetti commented on #507
@spenceps @amuresia @jfcadillo951 does any of you remember and can provide details on how you inserted the data previously in the DataBase?

Was it using the AppSyncClient SDK? Or using Amplify Console? Or using the DynamoDB UI?

[2020-06-11 17:06] spenceps commented on #507
@drochetti - I was using the AppSyncClient SDK. i.e. Amplify.API.mutate()

[2020-06-11 17:06] amuresia commented on #507
@drochetti for me it was via the Amplify Console and via the mobile DataStore library.

[2020-06-11 17:20] drochetti commented on #507
`Amplify.API.mutate` is not AppSyncClient SDK, it's Amplify.

Did you created all the data previously in the DataBase using Amplify and ended up with data without `__typename`?

[2020-06-11 17:40] spenceps commented on #507
@drochetti - I did create all the data with Amplify. I don't remember if `__typename` was in the DynamoDB and I have since deleted the data.

[2020-06-11 18:24] drochetti commented on #349
Closing this issue. Feel free to open a new one if you have problems with the stable version of Amplify.

[2020-06-11 18:24] #349 closed

[2020-06-11 18:25] drochetti commented on #340
@vitzaoral thanks for the confirmation.

I'm closing this issue for now. Feel free to open a new one if you have problems with the stable version of Amplify.

[2020-06-11 18:25] #340 closed

[2020-06-11 18:26] #335 closed

[2020-06-11 18:26] drochetti commented on #257
Closing this issue. Feel free to open a new one if you have problems with the stable version of Amplify.

[2020-06-11 18:26] #257 closed

[2020-06-11 18:26] drochetti commented on #246
Closing this issue. Feel free to open a new one if you have problems with the stable version of Amplify.

[2020-06-11 18:26] #246 closed

[2020-06-11 18:40] drochetti commented on #501
@joyacv2 can you share the URL of the documentation you're referring to so we can make sure we address this correctly?

[2020-06-11 18:44] drochetti commented on #489
[1.0.1](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.1) is out and contains the fix. Closing.

[2020-06-11 18:44] #489 closed

[2020-06-11 18:46] joyacv2 commented on #501
Hi @drochetti,

The url for manual configuration for JS is:
https://docs.amplify.aws/lib/restapi/getting-started/q/platform/js#manual-setup-import-existing-rest-api

[2020-06-11 18:50] joyacv2 commented on #501
Hi @drochetti ,

Also for iOS you can see this, thanks to @lawmicha :
https://github.com/aws-amplify/docs/blob/ddfee66f0c5e9e511faf186f0a9d2b0751edec44/docs/lib/restapi/fragments/ios/authz.md and
https://github.com/aws-amplify/docs/blob/ddfee66f0c5e9e511faf186f0a9d2b0751edec44/docs/lib/graphqlapi/fragments/native_common/authz/common.md

[2020-06-11 19:43] mobee-bill opened #550 "Amplify.Auth.signInWithWebUI and Amplify.Auth.fetchAuthSession crashing app"
**Describe the bug**
I have gone through the setup guide a few times.  I have the following intialization:
[code]

In the console:
[code]

Everything going according to the docs so far...
Calling the following:
[code]
or even...
[code]
Both crash with `Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)`

**To Reproduce**
Steps to reproduce the behavior:
Initialize Amplify, then try c

[2020-06-12 02:52] lawmicha opened #541 "Support for not passing in value for Optional Embedded Collection of Strings"
**Describe the bug**
API request is failing when not specifying a value for an optional embedded collection of strings

**To Reproduce**
Steps to reproduce the behavior:
1. schema
[code]
2. Create a Todo without any stickies, it will default to empty array `[]`.
3. Make API call, it will create the query variables
[code]
3. See error
[code]
**Expected behavior**
When there is an empty array, we sh

[2020-06-13 16:31] lenarmazitov opened #544 "DataStore modelgen fails on union type"
**Describe the bug**
When I create union type for search and try to generate DataStore models I've got error
[code]

**To Reproduce**
Create schema with union and use union in any type
[code]

**Expected behavior**
Successfully generate models

[2020-06-14 09:15] jaivia opened #545 "Array of items is duplicated on model after update"
**Describe the bug**
When model as an Array of items (in test case type was [String]?) updating using Amplify.API.mutate(.update(model)) the new model appends all contents of the array to the existing model creating duplicates. Updating a model will cause exponential growth of all array properties.

**To Reproduce**
Create a schema with [String]? property.
Create a new model with this property pop

[2020-06-14 09:19] jaivia opened #546 "Model not updating optional string"
**Describe the bug**
An optional string on a model is not being updated using the mutation function on API. When backend table is looked at the version number increases but property remains the same

**To Reproduce**
Create a model with optional string property
Change model's property and then update

- Value remains the same on the model that is returned

**Expected behavior**
Models returned fro

[2020-06-14 15:22] amuresia opened #547 "DataStore not working with @connection"
**Describe the bug**
I am trying to implement `Has Many`. The following model does not work i.e. I do not get results that were created using the App Sync console:
[code]
Using the App Sync console, everything looks ok, I can do `get` and `list` and results come back, but with `Amplify.DataStore.query(User.self)` I always get `case .success(let result)` but result is empty and there are no errors.

[2020-06-15 08:31] amuresia opened #548 "DataStore doesn't pull new records"
**Describe the bug**
New entries added via the App Sync console are not synced to the client.
**To Reproduce**
Using the following schema
[code]
Use the following function
[code]
Load the `getPersona` function on launch, I use SwiftUI's `.onAppear(perform:viewModel.getPersona)`
 Run the application on a simulator.
Create a Persona with id: `testme` and then an Action via the App Sync console.

**E

[2020-06-15 14:22] amuresia commented on #548
Also, subscribing to data doesn't work.
[code]
Running this on an iPhone X, then creating a persona via the app sync console, returns
[code]

[2020-06-15 16:37] tappready commented on #340
This produces the following error for me

[!] There are multiple dependencies with different sources for `Amplify` in `Podfile`:

- Amplify (from `https://github.com/aws-amplify/amplify-ios.git`)
- Amplify/Tools

[2020-06-15 17:07] Nookaraju opened #549 "App is crashing Amplify Auth methods (iOS)"
**Describe the bug**

Integrated Amplify and created user pool and added amplifyconfiguration.json to project.
When I try to fetch session or signUp any Amplify.auth method app gets crashed with following log:

Fatal error: Authentication category is not configured. Call Amplify.configure() before using any methods on the category.: file /Users//Documents/Personal/<App>/Pods/Amplify/Amplify/Catego

[2020-06-15 17:07] #549 closed

[2020-06-15 17:25] royjit commented on #484
Changes are merged to master and will be available in the next release.

[2020-06-15 19:31] drochetti commented on #548
@amuresia thanks for reporting this. When using the AppSync Console, did you follow these guidelines? https://docs.amplify.aws/lib/datastore/how-it-works/q/platform/ios#writing-data-from-the-appsync-console

[2020-06-15 19:40] amuresia commented on #548
Hey @drochetti, thanks for the prompt reply! Yes I followed the tutorial, I included `_version: 0` when using `createPersona` and I see the subscription triggering on the client but it references errors such as `Cannot return null for non-nullable type` although no null values are set when I create the object via the App Sync console.

[2020-06-15 20:08] drochetti commented on #548
@amuresia did you include the conflict detection fields in the selection set as well? Including them in the `input` only is not enough:

The reason I'm double checking is because the following error implies that the fields were not part of the result selection set:

[code]

[2020-06-15 20:24] drochetti commented on #548
Here's how a mutation with conflict detection enabled should look like:

[code]
extracted from [GraphQLCreateMutationTests.swift#L146-L161](https://github.com/aws-amplify/amplify-ios/blob/beec57c1c551edf4381c879242afea58116b1f80/AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLCreateMutationTests.swift#L146-L161)

Note that `input` must contain the `_version`, but the selection

[2020-06-15 20:32] amuresia commented on #548
Bingo! A few trial and error attempts but I got it to work.
However, for the schema that I mentioned above, if I do `createAction` I must include the persona in the selection field otherwise I get the errors reported above.
So I end up with
[code]
Is this what you would expect?

[2020-06-16 00:42] drochetti commented on #548
@amuresia if `persona` is required in your schema, then yes. Looking at your schema it doesn't seem like.

As a rules of thumb you need to include in your selection set all the required fields + the conflict detection ones. The ones you omit will not be present in the subscription data you get. Under the hood DataStore will always include everything.

[2020-06-16 00:46] drochetti commented on #546
@jaivia can you confirm if you're using Amplify 1.0.1?

That was a known bug in 1.0.0 and it was fixed in 1.0.1: https://github.com/aws-amplify/amplify-ios/pull/519

[2020-06-16 00:55] drochetti commented on #544
@lenarmazitov as of now union types are not supported in DataStore. However that error message is not clear about it.

I filed an issue in the CLI repo: https://github.com/aws-amplify/amplify-cli/issues/4566 and marked this one as a feature request.

[2020-06-16 05:34] skryshi commented on #530
@lawmicha Thank you for detailed answer. Please see my comments below:

1. Scalar types

Right, I meant if we use Amplify DataStore with cloud sync, is it possible to define Int64, Double types? Since DynamoDB supports numbers with up to 38 digits of precision, this seems possible.

2. Auth Rules

Yes, that's exactly what I was looking for. Thank you.

3. Validation Logic

Is it possible to write

[2020-06-16 11:22] parthsoni42 opened #558 "Amplify cognito connection fail (SSL error)"
I am facing same issue while signIn using **amplify cognito**. please check my **debug error.**

2020-06-16 16:43:10.381877+0530 Amplify DataStore[11770:225980] Task .<1> finished with error [-1200] Error Domain=NSURLErrorDomain Code=-1200 "An SSL error has occurred and a secure connection to the server cannot be made." UserInfo={NSErrorFailingURLStringKey=https://cognito-idp.us-east-1.amazonaws.c

[2020-06-16 11:30] Nicolaidam opened #552 "Fatal error: Storage category is not configured."
I have set up Auth, Storage and a graphql api with the new Amplify guide. (16. june 2020) However I get this message even efter configuring Storage: Fatal error: Storage category is not configured. Call Amplify.configure() before using any methods on the category.: file

This is how i configure in AppDelegate.

         let apiPlugin = AWSAPIPlugin(modelRegistration: AmplifyModels())
        let d

[2020-06-16 12:25] mobee-bill commented on #550
@wooj2 Thanks for checking it out, I guess my issue is that I had an existing user pool + identity pool that we are currently utilizing for uploads to S3.  Is there no way to utilize these in some sort of manual setup like the older AWSMobileClient API provides?  I have been able to integrate a full sign in with Apple using that but I wanted to check if the newer Amplify SDK provided a somewhat mo

[2020-06-16 12:27] #552 closed

[2020-06-16 17:22] #540 closed

[2020-06-16 19:09] lawmicha commented on #403
Hi @Tom-RulesCube, here's a working sample app with the schema you provided https://github.com/lawmicha/ReceiptModel

The reason the subscriptions fail is due to an unauthorized error. The sync portion of DataStore will retry a few times before failing to create the subscriptions completely. However, the moment you sign in and trigger a DataStore operation, the sync engine will start again and the

[2020-06-16 19:16] Tom-RulesCube commented on #403
Thanks that's great. I'll take a look to verify. With the latest version, our @auth directives are now working well. I'm going to try a mixed cognito pools/api key mode soon. Let's see how that goes.

[2020-06-17 09:32] Nicolaidam commented on #395
Hi @lawmicha

I also have problems with @auth in my api when using DataStore. I dont really understand your solution. I use amplify 4.21.3 but im still not able to save anything in the cloud and my terminal gets spammed with subscription errors.

Do you simply run DataStore.save() after loggin in successfully? Can you please elaborate your point with 8) ?

[2020-06-17 14:44] Nicolaidam commented on #403
When can we expect to get @auth implemented with DataStore?

[2020-06-17 17:31] wooj2 commented on #558
Hi @parthsoni42 ,

I suspect there is something specific in your application's configuration.

Maybe you could go through our tutorials which help you create a project, set up with auth, and then log in.  If you run into trouble with this, let us know, otherwise, once you have a full working example you could try to get a diff of a working example and your current application.

Create a project
ht

[2020-06-17 18:27] sebsto commented on #529
just for reference https://github.com/aws-amplify/amplify-ios/pull/539

[2020-06-17 21:36] lawmicha commented on #395
Hi @Nicolaidam, in the current implementation, it's expected that the subscriptions fail on start-up and then once the user is signed in, any DataStore operation like DataStore.save will cause a reattempt to create subscriptions to the API. If the user is signed in, those subscriptions will be created successfully.

However, use auth directive in your schema does have its limitations as the suppor

[2020-06-18 08:05] Nicolaidam opened #561 "Confusion with DataStore sync to Cloud"
**Describe the bug**
I have problems using DataStore with Userpool Authentication so as a start i try to get DataStore working WITHOUT @auth since this should work.

I've made a test project with the sample schema from the docs and It works smoothly, Amplify.DataStore.save method actually saves the data successfully into DynamoDB:

enum PostStatus {
  ACTIVE
  INACTIVE
}

type Post @model {
  id:

[2020-06-18 08:07] Nicolaidam commented on #395
Hi @lawmicha
Thanks i will check it out.
As a start i need to get DataStore sync to cloud working with my API, but somehow it doesnt work right now. I've created a new issue:
https://github.com/aws-amplify/amplify-ios/issues/561

[2020-06-18 08:14] Nicolaidam commented on #547
@amuresia Have you found a solution for this? I think I experience the same problem

[2020-06-18 12:57] parthsoni42 commented on #558
Hello @wooj2 ,

Thank you for the response.

We already have followed the official document of amplify that you have provided. and our app also working well in other network.

I am facing this issue in my office network. same code/app working in my home network. hope you will understand.

Thanks,
Parth.

[2020-06-18 15:38] AMAYUT commented on #504
Some context here: I started using AWS Amplify over a year ago for my senior capstone project for my computer science degree. We stopped development for about 5 months after we graduated in December, 2019. So, the documentation and schema we made is old (relative to Amplify and how fast they update things). Back then, they had the @connection directive on both ends of the relationship, like you ha

[2020-06-18 18:28] wooj2 commented on #558
@parthsoni42

Thank you for the clarification!  Very interesting that things work in your home network, but not your office network.
1.  Is there anything in your office network that you think would cause this behavior?
2.  Perhaps there is some sort of internal firewall that is blocking you from creating a secure end to end connection with our services?
3.  Does this happen for all SSL connection

[2020-06-18 19:38] bitsmakerde opened #564 "authMode for iOS"
Hello, everyone,

i am currently developing an iOS app with Amplify and would like to have read access for unlogged users.

I have created my schema as follows.

[code]

Now I have the problem that I can only set the authMode in JS. How can I set the authMode for the queires in iOS?

[code]

[2020-06-18 21:09] amuresia commented on #548
It's working ok! I'll close this issue now.

[2020-06-18 21:09] #548 closed

[2020-06-18 21:22] anthonymoretti commented on #504
Thanks @AMAYUT, and yeah I'm using `@connection` with `keyName` now. I've made a feature request for a different `@connection` directive that doesn't use keys and doesn't require naming of the connection actually [RFC - Simplified @connection directive #4433](https://github.com/aws-amplify/amplify-cli/issues/4433)

[2020-06-19 06:59] hirokim opened #565 "How can I fetch the sorted data using the DynamoDB Global Secondary Index?"
How can I fetch the sorted data using the DynamoDB Global Secondary Index?
Is it "Amplify.DataStore.query"? Or is it "Amplify.API.query"? Or is it another way?

schema.graphql is:
[code]

I hope you will be able to provide the information.
Thanks.

[2020-06-19 11:07] Nicolaidam commented on #561
Thank you @lawmicha.

It almost works as it should now. I think the auto-merge update api did the trick. I have also implemented @auth(rules: [{allow: owner}]) and it works!

However I have one table ApprovedPills which  should be authenticated by a group "Caregivers" and I cant get through to the data. I've created the "ApprovedPills" manually in DynamoDB so im not sure if im not able to fetch da

[2020-06-19 11:28] Nicolaidam commented on #561
Do I have to configure an extra authorization type in amplify upadte api maybe?

[2020-06-19 14:53] kwomackcodes commented on #507
+1, Also experiencing this issue.

[2020-06-19 18:01] lawmicha commented on #395
feel free to re-open this if there are any new issues

[2020-06-19 18:01] #395 closed

[2020-06-19 18:26] Tom-RulesCube commented on #395
DataStore is working as expected now, and we can see the startup sequence re: Cognito login. In addition, the @auth directive is working fully as expected.

We do see some timeouts with the web socket at various intervals that can make our app appear to go braindead. Will be doing some more testing and if we see problems in Amplify we'll open a new issue.

[2020-06-19 18:38] wooj2 commented on #565
Hi @hirokim

If I understand you correctly, I believe you are using Amplify.Datastore and are looking to have the ability to sort items when doing a query.

For example, you are looking for something like a `sortedBy` parameter:
[code]
If this is what you are looking for, then unfortunately, it is not currently supported.  But, the good news is that there are some plans to support something like t

[2020-06-20 10:41] exoptima opened #567 "AWS Predictions - The app is not working as and when steps followed from the official docs"
**Describe the bug**

Runtime error:
Authentication category is not configured. Call Amplify.configure() before using any methods on the category.

**To Reproduce**
Steps to reproduce the behavior:
Following the steps here:
https://docs.amplify.aws/lib/predictions/getting-started/q/platform/ios#install-amplify-libraries

**Expected behavior**
As described in the tutorial

**Screenshots**
<img widt

[2020-06-20 10:52] exoptima commented on #567
amplifyconfiguration.json:
{
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "predictions": {
        "plugins": {
            "awsPredictionsPlugin": {
                "defaultRegion": "us-east-2",
                "convert": {
                    "transcription": {
                        "language": "en-US",
                        "region": "us-east-2",

[2020-06-20 16:46] exoptima commented on #567
I found the issue was on my end. Just realized I setup Amplify for Transcribe instead of Translate. My goodness!

[2020-06-20 16:46] #567 closed

[2020-06-21 13:58] hirokim commented on #565
Hello @wooj2
That feature helps me a lot.
I am looking forward to the addition of that function.
but I'm not particular about Amplify.Datastore.
I want to know how to use GSI with Amplify iOS.

[2020-06-21 19:09] mTRx0 opened #569 "signInWithWebUI doesn't work inside UINavigationController"
**Describe the bug**
I have a TabBarController which, as soon as a Tab is clicked, instantiates a new UINavigationController with a SignInViewController (UIViewController) as root. When using

`Amplify.Auth.signInWithWebUI(for: .apple, presentationAnchor: self.view.window!)`

inside this SignInViewController nothing happens and the Debugger gives me this warning:

`Warning: Attempt to present <UIN

[2020-06-22 02:25] wooj2 commented on #507
I ran into this as well.

Seems like when conflict resolution is not turned on, the associated dynamo table has the following fields:
* id
* __typename
* createdAt
* updatedAt
* Any other custom fields that the model might have

Once conflict resolution is turned on, (and making a mutation), two additional fields show up for each entry of the model:
* _lastChangedAt
* _version

I guess the use cas

[2020-06-22 14:55] Kilo-Loco opened #572 "Change MutationEvent.mutationType to type MutationType"
**Is your feature request related to a problem? Please describe.**
This is not a problem, but more of a preference. `MutationEvent.mutationType` is currently of type `String`. This means that the dev has to switch based on a `String` value, which is prone to errors due to incorrect spelling.
[code]

**Describe the solution you'd like**
It would be nice if `MutationEvent.mutationType` was of type `

[2020-06-22 15:00] palpatim commented on #572
Changing the type will be a breaking change, so if/when we take this on, we'll want to introduce a new property of the appropriate type, and deprecate the old string-based one. It's possible that we'd need a `custom` type at some point in the future, to handle mutations outside of a strict model-based schema, that might have multiple side effects (e.g., create and update; delete and update, etc),

[2020-06-22 15:01] palpatim commented on #569
@mTRx0 Thanks for reporting this. We'll investigate & see what we can find.

[2020-06-22 16:35] lawmicha opened #573 "Predictions.identify detect labels requires casting when handling result"
**Is your feature request related to a problem? Please describe.**
When using `Amplify.Predictions.identify(type: .detectLabels(.labels), image: image)`, in my result i have to cast it to `IdentifyLabelsResult`

[code]

**Describe the solution you'd like**
An API where I do not have to cast.

**Additional context**
This impacts other Prediction API designs as well

[2020-06-23 17:54] lawmicha commented on #541
codegen changes were released in 4.21.4 but deprecated, to reproduce for now, use
` npm install -g @aws-amplify/cli@iosCodegenWorkshop`
or use latest master branch of CLI

[2020-06-23 20:38] lawmicha commented on #561
Hi @Nicolaidam , sorry for the delay, and thanks for explaining with detailed steps

### Static group authorization
By annotating the type with the `auth` directive, `allow: groups`, and `groups` field. this enables specific users enrolled in `groups` to have restricted access to the data (specified by the `operations`
Take this for example:
`type ApprovedBlog @model @auth(rules: [{allow: groups,

[2020-06-23 20:50] lawmicha opened #576 "DataStore SyncEngine completely fails when at least one subscription fails."
**Describe the bug**
Using auth directive with different groups such as `allow: owner` and `allow:groups` for each model. Sync Engine creates subscriptions for each model. A user that is signed-In may not be enrolled in group. When this happens, the subscription will fail with unauthorized for the model with `groups` authorization, causing entire sync engine to fail.

**To Reproduce**
Steps to rep

[2020-06-24 00:41] farshadtx commented on #280
@drochetti Is this new feature going to simplify the release?
[Distributing Binary Frameworks as Swift Packages](https://developer.apple.com/documentation/swift_packages/distributing_binary_frameworks_as_swift_packages)

[2020-06-24 00:42] farshadtx commented on #90
Is this new feature going to simplify the release?
Distributing Binary Frameworks as Swift Packages

[2020-06-24 00:52] drochetti commented on #280
Possibly, we still need to look deeper into all SPM features to come up with our strategy for the support and release process.

[2020-06-24 01:06] drochetti commented on #241
@mickeysox is this still an issue for you? The official `1.0.0` should have fixed this.

[2020-06-24 01:16] drochetti commented on #177
This was fixed at some point before GA. Currently DataStore starts syncing based on the presence of a configured `Amplify.API`.

[2020-06-24 01:16] #177 closed

[2020-06-24 01:17] drochetti commented on #161
@palpatim it seems like this one is fixed, can you confirm?

[2020-06-24 01:19] drochetti commented on #127
@palpatim did the `AsyncEvent` refactor fix this?

[2020-06-24 01:32] rodrigoelp commented on #90
It should as binary components can be included and distributed with your package.

[2020-06-24 01:41] drochetti commented on #288
@lazy-var `Amplify.DataStore.clear()` is available as of `1.0.0`. Closing this.

[2020-06-24 01:41] #288 closed

[2020-06-24 01:44] drochetti commented on #157
Fixed by https://github.com/aws-amplify/amplify-ios/pull/520

[2020-06-24 01:44] #157 closed

[2020-06-24 04:34] drochetti commented on #547
@amuresia @Nicolaidam can you confirm if the record created in the AppSync console have the conflict detection fields `_deleted`, `lastChangedAt` and `_version` like described in the docs? https://docs.amplify.aws/lib/datastore/how-it-works/q/platform/ios#writing-data-from-the-appsync-console

DataStore uses an augmented AppSync schema to reconcile distributed offline/online. When interacting with

[2020-06-24 04:37] drochetti commented on #532
@IMKalpataru thanks for reporting back, glad to know it's working for you. I'll close this for now, let us know if you bump into any other issue.

[2020-06-24 04:37] #532 closed

[2020-06-24 04:44] drochetti commented on #522
@amuresia this is a duplicate of https://github.com/aws-amplify/amplify-ios/issues/529 and it was already fixed. It will be released as part of `1.0.2` within the next days.

[2020-06-24 04:57] drochetti commented on #443
@royjit can we close this one?

[2020-06-24 05:01] drochetti commented on #403
There's support for `@auth` with `owner`-based rules since `v1.0.0`. Are you having problems with it?

[2020-06-24 05:02] drochetti commented on #403
Good to know it worked for you @Tom-RulesCube. Let us know if you run into any other issue otherwise I'll close this one soon.

[2020-06-24 05:05] drochetti commented on #366
@AnruStander since version `1.0.0` with enum support has been out for a few weeks I'll close this one. Let me know if you still have issues with enums.

[2020-06-24 05:05] #366 closed

[2020-06-24 05:06] drochetti commented on #387
@lawmicha just to clarify, do you use NVM in your environment? This can be related to #535

[2020-06-24 05:13] drochetti commented on #286
fixed by #299

[2020-06-24 05:13] #286 closed

[2020-06-24 05:14] drochetti commented on #285
@lawmicha do you know if this is still an issue?

[2020-06-24 05:16] drochetti opened #578 "Add support for Swift Package Manager (SPM)"
I think you also need to include Swift package manager here... which was referenced here: #90

_Originally posted by @rodrigoelp in https://github.com/aws-amplify/amplify-ios/issues/280#issuecomment-570964112_

[2020-06-24 05:17] drochetti commented on #280
@farshadtx @rodrigoelp @lesmuc I created another issue to track SPM and Carthage separately: https://github.com/aws-amplify/amplify-ios/issues/578

[2020-06-24 06:35] #578 closed

[2020-06-24 06:36] drochetti commented on #578
Duplicate of #90

[2020-06-24 07:57] amuresia commented on #522
Hi @drochetti, thank you for the update. I was eager to try out the fix but I wasn't too lucky.
I am using the master branch as the source for my Pods and I changed my model manually to
`.field(user.completedActions, is: .optional, ofType: .embeddedCollection(of: Action.self))` (as aws-cli `4.21.4` is not out yet)
but I am experiencing the same error related to `SubSelectionRequired`.

I'll hold f

[2020-06-24 09:03] lazy-var commented on #288
Thank you very much @drochetti
I confirm it is working

[2020-06-24 12:32] mickeysox commented on #241
@drochetti I think this is good now, thanks.

[2020-06-24 14:49] lawmicha commented on #387
I'm not using NVM. I think i have always seen issues where Amplify CLI upgrade were successful but does not upgrade. It is most likely something with my system rather than Amplify Tools

[2020-06-24 14:49] #387 closed

[2020-06-24 15:30] #241 closed

[2020-06-24 16:53] cabeaulac commented on #277
First tried DataStore, then Amplify API. I implemented Option 3 from the list above and couldn't figure out why the Parent was not being created in DynamoDB and the children are, and I'm getting a success response for all create mutations. Very tired of implementing work-arounds for all the bugs and having to read the small amount of unit tests to figure out how to use the API.

+1

[2020-06-24 16:55] cabeaulac commented on #277
And I agree with @amuresia . This is not an enhancement. This is a bug, a very large bug.

[2020-06-24 17:08] drochetti commented on #522
@lawmicha can you confirm if your fix for #529 also fixes this one? It seems like the same root cause to me.

[2020-06-24 20:25] cabeaulac commented on #522
I'm hitting this issue with an S3Object model object. Worse yet, I had a non-model object inside an object with a 1:many relationship and hit both of these issues at the same time. https://github.com/aws-amplify/amplify-ios/issues/277
I'm very concerned about waiting for 1.0.2 at this juncture as 1.0.1 has too many show-stoppers in it. Spending 75% of my time debugging Amplify bugs.

[2020-06-24 21:14] DongQuanRui commented on #541
API works correctly with this schema, closing it

[2020-06-24 23:01] DongQuanRui commented on #541
Using Schema in this link: https://github.com/aws-amplify/amplify-ios/blob/15a23697452ee8ec89b7bf49412ee2092a82d919/AmplifyTestCommon/Models/NonModel/Todo.swift

[2020-06-24 23:06] DongQuanRui commented on #541
Using
- embedded type
- CLI (4.21.4)
the issue doesn't occur anymore.

This is how todo object (without stickies) got created based on the schema from above link
`
let todo = Todo(id: "1234",
                            name: "name",
                            description: "description",
                            categories: [Category(name: "Category",

[2020-06-24 23:07] #541 closed

[2020-06-25 07:07] imikemiller opened #581 "Temporal / List not a member of type 'Amplify'"
**Describe the bug**
Decoding JSON responses into Amplify models is failing with errors; `'Temporal' is not a member type of 'Amplify'` and `'List' is not a member type of 'Amplify'`. Model fields that are defined using Swift types decode successfully.

As the fields that fail to decode are optional the model ends up with nil values. Inspecting the response shows the errors as in the screen shot b

[2020-06-25 08:26] sebsto opened #582 "Can not install Pods from github master branch anymore"
**Describe the bug**
When pulling out Amplify iOS Libs from Github's master branch, cocoapod fails with

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clean your pod environment

[code]

2. Use this `Podfile`

[code]

3. Run `pod install`

[code]

**Expected behavior**
Pods should be installed from master branch

**Screenshots**
If applicable, add screenshots to help explain your pr

[2020-06-25 16:33] palpatim commented on #550
@mobee-bill The Amplify Auth category does support directly logging into a given auth provider's Web UI with the [`signInWithWebUI(for:presentationAnchor:options:listener:)` method](https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/ios#launch-social-web-ui-sign-in). By passing the specified `AuthProvider`, Amplify will launch directly into that provider's auth flow, which *might* s

[2020-06-26 07:40] sebsto commented on #529
Test with libs 1.0.2 and CLI 4.22.0
Works for me.
@andriworld can you confirm this version fixes your problem too ?

[2020-06-26 13:44] TheBenck opened #585 "Search API"
**Is your feature request related to a problem? Please describe.**
There doesn't seem to be any way to query searchable models with the Amplify Libraries API plugin, making Libraries unusable for the search case. A first-class api for this would be very useful.

**Describe the solution you'd like**
Something like list queries but for searching. E.g.:
`Amplify.API.query(request: .search(...`

**Des

[2020-06-26 14:52] AboulEinein opened #586 "Error configuring AmplifyPlugins.AWSCognitoAuthPlugin after updating Amplify to 1.0.2"
**Describe the bug**
After updating Amplify to 1.0.2 I started getting the following error
[code]

Here's the content of my  awsconfiguration.json
[code]

amplifyconfiguration.json
[code]

**To Reproduce**
Steps to reproduce the behavior:
Follow the steps in iOS Authentication guide - https://docs.amplify.aws/lib/auth/getting-started/q/platform/ios

**Expected behavior**
A clear and concise descri

[2020-06-26 15:29] palpatim commented on #581
@imikemiller Sorry about the problems you're having with DataStore. We released [Amplify 1.0.2](https://github.com/aws-amplify/amplify-ios/releases/tag/v1.0.2) yesterday, which includes some DataStore bugfixes that might be relevant to your situation. Can you upgrade your installed Amplify pods (ensure your CocoaPods file doesn't pin to a specific Amplify version, then do a `pod update`); upgrade

[2020-06-26 15:39] palpatim opened #587 "Unstable DataStore integration tests"
**Describe the bug**

The `AWSDataStoreCategoryPluginIntegrationTests` target runs multiple integration and end-to-end tests of the AWSDataStoreCategoryPlugin. However, running these tests fails in unexpected ways when invoking them in a batch, even though they pass individually. This makes it hard to troubleshoot errors and makes it unsuitable for using in a CI pipeline, and reduces confidence in

[2020-06-26 15:42] palpatim commented on #582
@sebsto We changed the name of the default branch from `master` to `main` as part of the 1.0.2 release.

[2020-06-26 15:44] palpatim commented on #585
@TheBenck The [list query](https://docs.amplify.aws/lib/graphqlapi/query-data/q/platform/ios#list-query) API allows you to specify a predicate for searching your models. Does that meet your needs? If not, can you provide some more detail around your use case and explain what features are missing?

[2020-06-26 16:07] sebsto commented on #582
Thanks. All sorted now.

[2020-06-26 16:07] #582 closed

[2020-06-26 17:11] palpatim commented on #586
@AboulEinein Thanks for reporting this. We've identified the error and are working on a fix.

[2020-06-26 18:07] palpatim commented on #254
@rodrigoelp Is this still an issue with the latest released version of Amplify?

[2020-06-26 18:10] palpatim commented on #259
@nvbkdw Is this still happening for you in the latest released version of Amplify and the CLI?

[2020-06-26 18:57] lawmicha commented on #357
Hi @drshre, thanks for reporting this issue. Since then we have released AWSCognitoAuthPlugin which replaces AWSMobileClient. The new usage looks like this: [storage getting started](https://docs.amplify.aws/lib/storage/getting-started/q/platform/ios#prerequisites)

To reproduce the error, I provisioned the S3 bucket with only authenticated users allowed to perform operations.
[code]

This means o

[2020-06-26 18:57] #357 closed

[2020-06-26 19:31] palpatim commented on #295
@hyaccoku Sorry we didn't reply to this sooner. Currently, Amplify doesn't automatically save relations. For your use case, you'd need to save the child `Menu` object after you successfully save the parent `MenuCategory` object. For example, you could do this in the `success` handler of your code:

[code]

(Make sure you've updated Amplify and the CLI, and have generated your models with `amplify

[2020-06-26 19:32] palpatim commented on #127
Sure did. Closing.

[2020-06-26 19:32] #127 closed

[2020-06-26 19:33] palpatim commented on #161
Yep, confirmed.

[2020-06-26 19:33] #161 closed

[2020-06-26 20:20] lawmicha commented on #530
I see, so to recap: as long as you use `Int` in the graphQL schema, provisioned backend will use the AppSync's GraphQL `Int` Scalar which holds between -(2^31) and 2^31 - 1. When codegenerating the models, that will use the Swift `Int` which is 64bit i believe on 64bit platforms, so the limitation would be on the service to hold up to 2^31-1 values which is less than Swift's Int type. This looks l

[2020-06-26 21:05] lawmicha commented on #285
Hi @onlybakam, thanks for reporting this behavior. I was able to reproduce this.

- Currently the Storage plugin leverages TransferUtility to perform the download to file operation. Related code in TransferUtility [NSURLSessionDownloadDelegate](https://github.com/aws-amplify/aws-sdk-ios/blob/main/AWSS3/AWSS3TransferUtility.m#L2535-L2538) so the file already contains the content from the S3 respons